﻿@model AtlasDiligence.Web.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "section-account";
}
@if(Model != null) {
if (Model.IsGroupLeader)
{
    <div class="buttons">
        @Html.ActionLink("View Group", "View", "Group", new { groupId = Model.GroupId }, null)
    </div>
}
Html.RenderPartial("_UserForm", Model);
 } else {
 <p class="alert">@ViewData["Message"]</p>
}
