﻿@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@model OrganizationMember
@{ Layout = null; }

@if (Model != null)
{
    <div class="team-member">
        @if (Common.IsPrint)
        {
            @Html.Partial("~/Views/OrganizationMember/MemberPartial.cshtml", Model)
        }
        else
        {
            @Html.Raw("<span>"+ Model.FullName +"</span>" + "<br>" + Model.JobTitle)
            <a href="javascript:void(0);" id="@(Model.Id + "-member")" data-widget-type="contact"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        }
    </div>
}