﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using GPScout.Domain.Contracts.Enums
@using AtlasDiligence.Web.General
@{Layout = null;}
<div id="evaluation-tab" class="tab-container">
    @*@if (!String.IsNullOrWhiteSpace(Model.Organization.EvaluationLevel))
    {
        <div class="tab-title">
            <h2>@Model.Organization.EvaluationLevel</h2>
        </div>
    }*@
    <div class="content one-col">
        @*@if (!String.IsNullOrWhiteSpace(Model.Organization.EvaluationText))
        { 
            <div class="tab-description">
                @Html.Raw(Model.Organization.EvaluationText)
            </div>
        }*@
        @{
            var strengths = Model.Organization.Evaluations.Where(m => m.Type.Equals((int)EvaluationType.Strength)).OrderBy(o => o.SortOrder).ToArray();
            var concerns = Model.Organization.Evaluations.Where(m => m.Type.Equals((int)EvaluationType.Concern)).OrderBy(o => o.SortOrder).ToArray();
            if (strengths.Length > 0 || concerns.Length > 0)
            {
                int i = 0;
                <div class="container">
                    <div class="row strenghts-concerns">
                        <div class="col-md-6 padding0">
                            <div class="headerSubTitle">Strengths</div>
                            <div class="padding-15">
                                @for (i = 0; i < strengths.Length; i++)
                            {
                                var strength = strengths[i];
                                    <div class="evaluation-content">
                                    <div class="evaluation-description">
                                        <strong>@Html.Raw(strength.Description.NewlineToBreak())</strong>
                                    </div>
                                    <div class="evaluation-note">@Html.Raw(strength.Note.NewlineToBreak())</div>
                                </div>
                            }
                        </div>
                        </div>
                        <div class="col-md-6 padding0">
                            <div class="headerSubTitle">Concerns</div>
                                <div class="padding-15" style="padding-left:15px">
                                    @for (i = 0; i < concerns.Length; i++)
                                {
                                    var concern = concerns[i];
                                        <div class="evaluation-content">
                                            <div class="evaluation-description">
                                                <strong>@Html.Raw(concern.Description.NewlineToBreak())</strong>
                                            </div>
                                            <div class="evaluation-note">@Html.Raw(concern.Note.NewlineToBreak())</div>
                                        </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
