﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using GPScout.Domain.Contracts.Enums
@using AtlasDiligence.Web.General
@{Layout = null;}

@if (Model.Organization.Evaluations.Any())
{
    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="print-kt no-border">
        <tr>
            <td class="print-kt">
                <div class="section print-kt">
                    <div class="section-information">
                        <table class="evaluation">
                            <tbody>
                                <tr>
                                    <th>
                                        Strengths
                                    </th>
                                    <th>
                                        Concerns
                                        <a class="moreInfo" href="javascript:void(0)" data-click-on="[data-click-key='evaluation']">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            @foreach (var strength in Model.Organization.Evaluations.Where(m => m.Type == (int)EvaluationType.Strength).OrderBy(o => o.SortOrder))
                                            {


                                                <li>@strength.Description </li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            @foreach (var concern in Model.Organization.Evaluations.Where(m => m.Type == (int)EvaluationType.Concern).OrderBy(o => o.SortOrder))
                                            {


                                                <li>@concern.Description </li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
}