﻿@using AtlasDiligence.Web.Models.ViewModels
@model OrganizationViewModel
@{Layout = null;}
<div id="overview-tab" class="tab-container">
    <!--<div class="tab-title">
        <strong>Firm</strong>
    </div>-->
    <div class="content one-col">
        <div class="tab-description bookmarks screen-only"> 
        @{
                                                    var t = new List<string>();
                                                    if (!String.IsNullOrEmpty(Model.Organization.History)) { t.Add("<a href=\"#organization\">Organization History</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.RecentAdditionsAndDepartures)) { t.Add("<a href=\"#recentchanges\">Recent Additions and Departures</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.AdditionalFirmResources)) { t.Add("<a href=\"#additionalresources\">Additional Firm Resources</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.Culture)) { t.Add("<a href=\"#culture\">Culture</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.FirmCapabilitiesAndResources)) { t.Add("<a href=\"#firmcapabilities\">Firm Capabilities and Resources to Execute Strategy</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.CompensationStructure)) { t.Add("<a href=\"#compensation\">Compensation Structure</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.ReportingAndInvestorRelations)) { t.Add("<a href=\"#reporting\">Reporting and Investor Relations</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.CoInvestmentOpportunities)) { t.Add("<a href=\"#coinvestment\">Co-Investment Opportunities</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.OperationalDiligence)) { t.Add("<a href=\"#operationaldiligence\">Operational Diligence</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.LegalReview)) { t.Add("<a href=\"#legalreview\">Legal Review</a>"); }
                                                    if (!String.IsNullOrEmpty(Model.Organization.FirmValuationPolicy)) { t.Add("<a href=\"#firmvaluationpolicy\">Firm Valuation Policy</a>"); }
                                                    if (Model.Organization.DueDiligenceItems.Any())
                                                    {
                                                        foreach (var item in Model.Organization.DueDiligenceItems.Where(m => m.TabName == "Firm").OrderBy(m => m.Title))
                                                        {
                                                            if (!String.IsNullOrEmpty(item.Title)) { t.Add("<a href=\"#" + item.Title.Replace(" ", string.Empty).ToLower() + "\">" + item.Title + "</a>"); }
                                                        }
                                                    }
                                                }
            @Html.Raw(String.Join(" | ", t))</div>
        <div>
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Organization History", Content = Model.Organization.OrganizationOverview, BookmarkName = "organization" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Recent Additions and Departures", Content = Model.Organization.RecentAdditionsAndDepartures, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.RecentAdditionsAndDeparturesDoc, Flag = Model.Organization.RecentAdditionsAndDeparturesFlag, BookmarkName = "recentchanges" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Additonal Firm Resources", Content = Model.Organization.AdditionalFirmResources, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.AdditionalFirmResourcesDoc, Flag = Model.Organization.AdditionalFirmResourcesFlag, BookmarkName = "additionalresources" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Culture", Content = Model.Organization.Culture, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.CultureDoc, Flag = Model.Organization.CultureFlag, BookmarkName = "culture" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Firm Capabilities and Resources to Execute Strategy", Content = Model.Organization.FirmCapabilitiesAndResources, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.FirmCapabilitiesAndResourcesDoc, Flag = Model.Organization.FirmCapabilitiesAndResourcesFlag, BookmarkName = "firmcapabilities" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Compensation Structure", Content = Model.Organization.CompensationStructure, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.CompensationStructureDoc, Flag = Model.Organization.CompensationStructureFlag, BookmarkName = "compensation" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Reporting and Investor Relations", Content = Model.Organization.ReportingAndInvestorRelations, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.ReportingAndInvestorRelationsDoc, Flag = Model.Organization.ReportingAndInvestorRelationsFlag, BookmarkName = "reporting" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Co-Investment Opportunities", Content = Model.Organization.CoInvestmentOpportunities, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.CoInvestmentOpportunitiesDoc, Flag = Model.Organization.CoInvestmentOpportunitiesFlag, BookmarkName = "coinvestment" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Operational Diligence", Content = Model.Organization.OperationalDiligence, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.OperationalDiligenceDoc, Flag = Model.Organization.OperationalDiligenceFlag, BookmarkName = "operationaldiligence" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Legal Review", Content = Model.Organization.LegalReview, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.LegalReviewDoc, Flag = Model.Organization.LegalReviewFlag, BookmarkName = "legalreview" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Firm Valuation Policy", Content = Model.Organization.FirmValuationPolicy, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.FirmValuationPolicyDoc, Flag = Model.Organization.FirmValuationPolicyFlag, BookmarkName = "firmvaluationpolicy" })
            @if(Model.Organization.DueDiligenceItems.Any())
            {
                foreach (var item in Model.Organization.DueDiligenceItems.Where(m => m.TabName == "Firm").OrderBy(m => m.Title))
                {
                    @Html.Partial("SectionContentPartial", new SectionContentViewModel {Title = item.Title, Content = item.Description, BookmarkName = item.Title.Replace(" ", string.Empty).ToLower()});
                }
            }
        </div>
		
		<div class="clear">&nbsp;</div>
				
    </div>
</div>
