﻿@using AtlasDiligence.Web.Models.ViewModels
@model OrganizationViewModel
@{ Layout = null; }
<div id="fund-tab" class="tab-container">
    <!--<div class="tab-title">
        <strong>Funds</strong>
    </div>-->
    <div class="content one-col">
        <table id="fund-table">
            <thead>
                <tr>
                    <th>
                        Fund
                    </th>
                    <th class="center-align">
                        Vintage Year
                    </th>
                    <th class="center-align">
                        Commitments (mm)
                    </th>
                    <th class="center-align">
                        Target (mm)
                    </th>
                    <th class="center-align">
                        Status
                    </th>
                    <th class="center-align">
                        Final Close
                    </th>
                    <th class="center-align">
                        GP Commitment
                    </th>
                    @*<th class="center-align">
                        # of Portfolio Companies
                    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var fund in Model.Organization.Funds)
                {
                    <tr class="fund">
                        <td>
                            @*@if (fund.PublishDetail)*@
                            @{
                                <a href="javascript:void(0);" id="@fund.Id-fund">@fund.Name</a>
                            } @*else
                            {
<text>@fund.Name</text>
                            }*@
                        </td>
                        <td class="center-align">@fund.VintageYear
                        </td>
                        <td class="right-align">
                            @AtlasDiligence.Web.General.StringExtensions.Currency(fund.FundSize, fund.Currency, 0)
                        </td>
                        <td class="right-align">
                             @AtlasDiligence.Web.General.StringExtensions.Currency(fund.TargetSize, fund.Currency, 0)
                        </td>
                        <td class="center-align">@fund.Status
                        </td>
                        <td class="center-align">@(fund.FinalClose.HasValue ? fund.FinalClose.Value.ToString("M/yyyy") : String.Empty)
                        </td>
                        <td class="center-align">@(fund.GpCommitment.HasValue ? fund.GpCommitment.Value.ToString("N1") + "%" : String.Empty)
                        </td>
                        @*<td class="center-align">@fund.NumberOfPortfolioCompanies
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@foreach (var fund in Model.Organization.Funds/*.Where(m => m.PublishDetail)*/)
{
    <div class="tab-container print-only individual-fund" id="@fund.Id-container">
        <a href="#" class="back-to-fund-list screen-only"><< Back to @Model.Organization.Name Funds</a>
        @Html.Partial("~/Views/Fund/FundPartial.cshtml", fund)
    </div>    
}
<div class="clear">
</div>
