﻿@using AtlasDiligence.Web.Models.ViewModels
@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Common.Data.Models
@using GPScout.Domain.Contracts.Enums
@model OrganizationViewModel
@{
    Layout = null;
    Organization org = Model.Organization;
    Grade grade = org.Grades.FirstOrDefault();
}


@helper PrintScorecardRow(string label, string grade)
{
if (!string.IsNullOrWhiteSpace(grade))
{
        <div class="score-label">
            <div class="label-desc">
                @label
            </div>
            @if (!string.IsNullOrEmpty(grade) && (new string[] { "Poor", "Weak", "Standard", "Strong", "Exceptional" }).Contains(grade))
{
                <div class="row-@grade"></div>
            }
            else
            {
                <div class="cell-nodata">@grade</div>
            }
        </div>
}
}
@helper PrintScorecardRatingLegend()
{
    <div style="background:#f2f2f2;float:left; width:100%;">
        <div class="ratings">Rating</div>
        <div class="rotate">
            <div><p>Poor</p></div>
            <div><p>Weak</p></div>
            <div><p>Standard</p></div>
            <div><p>Strong</p></div>
            <div><p>Exceptional</p></div>
        </div>
    </div>
}
<div class="scoreCardTab">
    <a href="javascript:void(0)" id="scoring-system-dialog-link" class="screen-only">RCP Scoring System: Key Terms and Methodology</a>
    <div style="display: none;" id="scoring-system-dialog">
        <p><strong>"Qual. Score" – Qualitative Score:</strong> This is the overall weighted score of the 20 qualitative attributes on the Qualitative scorecard. If an attribute is not graded due to insufficient information or if it is not applicable then it is removed from the calculation of the overall score.</p>
        <p><strong>"QoR Score" – Quality of Returns Score:</strong> This is the overall weighted score of the 13 quantitative attributes on the "QoR" scorecard. If an attribute is not graded due to insufficient information or if it is not applicable then it is removed from the calculation of the overall score.</p>
        <p><strong>Qual. Scorecard Grading Methodology:</strong> RCP has identified 20 primary qualitative attributes that it uses in its Qualitative Scorecard to present an overall evaluation of the strengths and weaknesses of an organization along dimensions that are important to limited partners considering a commitment. Each attribute is graded along a scale that includes "Poor," "Weak," "Standard," "Strong," and "Exceptional." The grade for each attribute is determined using a combination of quantitative criteria along with systematic qualitative criteria and the judgment of the RCP investment staff.</p>
        <p><strong>QoR Scorecard Grading Methodology:</strong> RCP has identified 13 primary quantitative attributes that it uses in its QoR Scorecard that provide a more thorough analysis of the quality of a firm’s track record beyond just fund level returns. RCP believes that these attributes taken as a whole provide a more robust indication of the potential for future investment success. Each attribute is graded along a scale that includes "Poor," "Weak," "Standard," "Strong," and "Exceptional." The grade for each attribute is determined using primarily quantitative criteria alongside some systematic qualitative criteria and the judgment of the RCP investment staff.</p>
        <p><strong>Grading Definitions:</strong> The grade of "Standard" indicates that for a given attribute the organization being evaluated has demonstrated qualities RCP would expect to see for an institutional quality firm. "Poor" and "Weak" indicate varying levels of deficiency in that attribute, while "Strong" and "Exceptional" indicate varying levels of quality and differentiation over and above what is common practice amongst institutional quality firms. "Ungraded" in the GP Landscape chart shows firms where we have enough qualitative information to create a Qualitative Score, but not enough track record information at this time to create a QoR score.</p>
        <p><strong>Weighting Methodology:</strong> RCP uses a mathematical decision making model called Analytic Hierarchy Process (AHP) in order to create a system for weighting the grades of various attributes to calculate the overall Qualitative Score and QoR Score. AHP provides a systematic process to help decision makers weigh a set of multivariable attributes against one another and determine the relative importance of each attribute, and thus a weighting.</p>
        <p><strong>Detailed Information:</strong> For more detailed information please e-mail <a href="mailto:support@rcpadvisors.com">support@rcpadvisors.com</a></p>
    </div>
    @if (org.PublishLevelID < (byte)OrgPublishLevelType.PublishProfile && !Model.Preview)
    {
        <div class="scorecard-message">
            A Scorecard was not completed for this manager. For additional information or to request a scorecard, please use the "Request Research" button @(AtlasDiligence.Web.General.Common.IsPrint ? " on the site." : "above.")
        </div>
    }
    else if (org.IsInScorecardProcess)
    {
        <div class="scorecard-message">
            A Scorecard is in the process of being completed.
        </div>
    }
    else if (grade != null)
    {
        <div class="headerSubTitle">
            Qualitative Scorecard
        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 padding0">
                        <div class="scorecard-cat">Team</div>
                        @this.PrintScorecardRow("Expertise Aligned with Strategy", grade.ExpertiseAlignedWithStrategy)
                        @this.PrintScorecardRow("History Together", grade.HistoryTogether)
                        @this.PrintScorecardRow("Complementary Skills", grade.ComplementarySkills)
                        @this.PrintScorecardRow("Team Depth", grade.TeamDepth)
                        @this.PrintScorecardRow("Value-add Resources", grade.ValueAddResources)
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="scorecard-cat">Strategy</div>
                        @this.PrintScorecardRow("Investment Thesis", grade.InvestmentThesis)
                        @this.PrintScorecardRow("Competitive Advantage", grade.CompetitiveAdvantage)
                        @this.PrintScorecardRow("Portfolio Construction", grade.PortfolioConstruction)
                        @this.PrintScorecardRow("Appropriateness of Fund Size", grade.AppropriatenessOfFundSize)
                        @this.PrintScorecardRow("Consistency of Strategy", grade.ConsistencyOfStrategy)
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 padding0">
                        <div class="scorecard-cat">Process</div>
                        @this.PrintScorecardRow("Sourcing", grade.Sourcing)
                        @this.PrintScorecardRow("Due Diligence", grade.DueDiligence)
                        @this.PrintScorecardRow("Decision Making", grade.DecisionMaking)
                        @this.PrintScorecardRow("Deal Execution/Structure", grade.DealExecutionStructure)
                        @this.PrintScorecardRow("Post Investment Value-add", grade.PostInvestmentValueAdd)
                        @PrintScorecardRatingLegend()
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="scorecard-cat">Firm</div>
                        @this.PrintScorecardRow("Team Stability", grade.TeamStability)
                        @this.PrintScorecardRow("Ownership and Compensation", grade.OwnershipAndCompensation)
                        @this.PrintScorecardRow("Culture", grade.Culture)
                        @this.PrintScorecardRow("Alignment with LPs", grade.AlignmentWithLPs)
                        @this.PrintScorecardRow("Terms", grade.Terms)
                        @PrintScorecardRatingLegend()
                    </div>
                </div>
            </div>
        </div>

        <div class="headerSubTitle" style="margin-top:30px;">
            QoR Performance
        </div>
        <div>
            @if (org.GPScoutPhaseAssigned == "Phase 3: Profile" && (org.GPScoutLevelCompleted == "Phase 3: Profile (No Quant)" || org.GPScoutLevelCompleted == "Phase 3 No Q: Complete Prior Phase"))
            {
                <div>A Quantitative Scorecard will be completed when additional information / benchmarks become available.</div>
            }
            else if (org.GPScoutPhaseAssigned == "Phase 3: Profile (No Quant)" && (org.GPScoutLevelCompleted == "Phase 3: Profile (No Quant)" || org.GPScoutLevelCompleted == "Phase 3 No Q: Complete Prior Phase"))
            {
                <div class="scorecard-message">This manager is an emerging manager and therefore does not have a QoR Score.</div>
            }
            else
            {
                <div class="container">
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-md-6 padding0">
                            <div>
                                <div class="scorecard-cat">Performance</div>
                                @PrintScorecardRow("Absolute Performance", grade.AbsolutePerformance)
                                @PrintScorecardRow("Relative Performance", grade.RelativePerformance)
                                @PrintScorecardRow("Realized Performance", grade.RealizedPerformance)
                            </div>
                            <div style="float:left;width:100%">
                                <div class="scorecard-cat">Track Record Analysis</div>
                                @PrintScorecardRow("Depth of Track Record", grade.DepthOfTrackRecord)
                                @PrintScorecardRow("Relevance of Track Record", grade.RelevanceOfTrackRecord)
                                @PrintScorecardRow("Loss Ratio Analysis", grade.LossRatioAnalysis)
                                @PrintScorecardRow("Unrealized Portfolio", grade.UnrealizedPortfolio)
                                @PrintScorecardRow("Value Creation Analysis", grade.AtlasValueCreationAnalysis)
                                @PrintScorecardRatingLegend()
                            </div>
                        </div>

                        <div class="col-md-6 padding0">
                            <div class="scorecard-cat">Performance Consistency</div>
                            @PrintScorecardRow("Hits & Misses", grade.AtlasHitsAndMisses)
                            @PrintScorecardRow("Deal Size", grade.DealSize)
                            @PrintScorecardRow("Primary Strategy", grade.Strategy)
                            @PrintScorecardRow("Time", grade.Time)
                            @PrintScorecardRow("Team", grade.Team)
                            @PrintScorecardRatingLegend()
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>No Data</div>
    }

                                        </div>
                                    <div class="content">
                                        <div class="main scatter-chart group">
                                            @Html.Partial("FluidScatterChartPartial", new ScatterChartViewModel
                       {
                           OrganizationId = Model.Organization.Id,
                           OrganizationName = Model.Organization.Name,
                           OrganizationQualitativeScore = Model.Organization.QualitativeGradeNumber.GetValueOrDefault(GradeRangeLimit.Ungraded),
                           OrganizationQuantitativeScore = Model.Organization.QuantitativeGradeNumber.GetValueOrDefault(GradeRangeLimit.Ungraded),
                           //OtherOrganizations = Model.OrganizationsInSameSegment.Where(m => (m.Quality.HasValue || m.Quantity.HasValue)),
                           OtherOrganizations = Model.OrganizationsInSameSegment.Where(m => m.IsAvailableForGPLScatterPlot),
                           Height = 500,
                           Width = 1000,
                           PaddingLeft = 125,
                           PaddingBottom = 50,
                           PaddingRight = 20,
                           PaddingTop = 20,
                           XAxisDistanceFromBottomOfChart = 40
                       })
                                        </div>
                                     </div>
                                        @if (grade != null && !String.IsNullOrWhiteSpace(grade.ScatterchartText))
                        {
                                            <div class="tab-description">@grade.ScatterchartText</div>
                                        }
