﻿@using AtlasDiligence.Web.Models.ViewModels
@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Common.Data.Models
@using GPScout.Domain.Contracts.Enums
@model OrganizationViewModel
@{
    Layout = null;
    Organization org = Model.Organization;
    Grade grade = org.Grades.FirstOrDefault();
}

@helper PrintScorecardRow(string label, string grade)
{
if (!string.IsNullOrWhiteSpace(grade))
{
        <tr>
            <td class="label-desc">
                @label
            </td>
            @if (grade != "Insufficient Information" && grade != "Not Applicable")
            {
                <td class="score">
                    <div class="row-@grade"></div>
                </td>
            }
            else
            {
                <td class="cell-nodata">@grade</td>
            }
        </tr>
}
}
@helper PrintScorecardRatingLegend()
{
    <tr class="ratings">
        <th>Rating</th>
        <th class="rotate">
            <div><p>Poor</p></div>
            <div><p>Weak</p></div>
            <div><p>Standard</p></div>
            <div><p>Strong</p></div>
            <div><p>Exceptional</p></div>
        </th>
    </tr>
}

@if (org.PublishLevelID < (byte)OrgPublishLevelType.PublishProfile && !Model.Preview)
{
    <p style="padding:10px 10px 0px 10px;">
        A Scorecard was not completed for this manager. For additional information or to request a scorecard, please use the "Request Research" button above.
    </p>
}
else if (org.IsInScorecardProcess)
{
    <p>
        A Scorecard is in the process of being completed.
    </p>
}
else if (grade != null)
{
    <table>
        <tbody>
            @this.PrintScorecardRow("Qualitative", org.QualitativeGrade)
            @this.PrintScorecardRow("Team", grade.TeamWeighted)
            @this.PrintScorecardRow("Strategy", grade.StrategyWeighted)
            @this.PrintScorecardRow("Process", grade.Process)
            @this.PrintScorecardRow("Firm", grade.Firm)

            @if (org.GPScoutPhaseAssigned == "Phase 3: Profile" && (org.GPScoutLevelCompleted == "Phase 3: Profile (No Quant)" || org.GPScoutLevelCompleted == "Phase 3 No Q: Complete Prior Phase"))
            {
                <tr>
                    <td colspan="2">
                        A Quantitative Scorecard will be completed when additional information / benchmarks become available.
                    </td>
                </tr>
            }
            else if (org.GPScoutPhaseAssigned == "Phase 3: Profile (No Quant)" && (org.GPScoutLevelCompleted == "Phase 3: Profile (No Quant)" || org.GPScoutLevelCompleted == "Phase 3 No Q: Complete Prior Phase"))
            {
                <tr>
                    <td colspan="2">
                        This manager is an emerging manager and therefore does not have a QoR Score.
                    </td>
                </tr>
            }
            else
            {
                @this.PrintScorecardRow("Quantitative", org.QuantitativeGrade)
                @this.PrintScorecardRow("Performance", grade.Performance)
                @this.PrintScorecardRow("Track Record", grade.TrackRecord)
                @this.PrintScorecardRow("Consistency", grade.Consistency)
            }
            @PrintScorecardRatingLegend()
        </tbody>
    </table>
}
else
{
    <p>No Data</p>
}

