﻿@using GPScout.Domain.Contracts.Enums
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models
@using AtlasDiligence.Web.Models.ViewModels
@using AtlasDiligence.Web.Models.ViewModels.Widgets
@using SFP.Extensions
@model OrganizationViewModel
@{ 
    Layout = null;
    var userEntity = (UserEntity)ViewBag.UserEntity;
}

<div id="hao-tab" class="tab-container">
    <div class="content two-col">
        <div class="primary-content">
            <div class="headerSubTitle">
                Overview
            </div>
            @if (!String.IsNullOrEmpty(Model.Organization.OrganizationOverview))
            {
                <div class="section-information">
                    @Html.Raw(Model.Organization.OrganizationOverview.NewlineToBreak())
                </div>
            }
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Organization History", Content = Model.Organization.History })
        </div>
        <div class="secondary-content">
            <div class="headerSubTitle">
                Timeline
            </div>
            <div class="timeline-container">
                @{
                    OrganizationHTViewModel timelineModel = new OrganizationHTViewModel();
                    timelineModel.Build(Model.Organization);
                    @Html.Partial("HistoryTimeline", timelineModel)
                }
            </div>
        </div>
        <div class="clear">
            &nbsp;</div>
    </div>
</div>

