﻿@model  AtlasDiligence.Web.Models.ViewModels.OrganizationHTViewModel
@using AtlasDiligence.Web.Models.ViewModels
<div>
    @if (Model.Events != null)
    {
        int specingPerMonth = 2;
        int maxSpacing = 200;
        bool renderdateOnLeft = true;
        int n = Model.Events.Count() - 1;
        for (int i = 0; i <= n; i++)
        {
            OrganizationHTEventViewModel ev = Model.Events[i];
            ev.RenderDateOnLeft = renderdateOnLeft;
            <div style="float:left; display:flex; display:webkit-flex; margin:0; width:100%">
                @if (renderdateOnLeft)
                {
                    <div class="date-left ht-side">
                        @Html.Partial("HistoryTimeLineEventDate", ev)
                    </div>
                    <div class="ht-vert-ax"></div>
                    <div class="ht-side">
                        @Html.Partial("HistoryTimeLineEventInfo", ev)
                    </div>
                }
                else
                {
                    <div class="ht-side">
                        @Html.Partial("HistoryTimeLineEventInfo", ev)
                    </div>
                    <div class="ht-vert-ax"></div>
                    <div class="date-right ht-side">
                        @Html.Partial("HistoryTimeLineEventDate", ev)
                    </div>
                }
            </div>

            if (i < n)
            {
                OrganizationHTEventViewModel nextEvent = Model.Events[i + 1];

                if (nextEvent.EventDate.Year != ev.EventDate.Year) { renderdateOnLeft = !renderdateOnLeft; }

                var verticalSpacing = (nextEvent.EventDate - ev.EventDate).TotalDays / 30 * specingPerMonth;
                if (verticalSpacing <= 0) { verticalSpacing = specingPerMonth; }
                else if (verticalSpacing > maxSpacing) { verticalSpacing = maxSpacing; }
                <div class="ht-spacer" style="min-height:@(verticalSpacing)px"></div>
            }
        }
    }
</div>
