﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationHTEventViewModel
@using AtlasDiligence.Web.Models.ViewModels
<div @(Model.RenderDateOnLeft ? "":"style=float:right")>
    @{
        OrganizationHTFundEventViewModel fundVM;
        if (Model.EventType == OrganizationHistoryEventType.FundRaise)
        {
            fundVM = Model as OrganizationHTFundEventViewModel;
            <span>@Model.EventName @(fundVM.IsOpenFund ? "Launched" : "Raised")</span><br />
            <span>Size - @ViewHelpers.RenderMoney(Html, fundVM.FundSize, fundVM.FundCurrency)</span>
        }
        else if (Model.EventType == OrganizationHistoryEventType.FirmFounded)
        {
            <span>@Model.EventName Founded</span>
        }
        else if (Model.EventType == OrganizationHistoryEventType.ExpectedNextFundRaise)
        {
            fundVM = Model as OrganizationHTFundEventViewModel;
            <span>Expected Next Fundraise</span><br />
            if (fundVM.FundSize.HasValue)
            {
                <span>Expected Size - @ViewHelpers.RenderMoney(Html, fundVM.FundSize, fundVM.FundCurrency)</span>
            }
        }
    }
</div>