﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationHTEventViewModel
@using AtlasDiligence.Web.Models.ViewModels
<div @(Model.RenderDateOnLeft ? "style=float:right":"") class="ht-date-side">
    @if (Model.EventType == OrganizationHistoryEventType.FundRaise)
    {
        <span>@Model.EventDate.Year</span>
    }
    else if (Model.EventType == OrganizationHistoryEventType.FirmFounded)
    {
        <span>@Model.EventDate.Year</span>
    }
    else if (Model.EventType == OrganizationHistoryEventType.ExpectedNextFundRaise)
    {
        <span>@Model.EventDate.ToString("MMMM yyyy")</span>
    }
</div>