﻿@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models
@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@{
    //Layout = "~/Views/Shared/_LayoutFirm.cshtml";
    ViewBag.Title = Model.Organization.Name;
    ViewBag.BodyClass = "Organization";
    var userEntity = (UserEntity)ViewBag.UserEntity;
}
<script type="text/javascript">
    $(function () {
        $('.no-data').find('a').click(function (event) {
            event.stopImmediatePropagation();
            event.preventDefault();
            return false;
        });
        $('.linknotactive').click(function (event) {
            event.stopImmediatePropagation();
            event.preventDefault();
            return false;
        });
        $('.no-data').tooltip({
            tip: '#tooltip',
            delay: 0,
            effect: 'slide'
        });
        $("#tabs").tabs({
            cache: true,
            load: function (e, ui) {
                $(ui.panel).find(".tab-loading").remove();
                $('#loading-bar').hide();
            },
            select: function (e, ui) {
                if ($('#' + ui.tab.attributes['id'].textContent).parent().hasClass('no-data')) {
                    return false;
                }
                $(".back-to-fund-list").click();
                $(".back-to-team-list").click();
                $(this).data("tabs").xhr = null;
                var $panel = $(ui.panel);

                if ($panel.is(":empty")) {
                    $panel.append("<div class='tab-loading'>Loading...</div>");
                    $('#loading-bar').show();
                }
            },
            ajaxOptions: {
                success: function () {
                    $('#loading-bar').hide();
                },
                error: function (xhr, status, index, anchor) {
                    $(anchor.hash).html("The request timed out. Please refresh your browser.");
                },
                load: function (event, ui) {
                    $('a', ui.panel).click(function () {
                        $(ui.panel).load(this.href);
                        return false;
                    });
                }
            }
        });
        $('#loading-bar').show();
        AtlasDiligence.organization.init();
        $('.organization-header-info').insertAfter($('#tabs ul.ui-tabs-nav'));
        jQuery(document).ready(function () {
            jQuery(document).load(function () {
                jQuery('.tab-title').insertAfter($('ul.buttons'));
    });
        });
    });
</script>

<div>
    <div class="tooltip" id="tooltip">
        You do not currently have access privileges to this information.
    </div>
    @*<div id="tabs">*@
    <div class="organization-header-info">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="padding-left:3px;">
                    <div class="organization-name">
                        @ViewHelpers.RenderFirmName(Model.Organization.Name)
                        @if (!string.IsNullOrWhiteSpace(Model.Organization.WebsiteUrl))
                        {
                            <p class="org-website"><a href="@Model.Organization.WebsiteUrl" target="_blank">@Model.Organization.WebsiteUrl</a></p>
                        }
                    </div>
                </div>

                <div class="col-md-5 market-info padding0">
                    @{ Html.RenderPartial("OrganizationHeader", Model); }
                </div>

                <div class="col-md-4 padding0" style="text-align:center;">
                    <ul class="buttons">
                        <li>
                            <div id="add-compare-organization">
                                <h4 class="add-to-comparison-title">
                                    <a href="@Model.Id" class="add-to-comparison">Add to Compare</a>
                                </h4>
                            </div>
                        </li>
                        <li>
                            @Html.Partial("FolderWidgetPartial", new KeyValuePair<string, IEnumerable<AtlasDiligence.Common.Data.Models.Folder>>(Model.Id.ToString(), Model.Folders))
                            @*<div id="folder-dialog" style="display: none;">
                                <p>Please enter a name for the folder you wish to create.</p>
                                <input type="text" class="text" value="" />
                                <input type="hidden" value="@Model.Id" id="folder-dialog-orgid" />
                                <input type="hidden" value="@Url.Action("CreateFromWidget", "Folder")" id="folder-dialog-url" />
                            </div>*@
                        </li>
                        <li>
                            <div id="request-more-info" class="request-more-info">
                                <h4 class="request-more-info-title"><a href="@Url.Action("RequestOrganization", "Request")" rel="@Model.Id" data-request-type="@(RequestType.Research)" class="request-organization-diligence">Request Research</a></h4>
                            </div>
                        </li>
                        <!--<li>
                            <div id="request-introduction" class="request-introduction">
                                @if (Model.Organization.AccessConstrained)
                                {
                                    <h4 class="request-introduction-title"><a href="@Url.Action("RequestOrganization", "Request")" title="Access Constrained" rel="@Model.Id" data-request-type="@(RequestType.Introduction)" class="request-organization-introduction linknotactive">Request Introduction</a></h4>
                                }
                                else
                                {
                                    <h4 class="request-introduction-title"><a href="@Url.Action("RequestOrganization", "Request")" title="" rel="@Model.Id" data-request-type="@(RequestType.Introduction)" class="request-organization-introduction">Request Introduction</a></h4>
                                }
                            </div>
                        </li>-->

                        @if (!AtlasDiligence.Web.General.Common.IsPrint && userEntity.UserCanGenerateProfilePdf(Model.Organization.Id, null))
            {
                            <li>
                                <div class="screen-only">
                                    <span class="print-full"><a class="generate-pdf-firm-detail" id="gen-full-report" href="@Url.Action("PrintAllPdfList", "Organization", new { ids = Model.Id, maxInParallel = 5 })" target="_blank">Create PDF</a></span>
                                    @*<span class="print-full"><a href="@Url.Action("PrintAllOld", "Organization", new { id = Model.Id })" target="_blank">Print Full Report Old</a></span>*@
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-title">
                        @if (Model.Organization.IsInProcess)
                        {
                            @ViewHelpers.UnderConstructionIcon(Model.Organization);
                            <p class="overview-note">This profile is currently being updated or will be updated pending an upcoming meeting.</p>
                            @*@AddIcon("This profile is currently being updated or will be updated pending an upcoming meeting.",
                "under-construction",
                "This profile is currently being updated or will be updated pending an upcoming meeting.")*@
                        }
                        @if (Model.Organization.LevelOfDisclosure == "Fully Prohibited")
                        {
                            <p class="overview-note">NOTE: This manager has restricted access to its profile information. For more information, use the request research button @(AtlasDiligence.Web.General.Common.IsPrint ? " on the site" : "above").</p>
                        }
                        else if (Model.Organization.LevelOfDisclosure == "No Portfolio Level Detail")
                        {
                            <p class="overview-note">NOTE: This manager has restricted access to some of its profile information. For more information, use the request research button @(AtlasDiligence.Web.General.Common.IsPrint ? " on the site" : "above").</p>
                        }
                    </div>
                    
                    </div>
            </div>
        </div>
    </div>

    <div id="tabs">
        <div id="firm-header-placeholder"></div>
        <div class="organization-metrics">
            @*@if (Model.Organization.LastUpdated.HasValue)
                {
                    <div class="date-updated">
                        Last Updated: @Model.Organization.LastUpdated.Value.ToShortDateString()
                    </div>
                }*@
            <div class="org-diligence-level-wrapper">
                <div class="diligence-level-@Model.Organization.DiligenceLevelFromPublishFields">
                    @*@Model.Organization.DiligenceLevelFromPublishFields*@
                </div>
            </div>
            <p>Diligence Level:</p>
        </div>
        <ul>
            <li>
                @Html.ActionLink("Profile", "Overview", new { id = Model.Id }, new { data_click_key = "profile" })
            </li>
            <li>
                @Html.ActionLink("Evaluation", "Evaluation", new { id = Model.Id }, new { data_click_key = "evaluation" })
            </li>
            @if (Model.Organization.PublishProfile || Model.Preview)
            {
                <li>
                    @Html.ActionLink("Scorecard", "Grade", new { id = Model.Id }, new { data_click_key = "scorecard" })
                </li>
            }
            @if (Model.Organization.PublishOverviewAndTeam || Model.Preview)
            {
                <li>
                    @Html.ActionLink("History and Overview", "HistoryAndOverview", new { id = Model.Id }, new { data_click_key = "hao" })
                </li>
            }
            @if (Model.Organization.PublishOverviewAndTeam || Model.Preview)
            {
                <li>
                    @Html.ActionLink("Strategy", "Strategy", new { id = Model.Id }, new { data_click_key = "strategy" })
                </li>
            }
            @if (Model.Organization.PublishOverviewAndTeam || Model.Preview)
            {
                if (!Model.Organization.QuantWithGrading)
                {
                    <li>
                        @Html.RouteLink("Team", "Default", new { controller = "Organization", action = "Team", id = Model.Id }, new { data_click_key = "team" })
                    </li>
                }
            }
            @if (Model.HasTrackRecordTab)
            {
                <li>
                    @Html.ActionLink("Track Record", "TrackRecord", new { id = Model.Id }, new { data_click_key = "fund" })
                </li>
            }
        </ul>        
        @Html.Partial("GroupWatermark")
    </div>
</div>
<div id="request-diligence-dialog" style="display: none">
    <em>Organization: <strong>@Model.Organization.Name</strong></em>
    <fieldset>
        <legend></legend>
        <div class="field">
            <div class="field">
                <label for="request-diligence-comment">Specific Request/Comment/Question:</label>
                <textarea id="request-diligence-comment"></textarea>
            </div>
        </div>
    </fieldset>
</div>
<div id="request-introduction-dialog" style="display: none">
    <p>Submit this form to have RCP make an introduction to the manager.</p>
    <em>Organization: <strong>@Model.Organization.Name</strong></em>
    <fieldset>
        <legend></legend>
        <div class="field">
            <div class="field">
                <label for="request-introduction-comment">Specific Request/Comment/Question:</label>
                <textarea id="request-introduction-comment"></textarea>
            </div>
        </div>
    </fieldset>
</div>
@if (!AtlasDiligence.Web.General.Common.IsPrint)
{
    <div id="chart-popup" style="display:none">
        <button id="chart-popup-btn" type="button" class="close" aria-label="Close">
            close
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </button>
        <div id="chart-popup-desc"></div>
        <img id="chart-popup-img" src="@Url.Content("~/images/ajax-loader.gif")" />
        @if (Model.Organization.PublishLevelID >= (byte)GPScout.Domain.Contracts.Enums.OrgPublishLevelType.PublishTrackRecord || Model.Preview)
        {
            if (!String.IsNullOrWhiteSpace(Model.Organization.TrackRecordText))
            {
                <div class="tab-description">
                    @Html.Raw(Model.Organization.TrackRecordText.NewlineToBreak())
                </div>
            }
        }
    </div>
}
