﻿@using AtlasDiligence.Web.Models.ViewModels
@using System.Globalization
@model AtlasDiligence.Common.Data.Models.Organization
@helper AddIcon(string value, string htmlClass, string htmlTitle)
{
if (!string.IsNullOrWhiteSpace(value))
{
        <div class="@htmlClass" title="@htmlTitle">@value</div>
}
}
<table class="vertical-table">
    <tbody>
        @if (Model.Strategy.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Primary</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.Strategy)
                </td>
            </tr>
        }
        @if (Model.SubStrategy.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Secondary</strong>
                </th>
                <td class="row-value">
                    @string.Join(", ", Model.SubStrategy)
            </td>
        </tr>
        }
        @if (!String.IsNullOrEmpty(Model.MarketStage))
        {
            <tr>
                <th class="row-label">
                    <strong>Market/Stage</strong>
                </th>
                <td class="row-value">@Model.MarketStage
                </td>
            </tr>
        }
        
        @if (Model.InvestmentRegions.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Region</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.InvestmentRegions)
                </td>
            </tr>
        }
        @if (Model.SectorFocus.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Sector Focus</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.SectorFocus)
                </td>
            </tr>
        }
    </tbody>
</table>
