﻿@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Models.ViewModels
@using AtlasDiligence.Web.General
@using System.Globalization
@model AtlasDiligence.Common.Data.Models.Organization
@helper AddIcon(string value, string htmlClass, string htmlTitle)
{
if (!string.IsNullOrWhiteSpace(value))
{
        <div class="@htmlClass" title="@htmlTitle">@value</div>
}
}
<table class="vertical-table">
    <tbody>
        @if (!String.IsNullOrEmpty(Model.PrimaryOffice))
        {
            <tr>
                <th class="row-label">
                    <strong>Primary Office</strong>
                </th>
                <td class="row-value">
                    @Model.PrimaryOffice
                </td>
            </tr>
        }
        @{ 
            var otherAddresses1 = Model.OtherAddresses;
            if (otherAddresses1 != null && otherAddresses1.Any())
            {
                var otherAddresses = otherAddresses1.OrderBy(a => a.Country).ThenBy(a => a.City).ToArray();
                <tr>
                    <th class="row-label">
                        <strong>Other Offices</strong>
                    </th>
                    <td>
                        @for (int i = 0; i < Math.Min(2, otherAddresses.Count()); i++)
                        {
                            <div>@otherAddresses[i].CityStateCountry</div>
                        }

                        @if (otherAddresses.Count() > 2)
                        {
                            if (!Common.IsPrint)
                            {
                                @Html.Raw("<div data-other-addresses style=display:none>")
                            }
                            for (int i = 2; i < otherAddresses.Count(); i++)
                            {
                                <div>@otherAddresses[i].CityStateCountry</div>
                            }
                            if (!Common.IsPrint)
                            {
                                @Html.Raw("</div>")
                                <div>
                                    <b>
                                        <a data-other-addresses-more href="javascript:void(0)">Click to view @(otherAddresses.Count() - 2) more</a>
                                        <a data-other-addresses-less href="javascript:void(0)" style="display:none">Click to view fewer addresses</a>
                                    </b>
                                </div>
                                <script>
                                    $(function () {
                                        $('[data-other-addresses-more]').live('click', function () {
                                            $(this).hide();
                                            $('[data-other-addresses]:first').show();
                                            $('[data-other-addresses-less]:first').show();
                                        });
                                        $('[data-other-addresses-less]').live('click', function () {
                                            $(this).hide();
                                            $('[data-other-addresses]:first').hide();
                                            $('[data-other-addresses-more]:first').show();
                                        });
                                    })
                                </script>
                            }
                        }
                    </td>
                </tr>
            }
        }
        @if (Model.YearFounded.HasValue)
            {
            <tr>
                <th class="row-label">
                    <strong>Year Founded</strong>
                </th>
                <td class="row-value">
                    @Model.YearFounded.Value
            </td>
        </tr>
        }
        @if (Model.Aum.HasValue)
            {
            <tr>
                <th class="row-label">
                    <strong>AUM (mm)</strong>
                </th>
                <td class="row-value">
                    @AtlasDiligence.Web.General.StringExtensions.Currency(Model.Aum.Value, Model.Currency)
            </td>
        </tr>
        }

            <tr>
                <th class="row-label">
                    <strong>Scout Categories</strong>
                </th>
                <td class="row-value">
                    @*@Html.Raw(OrganizationViewModel.ScoutCategoryIcons(Model))*@
                    @AddIcon(Model.AccessConstrained.ToString().ToLower(), "access-constrained-" + Model.AccessConstrained.ToString().ToLower(), "Access Constrained")
                    @AddIcon(Model.EmergingManager.ToString().ToLower(), "emerging-manager-" + Model.EmergingManager.ToString().ToLower(), "Emerging Manager")
                    @if (!String.IsNullOrWhiteSpace(Model.FocusRadar))
                    {
                        @AddIcon(Model.FocusRadar, Model.FocusRadar.ToLower().Replace(' ', '-'), Model.FocusRadar)
                    }
                </td>
            </tr>


        @*@if (Model.Strategy.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Primary Strategy</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.Strategy)
                </td>
            </tr>
        }
        @if (!String.IsNullOrEmpty(Model.MarketStage))
        {
            <tr>
                <th class="row-label">
                    <strong>Market/Stage</strong>
                </th>
                <td class="row-value">@Model.MarketStage
                </td>
            </tr>
        }
        @if (Model.SubStrategy.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Secondary Strategy</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.SubStrategy)
                </td>
            </tr>
        }
        @if (!String.IsNullOrEmpty(Model.PrimaryOffice))
        {
            <tr>
                <th class="row-label">
                    <strong>Primary Office</strong>
                </th>
                <td class="row-value">@Model.PrimaryOffice
                </td>
            </tr>
        }
        @if (Model.OtherAddresses.Any())
        {
            List<String> lstOtherAddresses = new List<String>();
            for (var i = 0; i < Model.OtherAddresses.Count(); i++)
            {
                if (Model.Address1 != Model.OtherAddresses[i].Address1)
                {
                    lstOtherAddresses.Add(Model.OtherAddresses[i].CityStateCountry);
                }
            }

            if (lstOtherAddresses.Count() > 0)
            {
                for (var i = 0; i < lstOtherAddresses.Count(); i++)
                {
                    <tr>
                        <th class="row-label">
                            @if (i == 0)
                            {
                                <strong>Other Office@(lstOtherAddresses.Count() > 1 ? "s" : string.Empty)</strong>
                            }
                        </th>
                        <td class="row-value">
                            @lstOtherAddresses[i]
                        </td>
                    </tr>
                }
            }*@

            @*<tr>
                <td class="row-label">
                </td>
                <td class="row-value">
                    <a href="#" class="other-office-toggle">@Model.OtherAddresses.Count() Other @(Model.OtherAddresses.Count() > 1 ? "Offices" : "Office")</a>
                </td>
            </tr>
            foreach (var address in Model.OtherAddresses.OrderBy(m => m.Country).ThenBy(m => m.City))
            {
            <tr class="other-office">
                <td class="row-label">
                </td>
                <td class="row-value">
                    @address.CityStateCountry
                </td>
            </tr>
            }*@
        @*}*@
        @*@if (Model.InvestmentRegions.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Investment Regions</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.InvestmentRegions)
                </td>
            </tr>
        }
        @if (Model.SectorFocus.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Sector Focus</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.SectorFocus)
                </td>
            </tr>
        }*@
        @*@if (Model.SubSectorFocus.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Sub-Sector</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.SubSectorFocus)
                </td>
            </tr>
        }*@
            @*@if (Model.Aum.HasValue)
            {
                <tr>
                    <th class="row-label">
                        <strong>AUM (mm)</strong>
                    </th>
                    <td class="row-value">@AtlasDiligence.Web.General.StringExtensions.Currency(Model.Aum.Value, Model.Currency)
                    </td>
                </tr>
            }
            @if (Model.NumberOfFunds.HasValue)
            {
                <tr>
                    <th class="row-label">
                        <strong>Closed Funds</strong>
                    </th>
                    <td class="row-value">@Model.NumberOfFunds.Value
                    </td>
                </tr>
            }
            @if (Model.YearFounded.HasValue)
            {
                <tr>
                    <th class="row-label">
                        <strong>Year Founded</strong>
                    </th>
                    <td class="row-value">@Model.YearFounded.Value
                    </td>
                </tr>
            }
            @if (!String.IsNullOrEmpty(Model.NumberOfInvestmentProfessionals))
            {
                <tr>
                    <th class="row-label">
                        <strong>Number of Investment Professionals</strong>
                    </th>
                    <td class="row-value">@Model.NumberOfInvestmentProfessionals
                    </td>
                </tr>
            }
            @if (Model.ExpectedNextFundRaise.HasValue)
            {
                <tr>
                    <th class="row-label">
                        <strong>Estimated Next Fundraise</strong>
                    </th>
                    <td class="row-value">@Model.ExpectedNextFundRaise.Value.ToString("MMMM yyyy")
                    </td>
                </tr>
            }

            @if (!String.IsNullOrWhiteSpace(Model.CoInvestWithExistingLPs))
            {
                <tr>
                    <th class="row-label">
                        <strong>Co-Invest With Existing LPs</strong>
                    </th>
                    <td class="row-value">@Model.CoInvestWithExistingLPs
                    </td>
                </tr>
            }

            @if (!String.IsNullOrWhiteSpace(Model.CoInvestWithOtherLPs))
            {
                <tr>
                    <th class="row-label">
                        <strong>Co-Invest With Other LPs</strong>
                    </th>
                    <td class="row-value">@Model.CoInvestWithOtherLPs
                    </td>
                </tr>
            }*@
    </tbody>
</table>
