﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@{
    Layout = null;
}

<div>
    @{
        if (string.Equals(Model.Organization.FundRaisingStatus, "open", StringComparison.InvariantCultureIgnoreCase))
        {
            var mostRecentFund = Model.Organization.MostRecentFund;
            <div class="customRibbon inMarket">
                <h2>
                    In Market
                    @if (mostRecentFund != null && mostRecentFund.FundLaunchDate.HasValue)
                    {
                        <span class="light-text">
                            - Launched @mostRecentFund.FundLaunchDate.Value.ToString("MMMM yyyy")
                        </span>
                    }
                </h2>
            </div>
            if (mostRecentFund != null && mostRecentFund.FundSize.HasValue)
            {
                <div style="font-weight:bolder; color:#44546a">

                    @Html.Raw(string.Join(" / ", mostRecentFund.Name, AtlasDiligence.Web.General.StringExtensions.Currency(mostRecentFund.FundSize.Value, mostRecentFund.Currency, 1, "#,#") + "M"))
                </div>
            }
            else
            {
                <span>&nbsp;</span>
            }
            if (mostRecentFund != null)
            {
                <div class="placement-agent">
                    @{string placementAgentName = (mostRecentFund.PlacementAgentName ?? String.Empty).Trim();
                        if (placementAgentName != String.Empty && placementAgentName != "No Placement Agent")
                        {
                            placementAgentName = string.Format("Placement Agent: {0}", placementAgentName);
                        }
                        @placementAgentName
                    }
                </div>}
                        }
                        else
                        {
                            <div class="customRibbon outOfMarket">
                                <h2>Out of Market</h2>
                            </div>
                            if (Model.Organization.ExpectedNextFundRaise.HasValue)
                            {
                                <div style="font-weight:bolder; color:#44546a">
                                    <span>
                                        Est. Next Fundraise: @(string.Format("Q{0} {1}", (Model.Organization.ExpectedNextFundRaise.Value.Month + 2) / 3, Model.Organization.ExpectedNextFundRaise.Value.Year))
                                    </span>
                                    @*@if (Model.Organization.LastFundSize.HasValue)
                                        {
                                            <span> / </span>
                                            @Html.Raw(AtlasDiligence.Web.General.StringExtensions.Currency(Model.Organization.LastFundSize.Value, Model.Organization.Currency, 1, "#,#") + "M")
                                        }*@
                                    @if (Model.Organization.ExpectedNextFundSize.HasValue)
                    {
                                        <span> / </span>
                                        @Html.Raw(AtlasDiligence.Web.General.StringExtensions.Currency(Model.Organization.ExpectedNextFundSize.Value, Model.Organization.Currency, 1, "#,#") + "M")
                                    }
                                </div>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        }
    }
</div>
