﻿@using GPScout.Domain.Contracts.Enums
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@using AtlasDiligence.Web.Models.ViewModels.Widgets
@using SFP.Extensions
@model OrganizationViewModel
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $('#gen-full-report').click(function (e) {
            e.preventDefault();
            common.showLoading();
            $.post($(this).attr('href'), function (result) {
                common.hideLoading();
                if (result) {
                    userNotifications.prepend($(result));
                }
            });
            return false;
        });
    });
</script>
<div id="overview-tab" class="tab-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 padding0">
                <div class="row">
                    <div class="col-md-6 padding0">
                        <div class="profile-tab history-overview">
                            @if (!String.IsNullOrEmpty(Model.Organization.OrganizationOverview))
                            {

                                @Html.Partial("JumpToWidget", new JumpToWidgetViewModel { Title = "Overview and History", ContentHtml = Model.Organization.OrganizationOverview.Intro(435).NewlineToBreak(), ClickOnSelector = "[data-click-key='hao']" })
                            }
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="profile-tab" style="overflow:hidden">
                            @Html.Partial("JumpToWidget", new JumpToWidgetViewModel { Title = "Key Information", ContentViewName = "OrganizationBreakdown", ContentModel = Model.Organization })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 padding0">
                        <div class="profile-tab">
                            @Html.Partial("JumpToWidget", new JumpToWidgetViewModel { Title = "Strategy", ContentHtml = Model.OrganizationStrategyWidgetHtml, ClickOnSelector = "[data-click-key='strategy']" })
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="profile-tab team-overview">
                            @Html.Partial("JumpToWidget", new JumpToWidgetViewModel { Title = "Team Overview", ContentModel = new TeamOverviewWidgetViewModel { IsOnProfileTab = true, OrganizationViewModel = Model }, ContentViewName = "TeamOverviewWidget", ClickOnSelector = "[data-click-key='team']" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 padding0">
                <div class="profile-tab scorecard">
                    @Html.Partial("JumpToWidget", new JumpToWidgetViewModel { Title = "Scorecard", ContentViewName = "GradeWidget", ContentModel = Model, ClickOnSelector = "[data-click-key='scorecard']", ShowMoreInfoIcon = Model.HasScorecardTab })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 padding0">
                <div class="profile-tab fund-performance-widget">
                    @Html.Partial("JumpToWidget", new JumpToWidgetViewModel { Title = "Fund Performance", ContentViewName = "FundHistoryWidget", ContentModel = Model, ClickOnSelector = "[data-click-key='fund']", HideIfNoContent = true, ShowMoreInfoIcon = Model.HasTrackRecordTab })
                </div>
            </div>
            <div class="col-md-12 padding0 evaluation-widget">
                <div class="profile-tab">
                    @Html.Partial("EvaluationWidget", Model)
                </div>
            </div>
            @if (!Common.IsPrint)
            {
                <div class="col-md-12 padding0">
                    <div>
                        <div class="topCharts">
                            @{
                                if (Model.HasTrackRecordTab && Model.TopGraphsModels != null && Model.TopGraphsModels.Any())
                                {
                                    int i = 0;
                                    <div class="headerSubTitle" style="margin-top:20px">Top Charts</div>
                                    @Html.Raw("<div class=\"row centered-col\">");
                                    foreach (TrackRecord tr in Model.TopGraphsModels)
                                    {
                                        <div class="col-md-3">
                                            @Html.Partial("ChartWidget", new ChartWidgetViewModel() { Title = tr.Title, ContentUrl = tr.FileUrl, Description = tr.Description })
                                        </div>
                                        if (++i % 3 == 0)
                                        {
                                            @Html.Raw("</div><div class=\"row centered-col\">");
                                        }
                                    }
                                    @Html.Raw("</div>");
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

