﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using AtlanticBT.Common.Types
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Config
@using System.Web.Optimization
@{
    Layout = null;
    var user = EntityCache.Get<AtlasDiligence.Web.Models.UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache);
}
@helper AddIcon(string value, string url)
{
if (!string.IsNullOrWhiteSpace(value))
{
        <img src="@url" />
}
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Model.Organization.Name - @user.Email</title>
    @Styles.RenderFormat(BundleConfig.Screen, "~/css/print-organization")
    @Styles.RenderFormat(BundleConfig.Print, "~/css/print-organization")
    @Styles.Render("~/css/jquery-ui")
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Scripts.Render("~/scriptsforprinted")
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var isPrint = window.location.pathname.indexOf('Print') >= 0;
        google.load('visualization', '1', { packages: ['corechart'] });
        var chartFunctions = [];
        function drawCharts() {
            for (var f in chartFunctions) {
                chartFunctions[f]();
            }
        }
        function init() {
            google.load('visualization', '1', { packages: ['corechart'], callback: 'drawCharts' });
        }
    </script>
</head>
<body id="splash" class="splash" onload="init()">
    <div id="wrap">
        <div id="container">
            <div id="main-area" class="main-area">
                @{ Html.RenderPartial("PrintAllTerms"); }
                <div class="page-break"></div>
                <div>
                    <div class="organization-header-info">
                        <div class="organization-name-wrap">
                            @*<h1 style="margin-top: 15px;">@Model.Organization.Name</h1>*@
                            @ViewHelpers.RenderFirmName(Model.Organization.Name)
                            @if (!string.IsNullOrWhiteSpace(Model.Organization.WebsiteUrl))
                            {
                                <p class="org-website" style="clear:both"><a href="@Model.Organization.WebsiteUrl" target="_blank">@Model.Organization.WebsiteUrl</a></p>
                            }
                        </div>
                        <div class="col-md-5 market-info padding0">@{ Html.RenderPartial("OrganizationHeader", Model); }</div>
                        <div class="organization-metrics">
                            <div class="org-diligence-level-wrapper">
                                <div class="diligence-level-@Model.Organization.DiligenceLevelFromPublishFields">
                                    @Model.Organization.DiligenceLevelFromPublishFields
                                </div>
                            </div>
                            <p>Diligence Level:</p>
                        </div>
                    </div>
                    @{
                        Html.RenderAction("Overview", new { id = Model.Id });
                        @*<div class="page-break"></div>*@

                        //if (Model.Organization.PublishProfile || Model.Preview)
                        //{
                            <div style="display:block; page-break-before:always"></div>
                                <div class="section">
                                    <div class="headerSubTitle">Evaluation</div>
                                    <div class="clear"></div>
                                    <div class="section-information">
                                        @{ Html.RenderAction("Evaluation", new { id = Model.Id }); }
                                    </div>
                                </div>
                        //}

                        if (Model.Organization.PublishProfile || Model.Preview)
                        {
                            <div style="display:block; page-break-before:always"></div>
                            <div class="section">
                                <div>
                                    <div class="clear"></div>
                                </div>
                                <div class="section-information">
                                    @{ Html.RenderAction("Grade", new { id = Model.Id }); }
                                </div>
                            </div>
                        }

                        if (Model.Organization.PublishOverviewAndTeam || Model.Preview)
                        {
                            <div style="display:block; page-break-before:always"></div>
                            <div class="section">
                                <div>
                                    @{ Html.RenderAction("HistoryAndOverview", new { id = Model.Id }); }
                                </div>
                            </div>
                        }

                        if (Model.Organization.PublishOverviewAndTeam || Model.Preview)
                        {
                            <div style="display:block; page-break-before:always"></div>
                            <div class="section">
                                <div>
                                    @{ Html.RenderAction("Strategy", new { id = Model.Id }); }
                                </div>
                            </div>
                        }

                        if (Model.Organization.PublishOverviewAndTeam || Model.Preview)
                        {
                            if (!Model.Organization.QuantWithGrading)
                            {
                                <div style="display:block; page-break-before:always"></div>
                                <div class="section">
                                    <div class="section-title" style="border: none">
                                        <div class="clear"></div>
                                    </div>
                                    <div class="team-list section-information" style="position:relative; top:-12px">
                                        @{ Html.RenderAction("Team", new { id = Model.Id }); }
                                    </div>
                                </div>
                            }
                        }

                        if (Model.HasTrackRecordTab)
                        {
                            <div style="display:block; page-break-before:always"></div>
                            <div class="section">
                                <!--<div class="headerSubTitle">Track Record</div>-->
                                <div class="clear"></div>
                                <div class="section-information">
                                    @{ Html.RenderAction("TrackRecord", new { id = Model.Id }); }
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
            <div id="site-info" class="footer">
                <div id="site-copyright">
                    <p>Copyright &copy; @DateTime.Now.Year RCP Advisors. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
