﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Model.Organization.Name - Full Report</title>
    <link href="@Url.Content("~/css/print-organization.css")" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <div class="screen-middle-outer">
        <div class="screen-middle-middle">
            <div class="screen-middle-inner" style="width: 600px">
                <div class="info-message">
                    Generating Full Organization Report for <strong>@(Model.Organization.Name)</strong> can take several minutes.<br />
                    You can continue browsing the GPScout Navigator application in its main window.<br />
                    A dialog will popup automatically when the Organization Full Report is ready for download.
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.location.href = '@Url.Action("PrintAllPdf", "Organization", new { id = Model.Id })';
    </script>
</body>
</html>
