﻿@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@using AtlasDiligence.Web.Models.ViewModels.Widgets
@model OrganizationViewModel
@{Layout = null;}

<div id="strategy-tab" class="tab-container">
    @Html.Partial("_SendDebugInfoLink")
    <div class="container-fluid">
        <div class="row fix-gutters">
            <div class="col-md-8">
                @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Investment Thesis", Content = Model.Organization.InvestmentThesis, BookmarkName = "investmentthesis" })
            </div>
            <div class="col-md-4">
                @Html.Partial("JumpToWidget", new JumpToWidgetViewModel { Title = "Strategy", ContentHtml = Model.OrganizationStrategyWidgetHtml })

                @*@if (!Model.HasTrackRecordTab)
                {
                    <div>For access to track record information, click the Request Research button above.</div>
                    return;
                }*@
            </div>

        </div>
        @if (Model.HasTrackRecordTab)
        {
            <div data-widget-container="strategy-tab-charts">
                <div class="headerSubTitle superior" style="margin-top:30px;">Strategy Analysis - Exhibits</div>
                <div class="strategy-analysis">
                    <div class="row centered-col">
                        @{
                            <div class="col-md-3">
                                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Exposure", Category = TrackRecordCategory.StrategyExposure, OrganizationViewModel = Model })
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-building" aria-hidden="true"></i>
                                @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Size", Category = TrackRecordCategory.StrategySize, OrganizationViewModel = Model })
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-dollar" aria-hidden="true"></i>
                                @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Sourcing / Pricing", Category = TrackRecordCategory.StrategyPricing, OrganizationViewModel = Model })
                            </div>
                            <div class="col-md-3">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Other", Category = TrackRecordCategory.StrategyOther, OrganizationViewModel = Model })
                            </div>
                        }
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var elem = $('[data-widget-container="strategy-tab-charts"]').last();
                if ($(elem).find('[data-widget-content]').first().length) $(elem).find('.col-md-3:not(:has([data-widget-content]))').hide();
                else $(elem).hide();
            </script>
        }
    </div>
</div>
