﻿@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@using AtlasDiligence.Web.Models.ViewModels.Widgets
@using Common = AtlasDiligence.Web.General.Common
@model OrganizationViewModel
@{ Layout = null; }

<div id="team-tab" class="tab-container">
    <div class="container">
        <div class="row fix-gutters">
            <div class="col-md-8">
                <div class="headerSubTitle">
                    Team Overview
                </div>
                @if (!String.IsNullOrEmpty(Model.Organization.TeamOverview))
            {
                    <div class="tab-description">
                        @Html.Raw(Model.Organization.TeamOverview.NewlineToBreak())
                    </div>
                }
            </div>
            <div class="col-md-4 team-overview">
                @Html.Partial("JumpToWidget", new JumpToWidgetViewModel { Title = "Team Overview", ContentModel = new TeamOverviewWidgetViewModel { OrganizationViewModel = Model }, ContentViewName = "TeamOverviewWidget" })
                <div class="tab-description small-text" style="float:left;overflow:hidden; line-height:18px">
                    Note: Totals reflect staffing at time of fundraise. @if (Model.Organization.PublishProfile) {<text> Team breakdown below reflects most recent information available on current personnel.</text>}
                </div>
            </div>
        </div>

        @if (Model.Organization.PublishProfile)
        {
            <div class="row team-break-down" data-contacts>
                <div class="headerSubTitle" style="margin-top:30px;">Team Breakdown</div>
                <div class="col-md-12 padding0 team-rank-row">
                    <div class="team-rank-label">Senior Deal Professionals</div>
                    <div class="team-members">
                        @foreach (OrganizationMember member in Model.OrganizationMembers.Where(m => m.PublishDetail == (int)ProfessionalLevel.SeniorKey && m.DisplayOrder.HasValue).OrderBy(m => m.DisplayOrder.Value))
                        {
                            @Html.Partial("ContactWidget", member)
                        }
                        <div style="text-align:center;">
                            @foreach (OrganizationMember member in Model.OrganizationMembers.Where(m => m.PublishDetail == (int)ProfessionalLevel.SeniorLead && m.DisplayOrder.HasValue).OrderBy(m => m.DisplayOrder.Value))
                            {
                                @Html.Partial("ContactWidget", member)
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding0 team-rank-row">
                    <div class="team-rank-label">Mid-level Professionals</div>
                    <div class="team-members">
                        @foreach (OrganizationMember member in Model.OrganizationMembers.Where(m => m.PublishDetail == (int)ProfessionalLevel.MidLevel && m.DisplayOrder.HasValue).OrderBy(m => m.DisplayOrder.Value))
                        {
                            @Html.Partial("ContactWidget", member)
                        }
                    </div>
                </div>
                <div class="col-md-12 padding0 team-rank-row">
                    <div class="team-rank-label">Operating Professionals</div>
                    <div class="team-members">
                        @foreach (OrganizationMember member in Model.OrganizationMembers.Where(m => m.PublishDetail == (int)ProfessionalLevel.Operating && m.DisplayOrder.HasValue).OrderBy(m => m.DisplayOrder.Value))
                        {
                            @Html.Partial("ContactWidget", member)
                        }
                    </div>
                </div>
                <div class="col-md-12 padding0 team-rank-row">
                    <div class="team-rank-label">Investor Relations Professionals</div>
                    <div class="team-members">
                        @foreach (OrganizationMember member in Model.OrganizationMembers.Where(m => m.PublishDetail == (int)ProfessionalLevel.InvestorRelations && m.DisplayOrder.HasValue).OrderBy(m => m.DisplayOrder.Value))
                        {
                            @Html.Partial("ContactWidget", member)
                        }
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var elem = $('[data-contacts]').last();
                if (elem.find('.team-member').first().length)
                    $(elem).find('.team-rank-row:not(:has(.team-member))').hide();
                else
                    $(elem).hide();
            </script>
        }
    </div>

    @*@if (Model.Organization.PublishLevelID < (byte)GPScout.Domain.Contracts.Enums.OrgPublishLevelType.PublishTrackRecord && !Model.Preview)
    {
        <div>For access to track record information, click the Request Research button @(Common.IsPrint ? "on the site." : "above.") above.</div>
        return;
    }*@

    @if (Model.HasTrackRecordTab)
    {
        <div data-widget-container="team-tab-charts" class="container">
            <div class="headerSubTitle superior">Team Analysis - Exhibits</div>
            <div class="team-analysis">
                <div class="row centered-col">
                    @{
                        <div class="col-md-3">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Attribution", Category = TrackRecordCategory.TeamAttributed, OrganizationViewModel = Model })
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Size", Category = TrackRecordCategory.TeamSize, OrganizationViewModel = Model })
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Other", Category = TrackRecordCategory.TeamOther, OrganizationViewModel = Model })
                        </div>
                    }
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var elem = $('[data-widget-container="team-tab-charts"]').last();
            if ($(elem).find('[data-widget-content]').first().length) $(elem).find('.col-md-3:not(:has([data-widget-content]))').hide();
            else $(elem).hide();
        </script>
    }
</div>

@if (!Common.IsPrint)
{
    foreach (var member in Model.OrganizationMembers)
    {
        <div class="tab-container print-only individual-member" id="@member.Id-container" style="margin-top:30px; margin-bottom:15px;">
            <a href="javascript:void(0);" class="back-to-team-list screen-only">&laquo; Back to @Model.Organization.Name Team</a>
            @Html.Partial("~/Views/OrganizationMember/MemberPartial.cshtml", member)
        </div>
    }
}
