﻿@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Models.ViewModels.Widgets
@model TeamOverviewWidgetViewModel
@{ Layout = null; }
@{
    Fund mostRecentFund = Model.OrganizationViewModel.Organization.MostRecentFund;
    if (mostRecentFund != null)
    {
        <div class="team-row">
            <div class="level">Senior Deal Professionals</div>
            <div class="level-value">&nbsp;@mostRecentFund.PersonnelSeniorProfessionals</div>
        </div>
        <div class="team-row">
            <div class="level">Mid-level Professionals</div>
            <div class="level-value">
                &nbsp;@mostRecentFund.PersonnelMidLevelProfessionals
            </div>
        </div>
        <div class="team-row">
            <div class="level">Junior Professionals</div>
            <div class="level-value">
                &nbsp;@mostRecentFund.PersonnelJuniorLevelProfessionals
            </div>
         </div>

        if (mostRecentFund.PersonnelSourcingProfessionals > 0)
        {
            <div class="team-row">
                <div class="level">Sourcing Professionals</div>
                <div class="level-value">&nbsp;@mostRecentFund.PersonnelSourcingProfessionals.Value</div>
            </div>
                }

                if (!Model.IsOnProfileTab)
                {
                <div class="team-overview-total">
                    <div class="team-row">
                        <div class="level">Total Deal Professionals</div>
                        <div class="level-value">&nbsp;@mostRecentFund.PersonnelTotalDealProfessionals</div>
                     </div> 
                 </div>
        }

        if (mostRecentFund.PersonnelOperatingPartnerProfessionals > 0)
        {
              <div class="team-row">
                <div class="level last">Operating Professionals</div>
                <div class="level-value last">&nbsp;@mostRecentFund.PersonnelOperatingPartnerProfessionals.Value</div>
              </div>
                }

                if (!Model.IsOnProfileTab && mostRecentFund.PersonnelOperatingPartnerProfessionals > 0 && mostRecentFund.PersonnelTotalDealProfessionals > 0)
                {
                <div class="team-overview-total">
                    <div class="team-row">
                        <div class="level">Total Professionals</div>
                        <div class="level-value">&nbsp;@(mostRecentFund.PersonnelTotalDealProfessionals + mostRecentFund.PersonnelOperatingPartnerProfessionals)</div>
                    </div>
                </div>
                }
                }
                }
