﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using System.Text.RegularExpressions
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Common.Data.Models
@{
    Layout = null;
    //var forceCalculation = Model.FundsForTrackRecordsTab.Any();
    var trackRecords = Model.Organization.TrackRecords.ToList();
    Func<string, string> formatID = ViewHelpers.formatID;
    Organization org = Model.Organization;
    var fundsForWidget = (org.Funds != null) ? org.Funds.Where(f => !f.IsOpen) : new Fund[] { };
    FurtherFundMetric[] fundMetricsForFullAnalysis = fundsForWidget.SelectMany(f => f.FurtherFundMetrics)
        .Distinct()
        .Where(fm2 => fm2.SourceAwareAsOf != null && fm2.SourceAwareAsOf == org.GPScoutCurrentRecordDate && !fm2.IsPreqinMostRecentMetric)
        .ToArray();
}
<script type="text/javascript">
    var isPrint = window.location.pathname.indexOf('Print') >= 0;
</script>

@{
    //Fund mostRecentFund = org.MostRecentFund;
    string starmark = null;
    FurtherFundMetric fm = null;
    bool rcpGrossFound = false;

    if (org.Funds != null)
    {
        // if most recent fund data contains metrics that will be not shown in full analysis data then we are going to display most recent fund data
        if (fundsForWidget.Any() && fundsForWidget.Where(f => !fundMetricsForFullAnalysis.Where(fm2 => fm2.FundId == f.Id).Select(fm2 => fm2.SourceAwareAsOf).Contains(f.SourceAwareAsOf)).Any())
        {
            //ViewBag.HideMRFsNotes = fundMetricsForFullAnalysis.Any(); /* In this case notes will appear below full analysis area */
            <div class="headerSubTitle">Most Recent Fund Performance</div>
            <div class="most-recent-fund">
                @Html.Partial("FundHistoryWidget", Model)
            </div>
        }

        if (fundMetricsForFullAnalysis.Any())
        {
            <div class="track-record-header" style="margin-top:30px;">Full Analysis @(org.GPScoutCurrentRecordDate.HasValue ? (" - As Of " + org.GPScoutCurrentRecordDate.Value.ToShortDateString()) : "")</div>
            <div class="section print-kt">
                <div class="section-information">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="print-kt no-border full-analysis">
                        <thead>
                            <tr>
                                @if (!AtlasDiligence.Web.General.Common.IsPrint /*&& !Model.HasPreqinMostRecentMetric*/)
                                {
                                    <th class="analysis-slider"></th>
                                }
                                <th class="fund-label" style="padding-left:0px;">
                                    Fund
                                </th>
                                <th class="center-align" style="width:90px">
                                    Vintage Year
                                </th>
                                <th class="center-align" style="width:70px">
                                    Fund Size
                                </th>
                                <th class="center-align" style="width:90px">
                                    Net IRR
                                </th>
                                <th class="center-align" style="width:90px">
                                    Net IRR Quartile
                                </th>
                                <th class="center-align" style="width:90px">
                                    Net TVPI
                                </th>
                                <th class="center-align" style="width:90px">
                                    Net TVPI Quartile
                                </th>
                                <th class="center-align" style="width:90px">
                                    Net DPI
                                </th>
                                <th class="center-align" style="width:90px">
                                    Net DPI Quartile
                                </th>
                                <th class="center-align">
                                    As Of Date
                                </th>
                                <th class="center-align">
                                    Source
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (FurtherFundMetric fm2 in fundMetricsForFullAnalysis.OrderBy(fm3 => fm3.Fund.SortOrder.GetValueOrDefault(0)).ThenBy(fm3 => fm3.Fund.Name))
                            {
                                fm = fm2;
                                Fund fund = fm.Fund;
                                bool isOpenStatus = fund.IsOpen;
                                rcpGrossFound = rcpGrossFound || fm.IsSourceRCPGross;
                                starmark = fm.IsSourceRCPGross ? " *" : String.Empty;
                                <tr>
                                    @if (!AtlasDiligence.Web.General.Common.IsPrint /*&& !Model.HasPreqinMostRecentMetric*/)
                                    {
                                        <td @Html.Raw(!String.IsNullOrWhiteSpace(fund.AnalysisUrl) ? "class=\"analysis-slider\"" : string.Empty)></td>
                                    }
                                    <td>
                                        @fund.Name
                                    </td>
                                    <td class="center-align">
                                        @fund.VintageYear
                                    </td>
                                    <td class="center-align">
                                        @{ 
                                            HtmlString _strFundSize = AtlasDiligence.Web.General.StringExtensions.Currency(isOpenStatus ? fund.TargetSize : fund.FundSize, fund.Currency, 0);
                                            string strFundSize = _strFundSize.ToHtmlString();
                                            if (!string.IsNullOrWhiteSpace(strFundSize))
                                            {
                                                @Html.Raw(strFundSize)@("M") @Html.Raw(isOpenStatus ? "<span title=\"Target Size\">*</span>" : string.Empty)
                                            }
                                            else
                                            {
                                                <text>N/A</text>
                                            }
                                        }
                                    </td>
                                    <td class="center-align">
                                        @(fm != null ? ViewHelpers.ValueOrNA(fm.SourceAwareIrr, 1, "%" + starmark) : "N/A")
                                    </td>
                                    <td class="center-align">
                                        @(fm != null ? ViewHelpers.ValueOrNA(fm.NetIrrQuartile) : "N/A")
                                    </td>
                                    <td class="center-align">
                                        @(fm != null ? ViewHelpers.ValueOrNA(fm.SourceAwareTvpi, 2, "x" + starmark) : "N/A")
                                    </td>
                                    <td class="center-align">
                                        @(fm != null ? ViewHelpers.ValueOrNA(fm.TVPIQuartile) : "N/A")
                                    </td>
                                    <td class="center-align">
                                        @(fm != null ? ViewHelpers.ValueOrNA(fm.SourceAwareDpi, 2, "x" + starmark) : "N/A")
                                    </td>
                                    <td class="center-align">
                                        @(fm != null ? ViewHelpers.ValueOrNA(fm.DPIQuartile) : "N/A")
                                    </td>
                                    <td class="center-align">
                                        @(fm != null ? ViewHelpers.ShortDateOrNA(fm.SourceAwareAsOf) : "N/A")
                                    </td>
                                    <td class="center-align">
                                        @(fm != null ? ViewHelpers.ValueOrNA(fm.DisplaySource) : "N/A")
                                    </td>
                                </tr>
                                @*if (!AtlasDiligence.Web.General.Common.IsPrint)
                                {
                                    @ViewHelpers.DisplayFundImg(fund, 11);
                                }*@
                                @ViewHelpers.DisplayFundImg(fund, 11);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        if (fm != null)
        {
            <div class="tab-description small-text">Quartiles are based on Preqin benchmarks. &copy; @DateTime.Now.Year Preqin Ltd.</div>

            if (rcpGrossFound)
            {
                <div class="tab-description small-text"><em>* Returns are presented on a gross basis as net returns are unavailable for this vehicle.</em></div>
            }
        }
    }
}


<div data-widget-wrapper="tr-charts" class="track-record-tab">
    <div class="headerSubTitle superior" style="margin-top:30px;">Track Record Analysis - Exhibits</div>
    <div>
        <div class="track-record">
            <div class="row centered-col">
                @{
                    <div class="col-md-3">
                        <div data-tr-chart>
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Risk / Return", Category = TrackRecordCategory.TrackRisk, OrganizationViewModel = Model })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div data-tr-chart>
                            <i class="fa fa-area-chart" aria-hidden="true"></i>
                            @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Benchmarking", Category = TrackRecordCategory.TrackBenchmark, OrganizationViewModel = Model })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div data-tr-chart>
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Operating Metrics", Category = TrackRecordCategory.TrackMetric, OrganizationViewModel = Model })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div data-tr-chart>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Other", Category = TrackRecordCategory.TrackOther, OrganizationViewModel = Model })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div data-tr-chart>
                            <i class="fa fa-money" aria-hidden="true"></i>
                            @Html.Partial("TrackRecordGroup", new TrackRecordGroupViewModel() { GroupTitle = "Investment Pace", Category = TrackRecordCategory.TrackPace, OrganizationViewModel = Model })
                        </div>
                    </div>
                            }
                        </div>
    </div>
</div>
    <script type="text/javascript">
        var elem = $('[data-widget-wrapper="tr-charts"]').last();
        if ($(elem).find('[data-widget-content]').first().length) {
            $(elem).find('[data-tr-chart]').not(':has([data-widget-content])').hide();
            $(elem).find('.col-md-3').not(':has([data-widget-content])').hide();
        }
        else $(elem).hide();
    </script>
</div>


