﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using System.Text.RegularExpressions
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.General
@{
    Layout = null;
    var funds = Model.FundsForTrackRecordsTab;
    var trackRecords = Model.Organization.TrackRecords.ToList();
    var openFundStatuses = new[] { "Open", "Pre-Marketing" };
    Func<string, string> formatID = ViewHelpers.formatID;
}
<div class="content one-col">
    @if (funds.Any())
            {
        <div class="section">
            @if (Model.HasPreqinMostRecentMetric)
            {
                <div style="color:red;font-weight:bold">
                    @if (!Model.HasRCPPriorMetric)
                    {
                        @*<text>Note: The performance information in the analyses below may have a different as of date from the performance above which is sourced from Preqin.</text>*@
                    }
                    else
                    {
                        <text>Note: The performance information provided below is sourced from Preqin. For detailed track record analyses based on return information provided to RCP by the general partner, switch to Fund Detail View above. These track record analyses may have a different as of date from the Preqin data below.</text>
                    }
                </div>
            }
            <div class="section-title">
                <h2 style="float: left;">Fund Level Analysis</h2>
                <div class="clear"></div>
            </div>
            @{ Html.RenderPartial("TrackRecord_FundPerformanceViewInner", Model); }
            <script>common.makeQtipNowGeneral('[title]', 'performance-view-tooltip', '[data-performance-view-grid]')</script>
            @*<div class="section-information">
                <table>
                    <thead>
                        <tr>
                            @if (!Common.IsPrint && !Model.HasPreqinMostRecentMetric)
                            {
                                <th class="analysis-slider"></th>
                            }
                            <th>Fund </th>
                            <th style="text-align: center">Vintage Year</th>
                            <th style="text-align: center">Fund Size</th>
                            <th style="text-align: center">DPI </th>
                            <th style="text-align: center">TVPI </th>
                            <th style="text-align: center">Net IRR </th>
                            <th style="text-align: center">As Of </th>

                            <th style="text-align: center">DPI Quartile </th>
                            <th style="text-align: center">TVPI Quartile </th>
                            <th style="text-align: center">Net IRR Quartile </th>

                            <th style="text-align: center">Source </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Fund _fund in funds)
                        {
                            Fund fund = null;
                            if (Model.HasPreqinMostRecentMetric && !_fund.IsPreqinMostRecentMetric)
                            {
                                fund = Model.GetFundWithAvailablePreqinData(_fund);
                            }
                            else if (!Model.HasPreqinMostRecentMetric && _fund.IsPreqinMostRecentMetric)
                            {
                                fund = Model.GetFundWithAvailableRCPData(_fund);
                            }
                            else
                            {
                                fund = _fund;
                            }
                            if (fund != null)
                            {
                                var isOpenStatus = openFundStatuses.Contains(fund.Status);
                                <tr>
                                    @if (!Common.IsPrint && !Model.HasPreqinMostRecentMetric)
                                                {
                                        <td @Html.Raw(!String.IsNullOrWhiteSpace(fund.AnalysisUrl) ? "class=\"analysis-slider\"" : string.Empty)></td>
                                                }
                                    <td class="no-wrap">
                                        @fund.Name
                                    </td>
                                    <td style="text-align: center">
                                        @fund.VintageYear
                                    </td>
                                    <td style="text-align: right">
                                        @AtlasDiligence.Web.General.StringExtensions.Currency(isOpenStatus ? fund.TargetSize : fund.FundSize, fund.Currency, 0)@Html.Raw(isOpenStatus ? "<span title=\"Target Size\">*</span>" : string.Empty)
                                    </td>
                                    @if (!Model.HasPreqinMostRecentMetric || (Model.HasPreqinMostRecentMetric && (_fund.IsPreqinMostRecentMetric || fund.HasPreqinMetric.GetValueOrDefault())))
                                    {
                                    <td style="text-align: center">
                                        @(fund.SourceAwareDpi.HasValue ? fund.SourceAwareDpi.Value.ToString("0.00") + "x" : string.Empty)
                                    </td>
                                    <td style="text-align: center">
                                        @(fund.SourceAwareTvpi.HasValue ? fund.SourceAwareTvpi.Value.ToString("0.00") + "x" : string.Empty)
                                    </td>
                                    <td style="text-align: center">
                                        @(fund.SourceAwareIrr.HasValue ? fund.SourceAwareIrr.Value.ToString("0.0") + "%" : string.Empty)
                                    </td>
                                    <td style="text-align: center">
                                        @(fund.SourceAwareAsOf.HasValue ? fund.SourceAwareAsOf.Value.ToShortDateString() : string.Empty)
                                    </td>

                                    <td style="text-align: center">
                                        @fund.DPIQuartile
                                    </td>
                                    <td style="text-align: center">
                                        @fund.TVPIQuartile
                                    </td>
                                    <td style="text-align: center">
                                        @fund.NetIrrQuartile
                                    </td>
                                    <td style="text-align: center">
                                        @(fund.Source)
                                    </td>
                                    }
                                    else
                                    {
                                        <td colspan="10" style="text-align: center">
                                            Preqin performance data is not available for this fund
                                        </td>
                                    }
                                </tr>
                                if (!Common.IsPrint)
                                {
                                    @ViewHelpers.DisplayFundImg(fund, 12);
                                }
                            }
                        }
                    </tbody>
                </table>
                <em class="note">Quartiles are based on Preqin benchmarks.</em>
            </div>*@
            @if (Common.IsPrint && !Model.HasPreqinMostRecentMetric && !Model.IsFundDetailViewTabAccessible)
                {
                <div class="section-information">
                    @foreach (var fund in funds)
                    {
                        <div style="padding-top:20px">@fund.Name</div>
                        if (fund.AsOf.HasValue)
                        {
                            <div>Data as of @fund.AsOf.Value.ToString("M/d/yyyy")</div>
                        }
                        @ViewHelpers.DisplayFundImg(fund, 12)
                    }
                </div>
            }
        </div>
    }
    @if (trackRecords.Any() && (!Model.HasPreqinMostRecentMetric || !Model.HasRCPPriorMetric) && (!Common.IsPrint || (Common.IsPrint && !Model.IsFundDetailViewTabAccessible) ))
            {
                    <div class="page-break"></div>
                    <div style="clear:both"></div>
                    <div class="section">
                        @if (Model.HasPreqinMostRecentMetric)
                        {
                            <div style="color:red;font-weight:bold">
                                @if (!Model.HasRCPPriorMetric)
                                {
                                    <text>Note: The performance information in the analyses below may have a different as of date from the performance above which is sourced from Preqin.</text>
                                }
                                else
                                {
                                    @*<text>Note: The performance information provided below is sourced from Preqin. For detailed track record analyses based on return information provided to RCP by the general partner, switch to Fund Detail View above. These track record analyses may have a different as of date from the Preqin data above.</text>*@
                                }
                            </div>
                        }
                        <div class="section-title">
                            <h2>Track Record Analysis</h2>
                        </div>
                        <div id="track-record-tab" class="section-information group nested-tabs">
                            @if (!Common.IsPrint)
                            {
                            <ul>
                                @foreach (var record in Model.Organization.TrackRecords.OrderBy(m => m.Order))
                                    {
                                    <li><a href="#@formatID(record.Title)">@record.Title</a></li>
                                    }
                            </ul>
                            }
                            @{
                                bool isFirst = true;
                                foreach (var record in Model.Organization.TrackRecords.OrderBy(m => m.Order))
                                {
                                    if (!isFirst)
                                    {
                            <div class="page-break"></div>
                                    }
                            @*<table width="100%" cellpadding="0" cellspacing="0" border="0" class="print-kt-trec no-border">
                                <tr class="print-kt"><td class="print-kt">
                                <div id="@formatID(record.Title)" class="track-record print-kt">
                                    <h3 class="print-only">@record.Title</h3>
                                    <div class="record-analysis">
                                        @if (!String.IsNullOrWhiteSpace(record.FileUrl))
                                        {
                                            <figure>
                                                <figcaption>@Html.Raw(record.Description.NewlineToBreak())
                                                </figcaption>
                                                <img src="@record.FileUrl" alt="Graph Analysis"/>
                                            </figure>
                                        }
                                    </div>
                                </div>
                                </td></tr></table>*@
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="no-border print-kt-trec">
                                <tr>
                                    <td>
                                        <div id="@formatID(record.Title)" class="track-record">
                                            <h3 class="print-only @(isFirst?"":"tr-title")">@record.Title</h3>
                                            @if (isFirst)
                                                    {
                                                        isFirst = false;
                                                    }
                                            <div class="record-analysis">
                                                @if (!String.IsNullOrWhiteSpace(record.FileUrl))
                                                        {
                                                            var fileUrl = (!(record.FileUrl.Contains("http://") || record.FileUrl.Contains("https://")) ? "http://" + record.FileUrl : record.FileUrl);
                                                        <figure>
                                                            <figcaption>
                                                                @Html.Raw(record.Description.NewlineToBreak())
                                                            </figcaption>
                                                            <img src="@fileUrl" alt="Graph Analysis" />
                                                        </figure>
                                                        }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                                }
                            }
                        </div>
                    </div>
           }
</div>