﻿@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Models.ViewModels
@using AtlasDiligence.Web.Models.ViewModels.Widgets
@model TrackRecordGroupViewModel
@{Layout = null;}

@{
    Organization org = Model.OrganizationViewModel.Organization;
    var trackRecords = org.TrackRecords.Where(tr => tr.PublishDetail == (int)Model.Category).OrderBy(tr => tr.Order);
    if (trackRecords.Any())
    {
        @*<div><img src="images/@Model.GroupIconImageUrl" /></div>*@
        @*<div class="headerSubTitle">@(Model.GroupTitle ?? Model.Category.ToString())</div>*@
        <div data-widget-content>
            @for (int i = 0; i < trackRecords.Count(); i++)
                {
                    var tr = trackRecords.ElementAt(i);
                @Html.Partial("ChartWidget", new ChartWidgetViewModel() { Title = tr.Title, ContentUrl = tr.FileUrl, Description = tr.Description, GroupTitle = (i == 0) ? (Model.GroupTitle ?? Model.Category.ToString()) : null })
            }
        </div>
    }
}