﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using System.Text.RegularExpressions
@using AtlasDiligence.Web.General
@using AtlasDiligence.Common.Data.Models
@{
    Layout = null;
    var funds = Model.FundsForTrackRecordsTab.ToArray();
    var trackRecords = Model.Organization.TrackRecords.ToList();
    var openFundStatuses = new[] { "Open", "Pre-Marketing" };
    Func<string, string> formatID = ViewHelpers.formatID;
}
<div class="content one-col">
    @if ((!Model.HasPreqinMostRecentMetric || Model.HasRCPPriorMetric) && funds.Any())
            {
        <div class="section">
            @if (Model.HasPreqinMostRecentMetric && Model.HasRCPPriorMetric)
            {
                <div style="color:red; font-weight:bold">
                    Note: Performance below may have a different as of date from the Fund Performance View information.
                </div>
            }
            <div class="section-title">
                <h2 style="float: left;">Fund Level Analysis</h2>
                <div class="clear"></div>
            </div>
            <div class="section-information">
                <table>
                    <thead>
                        <tr>
                            @if (!Common.IsPrint)
                            {
                                <th class="analysis-slider"></th>
                            }
                            <th>Fund </th>
                            <th style="text-align: center">Vintage Year</th>
                            <th style="text-align: center">Fund Size</th>
                            <th style="text-align: center">Invested Capital (mm) </th>
                            <th style="text-align: center">Realized Value (mm) </th>
                            <th style="text-align: center">Unrealized Value (mm) </th>
                            <th style="text-align: center">Total Value (mm) </th>
                            <th style="text-align: center">MOIC </th>
                            <th style="text-align: center">Gross IRR </th>
                            <th style="text-align: center">DPI </th>
                            <th style="text-align: center">TVPI </th>
                            <th style="text-align: center">Net IRR </th>
                            <th style="text-align: center">As Of </th>
                            <th style="text-align: center">Source </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Fund _fund in funds)
                        {
                            AtlasDiligence.Common.Data.Models.Fund fund;
                            if (Model.HasPreqinMostRecentMetric && /*Model.HasRCPPriorMetric*/ _fund.IsPreqinMostRecentMetric)
                            {
                                fund = Model.GetFundWithAvailableRCPData(_fund);
                            } else
                            {
                                fund = _fund;
                            }
                            if (fund != null)
                            {
                                var isOpenStatus = openFundStatuses.Contains(fund.Status);
                            <tr>
                                @if (!Common.IsPrint)
                                {
                                    <td @Html.Raw(!String.IsNullOrWhiteSpace(fund.AnalysisUrl) ? "class=\"analysis-slider\"" : string.Empty)></td>
                                }
                                <td class="no-wrap">
                                    @fund.Name
                                </td>
                                <td style="text-align: center">
                                    @fund.VintageYear
                                </td>
                                <td style="text-align: right">
                                    @AtlasDiligence.Web.General.StringExtensions.Currency(isOpenStatus ? fund.TargetSize : fund.FundSize, fund.Currency, 0)@Html.Raw(isOpenStatus ? "<span title=\"Target Size\">*</span>" : string.Empty)
                                </td>
                                <td style="text-align: right">
                                    @AtlasDiligence.Web.General.StringExtensions.Currency(fund.InvestedCapital, fund.Currency, 1, "#,#.")
                                </td>
                                <td style="text-align: right">
                                    @AtlasDiligence.Web.General.StringExtensions.Currency(fund.RealizedValue, fund.Currency, 1, "#,#.")
                                </td>
                                <td style="text-align: right">
                                    @AtlasDiligence.Web.General.StringExtensions.Currency(fund.UnrealizedValue, fund.Currency, 1, "#,#.")
                                </td>
                                <td style="text-align: right">
                                    @AtlasDiligence.Web.General.StringExtensions.Currency(fund.TotalValue, fund.Currency, 1, "#,#.")
                                </td>
                                <td style="text-align: center">
                                    @(fund.Moic.HasValue ? fund.Moic.Value.ToString("0.00") + "x" : string.Empty)
                                </td>
                                <td style="text-align: center">
                                    @(fund.GrossIrr.HasValue ? fund.GrossIrr.Value.ToString("0.0") + "%" : string.Empty)
                                </td>
                                <td style="text-align: center">
                                    @(fund.Dpi.HasValue ? fund.Dpi.Value.ToString("0.00") + "x" : string.Empty)
                                </td>
                                <td style="text-align: center">
                                    @(fund.Tvpi.HasValue ? fund.Tvpi.Value.ToString("0.00") + "x" : string.Empty)
                                </td>
                                <td style="text-align: center">
                                    @(fund.Irr.HasValue ? fund.Irr.Value.ToString("0.0") + "%" : string.Empty)
                                </td>
                                <td style="text-align: center">
                                    @(fund.AsOf.HasValue ? fund.AsOf.Value.ToShortDateString() : string.Empty)
                                </td>
                                <td style="text-align: center">
                                    @(fund.DisplaySource)
                                </td>
                            </tr>

                            if (!Common.IsPrint)
                                { 
                                    @ViewHelpers.DisplayFundImg(fund, 15);
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            @if (Common.IsPrint)
                {
                <div class="section-information">
                    @foreach (var fund in funds)
                    {
                        <div style="padding-top:20px">@fund.Name</div>
                        if (fund.AsOf.HasValue)
                        {
                            <div>Data as of @fund.AsOf.Value.ToString("M/d/yyyy")</div>
                        }
                        @ViewHelpers.DisplayFundImg(fund, 15)
                    }
                </div>
            }
        </div>
    }
    @if (trackRecords.Any())
            {
        <div class="page-break"></div>
                    <div class="section">
                        <div class="section-title">
                            <h2>Track Record Analysis</h2>
                        </div>
                        <div id="track-record-tab2" class="section-information group nested-tabs">
                            @if (!Common.IsPrint)
                            {
                                <ul>
                                    @foreach (var record in Model.Organization.TrackRecords.OrderBy(m => m.Order))
                                    {
                                        <li><a href="#@formatID(record.Title)">@record.Title</a></li>
                                    }
                                </ul>
                            }
                            @{
                                bool isFirst = true;
                                foreach (var record in Model.Organization.TrackRecords.OrderBy(m => m.Order))
                                {
                                    if (!isFirst)
                                    {
                                        <div class="page-break"></div>
                                    }
                                    @*<table width="100%" cellpadding="0" cellspacing="0" border="0" class="print-kt-trec no-border">
                                        <tr class="print-kt"><td class="print-kt">
                                        <div id="@formatID(record.Title)" class="track-record print-kt">
                                            <h3 class="print-only">@record.Title</h3>
                                            <div class="record-analysis">
                                                @if (!String.IsNullOrWhiteSpace(record.FileUrl))
                                                {
                                                    <figure>
                                                        <figcaption>@Html.Raw(record.Description.NewlineToBreak())
                                                        </figcaption>
                                                        <img src="@record.FileUrl" alt="Graph Analysis"/>
                                                    </figure>
                                                }
                                            </div>
                                        </div>
                                        </td></tr></table>*@
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="no-border print-kt-trec">
                                        <tr>
                                            <td>
                                                <div id="@formatID(record.Title)" class="track-record">
                                                    <h3 class="print-only @(isFirst?"":"tr-title")">@record.Title</h3>
                                                    @if (isFirst)
                                                    {
                                                        isFirst = false;
                                                    }
                                                    <div class="record-analysis">
                                                        @if (!String.IsNullOrWhiteSpace(record.FileUrl))
                                                        {
                                                            var fileUrl = (!(record.FileUrl.Contains("http://") || record.FileUrl.Contains("https://")) ? "http://" + record.FileUrl : record.FileUrl);
                                                            <figure>
                                                                <figcaption>
                                                                    @Html.Raw(record.Description.NewlineToBreak())
                                                                </figcaption>
                                                                <img src="@fileUrl" alt="Graph Analysis" />
                                                            </figure>
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                }
                            }
                        </div>
                    </div>
                                }
</div>