﻿@model AtlasDiligence.Web.Models.ViewModels.Segment.SegmentViewModel
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Helpers.Yui;
@using AtlasDiligence.Web.CommonCode.Extensions
@{
    ViewBag.Title = "Edit Segment: " + Model.SegmentOptions.Name;
    ViewBag.BodyId = "segment-index";
    ViewBag.BodyClass = "section-administration";
}
<div class="wrapper view-segment">
    @Html.Partial("Update", Model)
    <div class="clear">
    </div>
</div>
