﻿@using AtlasDiligence.Web.Models.ViewModels.Segment
@using AtlanticBT.Common.Web.Mvc.Helpers
@model SegmentOptionsViewModel
@{
    ViewBag.Title = "Segment";
    Layout = null;
}
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.ReturnRoute)

<div class="breadcrumb">
    <a href="@Url.Action("Index", "Admin")">Administration</a> &raquo; <a href="@Url.Action("Index", "Admin", new { lt=2 })">Segments</a>
</div>

<div class="create-segment">
	<div class="fieldset">
		<fieldset>
			<legend><span>Create Segment</span></legend>
			
			<div class="field-wrap">
				<div class="field">
				    @Html.ValidationMessageFor(m => m.Name)
				    @Html.LabelFor(m => m.Name)
				    @Html.TextBoxFor(m => m.Name)
				</div>
			    <div class="field">
			        @Html.ValidationMessageFor(m => m.SelectedStrategies)
			        @Html.LabelFor(m => m.SelectedStrategies)
			        @Html.ListBoxFor(m => m.SelectedStrategies, Model.Strategies.ToDictionary(x => (object)x, x => x), new { @class = "multiselect" })
			    </div>
			    <div class="field">
			        @Html.ValidationMessageFor(m => m.SelectedMarketStages)
			        @Html.LabelFor(m => m.SelectedMarketStages)
			        @Html.ListBoxFor(m => m.SelectedMarketStages, Model.MarketStages.ToDictionary(x => (object)x, x => x), new { @class = "multiselect" })
			    </div>
			    <div class="field">
			        @Html.ValidationMessageFor(m => m.SelectedInvestmentRegions)
			        @Html.LabelFor(m => m.SelectedInvestmentRegions)
			        @Html.ListBoxFor(m => m.SelectedInvestmentRegions, Model.InvestmentRegions.ToDictionary(x => (object)x, x => x), new { @class = "multiselect" })
			    </div>
			    <div class="field">
			        @Html.ValidationMessageFor(m => m.SelectedCountries)
			        @Html.LabelFor(m => m.SelectedCountries)
			        @Html.ListBoxFor(m => m.SelectedCountries, Model.Countries.ToDictionary(x => (object)x, x => x), new { @class = "multiselect" })
			    </div>
			</div>
		</fieldset>
	</div>
	
	<div class="buttons">
	    <input type="submit" class="submit" value="Save" />
	</div>
</div>