﻿@model AtlasDiligence.Web.Models.ViewModels.Account.LogOnViewModel
<div id="members-form">
    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
    @using (Html.BeginForm("LogOn", "Account"))
    {
        <div class="login">
            <div class="form-left">
	            <div class="field username">
	                @Html.LabelFor(m => m.UserName)
	                @Html.TextBoxFor(m => m.UserName)
	                @Html.ValidationMessageFor(m => m.UserName)
	            </div>
	            <div class="field password">
	                @Html.LabelFor(m => m.Password)
	                @Html.PasswordFor(m => m.Password)
	                @Html.ValidationMessageFor(m => m.Password)
	            </div>
	            <div class="field login-links">
		            <div class="rememberme">
		                @Html.CheckBoxFor(m => m.RememberMe)
		                @Html.LabelFor(m => m.RememberMe)
		            </div>
		            <div id="forgot-password">
		                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
		            </div>
	            </div>
            </div>
            <div class="form-right">
	            <div class="buttons">
	                <input id="members-submit" class="submit" name="submit" type="submit" value="Log On" />
	            </div>
            </div>
        </div>
    }
</div>
