﻿@model AtlasDiligence.Web.Models.ViewModels.Account.RequestAccessViewModel
<div id="request-access-inner">
    <div id="request-access-form">
        @Html.ValidationSummary(true, "Please correct the errors and try again.")
        @using (Html.BeginForm("RequestAccess", "Account"))
        {
            <div class="request-access">
                <div class="field">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="buttons">
                    <button id="request-access-submit" class="submit">
                        Request Access</button>
                    <div class="ajax-loader" style="display: none;"></div>
                </div>
            </div>
        }
    </div>
</div>
