﻿@model AtlasDiligence.Web.Models.ViewModels.Account.CollectInfoViewModel
@using AtlanticBT.Common.Web.Mvc
@using AtlanticBT.Common.Web.Mvc.Helpers
@{
    ViewBag.Title = "Collect Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    User Information</h2>
@if (Model != null)
{
    @Html.ValidationSummary("Please correct the errors below.")
using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="collect-info">
        <div class="field">
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.OrganizationName)
            @Html.TextBoxFor(m => m.OrganizationName)
            @Html.ValidationMessageFor(m => m.OrganizationName)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.OrganizationType)
            @Html.EnumDropDownListFor(m => m.OrganizationType, new { @class = "select" }, "Select One", true)
            @Html.ValidationMessageFor(m => m.OrganizationType)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.ReferredBy)
            @Html.TextBoxFor(m => m.ReferredBy)
            @Html.ValidationMessageFor(m => m.ReferredBy)
        </div>
        <div class="buttons">
            <input id="submit" class="submit" type="submit" value="Submit" />
        </div>
    </div>
}
}
else
{
    <p class="alert">
        An error has occurred.</p>
    }
