﻿@model AtlasDiligence.Web.Models.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewBag.Title = "Log On";
}

@Html.ValidationSummary()

@using (Html.BeginForm())
{

    <div class="content" id="content">
        <h2>
            Please enter your e-mail address and hit submit to generate a new password</h2>
        <div class="forgot-password-form form-wrap">
            <div class="fieldset">
                <fieldset>
                    <legend><span class="access">Forgot Password</span></legend>
                    <div class="field">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="buttons">
                        <input type="submit" value="Submit" class="submit" />
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
}