﻿@model AtlasDiligence.Web.Models.ViewModels.Account.LogOnViewModel
@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
	<h3>Members Area</h3>
<div id="login-form">
	<p class="alert">@TempData["Message"]</p>
	@{ Html.RenderPartial("_LogOnForm", Model); }
</div>