﻿@model AtlasDiligence.Web.Models.ViewModels.BarGraphViewModel
@{
    Layout = null;
    var clientId = String.IsNullOrWhiteSpace(Model.HtmlId) ? "visualization" : Model.HtmlId;
    var width = !Model.Width.HasValue ? 480 : Model.Width;
    var height = !Model.Height.HasValue ? 300 : Model.Height;
    var paddingTop = !Model.PaddingTop.HasValue ? 0 : Model.PaddingTop.Value;
    var paddingRight = !Model.PaddingRight.HasValue ? 0 : Model.PaddingRight.Value;
    var paddingBottom = !Model.PaddingBottom.HasValue ? 0 : Model.PaddingBottom.Value;
    var paddingLeft = !Model.PaddingLeft.HasValue ? 60 : Model.PaddingLeft.Value;
    var chartAreaWidth = width - paddingLeft - paddingRight;
    var chartAreaHeight = height - paddingBottom - paddingTop;
}
<div class="bar-container">
    <h2 class="chart-title">@Model.GraphTitle</h2>
    <div id="@clientId" style="width: @(width)px; height: @(height)px;">
    </div>
    <div class="x-label-container">
        <span class="x-labels label-poor">Poor</span> <span class="x-labels label-weak">Weak</span> <span class="x-labels label-standard">Standard</span> <span class="x-labels label-strong">Strong</span> <span class="x-labels label-exceptional">Exceptional</span></div>
</div>
<script type="text/javascript">
    function draw@(clientId)Visualization() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
                ['Organization', 'Score'],
                ['Best', @Model.BestScore],
                ['This Firm', @Model.OrganizationScore],
                ['Median', @Model.MedianScore],
                ['Worst', @Model.WorstScore]
            ]);

        // Create and draw the visualization.
        new google.visualization.BarChart(document.getElementById('@clientId')).
            draw(data,
                {
                    enableInteractivity: false,
                    legend: 'none',
                    curveType: "function",
                    fontName: "Calibri",
                    chartArea: {
                         left: @paddingLeft, 
                         top: @paddingTop, 
                         height: @chartAreaHeight, 
                         width: @chartAreaWidth
                    },
                    width: @(width),
                    height: @(height),
                    hAxis: {
                        minValue: 0,
                        maxValue: 100,
                        gridlines: { count: 11 },
                        minorGridlines: { count: 4 },
                        textPosition: 'none',
                        titleTextStyle: {
                        	fontName: 'Calibri',
                        	italic: false
                        }
                    }
                });
        // change gridline color
        
        $('#@clientId svg > g:first > g:first > g:first rect:eq(1)').attr('fill', '#000000');
        $('#@clientId svg > g:first > g:first > g:first rect:eq(3)').attr('fill', '#000000');
        $('#@clientId svg > g:first > g:first > g:first rect:eq(5)').attr('fill', '#000000');
        $('#@clientId svg > g:first > g:first > g:first rect:eq(7)').attr('fill', '#000000');
        $('#@clientId svg > g:first > g:first > g:first rect:eq(9)').attr('fill', '#000000');

        // change bar color
        $('#@clientId svg > g:first > g:first > g:eq(1) rect:eq(0)').attr('fill', '#71a7e0');
        $('#@clientId svg > g:first > g:first > g:eq(1) rect:eq(1)').attr('fill', '#a5c24f');
        $('#@clientId svg > g:first > g:first > g:eq(1) rect:eq(2)').attr('fill', '#fcd06d');
        $('#@clientId svg > g:first > g:first > g:eq(1) rect:eq(3)').attr('fill', '#fa8754');

        $('#@clientId svg > g:first > g:last > g:eq(1) text').attr('font-weight', 'bold');
        
        var xStart = @paddingLeft;
        var xStep = @chartAreaWidth / 10;
        $('#@(clientId)').siblings('.x-label-container').find('.x-labels').each(function() {
            var $this = $(this);
            $this.css('top', @(-height+paddingTop) - $this.height() + 'px');
            if($this.hasClass('label-poor')) {
                $this.css('left', xStart + (xStep * 2) - ($this.width() / 2) + 'px');
            } else if($this.hasClass('label-weak')) {
                $this.css('left', xStart + (xStep * 4) - ($this.width() / 2) + 'px');
            } else if($this.hasClass('label-standard')) {
                $this.css('left', xStart + (xStep * 6) - ($this.width() / 2) + 'px');
            }else if($this.hasClass('label-strong')) {
                $this.css('left', xStart + (xStep * 8) - ($this.width() / 2) + 'px');
            }else if($this.hasClass('label-exceptional')) {
                $this.css('left', xStart + (xStep * 9) + 'px');
            }
        });
    }

    if(window.location.pathname.indexOf('Print') >= 0)
    {
        google.setOnLoadCallback(draw@(clientId)Visualization);    
    } 
    else
    {
        draw@(clientId)Visualization();
    }
</script>
