﻿@using AtlasDiligence.Common.DTO.Model
@model AtlasDiligence.Web.Models.ViewModels.DistributionChartViewModel
@{
    Layout = null;
    var clientId = String.IsNullOrWhiteSpace(Model.HtmlId) ? "distributionVisualization" : Model.HtmlId;
    var allOrganizations = Model.OtherOrganizations.Where(m => Model.IsQuality ? m.Quality.HasValue : m.Quantity.HasValue && m.Quantity.Value > 10).OrderBy(m => Model.IsQuality ? m.Quality : m.Quantity).ToList();
    var count = allOrganizations.Count();

    var width = !Model.Width.HasValue ? 500 : Model.Width.Value;
    var height = !Model.Height.HasValue ? 300 : Model.Height.Value;

    var paddingTop = !Model.PaddingTop.HasValue ? 0 : Model.PaddingTop.Value;
    var paddingRight = !Model.PaddingRight.HasValue ? 0 : Model.PaddingRight.Value;
    var paddingBottom = !Model.PaddingBottom.HasValue ? 0 : Model.PaddingBottom.Value;
    var paddingLeft = !Model.PaddingLeft.HasValue ? 0 : Model.PaddingLeft.Value;
    var chartAreaWidth = width - paddingLeft - paddingRight;
    var chartAreaHeight = height - paddingBottom - paddingTop;
}
<div class="distribution-container">
    <h2 class="chart-title">@Model.ChartTitle</h2>
    <div id="@clientId" style="width: @(width)px; height: @(height)px;">
    </div>
    <div class="x-label-container">
        <span class="x-labels label-poor">Poor</span> <span class="x-labels label-weak">Weak</span> <span class="x-labels label-standard">Standard</span> <span class="x-labels label-strong">Strong</span> <span class="x-labels label-exceptional">Exceptional</span>
    </div>
</div>
<script type="text/javascript">
    function draw@(clientId)Visualization() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'x');
        data.addColumn('number', 'score');
        data.addColumn({ type: 'string', role: 'tooltip' });
        data.addColumn({ type: 'number', role: 'emphasis' });
        data.addRows([
                @for (var i = 0; i < count; i++)
                {
                    var organization = allOrganizations[i];
                    var xValue = Model.IsQuality ? organization.Quality : organization.Quantity;
                    var yValue = Convert.ToDouble(i) / count;
                    @:[@(xValue), @(yValue), '@Html.Raw(organization.Name.Replace("'", "\\'"))', @(organization.Id == Model.OrganizationId ? "10" : "null")]@(i < count - 1 ? "," : string.Empty)
                }]);

        // Create and draw the visualization.
        new google.visualization.ScatterChart(document.getElementById('@(clientId)')).
                draw(data,
                    {
                        width: @(width),
                        height: @(height),
                        legend: 'none',
                        fontName: "Calibri",
                        chartArea: {
                            left: @paddingLeft, 
                            top: @paddingTop, 
                            height: @chartAreaHeight,
                            width: @chartAreaWidth 
                        },
                        //colors: ['#71a7e0','#a5c24f','#fcd06d', '#fa8754'],
                        curveType: 'function',
                        lineWidth: 1,
                        pointSize: 1,
                        hAxis: {
                            minValue: 0,
                            maxValue: 100,
                            gridlines: { count: 11, color: '#CCC' },
                            textPosition: 'none',
                            titleTextStyle: {
                            	fontName: 'Calibri',
                            	italic: false
                            }
                        },
                        vAxis: {
                            minValue: 0,
                            maxValue: 1,
                            gridlines: { count: 11, color: '#CCC' },
                            minorGridlines: { count: 4 },
                            format: '#%',
                            titleTextStyle: {
                            	fontName: 'Calibri',
                            	italic: false
                            }
                        }
                    }
                );
        $('#@(clientId) svg > g:first > g:first > g:first rect:eq(1)').attr('fill', '#000000');
        $('#@(clientId) svg > g:first > g:first > g:first rect:eq(3)').attr('fill', '#000000');
        $('#@(clientId) svg > g:first > g:first > g:first rect:eq(5)').attr('fill', '#000000');
        $('#@(clientId) svg > g:first > g:first > g:first rect:eq(7)').attr('fill', '#000000');
        $('#@(clientId) svg > g:first > g:first > g:first rect:eq(9)').attr('fill', '#000000');
        var xStart = @paddingLeft;
        var xStep = @chartAreaWidth / 10;
                $('#@(clientId)').siblings('.x-label-container').find('.x-labels').each(function() {
            var $this = $(this);
            $this.css('top', @(-height+paddingTop) - $this.height() + 'px');
            if($this.hasClass('label-poor')) {
                $this.css('left', xStart + (xStep * 2) - ($this.width() / 2) + 'px');
            } else if($this.hasClass('label-weak')) {
                $this.css('left', xStart + (xStep * 4) - ($this.width() / 2) + 'px');
            } else if($this.hasClass('label-standard')) {
                $this.css('left', xStart + (xStep * 6) - ($this.width() / 2) + 'px');
            }else if($this.hasClass('label-strong')) {
                $this.css('left', xStart + (xStep * 8) - ($this.width() / 2) + 'px');
            }else if($this.hasClass('label-exceptional')) {
                $this.css('left', xStart + (xStep * 9) + 'px');
            }
        });
    }
    
    if(window.location.pathname.indexOf('Print') >= 0)
    {
        google.setOnLoadCallback(draw@(clientId)Visualization);    
    } 
    else
    {
        draw@(clientId)Visualization();
    }
</script>
