﻿@using AtlasDiligence.Common.Data.General
@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@{
    ViewBag.Title = Model.Organization.Name;
}
@helper AddIcon(string value, string htmlClass, string htmlTitle)
    {
        if (!string.IsNullOrWhiteSpace(value))
        {
    <div class="@htmlClass" title="@htmlTitle">@value</div>
        }
}
<script type="text/javascript">
    $(function () {
        $('.no-data').find('a').click(function (event) {
            event.stopImmediatePropagation();
            event.preventDefault();
            return false;
        });
        $('.no-data').tooltip({
            tip: '#tooltip',
            delay: 0,
            effect: 'slide'
        });
        $("#tabs").tabs({
            cache: true,
            load: function (e, ui) {
                $(ui.panel).find(".tab-loading").remove();
                $('#loading-bar').hide();
            },
            select: function (e, ui) {
                if ($('#' + ui.tab.attributes['id'].textContent).parent().hasClass('no-data')) {
                    return false;
                }
                $(".back-to-fund-list").click();
                $(".back-to-team-list").click();
                $(this).data("tabs").xhr = null;
                var $panel = $(ui.panel);

                if ($panel.is(":empty")) {
                    $panel.append("<div class='tab-loading'>Loading...</div>");
                    $('#loading-bar').show();
                }
            },
            ajaxOptions: {
                success: function () {
                    $('#loading-bar').hide();
                },
                error: function (xhr, status, index, anchor) {
                    $(anchor.hash).html("The request timed out. Please refresh your browser.");
                },
                load: function (event, ui) {
                    $('a', ui.panel).click(function () {
                        $(ui.panel).load(this.href);
                        return false;
                    });
                }
            }
        });
        $('#loading-bar').show();
        AtlasDiligence.organization.init();
    });
</script>
<div>
    <div class="organization-header-info">
        <div class="organization-name">
            <h1>@Model.Organization.Name</h1>
            <div class="organization-icons">
                @AddIcon(Model.Organization.KeyTakeAway, "key-takeaway", Model.Organization.KeyTakeAway)
                @AddIcon(Model.Organization.AccessConstrained.ToString().ToLower(), "access-constrained-" + Model.Organization.AccessConstrained.ToString().ToLower(), "Access Constrained")
                @AddIcon(Model.Organization.EmergingManager.ToString().ToLower(), "emerging-manager-" + Model.Organization.EmergingManager.ToString().ToLower(), "Emerging Manager")
                @if (!String.IsNullOrWhiteSpace(Model.Organization.FocusRadar))
                {
                    @AddIcon(Model.Organization.FocusRadar, Model.Organization.FocusRadar.ToLower().Replace(' ', '-'), Model.Organization.FocusRadar)   
                }
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Organization.WebsiteUrl))
            {
                <p class="org-website">Organization Website: <a href="@Model.Organization.WebsiteUrl" target="_blank">@Model.Organization.WebsiteUrl</a></p>
            }
        </div>
        <div class="buttons">
            <div id="add-compare-organization">
                <h4 class="add-to-comparison-title">
                    <a href="@Model.Id" class="add-to-comparison">Add to Compare</a>
                </h4>
            </div>
            @Html.Partial("FolderWidgetPartial", new KeyValuePair<string, IEnumerable<AtlasDiligence.Common.Data.Models.Folder>>(Model.Id.ToString(), Model.Folders))
            <div id="request-more-info" class="request-more-info">
                <h4 class="request-more-info-title"><a href="@Url.Action("RequestOrganization", "Request")" rel="@Model.Id" class="request-organization-diligence">Request Research</a></h4>
            </div>
            <div id="request-introduction" class="request-introduction">
                <h4 class="request-introduction-title"><a href="@Url.Action("RequestOrganization", "Request")" rel="@Model.Id" class="request-organization-introduction">Request Introduction</a></h4>
            </div>
            <div id="folder-dialog" style="display: none;">
                <p>Please enter a name for the folder you wish to create.</p>
                <input type="text" class="text" value="" />
                <input type="hidden" value="@Model.Id" id="folder-dialog-orgid"/>
                <input type="hidden" value="@Url.Action("CreateFromWidget", "Folder")" id="folder-dialog-url"/>
            </div>
        </div>
    </div>
    <div class="tooltip" id="tooltip">
        You do not currently have access privileges to this information.
    </div>
    <div id="tabs">
        <div class="organization-metrics">
            @if (Model.Organization.LastUpdated.HasValue)
            {
                <div class="date-updated">
                    Last Updated: @Model.Organization.LastUpdated.Value.ToShortDateString()
                </div>    
            }
            <div class="org-diligence-level-wrapper">
                <div class="diligence-level-@Model.Organization.DiligenceLevelFromPublishFields">
                    @Model.Organization.DiligenceLevelFromPublishFields</div>
            </div>
            <p>Diligence Level:</p>
        </div>
        <ul>
            <li>
                @Html.ActionLink("Profile", "Overview", new { id = Model.Id })
            </li>
            <li>
                @Html.RouteLink("Scouting Report", "Default", new { controller = "Organization", action = "Grade", id = Model.Id })
            </li>
            @if (Model.Organization.PublishTrackRecord || Model.Preview)
            {
                <li>
                    @Html.RouteLink("Track Record", "Default", new {controller = "Organization", action = "TrackRecord", id = Model.Id})
                </li>
            }
            <li>
                @Html.RouteLink("Team", "Default", new { controller = "Organization", action = "Team", id = Model.Id })
            </li>
            @if (Model.GroupProductType == AtlasDiligence.Common.DTO.Enums.ProductTypes.DiligenceAccount || Model.Preview)
            {
                if (Model.Organization.PublishStratProcessFirmAndFund || Model.Preview)
                {
                <li>
                    @Html.RouteLink("Strategy", "Default", new { controller = "Organization", action = "Strategy", id = Model.Id })
                </li>
                }

                if (Model.Organization.PublishStratProcessFirmAndFund || Model.Preview)
                {
                <li>
                    @Html.RouteLink("Process", "Default", new { controller = "Organization", action = "Process", id = Model.Id })
                </li>
                }
                if (Model.Organization.PublishStratProcessFirmAndFund || Model.Preview)
                {
                <li>@Html.RouteLink("Firm", "Default", new { controller = "Organization", action = "Firm", id = Model.Id })</li>
                }

                if (Model.Organization.PublishStratProcessFirmAndFund || Model.Preview)
                {<li>
                    @Html.RouteLink("Funds", "Default", new { controller = "Organization", action = "Funds", id = Model.Id })
                </li>
                }

            }
            <li>
                @Html.RouteLink("Evaluation", "Default", new { controller = "Organization", action = "Evaluation", id = Model.Id })
            </li>
        </ul>
    </div>
</div>
<div id="request-diligence-dialog" style="display: none">
    <em>Organization: <strong>@Model.Organization.Name</strong></em>
    <fieldset>
        <legend></legend>
        <div class="field">
            <label for="request-type-research">Please select the type of research request you would like to make in relation to this organization:</label>
            <div class="radios">
                <ul>
                    <li>
                        <input type="radio" class="radio" name="request-type" id="request-type-research" value="@((int)RequestType.Queue)" checked="checked" />
                        <label for="request-type-research">Add to Atlas Research/Update Queue</label>
                    </li>
                    <li>
                        <input type="radio" class="radio" name="request-type" id="request-type-priority" value="@((int)RequestType.Priority)" />
                        <label for="request-type-priority">Priority Research Request <span class="small-text">(limited # allowed per subscription)</span></label>
                    </li>
                    <li>
                        <input type="radio" class="radio" name="request-type" id="request-type-full" value="@((int)RequestType.Diligence)" />
                        <label for="request-type-full">Full Diligence Request <span class="small-text">(additional costs may apply. Request will be confirmed by Atlas Staff)</span></label>
                    </li>
                </ul>
            </div>
            <div class="field">
                <label for="request-diligence-comment">Specific Request/Comment/Question:</label>
                <textarea id="request-diligence-comment"></textarea>
            </div>
        </div>
    </fieldset>
</div>
<div id="request-introduction-dialog" style="display: none">
    <p>Submit this form to have Atlas make an introduction to the manager.</p>
    <em>Organization: <strong>@Model.Organization.Name</strong></em>
    <fieldset>
        <legend></legend>
        <div class="field">
            <div class="field">
                <label for="request-introduction-comment">Specific Request/Comment/Question:</label>
                <textarea id="request-introduction-comment"></textarea>
            </div>
        </div>
    </fieldset>
</div>
