﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using AtlanticBT.Common.Types
@{
    Layout = null;
    var user = EntityCache.Get<AtlasDiligence.Web.Models.UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache);
}
@helper AddIcon(string value, string url)
    {
        if (!string.IsNullOrWhiteSpace(value))
        {
    <img src="@url" />
        }
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@Model.Organization.Name - @user.Email</title>
        <link href="@Url.Content("~/css/print-organization.css")" rel="stylesheet" type="text/css" media="screen" />
        <link href="@Url.Content("~/css/print-organization.css")" rel="stylesheet" type="text/css" media="print" />
        <link href="@Url.Content("~/css/custom-theme/jquery-ui-1.8.16.custom.css")" rel="Stylesheet" type="text/css" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1', { packages: ['corechart'] });
        </script>
    </head>
    <body id="splash" class="splash" onload="window.print()">
        <div id="wrap">
            <div id="container">
                <div id="main-area" class="main-area">
                    <div>
                        <div class="organization-header-info">
                            <div class="organization-name">
                                <h1>@Model.Organization.Name</h1>
                                <div class="organization-icons">
                                    @AddIcon(Model.Organization.KeyTakeAway, "/images/icons/i_info.png")
                                    @if (Model.Organization.AccessConstrained)
                                    {
                                        @this.AddIcon("Access Constrained", "/images/icons/i_lock.png")
                                    }
                                    @if (Model.Organization.EmergingManager)
                                    {
                                        @this.AddIcon("Emerging Manager", "/images/icons/i_sprout.png")
                                    }
                                    @if (Model.Organization.FocusRadar == "Atlas Radar")
                                    {
                                        @this.AddIcon("Atlas Radar", "/images/icons/i_radar.png")
                                    }
                                    else if (Model.Organization.FocusRadar == "Focus List")
                                    {
                                        @this.AddIcon("Focus List", "/images/icons/i_star.png")
                                    }
                                </div>
                                @if (!string.IsNullOrWhiteSpace(Model.Organization.WebsiteUrl))
                                {
                                    <p class="org-website">Organization Website: <a href="@Model.Organization.WebsiteUrl" target="_blank">@Model.Organization.WebsiteUrl</a></p>
                                }
                            </div>
                            <div class="organization-metrics">
                                <div class="org-diligence-level-wrapper">
                                    <div class="diligence-level-@Model.Organization.DiligenceLevelFromPublishFields">
                                       @Model.Organization.DiligenceLevelFromPublishFields</div>
                                </div>
                                <p>Diligence Level:</p>
                                
                                @if (Model.Organization.LastUpdated.HasValue)
                                {
                                    <div class="date-updated">
                                        Last Updated: @Model.Organization.LastUpdated.Value.ToShortDateString()
                                    </div>    
                                }
                            </div>
                        </div>
                        @{
                            Html.RenderAction("Overview", new { id = Model.Id });
                            <div class="page-break">
                            </div>
                            Html.RenderAction("Grade", new { id = Model.Id });
                            if (Model.Organization.PublishTrackRecord)
                            {
                            <div class="page-break">
                            </div>
                                Html.RenderAction("TrackRecord", new { id = Model.Id });
                            }
                            <div class="page-break">
                            </div>
                            Html.RenderAction("Team", new { id = Model.Id });
                            if (Model.Organization.PublishStratProcessFirmAndFund && Model.GroupProductType == AtlasDiligence.Common.DTO.Enums.ProductTypes.DiligenceAccount)
                            {
                            <div class="page-break">
                            </div>
                                Html.RenderAction("Strategy", new { id = Model.Id });
                            <div class="page-break">
                            </div>
                                Html.RenderAction("Process", new { id = Model.Id });
                            <div class="page-break">
                            </div>
                                Html.RenderAction("Firm", new { id = Model.Id });
                            <div class="page-break">
                            </div>
                                Html.RenderAction("Funds", new { id = Model.Id });
                            }
                            if (Model.Organization.PublishEvaluation && Model.GroupProductType == AtlasDiligence.Common.DTO.Enums.ProductTypes.DiligenceAccount)
                            {
                            <div class="page-break">
                            </div>
                                Html.RenderAction("Evaluation", new { id = Model.Id });
                            }
                        }
                    </div>
                </div>
                <div id="site-info" class="footer">
                    <div id="site-copyright">
                        <p>Copyright &copy; @DateTime.Now.Year Atlas Diligence. All Rights Reserved.</p>
                        <p id="abt-brand"><span class="valid-links"><a href="http://validator.w3.org/check/referer" title="Valid HTML">HTML5</a>, <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.atlasdiligence.com/css/screen.css&amp;warning=no" title="Valid CSS">CSS</a>, </span><span class="abt-link"><a href="http://www.atlanticbt.com/services/web-design.php" target="_blank" title="Professional Website Design">Web Design</a> and <a href="http://www.atlanticbt.com/services/web-programming.php" target="_blank" title="Custom Web Programming">Website Development</a> by <a href="http://www.atlanticbt.com/" target="_blank" title="Website Design">Atlantic BT</a></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
