@model IEnumerable<AtlasDiligence.Common.Data.Models.ResearchPriorityOrganization>
@foreach (var org in Model)
{
    <tr>
        <td>@org.Name
        </td>
        <td>@org.MarketStage
        </td>
        <td>@string.Join(", ", org.Strategy)
        </td>
        <td>@string.Join(", ", org.InvestmentRegions)
        </td>
        <td>@(String.IsNullOrWhiteSpace(org.Status) ? "In Queue" : "In Process")
        </td>
    </tr>
}

<script type="text/javascript">
	var InfiniteScroll = (function () {
		var app = this,
            vars = {
            	container: $(window),
            	url: null,
            	loadMore: null,
            	ajaxDataType: 'json',
            	ajaxData: null,
            	ajaxOnFinish: null,
            	times: 1
            },
            fetchData = function () {
            	vars.container.unbind('scroll');
            	$.ajax({
            		url: vars.url,
            		dataType: vars.ajaxDataType,
            		data: vars.ajaxData(),
            		success: function (result) {
            			vars.ajaxOnFinish(result);
            			vars.times++;
            			if (vars.times % 5 == 0) {
            				vars.container.unbind('scroll');
            			} else {
            				if (result.ResultHtml != "") {
            					vars.container.scroll(scrollListener);
            				}
            			}
            		}
            	});
            },
            scrollListener = function () {
            	if (vars.container.scrollTop() > ($(document).height() - vars.container.height() - 300)) {
            		fetchData();
            	}
            },
            setDomBehavior = function () {
            	$(vars.loadMore).click(function () {
            		fetchData();
            		return false;
            	});
            };

		app.Init = function (config) {
			$.extend(vars, config);
			setDomBehavior();
		};

		return app;
	}());
	$(function () {
		InfiniteScroll.Init({
			//container: $('#firms-in-progress'),
			url: '@Url.Action("LoadFirmsInProgress")',
			loadMore: '#load-more-firms',
			ajaxData: function () {
				return {
					skip: $('#firms-in-progress tbody tr').length,
					take: 10
				};
			},
			ajaxOnFinish: function (result) {
				if (result.Data == false) {
					$('#load-more-firms').attr('disabled', 'disabled').text('No more firms');
				} else {
					$('#firms-in-progress tbody').append(result.RenderView);
				}
			}
		});
	});
</script>