﻿@model AtlasDiligence.Web.Models.ViewModels.Search.SearchViewModel
@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Helpers.Yui;
@using AtlasDiligence.Web.CommonCode.Extensions
@{
    ViewBag.Title = "Search";
    ViewBag.BodyId = "search-index";
    ViewBag.BodyClass = "section-search";
}
@section head{
    <script type="text/javascript">
        $(function () {
            AtlasDiligence.folders.init();
            AtlasDiligence.search.init();
        });
    </script>
}
<div class="wrapper">
    <section class="search">
        @Html.Partial("Options", Model.SearchOptions)
        @Html.Partial("RecentSearches", Model.RecentSearches)
    </section>
    <div class="search-header">
        <div id="top-selected-folder-widget-container">
            @Html.Partial("SelectedFolderWidgetPartial", Model.AllFolders)
        </div>
        @Html.Partial("RequestResearchPartial", "float: left; margin-left: 15px; position: relative; top: -1px;")
        <div id="compare-organization">
            <h4 class="compare-organization-title">
                @*@Html.ActionLink("Compare", "CompareOrganizations", "CompareTables", null, new Dictionary<string, object> { { "class", "compare-organization-link" } })*@
                <a href="#" class="compare-organization-link">Compare</a>
            </h4>
        </div>
        <div class="search-num" data-count="0">
            Performing Search...
        </div>
    </div>
    <div>
        @Html.Raw(
            @Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.SearchDataGrid>().Url(Url.Action("SearchLuceneGrid", "Search"))
                .GridId("search-results-grid")
                .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
                .RequestParams(Model.SearchOptions.SearchOptionsKvp())
                .RowsPerPageOptions(true, new[] { 25, 50, 100 })
                .PostRenderEvent(@"function() { 
                                    var searchNum = $('.search-num');
                                    if(searchNum.data('count') != 0){
                                       var pageReport = $('#yui-pg0-0-page-report').html(); searchNum.html('Results: ' + pageReport);
                                    }
                                    searchNum.data('count', 1);
	                             }")
                .Columns(columns =>
                {
                    columns.Bound(x => x.Id).Label("Id").Hidden(true);
                    columns.Template(x => x.Id, "<input type=\"checkbox\" class=\"selected-organization\" value=\"{Id}\"></input>").Label("<input type=\"checkbox\" class=\"change-all\"></input>").Width(20).Sortable(false);
                    columns.Bound(x => x.Name).Label("<b>Name</b>").Width(185);
                    columns.Bound(x => x.Icons).Label("<div class=\"focus-list icon\" title=\"Managers that Atlas recommends targeting in a given market segment or geography. The Atlas Focus List managers, designated by the “Scope” icon, are groups that Atlas recommends focusing on based on in-depth research and analysis. The Atlas Radar List, designated by the “Radar” icon, highlights groups that Atlas believes may rise to its Focus List, but where the level of work done to date does not yet warrant that designation. This is most commonly due to less robust information available from managers who are not currently fundraising , but can also be due to specific issues which Atlas has not vetted through its diligence efforts to date.\">Focus List</div>" +
                                                      "<div class=\"emerging-manager-true icon\" title=\"Managers raising or investing their first or second institutional fund.\">true</div>" +
                                                      "<div class=\"access-constrained-true icon\" title=\"Managers with limited allocation opportunities for new limited partners.\">true</div>").Width(83).Sortable(false).Resizeable(false);
                    columns.Bound(x => x.PrimaryOffice).Label("<b>Primary Office</b>").Width(80);
                    columns.Bound(x => x.InvestmentRegion).Label("<b>Investment Region</b>").Width(110);
                    columns.Bound(x => x.Strategy).Label("<b>Strategy</b>");
                    columns.Bound(x => x.SubCategory).Label("<b>Market/Stage</b>").Width(70);
                    columns.Bound(x => x.FundraisingStatus).Label("<b>Fundraising Status</b>").Width(110);
                    columns.Bound(x => x.AtlasQualitative).Label("<b>Atlas Qualitative</b>").Width(100).Sortable(false);
                    columns.Bound(x => x.QoRPerformance).Label("<b>QoR Performance</b>").Width(100).Sortable(false);

                    //columns.Template(x => x.FolderIds, "<div class=\"folder-widget\"><h4 class=\"folder-widget-title search-grid-widget\" onclick=\"$(this).createFolderList('{Id}', {FolderIds})\">Add to Folder(s)</h4></div>").Label("<b>Add To:</b>");
                }).ToString())
    </div>
    <div id="folder-widget-container" style="display: none">
        @Html.Partial("FolderWidgetPartial", new KeyValuePair<string, IEnumerable<Folder>>(new Guid().ToString(), Model.AllFolders.Select(m => new Folder { Id = m.Id, Name = m.Name })));
    </div>
    <div id="folder-dialog" style="display: none;">
        <p>Please enter a name for the folder you wish to create.</p>
        <input type="text" class="text" value="" />
        <input type="hidden" value="@Url.Action("CreateFromWidget", "Folder")" id="folder-dialog-url"/>
    </div>
</div>
<div id="request-diligence-dialog" style="display: none">
    <em>Organization: <strong></strong></em>
    <fieldset>
        <legend></legend>
        <div class="field">
            <label for="request-type-research">Please select the type of research request you would like to make in relation to this organization:</label>
            <div class="radios">
                <ul>
                    <li>
                        <input type="radio" class="radio" name="request-type" id="request-type-research" value="@((int)RequestType.Queue)" checked="checked" />
                        <label for="request-type-research">Add to Atlas Research/Update Queue</label>
                    </li>
                    <li>
                        <input type="radio" class="radio" name="request-type" id="request-type-priority" value="@((int)RequestType.Priority)" />
                        <label for="request-type-priority">Priority Research Request <span class="small-text">(limited # allowed per subscription)</span></label>
                    </li>
                    <li>
                        <input type="radio" class="radio" name="request-type" id="request-type-full" value="@((int)RequestType.Diligence)" />
                        <label for="request-type-full">Full Diligence Request <span class="small-text">(additional costs may apply. Request will be confirmed by Atlas Staff)</span></label>
                    </li>
                </ul>
            </div>
            <div class="field">
                <label for="request-diligence-comment">Specific Request/Comment/Question:</label>
                <textarea id="request-diligence-comment"></textarea>
            </div>
        </div>
    </fieldset>
</div>
