﻿@using AtlasDiligence.Web.Models.ViewModels.Segment
@using AtlanticBT.Common.Web.Mvc.Helpers
@model SegmentOptionsViewModel
@{
	ViewBag.Title = "Segment";
	Layout = null;
}
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.ReturnRoute)

<div class="breadcrumb">
	<a href="@Url.Action("Index", "Admin")">Administration</a> &raquo; <a href="@Url.Action("Index", "Admin", new { lt = 2 })">Segments</a>
</div>

<div class="create-segment">
	<div class="fieldset">
		<fieldset>
			<legend><span>Create Segment</span></legend>

			<div class="field-wrap">
				<div class="field">
					@Html.ValidationMessageFor(m => m.Name)
					@Html.LabelFor(m => m.Name)
					@Html.TextBoxFor(m => m.Name)
				</div>
				<div class="field">
					@Html.ValidationMessageFor(m => m.SelectedStrategies)
					@Html.LabelFor(m => m.SelectedStrategies)
					@Html.ListBoxFor(m => m.SelectedStrategies, Model.Strategies.ToDictionary(x => (object)x, x => x), new { @class = "multiselect" })
				</div>
				<div class="field">
					@Html.ValidationMessageFor(m => m.SelectedMarketStages)
					@Html.LabelFor(m => m.SelectedMarketStages)
					@Html.ListBoxFor(m => m.SelectedMarketStages, Model.MarketStages.ToDictionary(x => (object)x, x => x), new { @class = "multiselect" })
				</div>
				<div class="field">
					@Html.ValidationMessageFor(m => m.SelectedInvestmentRegions)
					@Html.LabelFor(m => m.SelectedInvestmentRegions)
					@Html.ListBoxFor(m => m.SelectedInvestmentRegions, Model.InvestmentRegions.ToDictionary(x => (object)x, x => x), new { @class = "multiselect" })
				</div>
				@*<div class="field">
					@Html.ValidationMessageFor(m => m.SelectedCountries)
					@Html.LabelFor(m => m.SelectedCountries)
					@Html.ListBoxFor(m => m.SelectedCountries, Model.Countries.ToDictionary(x => (object)x, x => x), new { @class = "multiselect" })
				</div>*@
                <div class="field inline-label">
                        @Html.ValidationMessageFor(c => c.SbicFund)
                        @Html.LabelFor(c => c.SbicFund)
                        <div class="radio-button-list">
                            @Html.RadioButtonFor(c => c.SbicFund, "true", new { id = "SbicFundYes" })
                            <label for="SbicFundYes">Yes</label>
                            @Html.RadioButtonFor(c => c.SbicFund, "false", new { id = "SbicFundNo" })
                            <label for="SbicFundNo">No</label>
                            @if (Model.SbicFund.HasValue)
                            {
                                @Html.RadioButtonFor(c => c.SbicFund, "", new { id = "SbicFundNA" })
                            }
                            else
                            {
                                @Html.RadioButtonFor(c => c.SbicFund, "", new { id = "SbicFundNA", @checked = "checked" })
                            }
                            <label for="SbicFundNA">No Filter</label>
                        </div>
                    </div>
			</div>
		</fieldset>
	</div>

	<div class="buttons">
		<input type="submit" class="submit action-button" value="Save" />
	</div>
</div>
