/* 

client: Atlas Diligence
author: Atlantic BT - www.atlanticbt.com

IE Specific Styles

==================================================================================================================*/

body { behavior: url(/css/csshover2.htc); }
.clearfix { height: 1%; }
.nav .level1 li { zoom:1; *display: inline; }
.search-button {min-height:29px!important;}
