﻿#search-start section.snapshot .section-content div {
    width: 210px;
}

.inline-font-size-point-85em {
    font-size: .85em;
}

.inline-cyan {
    background-color: cyan;
}

.inline-float-left {
    float: left;
}

.inline-clear-both {
    clear: both;
}

.inline-display-none {
    display: none !important;
}

.inline-justify {
    text-align: justify
}

.inline-text-align-center {
    text-align: center;
}

.inline-margin-zero {
    margin: 0;
}

.inline-padding-top-ten-pixel {
    padding: 10px 0 0 0;
}

.inline-padding-top-five-pixel {
    padding: 5px 0 0 0;
}

.inline-padding-top-thrity-pixel {
    padding: 30px 0 0 0;
}

.inline-padding-bottom-fifteen-pixel {
    padding-bottom: 15px;
}

.inline-padding-left-three-pixel {
    padding-left: 3px;
}

.inline-organization-font {
    font-weight: bolder;
    color: #44546a
}

.inline-width-hundred-percent {
    width: 100%;
}

.inline-top-seven-pixcel {
    top: 7px;
}

.inline-width-twenty-pixcel {
    width: 20px;
}

.inline-save-templage-recent-searches {
    position: relative;
    top: 0px;
    margin-top: 0px
}

.inline-gray-password {
    color: #999;
}



#purchased-organizations {
    padding-top: 40px;
    border-top: 1px #CCC solid;
    clear: both;
}

#text {
    height: 550px;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; /*white-space: pre-wrap;*/ /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}

.main .scatter-chart .group {
    width: 1118px;
    height: 535px;
}
