/* 

client: Atlas Diligence
author: Atlantic BT - www.atlanticbt.com

Print styles.

==================================================================================================================*/

/* removal of unnecessary blocks */
.top-link, #top-link, #access-links, .navigation, .secondary-content, .tertiary-content, .footer-nav, .valid-links, hr { display: none; }

body { background: #fff; font-family: 'Calibri', Arial, Helvetica, sans-serif; color: #000; text-align: left; font-size: 9pt;  }

p { line-height: 1.5em; margin: 0 0 1em; }

a:link, a:visited {	color: blue; text-decoration: none; }
.footer a:link:after, .footer a:visited:after,
.footer  a:link:after, .footer a:visited:after { content: " (" attr(href) ") "; }

abbr:after { content: " (" attr(title) ")"; }

h1 { margin: 0 0 .9em; font: bold 1.67em/.9em 'Calibri', Arial, Helvetica, sans-serif; color: #000; }
h2 { margin: 0 0 1em; font: bold 1.50em/1em 'Calibri', Arial, Helvetica, sans-serif; color: #000; }
h3 { margin: 0 0 1.12em; font: bold 1.33em/1.12em 'Calibri', Arial, Helvetica, sans-serif; color: #000; }
h4 { margin: 0 0 1.26em; font: bold 1.17em/1.26em 'Calibri', Arial, Helvetica, sans-serif; color: #000; }
h5,	h6 { margin: 0 0 1.5em; font: bold 1em/1.5em 'Calibri', Arial, Helvetica, sans-serif; color: #000; }

img { border: 0 }

.main-area, .footer { clear: both; width: 100%; margin-top: 2em; border-top: 1px solid #fff; /* prevent margin collapse */ }
.content { padding-top: 2em; }
#tabs .ui-tabs-nav { display: none;}
.info, .append-term { display: none;}
.rss-item { margin-bottom: 40px; padding: 30px 40px; border-top: 2px black outset;}
.rss-subject { font-weight: bold; }
.rss-published-date { padding-bottom: 20px; font-style:italic; }
ul, ul li {
    list-style: none outside none;
}

#view-large-scatter { display: none; }