﻿/* Normalize/Reset
==================================================================================================================*/
* { margin: 0; padding: 0; outline: none; } h1, h2, h3, h4, h5, h6 { font-size: 100%; } ul, ul li { list-style: none; list-style-position: outside; } address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; } em, strong { /* left out from above */ } table { border-collapse: collapse; border-spacing: 0; } fieldset, img { border: 0; } caption, th { text-align: left; } q:before, q:after { content: ""; } hr { display: none; }
.clear { clear: both; } /* not to be confused with clearfix */
a:focus { outline: none; }


/* Base
==================================================================================================================*/
body { text-align: center; background: #fff; font: 400 14px/1.5 "Calibri", Arial, Helvetica, sans-serif; color: #000; }
div { font-size: 100%; text-align: left; }


/* hide accessibility, but leave there for readers */
.access { position: absolute; left: -9000em; top: 0; height: 0; line-height: 0em; }
.hide { display: none; }



/* Percentage-based Columns
==================================================================================================================*/
.columns { float: left; display: inline; width: 100%; }
.col-set2, .col-set3, .col-set4, .col-set5 { /* column options */ }

	/* defaults */
	.columns .col { float: left; display: inline; margin-right: 3%; width: 22%; }
	.columns .last { float: right; margin: 0; }

	/* per col-set */
	.col-set2 .col { width: 48%; }
	.col-set3 .col { width: 30%; }
	.col-set4 .col { /* inherit */ }
	.col-set5 .col { width: 17%; }


/* =Typography Styles
==================================================================================================================*/
.main-area { min-width: 1040px; }
.main-area p { margin: 0 0 1.5em; }


/* base anchor colors/style */
a {color:#57a9c7}
a:hover, a:focus { color: #78d6f8; }

.more-link { text-align: right; }


h1, h2, h3, h4, h5, h6 { margin: 0 0 1.5em; font: 700 1em/1.5em "Lato", Arial, Helvetica, sans-serif; color: #0d2433; }
h1 { margin: 0 0 .9em; font-weight: normal; font-size: 2em; line-height: 1em; }
	



/* =Element Styles
==================================================================================================================*/
.main-area .ui-tabs-panel { font-size: 14px; line-height: 1.55em; }
.main-area ul { list-style: none; margin: 0 0 1.5em 0; line-height: 1.65em; font-size: .95em; }
.main-area ul li ul { margin: 20px 0; }
.main-area ul li { margin: 0; padding-left: 14px; background: no-repeat 0 .4em; }
.main-area ol { margin: 0 0 1.5em 3em; }
.main-area ol li { margin: 0; }
.main-area ul ul, .main-area ol ol { margin-top: 1.5em; }	


.main-area dl { margin: 0 0 1.5em; }
.main-area dl dt { margin: 0; font-weight: bold; }
.main-area dl dd { margin: 0 0 0 1.5em; }


abbr, .abbr { cursor: help; }

.main-area blockquote { margin: 1em 0; padding: 0 1em; }
.main-area blockquote p { margin: 0 0 1.5em; }
.main-area blockquote p.cite { text-align: right; }


.main-area table { width: 100%; font-size: 13px!important; }
.main-area th, .main-area td { padding: 4px 10px; border: 1px solid #e0e5e9; border-left-color: #cbcbcb; border-right-color: #cbcbcb;  }
.main-area th { font-weight: bold; border-bottom-color: #7f7f7f;
	background: #e7eef3;
}
.no-border th {
    border: none;
}
.main-area td { background: #fff; }
.main-area tr:nth-child(2n) td { background-color: #f3f8fb; }
.main-area td a { color: #2c5876; }
.main-area tbody tr:hover td { background-color: #e8f1f6; }
.no-border { border: none; }
table.no-border > tbody > tr > td, table.no-border > tr > td { border: none; padding: 0 }


#preview-export { border-top: 1px dotted; margin-top: 45px; padding-top: 30px; }
#preview-export p { padding-left: 14px }


/* remove styling from lists and such */
.reset, .reset ul, .reset li, .reset p, .reset table { margin: 0; padding: 0; background: none; list-style: none; border: 0; }

.flag-red, .flag-white, .flag-green, .flag-yellow {padding-left: 23px; text-indent: -9999em; background-position: right top; background-repeat: no-repeat }
.flag-red { background-image: url(../images/icons/flag_red.png); }
.flag-white { background-image: url(../images/icons/flag_white.png); }
.flag-lightgreen { background-image: url(../images/icons/flag_lightgreen.png); }
.flag-darkgreen { background-image: url(../images/icons/flag_darkgreen.png); }
.flag-green { background-image: url(../images/icons/flag_darkgreen.png); }
.flag-yellow { background-image: url(../images/icons/flag_yellow.png); }
	
/* specific cell classes */
th.right-align, td.right-align { text-align:right;	}
table tr th.center-align, table tr td.center-align { text-align: center; }
table tr th.right-align, table tr td.right-align { text-align: right;}




/* =Base Form Styles
==================================================================================================================*/
.form-wrap { padding: 0 20px; }

/* input base */
input, textarea, select { padding: 5px; width: 275px; border: 1px solid #c2c2c2; line-height: 1em; background: #fff; font: inherit;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
select { padding: 4px 2px 4px 4px; width: auto; }
textarea { width: 96%; height: 7em; }
#TimeOfDay { width: 5em; }
#NextEmailDate { width: 6em; }
.schedule-form { background: #E8F2F5; padding: 20px; line-height: 3em;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

input:focus, textarea:focus, select:focus { background-color: #ffffce; }

/* input overrides based on type */
input.radio, input.checkbox,
.buttons input, input.button, input.submit, input.image,
.form-submit input, input.wpcf7-submit { border: 0; padding: 0; width: auto; background: none; }
input.image { margin-left: 4px; vertical-align: middle; }
input.submit, input.cancel, .form-submit input, input.wpcf7-submit { display: inline-block; padding: 6px 9px; margin: 0; background: #f4f4f4; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
input.submit:hover, input.cancel:hover, .form-submit input:hover, input.wpcf7-submit:hover { border-color: #ccc; }

	#rss-export-submit { padding-left: 30px; background: #f4f4f4 url(/images/i_export-excel.png) no-repeat 8px 50%; }
	#rss-preview-submit { padding-left: 30px; background: #f4f4f4 url(/images/i_search.png) no-repeat 8px 50%; }
	#rss-print-submit { padding-left: 30px; background: #f4f4f4 url(/images/i_print.png) no-repeat 8px 50%; }
	#schedule-email-submit { padding-left: 30px; background: #f4f4f4 url(/images/i_save.png) no-repeat 8px 50%; }


.buttons { margin: 0 0 1.5em; }
.buttons p { display: inline;padding-right:20px;}

/* specific input types */
.address-combo input, .address-combo-county input { width: 175px; }
.postal-code input { width: 5em; }
input.prefix { margin: 0 .25em 0 0; width: 2.5em; }
input.area-code { margin: 0 .25em; width: 2.5em; }
input.suffix { width: 3em; }

/* fieldset defaults */
div.fieldset { clear: both; float: left; display: inline; margin: 0; width: 100%; }
fieldset { margin: 0; padding: 0 0 1.5em; border: 0; } /* using padding instead of margin because of cross-browser */
legend { padding: 0 0 1.5em; color: #000; font-size: 1.25em; font-weight: bold; }
fieldset fieldset legend { font-size: 1em; margin: 0; font-weight: bold; }
   
	/* Dialog Fieldsets */
	.ui-dialog div.fieldset { padding: 1em; margin: 0 0 1em; background: #f4f4f4;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	}
	div.fieldset.half { float: left; width: 47%; clear: none; }
	div.fieldset.half.first { clear: left; }
	div.fieldset.full { float: left; width: 100%; clear: both; }   
	.ui-dialog legend { width: 100%; }
	.ui-dialog legend span { display: block; border-bottom: 1px solid #ccc; }
   
/* form fields */
.fieldgroup { clear: both; margin: 0; float: left; display: inline; width: 100%; }
.fieldgroup .field { float: left; width: 33%; clear: none; }
.fieldgroup .field.full { width: 100%; }
.field { clear: both; position: relative; margin: 0; padding: 0 0 1.5em; list-style: none; height: 1%; } /* using padding instead of margin because of cross-browser */
.checkbox input { width: auto; border: none; }
.address-combo .field,
.address-combo-county .field,
.col-auto .field, .col-auto li { clear: none; float: left; display: inline; width: 200px; }
.address-combo .region, .address-combo .state,
.address-combo-county .region, .address-combo-county .state,
.col-auto .field, .col-auto li { padding-right: 10px; width: auto; }
.name-fields .field,
.contact-methods .field { clear: none; float: left; display: inline; width: 300px; }
#RememberMe { width: auto; float: left; margin-right: 10px; }

/* labels */
label { display: block; font-weight: bold; margin-bottom: 5px; color: #001f33; }
.inline-label label { display: inline; margin: 0 1em 0 0; }
.inline-label input + label { font-weight: 400; }
.inline-label input { width: auto; }
.aligned-label label { float: left; display: inline; margin: 0 5px 0 0; padding-top: 5px; width: 100px; text-align: right; }
.extended-address label { color: #999; } /* extended address */
.checkboxes label, .radios label { display: inline; margin: 0 0 0 5px; font-weight: normal; }
#export-form .checkbox label { width: 185px; float: left; }

/* radio & checkbox lists */
.radios, .checkboxes { margin: 0; list-style: none; }
.radios li, .checkboxes li { margin-right: 20px; list-style: none; }

/* summary / input descrition items */
em.summary { display: block; margin: 2px 0 0 0; font-style: normal; font-size: .857em; color: #999; }
	.aligned-label em.summary { margin-left: 110px; }

input[type="submit"] { display: inline-block; width: auto; padding: 5px 19px 4px; background: #f4f4f4; border: 1px solid #ddd; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; text-transform: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
input[type="submit"]:hover { border-color: #ccc; }


/* =Form Validation Errors
==================================================================================================================*/

/* base */
/* error message returned in ViewData */
.main-area .alert { float: left; width: 100%; margin: 0; }
.main-area .alert-active  { color: #386e2f; padding: 15px 15px 15px 35px; margin: 0 0 1em; background: url(/images/i_check.png) no-repeat 5px 50%; border: 1px solid #a9ce93;
	background: #e0f1d6 url(/images/i_check.png) no-repeat 10px 50%;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* MVC base */
.field-validation-error { color: #f00; margin-left: .5em; font-size: .75em; }
.field-validation-valid { display: none; }
.input-validation-error { border-color: #ce0000; border-bottom-color: #e70000; border-right-color: #e70000; background-color: #fee; }
.validation-summary-errors { font-weight: bold; color: #f00; }
.validation-summary-errors span, .field-validation-error { padding-left: 20px; background: url(/images/sp_icons.png) no-repeat 0 -450px; }
.validation-summary-valid { display: none; }

/* alert handling (in caps to coordinate with enums */
/*.alert { float: left; display: inline; width: 20px; height: 20px; background-repeat: no-repeat; background-position: left top; }*/
.alert, .Info { background-image: url(/images/icons/info.png); }
.alert, .Warning { background-image: url(/images/icons/warn.png); }
.alert, .Error { background-image: url(/images/icons/alert.png); }


/* =Layout Styles
==================================================================================================================*/
html, body { height: 100%; min-height: 930px; width:29.5cm }
#wrap { height: 100%; min-height: 930px; margin-top:0!important}
#main-area {margin-top:0!important}
.wrap { position: relative;  margin: 0 auto; }
#container { margin: 0 auto; width: 100%; }
.header, .navigation, .main-area, .footer { float: none; display: inline; width: 100%; }

.header { width: 100%; padding: 0; margin: 0; display:none;}
	
	.utility-bar { float: left; width: 100%; height: 47px;
		background: #0d2432;
	}
	.menu-bar { float: left; width: 100%; height: 0px; border-top: 1px solid #224256;
		background: #173649;
	}
	
	.header h1 { float: left; margin: 0; color: #fff; font: 700 18px/47px "Calibri", Arial, Helvetica, sans-serif; }
	.header a { color: #fff; text-decoration: none; }	


.nav ul { float: left;  margin: 0; }
.nav li { display: inline; margin: 0 0 0 30px; line-height: 84px; font-size: 20px; }


	/* Has children */
	.menu-bar nav li.has-children > a { background-image: url(/images/i_drop-down-arrow.png); background-repeat: no-repeat; background-position: 50% 88%; }

	/* Hover */
	.menu-bar nav li:hover > a {
		background: #22465c;
	}
	
	/* Active */
	.section-administration .nav-administration > a,
	.section-administration .nav-administration:hover > a,
	.section-dashboard .nav-dashboard > a,
	.section-dashboard .nav-dashboard:hover > a,
	.section-search .nav-search > a,
	.section-search .nav-search:hover > a,
	.section-folders .nav-folders > a,
	.section-folders .nav-folders:hover > a,
	.section-news-tracker .nav-news-tracker > a,
	.section-news-tracker .nav-news-tracker:hover > a,
	.section-account .nav-account > a,
	.section-account .nav-account:hover > a { background: #fff; border-top: 3px solid #00bff3; color: #0d2433; line-height: 57px; }
	
	/* Drop downs (2nd level) */
	.menu-bar nav ul ul { position: absolute; top: 60px; left: -9000em; width: 200px; background: #fff; border: 1px solid #ccc; border-top: 0; z-index: 10000; }
	.menu-bar nav ul li:hover > ul { left: 0; }
	.menu-bar nav ul ul li { float: none; border: 0; border-top: 1px solid #ccc; }
	.menu-bar nav ul ul li a { background: #FFF; transition:background .25s; -moz-transition:background .2s; -webkit-transition:background .2s; -o-transition:background .2s; }
	.menu-bar nav ul ul li:first-child { border: 0; }
	.menu-bar nav ul ul a { color: #0d2433; line-height: 30px; }
	
	.menu-bar nav ul ul li:hover a { background: #f4f4f4; }
	
	
	/* Drop downs (3rd level) */
	.menu-bar nav ul ul ul { position: absolute; top: -1px; left: 206px; background: #f4f4f4; border: 1px solid #ddd; opacity: 0;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
		-moz-transition: .25s linear all; -webkit-transition: .25s linear all; transition: .25s linear all;
	}
	.menu-bar nav ul ul ul:before { content: ""; position: absolute; top: 10px; left: -6px; width: 6px; height: 12px; background: url('/images/bg_submenu-desc.png') no-repeat 0 0; z-index: 1000; }
	.menu-bar nav ul ul li:hover ul { left: 206px; opacity: 1; }
	.menu-bar nav ul ul ul li { padding: 8px 20px; border-top: 1px solid #ccc; line-height: 1.2; }
	.menu-bar nav ul ul ul li:first-child { border: 0; }
	
	
	
/* Site Search */
.site-search { position: relative; float: right; margin-top: 13px; }
.site-search label { position: absolute; top: 0; left: -9000em; }
.site-search input[type="text"] { width: 257px; height: 12px; padding: 9px 9px 9px 32px; color: #143144; font: 400 12px/1 "Calibri", Arial, Helvetica, sans-serif;
	-moz-border-radius: none; -webkit-border-radius: none; border-radius: none;
}

	.site-search input[type="text"]::-webkit-input-placeholder { line-height: 12px; }
	.site-search input[type="text"]::-moz-placeholder { line-height: 12px; }

.site-search input[type="submit"] { position: absolute; top: 8px; left: 8px; width: 16px; height: 16px; background: url(/images/i_search.png) no-repeat 0 0; border: 0; font-size: 0; line-height: 0; z-index: 100; cursor: pointer; }


	
.tab-container .content div.primary-content { float: left; width: 65%; min-height: 300px; margin-top: 0; }
.content .secondary-content { float: left; width: 34%; padding-left:10px;}
.secondary-content { padding-top: 0px; margin-top:0; box-sizing: content-box;}



#main-area .organization-breakdown, #main-area .detail-block, #main-area #fund-table thead { clear: both; font-size: 85% }
#main-area .organization-breakdown { margin-bottom: 2em; }

.admin-section-title { margin: .5em 0 1em; color: #ade1f4; font: normal 1.5em/1 'Calibri', Georgia, "Times New Roman", Times, serif; }

.partial-title, .partial-content { clear: both; }
.partial-content { font-size: 85%; }

#tabs .print-options { float: right; width: auto; margin: 0 0 20px; background: url(/images/printer_icon.gif) no-repeat left 50%; padding-left: 35px; height: 27px; }
#tabs .print-options a { padding-right: 10px; font-size: 14px; }

.tabs .print-options { float: right; width: auto; margin: 0 0 20px; background: url(/images/printer_icon.gif) no-repeat left 50%; padding-left: 35px; height: 27px; }
.tabs .print-options a { padding-right: 10px; }

.tab-container {}
.tab-container .tab-title strong { font-size: 28px; font-weight: 400; color: #3d5b77; }
.tab-title h2 { margin: 0; font: 400 16px/1.5 'Calibri', Verdana, Arial, sans-serif; color: #3d5b77; }


/* Vertical Tabs */
.main-area .ui-tabs.vertical-tabs .ui-tabs-nav { float: left; width: 115px; margin: 1em 0 0; border-bottom: 0 !important; }
.main-area .ui-tabs.vertical-tabs .ui-tabs-nav li { top: auto; left: -1px; width: 100%; border-bottom: 1px solid #ccc !important; border-right: 0; text-align: center; white-space: normal;
	-webkit-border-radius: 4px; -webkit-border-top-right-radius: 0; -webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 4px; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0;
	border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0;
}
.main-area .ui-tabs.vertical-tabs .ui-tabs-nav li a { display: block; width: 100%; padding: 1em 2em; line-height: 1.2;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.main-area .ui-tabs.vertical-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 1px; border-right: 1px solid #fff; }

.main-area .ui-tabs.vertical-tabs .ui-tabs-panel { float: right; border-top: 1px solid #ccc;
}


#scoring-system-dialog-link { display:none;position: absolute; top: 3px; right: 0; font-size: 12px; z-index: 2; }

/* Nested Tabs */
.main-area .ui-tabs.nested-tabs { position: relative; }
.main-area .ui-tabs.nested-tabs .ui-tabs-nav { padding: 0 28px; margin: 0 -28px 2em; background: #fff; }
.main-area .ui-tabs.nested-tabs .ui-tabs-nav li { top: 0; float: none; display: inline-block; margin-bottom: 8px; background: none; border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}
.main-area .ui-tabs.nested-tabs .ui-tabs-nav li a { padding: 2px 10px; background: #f4f4f4; border: 1px solid #ddd;
	-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
}
.main-area .ui-tabs.nested-tabs .ui-tabs-nav li.ui-tabs-active { top: 0; background: none; border: 0; }
.main-area .ui-tabs.nested-tabs .ui-tabs-nav li.ui-tabs-active a { background: #daf3fd; border-color: #6dcff6; }

.main-area .ui-tabs.nested-tabs .ui-tabs-panel { padding: 0; border: 0; } 


/* Grade Tab */
#grade-tab { margin: 0; }
#grade-tab .content { position: relative; margin: 0; }
#grade-tab .grade-tab { margin: -14px 0 0; }
#grade-tab .grade-tab .two-col { clear: both; }


.secondary-content .member ul li { margin-bottom: 15px; }

.bookmarks { text-align: center; }

#search-term-suggestions { font-size: .75em; font-style: italic; }

#search-terms-container .auto-column li { background: #e8f2f5; margin-bottom: .25em; padding: .5em 1em; font-weight: bold; color: #3d5b77;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#search-terms-container .auto-column li span { display: inline-block; width: 92%; }
#search-terms-container .auto-column li a { float: right; width: 18px; height: 21px; background: url(/images/i_remove.png) no-repeat right 50%; text-indent: -9999em; }

#rss-email-container .auto-column li { background: #e8f2f5; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; width: 100%; margin-bottom: 10px; padding: 8px 4%; font-weight: bold; color: #3d5b77; }
#rss-email-container .auto-column li a { float: right; width: 18px; height: 18px; background: url(/images/g_close-arrow.png) no-repeat right 50%; text-indent: -9999em; }

.append-search-term .button { display: inline-block; padding: 6px 9px 6px 30px; margin: 10px 0 25px; background: #f4f4f4 url(/images/g_add-icon.png) no-repeat 8px 50%; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.append-search-term .button:hover { border-color: #ccc; }
.append-rss-email .button { display: inline-block; padding: 6px 9px 6px 30px; margin: 10px 0 25px; background: #f4f4f4 url(/images/g_add-icon.png) no-repeat 8px 50%; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.append-rss-email .button:hover { border-color: #ccc; }


/*.content .tab-description { background: #e8f2f5; padding: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 85%; }*/

.content .tab-description { background: none; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 1em 0; font-size: 14px; line-height: 1.5; }

.primary-content .section { float: left; width: 100%; margin: 0 0 1em !important; }

.subsection-title { margin-bottom: .5em; color: #000; font-family: Arial, Helvetica, sans-serif; }

.section-title { display: block; padding: 2em 0 5px; margin: 0 0 1em !important; border-bottom: 1px solid #ddd; clear: both; }
.section-title h2 { margin: 0; font: 400 16px/1.5 'Calibri', Verdana, Arial, sans-serif; color: #3d5b77; }
.tab-description .section-title { border: none; margin: 0; padding: 0; }


.section .notes { padding: 0; background: #fbf1c2 url('/images/bg_notes.png') repeat-y 2em 0; }
.section .notes ul { padding: 0; margin: 0; }
.section .notes ul li { margin: 0; padding: 10px 10px 10px 55px; border-top: 1px solid #e1d392; }
.section .notes ul li:first-child { border: 0; }
.section .notes ul li .note { display: inline-block; width: 580px; }
.section .add-note a { display: inline-block; padding: 6px 9px; margin: 0; background: #f4f4f4; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.section .add-note a:hover { border-color: #ccc; }
.section .delete-note { float: right;background: url("../images/icons/delete.png") no-repeat scroll center top transparent; display: none; height: 16px; text-indent: -9999em; width: 16px;margin-top: 3px;}
.section .delete-note:hover {background-position: center bottom;cursor: pointer;}
.section .modify-note { float: right;background: url("../images/icons/edit.png") no-repeat scroll center top transparent; display: none; height: 16px; text-indent: -9999em; width: 16px;margin: 3px 10px 0;cursor: pointer;}

.section .notes ul li:hover .delete-note,
.section .notes ul li:hover .modify-note { display: block; }

.section .notes table th, .section .notes table td { background: inherit; border: 0px none;}
.section .notes table tr { margin: 0;padding: 10px 10px 10px 55px;}
.section .notes table tbody tr { border-top: 1px solid #E1D392; }
.section .notes table tr:hover td { background-color: inherit;}
.section .notes table tr:hover .delete-note,.section .notes table tr:hover .modify-note { display: block; }
.section .notes table tr { background: none no-repeat scroll 0 0.4em transparent; }

/*.main-area { padding: 0 7.5%; width: 85%; }*/
	.splash .content strong { /*color: #fff; font-weight: normal; */}
	.splash .content p:first-child { font-size: 1.524em; line-height: 1.125em; }

	.rss-item { margin-bottom: 40px; padding: 30px 40px; background: #f1f7f9;  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
	.rss-subject { font-weight: bold; }
	.rss-published-date { padding-bottom: 20px; font-style:italic; }
	.rss-source { font-style: italic; }
	.rss-item .rss-summary { margin-bottom: 1em; }
	#preview-export h2 { color: #444444;display: inline;font-style: italic;margin: 0 .4em 0 0;}
	
	.secondary-content.member-info { padding-top: 0; }
	.content .secondary-content div.detail-block { margin-top: 0; }
	.contact-info { float: left; width: 580px; background: url(/images/bg_email.png) no-repeat 0 0; }
	

	#masthead .login-status { float: right; color: #6dcff6; font: 400 12px/47px "Calibri", Arial, Helvetica, sans-serif; }
	#masthead .login-status ul { float: right; background: #fff;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	}
	#masthead .login-status li { position: relative; float: left; margin: 0; border-left: 1px solid #f7f3f5; text-align: center; }
	#masthead .login-status ul > li { font-weight: 700; }
	#masthead .login-status li:first-child { border: 0; }
	#masthead .login-status li a { display: block; padding: 0 20px 0 46px; line-height: 50px; background: url('/images/sp_main-nav.png') no-repeat 0 0; }
	
		#masthead .login-status li.nav-administration a { background-position: 20px 17px; }
		#masthead .login-status li.nav-search a { background-position: 20px -33px; }
		#masthead .login-status li.nav-history a { background-position: 20px -83px; }
		#masthead .login-status li.nav-folders a { background-position: 20px -133px; }
		#masthead .login-status li.nav-news-tracker a { background-position: 20px -183px; }
		#masthead .login-status li.nav-account a { background-position: 20px -233px; }
	
	#masthead .login-status li ul { position: absolute;display: none; right: 0; }
	
		/* Drop Downs */
		#masthead .login-status li.nav-search,
		#masthead .login-status li.nav-account { padding-right: 30px; background-image: url(/images/i_down-arrow.png); background-repeat: no-repeat; background-position: 95% 50%; }
		
		/* Current Section */
		.section-administration #masthead .login-status li.nav-administration,
		.section-search #masthead .login-status li.nav-search,
		.section-folders #masthead .login-status li.nav-folders,
		.section-news-tracker #masthead .login-status li.nav-news-tracker,
		.section-account #masthead .login-status li.nav-account { border-top-color: #ADE1F4; }
		
		.section-administration #masthead .login-status li.nav-administration a,
		.section-search #masthead .login-status li.nav-search a,
		.section-folders #masthead .login-status li.nav-folders a,
		.section-news #masthead .login-status li.nav-news a,
		.section-account #masthead .login-status li.nav-account a { color: #ADE1F4; }
	
	#masthead .login-status li li { width: 180px; }
	#masthead .login-status li li a { padding: 10px 20px; border-top: 1px solid #39618a; background: #24476c; line-height: 1.5em; }
	#masthead .login-status li li:first-child a { border: none; }
	#masthead .login-status li li a:hover { background: #9aaaba; color: #122e4b; }
	#masthead .login-status .welcome { margin-bottom: 8px; }
	#masthead .login-status .nav-item-list { z-index: 1; }
	#masthead .login-status .nav-account-list li { width: 140px; }
	
.splash .login-forms { width: 400px; margin: 0 auto; border: 0; padding: 0; background: none; }
.splash .login-forms #tabs { margin: 0 0 0 10px; padding: 0; background: none; border: 0; }	
.splash .login-forms #tabs li { display: inline-block; width: auto; padding: 0; margin: 0; border: 0; background: none; top: 0; }
.splash .login-forms #tabs li.ui-state-disabled { opacity: 1; }
.splash .login-forms #tabs li.ui-state-disabled a { background: #005075; color: #326f90; }
.splash .login-forms #tabs li a { display: inline-block; padding: 8px 20px; color: #fff; text-decoration: none; background: #326f90 url(/images/bg_login.png) no-repeat 0 -10px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -webkit-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0;  }

#scatter-container { position: relative; margin-top:30px !Important; text-align:center !Important; }
.scatter-chart {
    page-break-inside: avoid;
}
.scatter-container {
    position: relative;
    margin-top: 0px!important;
    top: 10px;
    page-break-inside: avoid;
}

.pdfTitlesBlack{ color:#000 !Important; font-size:16px; font-weight:bold;}

#smallScatterVisualization{margin-top:15px !Important; }
.scatter-container #loading-large-scatter { background: rgba(0,0,0,.25); position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%; z-index: 1000; }
.scatter-container #loading-large-scatter span { position: absolute; top: 110px; left:478px; display: block; padding: 5px 20px; border-top: 1px solid #224256; color: #fff; text-align: center;
	background: #173649;
	-moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;
}

#small-graph { float: left; width: 100%; margin: 0 0 1em; }
#scatter-container { position: relative; border: 1px solid #ccc; }
#scatter-container #view-large-scatter { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; z-index: 1000;
	-moz-transition: .25s linear background; -webkit-transition: .25s linear background; transition: .25s linear background;
}
#scatter-container #view-large-scatter span { display: none; }
#scatter-container:hover #view-large-scatter { background: rgba(0,0,0,.25); }
#scatter-container:hover #view-large-scatter span { position: absolute; top: 110px; left: 72px; display: block; padding: 5px 20px; border-top: 1px solid #224256; color: #fff; text-align: center;
	background: #173649;
	-moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;
}
.chart-title {
    width:100%;
    color: #fff;
    text-align: left;
    background: #44546a;
    padding: 8px 0px 8px 15px;
}


.splash .login-forms .landing-form { padding: 20px 20px 10px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: 0 1px 2px rgba(0,0,0,0.6); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6); background: none repeat scroll 0 0 rgba(0, 20, 30, 0.6); color: #e8f2f5; }
.splash .login-forms .landing-form a { color: #a1d4e3; }

	.splash .landing-form .buttons { padding-top: .5em; }
	.splash .landing-form button { padding: 6px 20px; background: url(/images/bg_email.png) no-repeat center center; color: #144d71; text-shadow: 0 1px 2px rgba(255,255,255,0.6); border: 1px solid #d9d5ce; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-size: 16px; text-transform: uppercase; font-weight: bold; font-family: "garamond-premier-pro-display-1", "garamond-premier-pro-display-2", "Times New Roman", Times, serif; cursor: pointer; }
	.splash .landing-form .error { float: right; color: #ff9870; text-transform: none; }
	

.footer { margin-top:30px; padding: 40px 7.5%; width: 85%; font-size: .75em; line-height: 1.6em; font-family:Arial, Geneva, sans-serif; text-align: center; }
	#site-copyright { color: #0d2433; text-align: center; }
	#abt-brand, #abt-brand a { color: #57a9c7; text-decoration: none; }
	#abt-brand a:hover { color: #78d6f8; text-decoration: underline; }

.small-loader { float: left; display: inline; width: 30px; height: 30px; background: url(/images/ajax-loader.gif) no-repeat; }

.welcome { color: #fff; }

/* grid row actions */
.grid-row-action {display: block; text-indent: -9000em; }

.edit { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat 2px -504px; }
.view { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat 2px -568px;  }
.delete { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat 2px -291px; cursor: pointer; }
.unlocked { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat -28px -383px; }
.locked { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat -58px -390px; }
.reset-password { float: left; width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat 2px -383px;}
.grant-access { width: 30px; height: 30px; background: url(/images/sp_grant_access.png) no-repeat 5px 50%;}
.other-office { display: none;}

.active, .inactive { width: 50px; height: 24px; background: url(/images/sp_active.png) no-repeat 0 0;}
.inactive { background-position: -50px 0; }

.actionIcon { float: left; display: block; text-indent: -9000em;}
.help { cursor: help; float: left; display: block; width: auto; padding-left: 25px; background: url('/images/icons/help-16x16.png') no-repeat 5px 50%; text-indent: -9000em; }

/* RSS Area */

.auto-column { float: left; padding-right: 3%; width: 30%; }

#password-form, #user-form, #login-form { }

.export { }
	.export .startdate { float: left; }
		.export .startdate input { width: 87px;}
	.export .enddate { float: left;clear: none;padding: 0 0 0 2em; }
		.export .enddate input { width: 87px;}
	.export .buttons { clear: both;}
	.export label { display: inline;}
	
	
	
.toolbar,
#admin-tabs .toolbar { float: left; width: 100%; margin: 0 0 1em; }
.toolbar a,
#admin-tabs .toolbar a { display: inline-block; padding: 6px 9px; margin: 0; background: #f4f4f4; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.toolbar i,
#admin-tabs .toolbar i { position: relative; top: 4px; }

.toolbar a:hover,
#admin-tabs .toolbar a:hover { border-color: #ccc; }


/* Vertical Table */
.vertical-table {}
.vertical-table td { border: 1px solid #ddd; }
.vertical-table .row-label { background-color: #eee; }
.vertical-table tr:nth-child(2n) td:first-child, .vertical-table tr:hover td:first-child { background-color: #eee; }
.vertical-table tr, .section-information tr, .section-information tr ul li {
    border-bottom: 1px solid #e7e7e7;
}

	
/* Icons */	
i.icon { display: inline-block; width: 16px; height: 16px; margin-right: 5px; }
	.add-icon { background: url("/images/g_add-icon.png") no-repeat 0 0; }
	.remove-icon { background: url("/images/icons/delete.png") no-repeat 0 0; display: inline-block; height: 16px; text-indent: -9999em; width: 16px; padding-right: 7px; line-height: 17px; }
	.export-icon { background: url('/images/i_export.png') no-repeat 0 0; }
	.add-folder { background: url('/images/i_add-folder.gif') no-repeat 0 0; }
	.edit-icon { background: url('/images/i_edit.png') no-repeat 0 0; }


/* Breadcrumb */
.breadcrumb { float: left; width: 100%; margin: 0 0 2em; color: #000; font-size: 12px; }
.breadcrumb a { color: #003a5f; }


/* Pagination */
.main-area .yui-pg-container {}
.main-area .yui-pg-container span,
.main-area .yui-pg-container a { display: inline-block; padding: 4px 8px; border: 1px solid #d3d4d5; color: #525f6c; line-height: 1; font-weight: bold; text-shadow: 0 1px 0 #fff; text-decoration: none !important;
	background: #fcfcfc;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.main-area .yui-pg-container .yui-pg-pages { padding: 0; background: none; border: 0; }
.main-area .yui-pg-container .yui-pg-current-page { border-color: #1e4a5f; color: #fff; text-shadow: 0 1px 0 #28617c;
	background: #7abcdb;
}


/* Start Screen
==================================================================================================================*/
section.search { float: left; width: 100%; padding: 0 0 2em; margin: 0 0 2em; border-bottom: 1px solid #ddd; }
section.search .advanced-search .field { position: relative; padding: 0; margin: 0 0 .5em; }
section.search .advanced-search .field input[type="text"] { padding-left: 32px; }
section.search .advanced-search input[type="submit"] { position: absolute; top: 0; right: 0; display: inline-block; padding: 5px 19px 4px; background: #f4f4f4; border: 1px solid #ddd; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; text-transform: none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
section.search .advanced-search input[type="submit"]:first-child { position: absolute; top: 8px; left: 8px; width: 16px; height: 16px; background: url(/images/i_search.png) no-repeat 0 0; border: 0; font-size: 0; line-height: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}
section.search .advanced-search input[type="submit"]:hover { border-color: #ccc; }
section.search .advanced-search input[type="submit"]:first-child:hover { border: 0; }

section.search #recent-searches { float: right; width: 550px; padding: 0; margin: 0; }
section.search #recent-searches h4 { padding: 5px 15px 4px; background: #f4f4f4 url(/images/i_plus.png) no-repeat 97% 50%; border: 1px solid #ddd; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
section.search #recent-searches h4:hover { border-color: #ccc; }
section.search #recent-searches h4.open { background-image: url(/images/i_minus.png); }
section.search #recent-searches ul { padding-left: 1.25em; margin: 0; }
section.search #recent-searches:hover ul {}

section.snapshot,
section.recent-folders,
section.recent-firms,
section.updated-firms { float: left; width: 550px; margin: 0 40px 40px 0; background: #f4f4f4;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
section.recent-folders,
section.updated-firms { margin-right: 0; }
section.recent-firms { clear: left; }

section.snapshot header,
section.recent-folders header,
section.recent-firms header,
section.updated-firms header { padding: .5em 1em; border-top: 1px solid #224256;
	background: #173649;
}

section.snapshot .section-content,
section.recent-folders .section-content,
section.recent-firms .section-content,
section.updated-firms .section-content { padding: 1em; clear: left; }

section.snapshot h2,
section.recent-folders h2,
section.recent-firms h2,
section.updated-firms h2 { margin: 0; color: #fff; }

	/* Snapshot section */
	section.snapshot header { float: left; width: 100%;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	section.snapshot h2 { float: left; }
	section.snapshot h3 { position: relative; height: 16px; margin: 1em 0; border-top: 1px solid #ddd; text-align: center; }
	section.snapshot h3 span { position: relative; top: -20px; display: inline-block; padding: 1em; background: #f4f4f4; color: #999; font-size: 10px; text-align: center; text-transform: uppercase; z-index: 2; }
	section.snapshot .last-login { float: right; margin: 0; color: #6DCFF6; }
	section.snapshot .section-content div { float: left; width: 252px; padding: 1em; margin: 0 18px 20px 0; background: #fff; border: 1px solid #ddd; color: #999; font-size: 12px; text-align: center; text-transform: uppercase;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	section.snapshot div.snapshot-firms {}
	section.snapshot div.snapshot-funds { margin-right: 0; }
	section.snapshot div.snapshot-fundraising { clear: left; }
	section.snapshot div.snapshot-market { margin-right: 0; }
	section.snapshot strong { display: block; color: #000; font-size: 24px; font-weight: 400; line-height: 1; }
	
	
	/* Recent Folders section */
	section.recent-folders #recent-folders { width: 100%; padding: 0; }
	section.recent-folders h3 { width: 520px; overflow: hidden; text-overflow: ellipsis; }
	section.recent-folders h3 a { font-weight: 400; }

/* Advanced Options
==================================================================================================================*/
#advanced-search-options { font-size: 12px; overflow: hidden; }
#advanced-search-options div.fieldset { padding-bottom: 0; }
#advanced-search-options div.fieldset fieldset { padding-bottom: .5em; }
#advanced-search-options legend { padding-bottom: .5em; }
#advanced-search-options .field { padding-bottom: .5em; }
#advanced-search-options .field-date input { width: 90px; text-align: center; }
#advanced-search-options .field-fundsize input { width: 70px; }
#advanced-search-options .field-fundclosed input { width: 90px; }



/* Create New User
==================================================================================================================*/
#user-form { overflow: hidden; }
#user-form .fieldset { float: right; clear: none; margin: 0 0 2em; width: 49%; border: 1px solid #ccc; overflow: hidden;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#user-form .fieldset:first-child { float: left; }
#user-form legend { float: left; display: block; width: 100%; padding: .5em 1em; margin: 0 0 1em; border-top: 1px solid #224256;
	background: #173649;
}
#user-form legend span { color: #fff; font-weight: normal; }
#user-form .fieldset .wrap { width: auto; padding: 1em 3em 0; }

#user-form .buttons { float: left; width: 100%; padding: 1em; margin: 0; background: #f4f4f4; text-align: right; clear: both;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#user-form .buttons input[type="submit"]:first-child { padding-left: 30px; background: url(/images/i_check.png) no-repeat 8px 50%; }


/* Change Password
==================================================================================================================*/
#password-form input[type="submit"] { padding-left: 30px; background: #f4f4f4 url(/images/i_lock.png) no-repeat 8px 50%; }


/*= Create Group
==================================================================================================================*/
.create-group { float: left; width: 100%; margin: 0 0 1.5em !important; background: #f3f8fb; border: 1px solid #e0e5e9; overflow: hidden;
	-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-group legend { float: left; width: 100%; padding: .5em 1em; margin: 0; border-bottom: 1px solid #e0e5e9; font-size: 1em;
	background: #e7eef3;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-group fieldset { padding: 0; }
.create-group .field-wrap { float: left; width: 100%; padding: 1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-group .field { float: left; width: 33%; padding: 0; clear: none; }
.create-group .field label { font-size: 12px; }
.create-group .buttons { float: left; width: 100%; padding: .5em 1em; margin-bottom: 0; border-top: 1px solid #e0e5e9; clear: both;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-group .buttons input { padding: 4px 24px; background: #c2ced5; border: 1px solid #9aadb9; color: #000; font-size: 12px; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-transform: capitalize; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}


/*= Edit Group
==================================================================================================================*/
.edit-group { float: left; width: 100%; margin: 0 0 1.5em !important; background: #f3f8fb; border: 1px solid #e0e5e9; overflow: hidden;
	-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.edit-group legend { float: left; width: 100%; padding: .5em 1em; margin: 0; border-bottom: 1px solid #e0e5e9; font-size: 1em;
	background: #e7eef3;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.edit-group fieldset { padding: 0; }
.edit-group .field-wrap { float: left; width: 100%; padding: 1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.edit-group .field { float: left; width: 33%; padding: 0; clear: none; }
.edit-group .field label { font-size: 12px; }
.edit-group .buttons { float: left; width: 100%; padding: .5em 1em; margin-bottom: 0; border-top: 1px solid #e0e5e9; clear: both;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.edit-group .buttons input { padding: 4px 24px; background: #c2ced5; border: 1px solid #9aadb9; color: #000; font-size: 12px; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-transform: capitalize; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}


/*= Create Segment
==================================================================================================================*/
.create-segment { float: left; width: 100%; margin: 0 0 1.5em !important; background: #f3f8fb; border: 1px solid #e0e5e9; overflow: hidden;
	-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-segment legend { float: left; width: 100%; padding: .5em 1em; margin: 0; border-bottom: 1px solid #e0e5e9; font-size: 1em;
	background: #e7eef3;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-segment fieldset { padding: 0; }
.create-segment .field-wrap { float: left; width: 100%; padding: 1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-segment .field label { font-size: 12px; }
.create-segment .buttons { float: left; width: 100%; padding: .5em 1em; margin-bottom: 0; border-top: 1px solid #e0e5e9; clear: both;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-segment .buttons input { padding: 4px 24px; background: #c2ced5; border: 1px solid #9aadb9; color: #000; font-size: 12px; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-transform: capitalize; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}




/* UI Tabs
==================================================================================================================*/
.main-area .ui-tabs .ui-tabs-nav { display: block; display:none; }
.main-area .ui-tabs .ui-tabs-nav li { font-size: 12px; background: #fafafa; }
.main-area .ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.main-area .ui-tabs .ui-tabs-nav li.ui-state-active { top: 2px; background: #fff; border-color: #ccc; font-weight: 700; }
.main-area .ui-tabs .ui-tabs-nav li a { padding: .5em 2em; }

.main-area .ui-tabs .ui-tabs-nav li:hover { background: #fff; border-color: #ccc; }

.main-area .ui-tabs .ui-tabs-panel { padding-top:0px; margin-top: 0; border: 1px solid #ccc; border-top: 0; }


/* Data Table Grid
==================================================================================================================*/
.rx-grid { font-size: 11px; }
.rx-grid a { color: #146b8b; }

/*#search-results-grid .yui-dt-even td { background-color: #fff; }
#search-results-grid .yui-dt-odd td { background-color: #edf3f5; }*/

.main-area .yui-skin-sam .yui-dt table { border: 0; }

.main-area .yui-skin-sam .yui-dt th { font-weight: bold; border-top: 1px solid #d0d6db; text-shadow: 0 1px 0 #fff;
	background: #e7eef3;
}
.main-area .yui-skin-sam .yui-dt th a { font-weight: bold; }

.main-area .yui-skin-sam tr.yui-dt-odd { background: #f3f8fb; border-top: 1px solid #e0e5e9; border-bottom: 1px solid #e0e5e9; }
	.main-area .yui-skin-sam .yui-dt td { border-top: 1px solid #e0e5e9;  }
	.main-area .yui-skin-sam .yui-dt-last { border-right: 1px solid #CBCBCB; }
.main-area .yui-skin-sam tr:hover { background: #e8f1f6; }

#search-results-grid input { width: auto; }

.rx-grid, rx-grid-footer { float: left; display: inline; width: 100%; color: #222222; }
.rx-grid-footer { padding: 1em 0; border-top: 1px solid #ccc; clear: both; }
	.rx-grid-footer ul { margin: 0; }

/*Diligence level*/

.organization-metrics { position: relative; top: 15px; right: 0; margin: 0; width: 200px; float:right;}
.organization-metrics p { float: right; margin: 0 5px 0; line-height: 20px; }
.organization-metrics .org-diligence-level-wrapper, .diligence-level-wrapper
{ width: 64px; float: right; margin-right:3px; line-height: 18px; background: url(../images/diligence.png) no-repeat;
	clear: both;
	}

.diligence-level-0,
.diligence-level-33,
.diligence-level-66,
.diligence-level-100 { text-indent: -9999em; background-color: #fff;height:18px; float:right; opacity:0.9;}

.diligence-level-0 { width: 100%; }
.diligence-level-33 { width: 66%; }
.diligence-level-66 { width: 33%; }
.diligence-level-100 { width: 0%; }


/* toggle elements */

.toggle-container { float: left; width: 100%; margin: 0 0 1.5em; }

.table-search { float: left; width: 100%; margin: 0 0 1.5em !important; background: #f3f8fb; border: 1px solid #e0e5e9; overflow: hidden;
	-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.table-search legend { float: left; width: 100%; padding: .5em 1em; margin: 0; border-bottom: 1px solid #e0e5e9; font-size: 1em;
	background: #e7eef3;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.table-search fieldset { padding: 0; }
.table-search .field-wrap { float: left; width: 100%; padding: 1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.table-search .field { float: left; width: 33%; padding: 0; clear: none; }
.table-search .field label { font-size: 12px; }
.table-search .buttons { float: left; width: 100%; padding: .5em 1em; margin-bottom: 0; border-top: 1px solid #e0e5e9; clear: both;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.table-search .buttons input { padding: 4px 24px; background: #c2ced5; border: 1px solid #9aadb9; font-size: 12px; font-weight: bold; text-transform: capitalize; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}


.toggle-link { height: 33px; margin-bottom: .5em; }


#user-search legend, #user-search label { color: #2c84b4; }
#user-search #user-grid-search-button {  }


#forgot-password a { color: #32709F;}
#forgot-password a:hover, #forgot-password a:focus { color: #8A2800; }


#selected-folder-widget-container, #top-selected-folder-widget-container { position: relative; float: left; width: auto; margin: 0 0 1em; clear: both; }
#selected-folder-widget-container .selected-folder-widget { left: -10px; top: -80px; }
	.selected-folder-widget { clear: both; width: 165px; }
	.selected-folder-widget h4 { float: left; margin: 0; cursor: pointer; }
	.selected-folder-widget ul { display: none; left: 0; padding: 0; width: 180px; }
	.selected-folder-widget ul li, .selected-folder-widget ul li { clear: left; width: 160px; }

.search-header { float: left; margin-bottom: 5px; width: 100%;}
.search-header .search-term { display: block; float: left;margin-bottom: 15px;}
.search-num { float: right; display: inline-block; padding: 4px 8px; border: 1px solid #d3d4d5; color: #525f6c; line-height: 1; font-weight: bold; font-size: 11px; text-shadow: 0 1px 0 #fff; text-decoration: none !important;margin-top: 15px;
	background: #fcfcfc;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }


.page-title { color: #000; font-size: 1.25em; font-family: Arial, Helvetica, sans-serif; }


.group-info { float: left; width: 100%; margin: 0 0 2em; clear: both; color: #000; }
.group-info dl { float: left; width: 400px; padding: 1em; border: 1px solid #ccc;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.group-info dt { float: left; width: 150px; clear: left; }
.group-info dd { float: left; }


/* Multiselect
----------------------------------*/
select.multiselect { width: 759px; height: 400px; }

.ui-multiselect { border: solid 1px #ccc; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }
.ui-multiselect ul.available li:hover { background: #f4f4f4; }

.ui-multiselect .ui-state-highlight { background: #ADE1F4; border: 0; border-top: 1px solid #99d2e7; border-bottom: 1px solid #99d2e7; }
  
.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }

form.advanced-search{ width: 549px; color: #222222; padding: 0;float: left; background: #fff;

	}
	form.advanced-search legend { padding: 0; color: #57A9C7; font-size: 14px; font-weight: 400; }
	form.advanced-search legend:hover { color: #78D6F8; text-decoration: underline; }
	form.advanced-search legend.expand { background-image: url("/images/icons/i_triangle_up.gif") }
	form.advanced-search legend:hover { cursor: pointer;}
	form.advanced-search label[for="Search"] { font-size: 24px; }
	form.advanced-search .text { min-width: 430px; margin-right: 10px;}
	form.advanced-search fieldset{ float: left; width: 100%; padding: 0; margin-top: .5em; }
	form.advanced-search label{ display: block; }
	form.advanced-search select { width: auto; }
	form.advanced-search .buttons{display: inline;}
	form.advanced-search .column-1{ float: left; width: 270px; }
	form.advanced-search .column-2{ float: left; width: 290px; }
	form.advanced-search .column-3{ float: left; width: 265px; }
	form.advanced-search .column-3 label{width:240px;}
	form.advanced-search .number, form.advanced-search .date{width: 106px;}
	form.advanced-search option{min-width: 40px;}
	form.advanced-search .field-validation-error{font-size: 0.85em;display: block;}
	
	
	.search-sidebar {color: #222222; padding: 15px 0 0 20px; float: left;width: 130px;}
	.search-sidebar ul { margin-bottom: 10px; }
	.search-sidebar ul li { padding-left: 0px; margin: 0 0 .5em; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
	.search-sidebar h4 { color: #222222; margin-bottom: .75em; padding-bottom: .25em; border-bottom: 1px solid #ddd; }
	.search-sidebar a { color: #146B8B; text-decoration: none; }
	.search-sidebar a:hover { text-decoration: underline; }
	.search-container .section { float: left; min-width: 410px; }
	
.folders{ float: left; width: 100%; color: #222; background: #fff; font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
.folders a { color: #144D71;}

.main-area .folders > ul { float: left; width: 100%; border: 1px solid #ccc; }
.main-area .folders li { position: relative; padding: 2em; clear: both; min-height: 60px; border-top: 1px solid #ccc; overflow: hidden;
	background: #fcfdfd;
}
.main-area .folders li:first-child { border: 0; }
.main-area .folders li:hover {
	background: #fdfefe;
}

.main-area .folders li .toolbar { float: right; width: auto; margin: 1em 0 0; }

.main-area .folders li table { background: #fff; }

h3.folder-toggle{ float: left; margin: .5em 0 0; }
h3.folder-toggle > a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; }
/*.delete-folder{ display: block; position: absolute; top: 0; right: 0; width: 120px; padding: 5px 0; text-align: center; font-weight: bold; text-decoration: none; font-size: 12px; background: url(/images/bg_email.png) no-repeat center center; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }*/
.create-folder{ display: block;clear: both;}
.main-area .folders th, .main-area .folders td { border: none; padding: 5px 10px; line-height: 12px; }
.main-area .folders td { border-top: 1px solid #ccc; }
.folder-closed, .folder-open { height: 33px; padding: 15px 0 0 65px; font-size: 14px; text-decoration: none; background: url(../images/icons/folder.png) no-repeat; }
.search-sidebar .folder-closed, .search-sidebar .folder-open { padding: 0 0 0 40px; line-height: 33px; background-image: url(../images/icons/folder_sm.png); }
.folder-closed { background-position: left bottom; }
.folder-open { background-position: left top; }
.folders a.remove-organization { display: block; height: 16px; width: 16px; text-indent: -9999em; background: url(../images/icons/delete.png) center top no-repeat;}
.folders a.remove-organization:hover { background-position: center bottom;}
.ui-autocomplete { width: 275px; height: 200px; overflow-y: scroll; }
	.ui-autocomplete li { padding-left: 10px; text-align: left; }
	.ui-autocomplete li a { line-height: 1em; }

.organization-name, h1.folders-title { float: left; margin-bottom: 8px; }
.organization-name { width: 40%; clear:both; margin-top:-15px;}
.organization-name h1 { margin-bottom: 8px; font-size: 24px; font-weight: 400; color: #3d5b77;float: left; }
.organization-name p.org-website { margin-bottom: 5px; font: 400 12px/1.5 "Calibri", Arial, Helvetica, sans-serif;clear: left;}
.organization-name .organization-icons > img { margin-top: 4px;    margin-bottom: 5px;    margin-left: 5px; display: none;}
.organization-name .organization-icons > img:first-child { margin-left: 1em; }
.org-website a:hover { text-decoration: none; }

.organization-metrics .date-updated {float: right; display: inline;margin: 0 10px; line-height: 20px; }
.folder-widget, .request-more-info { }
#search-results-grid .folder-widget { margin: 10px 3px;}
.request-more-info { padding: 1px 0; }
.organization-header-info .buttons { float: right; width: 35%; text-align: right; }
.organization-header-info .folder-widget, .organization-header-info .request-more-info { position: relative; display: inline-block; }
.organization-header-info .request-more-info { width: auto; }
.folder-widget a { color: #333333; text-decoration: none;}
.folder-widget-title, .request-more-info-title a { display: inline-block; padding: 6px 9px 6px 30px; margin: 0; background: #f4f4f4 url(/images/i_folder.png) no-repeat 8px 50%; border: 1px solid #ddd; color: #3D5B77; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; text-decoration: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.request-more-info-title { margin: 0; }
.request-more-info-title a { display: inline-block; padding: 6px 9px 6px 30px; margin: 0; background: #f4f4f4 url(/images/i_comment.png) no-repeat 8px 50%; border: 1px solid #ddd; color: #3D5B77; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; text-decoration: none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;	
}
.request-more-info-title a:hover { border-color: #ccc; }
.folder-widget-list { position: absolute; z-index: 100000; top: 35px; display: none; background: #fff; width: 100%; padding:0 4px 0 0;width: 120px;
	-webkit-box-shadow: 0px 0px 3px 0px #3b4e60;
	-moz-box-shadow: 0px 0px 3px 0px #3b4e60;
	box-shadow: 0px 0px 3px 0px #3b4e60; }
.folder-widget-list .folder-widget-listitem { background: url('../images/g_add-icon.png') 2px 5px no-repeat; padding: 2px 0 0 20px; text-align:left;width: auto;transition: background-color .1s;-moz-transition: background-color .1s;-webkit-transition: background-color .1s;}
.organization-header-info .folder-widget-listitem {background: url('../images/g_add-icon.png') 2px 5px no-repeat;width: 124px;}
.organization-header-info .folder-widget-list { width: 140px; }

.folder-widget-listitem:hover { background-color: #557893; }
.folder-widget-listitem:hover a { color: #fff; }
.folder-widget-listitem a { transition:color .1s;-moz-transition: color .1s;-webkit-transition: color .1s;}
.folder-widget-selected { font-weight: bold; }
.new-folder { border-top: 1px solid #CCCCCC; }
#tabs{ clear: both; }
.organization-list { float: left; width: 100%; margin: 1em 0 3em; clear: both; overflow-x: auto; }
.search-sidebar .organization-list { margin-bottom: 10px; padding: 7px; font: 12px 'Calibri', 'Arial', sans-serif; color: #353535; background: #fff; border: 1px solid #ccc;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
	.search-sidebar .organization-list ul { margin: 0; }
#tooltip{display: none; width: 260px;text-align: center;background: #fff;padding: 10px 20px; color:#000; z-index: 1; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.25);-moz-box-shadow: 0 1px 5px rgba(0,0,0,.25);box-shadow: 0 1px 5px rgba(0,0,0,.25);font-size: 13px; }

#tabs .no-data { background: #fefefe; border-color: #f2f2f2; }
#tabs .no-data a { color: #d2d2d2; }
#tabs .no-data a:hover { color: #b2b2b2; cursor: not-allowed; }

.section-information, .tab-description { padding-left: 0; text-align:justify; }

.main-area .section-information ul li { padding: 0; }

.section-information td { text-align: left;}
.content .section .document{ display: block; padding-top: 1.5em;margin: 0;}

#search-results-grid th div, #search-results-grid td div { text-align: center; }
#search-results-grid th.yui-dt0-col-Name div, #search-results-grid td.yui-dt0-col-Name div { text-align: left; }

ul.section-information, li.evaluation-container { list-style: disc; }
#evaluation-tab li.evaluation-container { margin-bottom: 25px; }
#evaluation-tab li .evaluation-description { margin-bottom: 0; }
#evaluation-tab li .evaluation-note { margin-top: 0; text-align:justify }

#tabs .tab-title.team-member { margin: 25px 0 5px; }

#overview-tab .meters { float: left; width: 100%; margin: 0; }
#overview-tab .secondary-content { padding-top: 0; }
.secondary-content li.performance-code,
.secondary-content li.organization-code { float: left; width: 49%; border: 1px solid #ccc; text-align: center; padding: 0; margin: 0 0 15px; }
.secondary-content li.organization-code { border-right: none; }
.secondary-content li.performance-code h3,
.secondary-content li.organization-code h3 { padding: 5px 15px; margin-bottom: 0; background: #557893; color: #fff; font-family: Arial, Helvetica, sans-serif; }
.secondary-content .meter { width: 100%; margin: 0; padding: 10px 0 5px;}


.access-constrained-true,
.access-constrained-false,
.focus-list,
.radar-list,
.emerging-manager-true,
.emerging-manager-false {display: inline-block; text-indent: -9999em; margin-left:2px!important;}

.folders .access-constrained-true,
.folders .access-constrained-false,
.folders .focus-list,
.folders .radar-list,
.folders .emerging-manager-true,
.folders .emerging-manager-false {float:none;}
.access-constrained-false {margin:0!important}

.access-constrained-true.icon,
.access-constrained-false.icon,
.focus-list.icon,
.radar-list.icon,
.emerging-manager-true.icon,
.emerging-manager-false.icon { display: inline-block; text-indent: -9999em; }

.access-constrained-true { margin-left: 5px; margin-bottom: 5px; height: 16px; width: 16px; background: url('../images/icons/i_lock.png'); }
.focus-list {height: 16px; margin-left: 5px; margin-bottom: 5px; width: 16px; background: url('../images/i_focus.png'); }
.emerging-manager-true { margin-left: 5px; margin-bottom: 5px; height: 16px; width: 16px; background: url('../images/icons/i_sprout.png'); }
td.row-value div {margin-top:3px!important;}
.under-construction {
    margin-left: 5px!important;
    margin-top: 1px!important;
    margin-bottom: 5px!important;
    height: 16px;
    width: 16px;
    background: url('../images/icons/under_construction_16.png');
    display: inline-block;
    text-indent: -9999em;
}

#main-area .access-constrained-true.icon {margin: 0;}
#main-area .radar-list.icon, #main-area .focus-list.icon {  margin: 0 16px 0 0;}
#main-area .emerging-manager-true.icon { margin: 0 2px 0 0;}
#main-area div.empty { width: 32px;display: inline-block;margin: 0;}

body th .access-constrained-true.icon { float: left;margin: 5px 0;}
body th .radar-list.icon,body th .focus-list.icon {  float: left; margin: 0px 16px 5px 0;}
body th .emerging-manager-true.icon { float: left;margin: 5px 16px 5px 0;}

#main-area .key-takeaway { margin-left: 3px; margin-top: 1px; margin-bottom: 4px; height: 16px; width: 16px; background: url('../images/icons/i_info.png'); display: inline-block; text-indent: -9999em;}
.radar-list { margin-left: 5px; margin-top: 1px; margin-bottom: 4px; height: 16px; width: 16px; background: url('../images/i_radar.png'); display: inline-block; text-indent: -9999em;}
.request-information { margin-left: 5px; margin-top: 1px; margin-bottom: 4px; height: 16px; width: 16px; background: url('../images/i_comment.png'); display: inline-block; text-indent: -9999em;}
	.organization-header-info .key-takeaway,
    .organization-header-info .under-construction,
	.organization-header-info .radar-list,
	.organization-header-info .access-constrained-true,
	.organization-header-info .focus-list,
	.organization-header-info .emerging-manager-true { float: none; }

#request-diligence-dialog { font-size: smaller; }
#request-diligence-dialog legend {padding: 0.5em 0; }
#request-diligence-dialog p { margin: 10px 0;}
#request-diligence-dialog .radios { float: left; width: 100%; margin: 1em; }
#request-diligence-dialog .radios ul li  { float: left;clear: left;padding: 0 0 1em;}
#request-diligence-dialog .radios ul li label { display: inline-block; }
#request-diligence-dialog .radios input.radio { width: auto; }
.small-text { padding-left: .5em; color: #999; font-size: 10px; }

.analysis-graph { display: none; }
th.analysis-slider { background: #fff; }
td.analysis-slider { background: url(/images/g_arrow-right.png) no-repeat scroll 50% 50% transparent;}
td.analysis-slider.expanded {background: url(/images/g_arrow-down.png) no-repeat scroll 50% 50% transparent; }
tr.analysis-graph td { background: #fff; padding-left: 20px;}
.track-record h3 { color: #222;font: bold 13px 'Calibri', Veranda, Arial, sans-serif;margin: 0; padding-left:20px;line-height: 20px;}
.track-record h3.expanded {}
.track-record-header {background:#80a897; padding:10px 10px 10px 10px; width:100%; font-weight:bold; color:#fff; }
.note-track-record {
    color: #44546a;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}
.tr-title {padding-top: 20px}
.record-analysis { padding: 0 20px;}
table.evaluation ul li { list-style: disc;margin-left: 20px;padding-left: 0;}
.yui-dt-liner .org-name { display: inline-block; margin: 0 0 .5em; }
#fund-tab tr.fund { font-size: 0.85em;}
.individual-fund .content .secondary-content { margin-top: 7px; }

.slider { background: url("/images/g_arrow-right.png") no-repeat scroll 100% 50% transparent; display: inline; padding-right: 20px;}
.slider.expanded {background: url(/images/g_arrow-down.png) no-repeat scroll 100% 50% transparent; }

#admin-tabs div { margin: 0;}


/* Grade - Scatter */
#organization-grade { float: left; width: 130px; padding: 1em; margin: -5px 0 1.5em; background: #fffae5; border: 1px solid #fc0; font-size: 12px;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#organization-grade dl { float: left; width: 100%; padding: 0; margin: 0; }
#organization-grade dt { display: inline-block; }
#organization-grade dd { display: inline-block; margin: 0; }

#chart-options-wrapper { float: left; padding-left:40px}
#chart-options { float: right; width: 866px; margin: 0 0 1.5em; font-size: 12px; }
#chart-options .field { float: left; width: 25%; padding: 0 0 0 1em; margin: 0; clear: none;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#chart-options .field label { display: block; width: 100%; }
#chart-options .chzn-container { margin: 0; }
#chart-options .chzn-drop { margin: 0; }
#chart-options input[type="submit"] { display: none; }

/* Individual Fund */
.individual-fund { clear: both; }

/* Scorecard */
.scorecard {}
.scorecard table { margin: 0 0 2em; }
.main-area .scorecard th { border-bottom-color: #e0e5e9; }
.scorecard td.empty { border: 0; }
.scorecard .group-label { width: 42px; padding: 0; border-bottom-color: #e0e5e9; border-right: 1px solid #e0e5e9; }
	#tab-3 .scorecard .group-label { width: 67px; line-height: 1.2; }
	#tab-3 .scorecard .group-label span { line-height: 1.2; }
.scorecard .group-label span { display: block; text-align: center;
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);

}
.scorecard .label-desc { width: 108px; }
.scorecard .cell-nodata { background: #E0E5E9; color: #666; text-align: center; }
.scorecard .col-poor,
.scorecard .col-weak,
.scorecard .col-std,
.scorecard .col-strong,
.scorecard .col-exceptional { width: 62px; line-height: 16px; text-align: center; }
.scorecard .checked { display: inline-block; width: 16px; height: 16px; background: url('/images/i_check.png') no-repeat 0 0; text-indent: -9000em; }

/* Scatter chart */
.scatter-chart { height: 650px; margin-top: 0; text-align: center; clear: both; }


/* Bar graph */
.bar-container { float: left; }
.distribution-container { float: right;margin-right: 10px;}


/*  loading bar  */
#loading-bar { position: fixed;height: 100%;top: 0;background: rgba(0, 0, 0, .5); width:100%;text-align: center;font-family: Veranda, Arial, sans-seriff;display: none;}
#loading-bar p {width: 100px; padding:30px; background:#fff; position: absolute; top:400px; left: 50%; margin-left:-65px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
#loading-bar p a.close-load {position:absolute; right:7px; top:7px; background:url(/images/g_close-arrow.png) no-repeat transparent 50% 50%; height:20px; width:20px;}
#loading-bar p span{color:#000; display:block; margin-top:4px;}

/*  track record  */
.analysis-graph img { width: 100%!important;}
.analysis-img { width: 100%; }
.record-analysis img { width: 100%;}
.simple-tooltip { cursor: help;}
#trackrecord-tab .track-record { float: left; width: 100%; padding: .25em 0; margin: 0 0 .25em; background: #f4f4f4; border: 1px solid #ddd;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#trackrecord-tab .track-record:hover { border-color: #ccc; }
#trackrecord-tab .track-record h3 { cursor: pointer; }
#trackrecord-tab .track-record img { max-width: 100%; height: auto; }

/* jQuery UI Dialog */
div.ui-dialog { padding: 0; font-size: 14px;
	-moz-box-shadow: 0 1px 20px rgba(0,0,0,.25); -webkit-box-shadow: 0 1px 20px rgba(0,0,0,.25); box-shadow: 0 1px 20px rgba(0,0,0,.25);
}
div.ui-dialog .ui-dialog-titlebar { padding: 1em; border: 0; border-bottom: 1px solid #bababa; text-align: center;
	background: #173649;
}
div.ui-dialog .ui-dialog-title { float: none; margin-right: 0; color: #fff; font-weight: 700; }
div.ui-dialog .ui-dialog-titlebar-close { right: 1em; background: #1f3f54; }
div.ui-dialog .ui-dialog-titlebar-close:hover { background: #25465a; }
div.ui-dialog .ui-dialog-titlebar-close span { background-image: url(/css/custom-theme/images/ui-icons_222222_256x240-white.png); }

div.ui-dialog .ui-dialog-content { padding: 1em; }

div.ui-dialog .ui-dialog-buttonpane { margin-top: 0; border-top: 1px solid #eee; }


/* Non-Semantic Helper Classes
======================================================================================================= */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { *zoom: 1; }


.screen-only { display: none; }
.page-break { display: block;page-break-before: always; clear: both;}
.page-break-only { page-break-before: always; clear: both;}
.grade-tab > div {page-break-before:always; }
.no-page-break {
    page-break-before: avoid!important;
}

/* Google Chart Specifics
======================================================================================================= */
.content .bar-container .x-label-container{ position: relative;float: left;  margin: 0; }
	.bar-container .x-labels { position: absolute; font-size: 12px;}
	
.content .scatter-container .x-label-container, .content .scatter-container .y-label-container { position: relative; }
	.scatter-container .x-labels { position: absolute; }
	.scatter-container .y-labels { position: absolute; }

.content .distribution-container .x-label-container{ position: relative;float: left;  margin: 0; }
	.distribution-container .x-labels { position: absolute; font-size: 12px;}


.info-message {
    padding: 1em;
    background: #fffae5;
    border: 1px solid #fc0;
    font-size: 15px;
    text-align:center;
}

.screen-middle-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.screen-middle-middle {
    display: table-cell;
    vertical-align: middle;
}

.screen-middle-inner {
    margin-left: auto;
    margin-right: auto; 
}

.ui-tabs .ui-tabs-panel div{ margin:0px }
div#overview-tab > div.container > div.row {margin-left:5px !Important; }
div#overview-tab .col-md-12 {margin-left: -5px !important; width:100%!important;}
.main-area .ui-tabs .ui-tabs-panel, .main-area{ padding:0px !Important;}


.tab-description { width:100% !Important;}


.print-all-terms { width:100%; height:100%; clear:both; float:left;}
.print-all-terms .title { font-weight: bold; text-align: center; font-size: 13pt; padding: 40px 0 20px 0 }
.print-all-terms .reminder { font-weight: bold; font-size:11pt; text-decoration: underline; padding: 10px 10px 20px 10px; }
.print-all-terms .p-content { border: black 1px solid; padding: 0 10px 0 10px; text-align: justify; font-size: 15px; }
.print-all-terms .p-content p { padding-top:10px; }
.print-all-terms .p-content p span { font-weight:bold }

.print-kt { page-break-inside:avoid !important; }

/*----------------------------------------------------Redesign 2017-----------------------------------------------------*/

/*Bootstrap layouts*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr
/*,img*/ 
{
    page-break-inside: avoid!important;
}
h2,
  h3 {
    page-break-after: avoid;
  }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}


.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: left;
}

.col-xs-1 {
  width: 8.333333333333332%;
}

.col-xs-2 {
  width: 16.666666666666664%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333333333%;
}

.col-xs-5 {
  width: 41.66666666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333333333333336%;
}

.col-xs-8 {
  width: 66.66666666666666%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333333334%;
}

.col-xs-11 {
  width: 91.66666666666666%;
}

.col-xs-12 {
  width: 100%;
}

/*Added 5 column layout - by Peter*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

/*Added no padding class - by Peter*/

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

/*Bootstrap layout fix for print*/

@media print {

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666666666666%;
}
.col-md-10 {
  width: 83.33333333333334%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666666666666%;
}
.col-md-7 {
  width: 58.333333333333336%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666666666667%;
}
.col-md-4 {
  width: 33.33333333333333%;
 }
 .col-md-3 {
   width: 25%;
 }
 .col-md-2 {
   width: 16.666666666666664%;
 }
 .col-md-1 {
  width: 8.333333333333332%;
 }
 .col-md-8 .col-md-4 {width: 33.333333333333332%; margin-left:10px!important;}
 .col-md-8 .col-md-6 {width: 49%;}
 .strategy-analysis .col-md-3, .track-record .col-md-3, .team-analysis .col-md-3 {width:100%}
 .strategy-analysis img, .team-analysis img, .track-record img  {
     display:block!important; 
     max-width:100%!important; 
     height:auto!important;
     margin: 0; padding: 0; 
 }

 /*Disable chart column icons*/
 .col-md-3 i {display:none!important;}
}

table {
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

/*Scorecard tab stylings*/
/* Scorecard styling */
#overview-tab td.score, #overview-tab td.label-desc  {padding:0px; border-bottom:1px solid #f2f2f2; line-height:30px; color:#44546a}
#overview-tab td.label-desc{padding-left: 10px;}
#overview-tab .scorecard tbody tr:first-child td:first-child, #overview-tab .scorecard tbody tr:nth-child(6) td:first-child
{
    background: #d9d9d9; font-weight:bold; color:#44546a; 
}
    .row-Poor {
        height: 30px;
        background-color: #91423B;
        width: 20%;
    }

    .row-Weak {
        height: 30px;
        background-color: #F2B632;
        width: 40%;
    }

    .row-Standard {
        height: 30px;
        background-color: #879BAF;
        width: 60%;
    }

    .row-Strong {
        height: 30px;
        background-color: #80A897;
        width: 80%;
    }

    .row-Exceptional {
        height: 30px;
        background-color: #356F76;
        width: 100%;
    }
    th.rotate {padding:0;}
    tr.ratings th:first-child {padding-left:10px;}
    tr.ratings div {width:20%; float:left; font-size:10px; text-align:right; padding:18px 0px 0px 5px; text-align:center;}
    tr.ratings th { color:#44546a;}
    tr.ratings div {border-left:1px solid #eaeaea; }
    .scorecard tr.ratings th {background:#f2f2f2;}
    th.rotate p, div.rotate div p{
        /* Safari */
        -webkit-transform: rotate(-45deg);

        /* Firefox */
        -moz-transform: rotate(-45deg);

        /* IE */
        -ms-transform: rotate(-45deg);

        /* Opera */
        -o-transform: rotate(-45deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
} 
div.rotate div p {font-size:10px!important;}
.scorecard-cat {background:#e6e6e6; height:30px; line-height:30px; padding-left:10px; font-weight:bold;border-left:1px solid #dcdcdc;}
.scoreCardTab .label-desc {width:38%; float:left; clear:left; height:30px;border-bottom:1px solid #f2f2f2;line-height:30px; padding-left:8px;text-align:left!important;}
.scoreCardTab .row-Poor, .scoreCardTab .row-Weak, .scoreCardTab .row-Standard, .scoreCardTab .row-Strong, .scoreCardTab .row-Exceptional {float:left;}
.scoreCardTab .label-desc:last-child {border:0;}
.scoreCardTab .score-label:last-child .label-desc {border:0!important}
.scoreCardTab .cell-nodata {float:left;height: 30px;padding-left: 5px;line-height: 30px;color: #999;}
.scoreCardTab .row-Poor {width:12.4%;border-bottom:1px solid #dfdfdf;}
.scoreCardTab .row-Weak {width:24.8%;border-bottom:1px solid #dfdfdf;}
.scoreCardTab .row-Standard {width:37.4%;border-bottom:1px solid #dfdfdf;}
.scoreCardTab .row-Strong {width:49.8%;border-bottom:1px solid #dfdfdf;}
.scoreCardTab .row-Exceptional {width:62%;border-bottom:1px solid #dfdfdf;}
.scorecard-message {float:left; width:100%; padding:10px}
div.ratings {width:38%; float:left;line-height:45px;padding-left:10px;border-left:1px solid #dcdcdc;} 
div.rotate div {width:12.4%; float:left; display:block;padding:5px 0px 5px 0px; border-right:1px solid #dfdfdf; background:#f2f2f2}
div.ratings {background:#f2f2f2;font-weight:bold;}
div.rotate div:first-child {border-left:1px solid #dfdfdf;}
div.rotate div:last-child {border:0}
.rating-line{border-bottom:1px solid #dfdfdf;background:#f2f2f2;}
.rating-line:last-child {margin-bottom:20px!important;}
.scoreCardTab .scatter-container .x-label-container, .scoreCardTab .scatter-container .y-label-container {
    position: relative;
}

#overview-tab { margin-top: -10px; width:100%;}
#overview-tab .profile-tab {color:#44546a; font-size:14px!important;}
#overview-tab .fund-performance-widget {margin-bottom:20px;}
.profile-tab >div{padding:3px;}
.profile-tab th {background:#d9d9d9; border-bottom:1px solid #d9d9d9;}
.profile-tab .vertical-table td {border:0;}
.profile-tab .main-area th.row-label {border:0!important;}
 #strategy-tab th.row-label {
    border-bottom-color: #cbcbcb;
}
.profile-tab .row-label {background:none;}
.profile-tab tr:nth-child(2n) td {background:none;}
.main-area .ui-tabs .ui-tabs-panel div {margin:0}
.main-area .ui-tabs .ui-tabs-panel .scatter-container div {margin: 0 auto;}
 #overview-tab th, #overview-tab td {
    border: 0;
}
.history-overview div > div:last-child {padding:10px 10px 10px 10px;}
.team-overview div {height:35px;}
#team-tab .team-overview {margin-bottom:15px;} 
.level {float:left; padding:5px 10px 5px 10px; width:90%; border-bottom:1px solid #e7e7e7; margin:0!important;}
.level-value {float:right; padding:5px; width:10%; border-bottom:1px solid #e7e7e7;margin:0!important;}
.team-overview-total .level, .team-overview-total .level-value {background:#d9d9d9;}
.team-overview-total {margin-bottom:20px!important;}
.profile-tab tr:nth-child(2n) td {background:none;}
.main-area .ui-tabs .ui-tabs-panel div {margin:0}

.headerSubTitle {
      width:100%;
      padding:5px 10px;
      background-color:#44546a;
      color:#fff;
      font-size:14px;
      font-weight:700;
      line-height:25px;
  }
.headerSubTitle.superior {margin-bottom:30px!important; font-size: 16px;}
.section .headerSubTitle a {color:#b7e2f7;}
.padding0 {padding:0; line-height:20px;}
.ui-tabs .ui-tabs-panel div table { text-align: left; }
#main-area .individual-member .section-information {padding-right:10px; padding-top:10px}
.section-information {padding:10px;border-bottom:1px solid #f2f2f2}
.section .section-information {padding:0;}
.main-area section-information tr ul li {padding:5px}
.print-kt .section-information {padding:0px;}


/* stylings from jquery ui  */
#ui-tabs-1 {
    clear:both;
    float: left;
    padding-top: 10px;
    width: 100%;
    display: block;
    margin-top:40px!important
}
.main-area .ui-tabs .ui-tabs-panel {
    padding: 0px 0 10px 0;
    margin-top: 0;
    border-top: 0;
}
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    background: none;
}

.ui-tabs {
    /*position: relative;*/
    padding: 0;
    zoom: 1;
}

.ui-widget-content {
    border: 0;
    background: #FFF;
    color: #222222;
}

.ui-widget {
    font-family: 'Lato', Arial,sans-serif;
    font-size: 1.0em;
}

.wrap {
    position: relative;
    margin: 0 auto;
    background: #fff;
    box-sizing: content-box;
}
#containerBox {
    margin-left: 10px;
    margin-right: -10px;
    border-left: 10px solid #88b04b;
}
#containerBox .container {
    padding-left: 0;
    padding-right: 0;
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1349px;
    }
}
.main-area {
    min-width:0;
    width: 100%;
    display: inline;
}
#mainBox {
    position: relative;
}
.resetBox {
    padding-left: 0;
}
.c {
    clear: both;
}
div.organization-header-info {
    margin-top:-100px!important;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
#ui-tabs-1 {float:left; padding-top:10px; width:100%; display:block;}
.market-info span { width:100%; color:#3d5b77;font-weight:bolder;}
.market-info span.light-text {color:#fff; font-weight:lighter;}
span.launch-date {font-size:12px;}
.market-info, .market-info div {text-align:center}
.customRibbon {
    background-color: #88b04b;
    padding: 0px 30px 0px 20px;
    color: #fff;
    margin: 0;
    display: inline-block;
    position: relative;
    height: 33px;
    width: 100%;
    font-size: 100%;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    margin-bottom: 5px;
}
.customRibbon:before {
    content: "";
    border: 0 solid transparent;
    border-top-width: 1px;
    border-bottom-width: 12px;
    border-right: 45px solid #445826;
    position: absolute;
    left: 0;
    bottom: -12px;
}
.customRibbon:after {
    content: "";
    border: 0 solid transparent;
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-right: 16px solid #ffffff;
    position: absolute;
    right: 0;
    top: 0;
}
.customRibbon h2 {
    color: #fff;
    margin-bottom: 0;
    margin-top: 5px;
}
.organization-header-info .outOfMarket {
    background: #849897;
}
.outOfMarket span, inMarket span {font-weight:bolder;}
#containerBox.moveLeft {border-left:0px!important}
.strenghts-concerns .headerSubTitle {
    background:#d9d9d9; color:#464b4d; margin-top:0!important; padding-top:0!important;
}
.evaluation th {
    background: #44546a;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    width: 50%;
}
#overview-tab th, #overview-tab td {
    border: 0;
}
.strenghts-concerns {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 49.7%, #ffffff 49.7%, #ffffff 49.7%, #f1f1f1 50%, #f4f4f4 50%, #ffffff 50%, #ffffff 50%);
    background: -webkit-linear-gradient(left, #ffffff 49.7%,#ffffff 49.7%,#ffffff 49.7%,#f1f1f1 50%,#f9f9f9 50%,#ffffff 50%,#ffffff 50%);
    background: linear-gradient(to right, #ffffff 49.7%,#ffffff 49.7%,#ffffff 49.7%,#f1f1f1 50%,#f4f4f4 50%,#ffffff 50%,#ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
.strenghts-concerns .col-md-6 .padding-10 {padding:10px!important;}


/*Timeline styling */
#hao-tab, .two-col {width:100%!important;}
#hao-tab .primary-content {width: 530px!important;}
#hao-tab .secondary-content {width: 550px!important;}
#hao-tab .primary-content .section-information {padding:10px!important}

.timeline-container > div > div {display:block!important; float: none!important;}
.timeline-container {float:left; width:600px; padding-bottom: 15px!important; border-bottom: 1px solid #f2f2f2;}
.ht-vert-ax {
        float:left!important;
        background-color:#47576e!important;
        -webkit-align-items:stretch;
        margin: 0 !important;
        border-left: 3px solid #47576e;
        width:3px; 
    }

    .ht-side {
        float: left!important;
        width: 275px;
        max-width: 275px;
        text-align:left!important;
        /*align-items: stretch;
        -webkit-align-items: stretch;*/
        margin: 0 !important;
        padding: 10px 25px 10px 25px!important;
        color:#807168;
        position:relative;    
        }
    .ht-side > div {text-align:left!important;}
    .date-left {text-align:right;}
    .date-right {text-align:left;}
    .ht-spacer {clear:both; width:2px; background-color:#47576e; margin: 0 0 0 275px!important; min-height:15px!important}
    .ht-date-side { vertical-align: top; }

   .date-left.ht-side::after {
   content: '';
   margin:0px 0px 0px 10px;
   text-decoration:none;
   position:absolute;
   color:#80a897;
   top:9px;
   right:-17px;
   background: url(/images/date-left-img.png) no-repeat left 0px;
   width:26px;
   height:22px;
   }

   .date-right.ht-side::before {
   content: '';
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;
   position:absolute;
   font-size:0px;
   top:11px;
   left:-20px;
    }
   .date-right.ht-side::after {
   content: '';
   margin:0px 0px 0px 10px;
   text-decoration:none;
   position:absolute;
   background: url(/images/date-right-img.png) no-repeat left 0px;
   width:26px;
   height:22px;
   top:10px;
   left:-26px;
   }

   /*Timeline styling end*/

   #track-record-sub-tab {margin-top:20px;}
.grayBox a:hover {text-decoration:none; color:#4872ac;}
.overview-and-history .inner-wrap{padding:10px 10px 20px 10px; float:left; width:100%;}
.grayBox .hits-misses {margin-bottom:10px;background:#d9d9d9;color:#3d5b77; padding:10px 20px 8px 20px;font-family:"Lato" ,Arial, Helvetica, sans-serif; font-size:14px!important; border:none; border-radius:0; font-weight:bold;  white-space: normal}
a.hits-misses:hover, a.hits-misses:visited {color:#000;}
a.hits-misses:hover i {background:#000}
#evaluation-tab .evaluation-content {margin-bottom:15px;}
#chart-popup {width:1100px!important; margin:0 auto!important;}

.strategy-analysis .headerSubTitle, .team-analysis .headerSubTitle, .track-record .headerSubTitle {margin-bottom:20px!important; font-size:20px;}


#chart-popup button {display:none;}
#chart-popup-desc {margin:20px 0 20px 0; float:left; width:100%; }
.chart-description {width:100%; float:left; padding:10px 0px  10px 0px;}

.fix-gutters > [class^="col-"],
.fix-gutters > [class*=" col-"] {
  padding-right: 0px;
  padding-left: 0px;
  margin-right:5px!important;
}
.fix-gutters > [class^="col-"]:last-child,
.fix-gutters > [class*=" col-"]:last-child {
  margin-right: -5px!important;
  padding-right:5px;
}
.tab-description {padding:10px 10px 0px 10px}
.team-analysis .col-md-3 > div:nth-child(2) {
    width: 100%;
    padding: 5px 10px;
    background-color: #44546a;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom:0px;
}

#main-area .team-analysis, #main-area .strategy-analysis, #main-area .track-record {margin-bottom:15px; overflow:hidden;}
.team-analysis i, .strategy-analysis i, .track-record i{font-size:100px; text-align:center; display:block; margin:0 auto; margin-top:30px; margin-bottom:20px}
.team-analysis a, .strategy-analysis a, .track-record a {padding:10px 34px 10px 10px; margin:10px 0px 3px 0px; font-size:13px; text-align:left; font-weight:bold;}
#tabs .individual-member {width:100%; background:#fff!important;}
#tabs .individual-member {padding-top:5px!important;}
.member-details a {background:none!important; color:#44546a!important;}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-building:before {
    content: "\f1ad";
}
.fa-pie-chart:before {
    content: "\f200";
}
.fa-bar-chart:before {
content: "\f080";
    }
.fa-area-chart:before {
content: "\f1fe";
    }
.fa-cogs:before {
content: "\f085";
    }
.fa-dollar:before {
content: "\f155";
    }
.fa-money:before {
content: "\f0d6";
    }
.team-rank-label {float:left; width:100%; clear:both; margin-bottom:5px!important;padding: 13px 12px 7px 5px; font-size:20px; text-align:center;}
#team-tab .team-break-down a {
    background-color: #44546a;
    color:#fff;
    padding: 1px 6px 1px 8px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.team-members {width:100%; float:left; text-align:center!important;}
.team-member {background:#fff;display:inline-block; min-width:175px;text-align:center!important; padding: 4px 41px 5px 21px; position:relative; margin:7px 2px 0px 2px!important;
}
.team-member.section-title {text-align:left!important; }
#team-tab .team-member a:hover {background:#000;}
.individual-member .team-member {background:none;padding:0; margin:0!important;}
.team-rank-row {border-bottom:1px solid #f2f2f2; float:left; padding:6px 5px 10px 5px; text-align:center;}
#team-tab .col-md-6:last-child > div > div:last-child {margin-top:-15px}
#team-tab .col-md-6:first-child {margin-bottom:15px}
.strategy-analysis .col-md-3 > div:nth-child(2) {
    width: 100%;
    padding: 5px 10px;
    /*background-color: #44546a;*/
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom:0px;
    text-align:center;
}
.strategy-analysis .col-md-4 {padding-right:5px!important;}
.strategy-analysis .col-md-4:last-child {padding-right:0!important;}
#strategy-tab th.row-label, #strategy-tab td {background-color: #fff; border-right:0; border-left:0;}
#strategy-tab .col-md-8 {margin-left:0!important; padding-left:0!important; padding-left:10px!important;}
#strategy-tab .col-md-8 .section-information {padding:10px 10px 10px 10px!important;}
#main-area .strategy-analysis {margin-top:15px;}

.member-details {padding-top:0px; margin-top:50px!important; padding-left:10px!important;}
#main-area .member-details th, #main-area .member-details td {background:none; border-right:0; border-left:0; border-bottom:1px solid #e7e7e7;}
.grayBox .hits-misses {width:100%; margin:1px 0px 0px 0px;}
.grayBox {
    position:relative;
    page-break-inside:avoid!important;
    display:block!important;
}
.grayBox a i {
    font-size:14px;
    background-color: #44546a;
    color: #fff;
    padding: 4px 6px 4px 7px;
    position: absolute;
    top:6px;
    right: 5px;
    bottom:0;
    margin:0;
    height:22px;
    }
.centered-col {
   text-align: center!important;
   font-size: 0;
}
.centered-col > div{
   float: none;
   /*display: inline-block;*/
   text-align: left;
   font-size: 13px;
   vertical-align:top;
   clear:both;
}
#overview-tab .fund-performance-widget {margin-bottom:20px;}

/*img { display:block!important; width:100%!important; page-break-inside:avoid!important;
 }*/