﻿@inherits RenderViewPage
@using System.Web.Mvc.Html
@using Umbraco.Cms.Web;
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <metadata name="description" content='@Umbraco.Field("metadataDescription")'/>
    <metadata name="keywords" content='@Umbraco.Field("metadataKeywords")'/>
  
    <link href='@VirtualPathUtility.ToAbsolute("~/css/landingscreen.css")' rel="stylesheet" type="text/css" media="screen" />
    <link rel="icon" href='@VirtualPathUtility.ToAbsolute("~/favicon.ico")' type="image/x-icon" />
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://use.typekit.com/kru4vbs.js"></script>
    <script src='@VirtualPathUtility.ToAbsolute("~/js/modernizr-1.7.min.js")' type="text/javascript"></script>
  <script src='@VirtualPathUtility.ToAbsolute("~/Scripts/Umbraco/Site.js")' type="text/javascript"></script>
  <script src='@VirtualPathUtility.ToAbsolute("~/js/fancybox/jquery.fancybox-1.3.4.js")' type="text/javascript"></script>
  <link href='@VirtualPathUtility.ToAbsolute("~/js/fancybox/jquery.fancybox-1.3.4.css")' rel="stylesheet" type="text/css" media="screen" />
  <!--[if lte IE 7]>
  <link href="@VirtualPathUtility.ToAbsolute("~/css/ie.css")" rel="stylesheet" type="text/css" media="screen" />
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    @RenderSection("head", false)
    <script type="text/javascript">
    <!--
        window.location = "/account/logon"
    //-->
    </script>
</head>
<body id='@Umbraco.Field("bodyId")' class='@Umbraco.Field("bodyClass", altText: "inner")'>
<div id="wrap">
   <div id="container">
      <div id="masthead" class="header">
         <h1><a href="/" title="Home">RCP Advisors</a></h1>
         @Umbraco.RenderMacro("mainNav")
      </div>
            
      <div id="main-area" class="main-area">
        @RenderBody()
      </div><!-- End main-content -->
      <div id="site-info" class="footer">
          <div id="site-copyright">
              <script type="text/javascript">
                      now = new Date();
                      year = now.getFullYear();
              </script>
              <p>Copyright &copy; @DateTime.Now.Year RCP Advisors. All Rights Reserved.</p>
          </div>
      </div> <!-- End site-info -->
    </div>
</div>
<script src="@Url.Content("~/js/google-analytics.js")" type="text/javascript"></script>
</body>
</html>
