﻿@model AtlasDiligence.Web.Models.ViewModels.HomeViewModel
@using AtlasDiligence.Web.Helpers.Yui;
@{
    ViewBag.Title = "Atlas Diligence";
}
<div class="conent">
    <p class="alert">@TempData["Message"]</p>
</div>
