﻿@model AtlasDiligence.Web.Models.ViewModels.ScatterChartViewModel
@{
    Layout = null;
    var clientId = String.IsNullOrWhiteSpace(Model.HtmlId) ? "scatterVisualization" : Model.HtmlId;
    var width = !Model.Width.HasValue ? 1000 : Model.Width.Value;
    var height = !Model.Height.HasValue ? 500 : Model.Height.Value;

    var paddingTop = !Model.PaddingTop.HasValue ? 20 : Model.PaddingTop.Value;
    var paddingRight = !Model.PaddingRight.HasValue ? 20 : Model.PaddingRight.Value;
    var paddingBottom = !Model.PaddingBottom.HasValue ? 50 : Model.PaddingBottom.Value;
    var paddingLeft = !Model.PaddingLeft.HasValue ? 125 : Model.PaddingLeft.Value;
    var chartAreaWidth = width - paddingLeft - paddingRight;
    var chartAreaHeight = height - paddingBottom - paddingTop;
    var xAxis = !Model.XAxisDistanceFromBottomOfChart.HasValue ? 40 : Model.XAxisDistanceFromBottomOfChart.Value;
}
<div class="scatter-container">
    <a id="loading-large-scatter" href="#"><span>Loading...</span></a>
    <h3 class="chart-title">
        Scoring Across GP Landscape</h3>
    <div id="@clientId" style="width: @(width)px; height: @(height)px;">
    </div>
    <div class="x-label-container" style="width: @(width)px;">
        <span class="x-labels label-poor">Poor</span> <span class="x-labels label-weak">Weak</span> <span class="x-labels label-standard">Standard</span> <span class="x-labels label-strong">Strong</span> <span class="x-labels label-exceptional">Exceptional</span></div>
    <div class="y-label-container" style="width: @(width)px;">
        <span class="y-labels label-exceptional">Exceptional</span> <span class="y-labels label-strong">Strong</span> <span class="y-labels label-standard">Standard</span> <span class="y-labels label-weak">Weak</span> <span class="y-labels label-poor">Poor</span><span class="y-labels label-ungraded">Ungraded</span></div>
</div>
<script type="text/javascript">
    var scatter;
    function initFluidScatterChartPartial@(clientId)() {
        function draw@(clientId)Visualization() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Quantity');
            data.addColumn({ type: 'string', role: 'tooltip' }, 'Id');
            data.addColumn('number', 'Quality');
            data.addColumn({ type: 'string', role: 'tooltip' }, 'OtherOrgName');
            data.addColumn('number', 'This Quantity');
            data.addColumn({ type: 'string', role: 'tooltip' }, 'OrgName');
            data.addColumn({ type: 'number', role: 'emphasis' }, 'Emphasis');

            data.addColumn('number', 'UngradedQuality');
            data.addColumn({ type: 'string', role: 'tooltip' }, 'UngradedOtherOrgName');

            data.addRows([
                    @foreach (var result in Model.OtherOrganizations.Where(m => m.Quantity.GetValueOrDefault(10) >= 10))
                {
                            @:[@(result.Quality.GetValueOrDefault(10)), '@(Url.Action("Index", "Organization", new { id = result.Id }))', @(result.Quantity.GetValueOrDefault(10)), '@Html.Raw(result.Name.Replace("'", "\\'"))', null, null, null, null, null],
                    }

                    @foreach (var result in Model.OtherOrganizations.Where(m => m.Quantity.GetValueOrDefault(10) < 10))
                {
                            @:[@(result.Quality.GetValueOrDefault(10)), '@(Url.Action("Index", "Organization", new { id = result.Id }))', null, null, null, null, null, @(result.Quantity.GetValueOrDefault(10)), '@Html.Raw(result.Name.Replace("'", "\\'"))'],
                    }

                    [@(Model.OrganizationQualitativeScore), '@(Url.Action("Index", "Organization", new { id = Model.OrganizationId }))', null, null, @(Model.OrganizationQuantitativeScore), '@Html.Raw(Model.OrganizationName.Replace("'", "\\'"))', 2.3, null, null]
            ]);
            // Create and draw the visualization.
            scatter = new google.visualization.ScatterChart(document.getElementById('@clientId'));

            google.visualization.events.addListener(scatter, 'select', function() {
                //console.log();
                var selection = scatter.getSelection()[0];
                if (selection !== undefined) {
                    window.open(data.getValue(selection.row, 1), '_blank');
                }
            });

            google.visualization.events.addListener(scatter, 'ready', function() {
                $('#@(clientId) > div > div:nth-child(1) > div > svg > g:nth-child(4) > g:nth-child(2) > text').attr('y','200');
                $('#@(clientId) > div > div:nth-child(1) > div > svg > g:nth-child(4) > g:nth-child(1) > text').attr('y','490');

                $('#@(clientId) svg > g:first > rect:first').attr('stroke', '#000000').attr('stroke-width', '1px');

                // change vertical gridline color
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(2)').attr('fill', '#000000');
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(4)').attr('fill', '#000000');
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(6)').attr('fill', '#000000');
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(8)').attr('fill', '#000000');
                //$('#@(clientId) svg > g:first > g:first > g:first rect:eq(10)').attr('fill', '#000000');

                // change horizontal gridlines color
                @{
                var newX = paddingLeft + chartAreaWidth / 10 + 1;
            }

                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(47)').attr('fill', '#000000');
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(49)').attr('fill', '#000000');
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(51)').attr('fill', '#000000');
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(53)').attr('fill', '#000000');
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(55)').attr('fill', '#000000');
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(57)').attr('fill', '#000000');
                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(59)').attr('fill', '#000000');
                //$('#@(clientId) svg > g:first > g:first > g:first rect:eq(60)').attr('fill', '#000000');

                @{
                var newY = paddingTop + (9 * chartAreaHeight / 10);
            }

                $('#@(clientId) svg > g:first > g:first > g:first rect:eq(62)').attr('fill', '#F4F4F4').attr('height', @(chartAreaHeight / 10)).attr('y', @newY).attr('width', $('#@(clientId) svg > g:first > g:first > g:first rect:eq(62)').attr('width') - 0);

                // remove columns that are fill white
                $('#@(clientId) svg > g:first > g:first > g:first rect[fill="#ffffff"]').remove();

                var xAxisLabel = $('#@(clientId) svg > g:eq(1) > g:first > text');
                xAxisLabel.attr('y', @(height - paddingBottom + xAxis));
                xAxisLabel.removeAttr('font-style');
                xAxisLabel.attr('font-weight', 'bold');
                var yAxisLabel = $('#@(clientId) svg > g:eq(1) > g:eq(1) > text');
                //yAxisLabel.removeAttr('transform');
                yAxisLabel.removeAttr('font-style');
                yAxisLabel.attr('font-weight', 'bold');
                yAxisLabel.attr('y', yAxisLabel.attr('y')-35);

                //yAxisLabel.attr('x', 10);
                //yAxisLabel.attr('text-anchor', 'left');
            });


            scatter.draw(data,
    {
        //enableInteractivity: false,
        legend: 'none',
        chartArea: {
            left: @paddingLeft,
            top: @paddingTop,
            height: @chartAreaHeight,
            width: @chartAreaWidth
            },
        fontName: "Calibri",
        width: @(width),
        height: @(height),
        pointSize: 6,
        //colors: ['#71a7e0', '#fa8754','#a5c24f','#fcd06d'],
        hAxis: {
            title: 'Qualitative Score',
            minValue: 10,
            maxValue: 100,
            gridlines: { count: 10, color: '#CCC' },
            minorGridlines: { count: 4 },
            textPosition: 'none',
            titleTextStyle: {
                fontName: 'Calibri',
                italic: false
            }
        },
        vAxis: {
            title: 'QoR Performance Score',
            minValue: 0,
            maxValue: 100,
            gridlines: { count: 11, color: '#CCC' },
            minorGridlines: { count: 4 },
            textPosition: 'none',
            titleTextStyle: {
                fontName: 'Calibri',
                italic: false
            }
        }
    });

            var xStart = @paddingLeft;
            var xStep = @chartAreaWidth / 9;
            $('#@(clientId)').siblings('.x-label-container').find('.x-labels').each(function() {
                var $this = $(this);
                $this.css('top', '@(-paddingBottom)px');
                if($this.hasClass('label-poor')) {
                    $this.css('left', xStart + (xStep) - ($this.width()/2) + 'px');
                } else if($this.hasClass('label-weak')) {
                    $this.css('left', xStart + (xStep * 3) - ($this.width()/2) + 'px');
                } else if($this.hasClass('label-standard')) {
                    $this.css('left', xStart + (xStep * 5) - ($this.width()/2) + 'px');
                }else if($this.hasClass('label-strong')) {
                    $this.css('left', xStart + (xStep * 7) - ($this.width()/2) + 'px');
                }else if($this.hasClass('label-exceptional')) {
                    $this.css('left', xStart + (xStep * 8.5) - ($this.width() / 2) + 'px');
                }
            });
            var yStart = @paddingBottom;
            var yStep = @chartAreaHeight / 10;
            $('#@(clientId)').siblings('.y-label-container').find('.y-labels').each(function() {
                var $this = $(this);
                $this.css('left', @(paddingLeft) - $this.width() - 5 + 'px');

                if($this.hasClass('label-ungraded')) {
                    $this.css('top', -yStart - (yStep * 0.5) - ($this.height() / 2) + 'px');
                } else if($this.hasClass('label-poor')) {
                    $this.css('top', -yStart - (yStep * 2) - ($this.height()/2)+ 'px');
                } else if($this.hasClass('label-weak')) {
                    $this.css('top', -yStart - (yStep * 4) - ($this.height()/2)+ 'px');
                } else if($this.hasClass('label-standard')) {
                    $this.css('top', -yStart - (yStep * 6) - ($this.height()/2)+ 'px');
                }else if($this.hasClass('label-strong')) {
                    $this.css('top', -yStart - (yStep * 8) - ($this.height()/2)+ 'px');
                }else if($this.hasClass('label-exceptional')) {
                    $this.css('top', -yStart - (yStep * 9.5) - ($this.height()/2) + 'px');
                }
            });
        }

        // Because we are loading this through ajax, the setOnLoadCallback has already fired.  We must just call the draw function
        if(window.location.pathname.indexOf('Print') >= 0)
        {
            google.setOnLoadCallback(draw@(clientId)Visualization);
            draw@(clientId)Visualization();
        }
        else
        {
            draw@(clientId)Visualization();
        }
    }
    if (typeof chartFunctions!='undefined') chartFunctions.push(initFluidScatterChartPartial@(clientId));
    else initFluidScatterChartPartial@(clientId)();
</script>
