﻿@using AtlasDiligence.Common.DTO.Model
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@model OrganizationViewModel
@{ 
    Layout = null;
    var allVisibleOrgsInSegment = Model.OrganizationsInSameSegment.Union(new[]
                                                                             {
                                                                                 new LuceneSearchResult
                                                                                     {
                                                                                         Id = Model.Organization.Id, 
                                                                                         Name = Model.Organization.Name, 
                                                                                         Quality = Model.Organization.QualitativeGradeNumber, 
                                                                                         Quantity =  Model.Organization.QuantitativeGradeNumber
                                                                                     }
                                                                             }).ToList();
    var grade = Model.Organization.Grades.FirstOrDefault();
}
@helper PrintScorecardHeader()
    {
    <thead>
        <tr>
            <td class="empty" style="width: 44px;">
            </td>
            <td class="empty" style="width: 216px;">
            </td>
            <th class="col-poor" style="width: 130px;">Poor</th>
            <th class="col-weak" style="width: 130px;">Weak</th>
            <th class="col-std" style="width: 130px;">Standard</th>
            <th class="col-strong" style="width: 130px;">Strong</th>
            <th class="col-exceptional" style="width: 130px;">Exceptional</th>
        </tr>
    </thead>
}
@helper PrintScorecardRow(string label, string grade)
    {
        if (!string.IsNullOrWhiteSpace(grade))
        {
    <tr>
        <td class="label-desc">
            @label
        </td>
        @if (grade != "Insufficient Information" && grade != "Not Applicable")
        {
            <td class="col-poor">@Html.Raw(grade == "Poor" ? "<span class=\"checked\">✓</span>" : string.Empty)
            </td>
            <td class="col-weak" style="width: 130px;">@Html.Raw(grade == "Weak" ? "<span class=\"checked\">✓</span>" : string.Empty)
            </td>
            <td class="col-std" style="width: 130px;">@Html.Raw(grade == "Standard" ? "<span class=\"checked\">✓</span>" : string.Empty)
            </td>
            <td class="col-strong" style="width: 130px;">@Html.Raw(grade == "Strong" ? "<span class=\"checked\">✓</span>" : string.Empty)
            </td>
            <td class="col-exceptional" style="width: 130px;">@Html.Raw(grade == "Exceptional" ? "<span class=\"checked\">✓</span>" : string.Empty)
            </td>
        }
        else
        {
            <td class="cell-nodata"></td>
            <td class="cell-nodata"></td>
            <td class="cell-nodata">@grade</td>
            <td class="cell-nodata"></td>
            <td class="cell-nodata"></td>
            
        }
    </tr>
        }
}
<div id="grade-tab" class="tab-container">
    <div class="content">
        <a href="#" id="scoring-system-dialog-link" class="screen-only">RCP Scoring System: Key Terms and Methodology</a>
        <div style="display: none;" id="scoring-system-dialog">
            <p><strong>"Qual. Score" – Qualitative Score:</strong> This is the overall weighted score of the 20 qualitative attributes on the Qualitative scorecard. If an attribute is not graded due to insufficient information or if it is not applicable then it is removed from the calculation of the overall score.</p>
            <p><strong>"QoR Score" – Quality of Returns Score:</strong> This is the overall weighted score of the 13 quantitative attributes on the "QoR" scorecard. If an attribute is not graded due to insufficient information or if it is not applicable then it is removed from the calculation of the overall score.</p>
            <p><strong>Qual. Scorecard Grading Methodology:</strong> RCP has identified 20 primary qualitative attributes that it uses in its Qualitative Scorecard to present an overall evaluation of the strengths and weaknesses of an organization along dimensions that are important to limited partners considering a commitment. Each attribute is graded along a scale that includes "Poor," "Weak," "Standard," "Strong," and "Exceptional." The grade for each attribute is determined using a combination of quantitative criteria along with systematic qualitative criteria and the judgment of the RCP investment staff.</p>
            <p><strong>QoR Scorecard Grading Methodology:</strong> RCP has identified 13 primary quantitative attributes that it uses in its QoR Scorecard that provide a more thorough analysis of the quality of a firm’s track record beyond just fund level returns. RCP believes that these attributes taken as a whole provide a more robust indication of the potential for future investment success. Each attribute is graded along a scale that includes "Poor," "Weak," "Standard," "Strong," and "Exceptional." The grade for each attribute is determined using primarily quantitative criteria alongside some systematic qualitative criteria and the judgment of the RCP investment staff.</p>
            <p><strong>Grading Definitions:</strong> The grade of "Standard" indicates that for a given attribute the organization being evaluated has demonstrated qualities RCP would expect to see for an institutional quality firm. "Poor" and "Weak" indicate varying levels of deficiency in that attribute, while "Strong" and "Exceptional" indicate varying levels of quality and differentiation over and above what is common practice amongst institutional quality firms. "Ungraded" in the GP Landscape chart shows firms where we have enough qualitative information to create a Qualitative Score, but not enough track record information at this time to create a QoR score.</p>
            <p><strong>Weighting Methodology:</strong> RCP uses a mathematical decision making model called Analytic Hierarchy Process (AHP) in order to create a system for weighting the grades of various attributes to calculate the overall Qualitative Score and QoR Score. AHP provides a systematic process to help decision makers weigh a set of multivariable attributes against one another and determine the relative importance of each attribute, and thus a weighting.</p>
            <p><strong>Detailed Information:</strong> For more detailed information please e-mail <a href="mailto:support@rcpadvisors.com">support@rcpadvisors.com</a></p>
        </div>
        <div class="grade-tab nested-tabs">
            <ul class="screen-only">
                <li><a href="#tab-1">General Partner Landscape</a></li>
                <li><a href="#tab-2">Qualitative Scorecard</a></li>
                <li><a href="#tab-3">QoR Performance Scorecard</a></li>
            </ul>
            <div id="tab-1" class="no-page-break">
                <h2 class="print-only">GP Landscape</h2>
                <div id="organization-grade">
                    <dl>
                        <dt>Qual. Score: </dt>
                        <dd>@Model.Organization.QualitativeGrade.IfNullOrEmptyThen("Not Graded")</dd>
                    </dl>
                    <dl>
                        <dt>QoR Score: </dt>
                        <dd>@Model.Organization.QuantitativeGrade.IfNullOrEmptyThen("Not Graded")</dd>
                    </dl>
                </div>
                <div class="screen-only">
                @using (Html.BeginForm("GetScatterChart", "Organization", FormMethod.Get, new { id = "chart-options" }))
                {
                    @Html.Hidden("id", Model.Organization.Id)
                    <div class="field inline-label">
                        @Html.LabelFor(m => m.SearchOptions.SelectedStrategy)
                        @Html.ListBoxFor(m => m.SearchOptions.SelectedStrategy, new MultiSelectList(Model.SearchOptions.Strategies, Model.SearchOptions.SelectedStrategy), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:150px" } })
                    </div>
                    <div class="field inline-label">
                        @Html.LabelFor(m => m.SearchOptions.SelectedMarketStage)
                        <select id="SearchOptions_SelectedMarketStage" class="chosen" style="width: 150px" name="SearchOptions.SelectedMarketStage" multiple="multiple">
                            <optgroup label="Private Equity">
                                <option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Small Market") ? " selected=\"selected\"" : string.Empty)>Small Market</option>
                                <option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Middle Market") ? " selected=\"selected\"" : string.Empty)>Middle Market</option>
                                <option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Large Market") ? " selected=\"selected\"" : string.Empty)>Large Market</option>
                                <option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Mega Market") ? " selected=\"selected\"" : string.Empty)>Mega Market</option>
                                <option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Opportunistic") ? " selected=\"selected\"" : string.Empty)>Opportunistic</option>
                            </optgroup>
                            <optgroup label="Venture Capital">
                                <option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Early Stage") ? " selected=\"selected\"" : string.Empty)>Early Stage</option>
                                <option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Mid Stage") ? " selected=\"selected\"" : string.Empty)>Mid Stage</option>
                                <option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Late Stage") ? " selected=\"selected\"" : string.Empty)>Late Stage</option>
                                <option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Multi-Stage") ? " selected=\"selected\"" : string.Empty)>Multi-Stage</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="field inline-label">
                        @Html.LabelFor(m => m.SearchOptions.SelectedInvestmentRegions)
                        @Html.ListBoxFor(m => m.SearchOptions.SelectedInvestmentRegions, new MultiSelectList(Model.SearchOptions.InvestmentRegions, Model.SearchOptions.SelectedInvestmentRegions), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:150px" } })
                    </div>
                    <div class="field inline-label">
                        @Html.LabelFor(m => m.SearchOptions.SelectedFundraisingStatus)
                        @Html.ListBoxFor(m => m.SearchOptions.SelectedFundraisingStatus, new MultiSelectList(Model.SearchOptions.FundraisingStatuses, Model.SearchOptions.SelectedFundraisingStatus), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:150px" } })
                    </div> 
                    <div class="field inline-label" style="clear: both;">
                        @Html.ValidationMessageFor(m => m.SearchOptions.SelectedSector)
                        @Html.LabelFor(m => m.SearchOptions.SelectedSector)
                        @Html.ListBoxFor(m => m.SearchOptions.SelectedSector, new MultiSelectList(Model.SearchOptions.Sectors.Select(m => m.Trim()).Distinct().OrderBy(m => m), Model.SearchOptions.SelectedSector), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:150px" } })
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SearchOptions.SectorSpecialist)
                        @Html.LabelFor(m => m.SearchOptions.SectorSpecialist)
                        @Html.CheckBox("SearchOptions.SectorSpecialist", false)
                    </div>
                    <div class="field inline-label" style="width: 50%;">
                        @Html.ValidationMessageFor(m => m.SearchOptions.FundSizeMinimum)
                        @Html.ValidationMessageFor(m => m.SearchOptions.FundSizeMaximum)
                        @Html.ValidationMessageFor(m => m.SearchOptions.SelectedCurrencies)
                        <label for="FundSizeMinimum">Fund Size (millions):</label>
                        <select id="search-currency" class="chosen" style="width: 135px; top: 7px;" name="SearchOptions.SelectedCurrencies">
                            @foreach (var option in Model.SearchOptions.Currencies.OrderBy(m => m == "US Dollar" ? 0 : 1).ThenBy(m => m))
                            {
                                <option@Html.Raw(Model.SearchOptions.SelectedCurrencies != null && Model.SearchOptions.SelectedCurrencies.Contains(option) ? " selected=\"selected\"" : string.Empty)>@option</option>
                            }
                        </select>
                        <span class="chosen-inline">
                        @Html.TextBoxFor(m => m.SearchOptions.FundSizeMinimum, new { @class = "number comma-separated", style="width:89px; margin-left:10px;" })
                        <span>to</span>
                        @Html.TextBoxFor(m => m.SearchOptions.FundSizeMaximum, new { @class = "number comma-separated", style="width:89px;" })
                        </span>
                    </div>
                    <input type="submit" value="Refresh" />
                }
                </div>
                <div class="main scatter-chart group">
                    @Html.Partial("FluidScatterChartPartial", new ScatterChartViewModel
               {
                   OrganizationId = Model.Organization.Id,
                   OrganizationName = Model.Organization.Name,
                   OrganizationQualitativeScore = Model.Organization.QualitativeGradeNumber.GetValueOrDefault(10),
                   OrganizationQuantitativeScore = Model.Organization.QuantitativeGradeNumber.GetValueOrDefault(10),
                   OtherOrganizations = Model.OrganizationsInSameSegment.Where(m => (m.Quality.HasValue || m.Quantity.HasValue)),
                   Height = 500,
                   Width = 1000,
                   PaddingLeft = 125,
                   PaddingBottom = 50,
                   PaddingRight = 20,
                   PaddingTop = 20,
                   XAxisDistanceFromBottomOfChart = 40
               })
                </div>
                @if (!String.IsNullOrWhiteSpace(grade.ScatterchartText))
                {
                    <div class="tab-description">@grade.ScatterchartText</div>
                }
            </div>
            <div class="two-col" id="tab-2">
                <h2 class="print-only">Qualitative Scorecard</h2>
                <div class="section">
                    <div class="scorecard">
                        @if (!String.IsNullOrWhiteSpace(grade.ExpertiseAlignedWithStrategy + grade.HistoryTogether
                                                  + grade.ComplementarySkills + grade.TeamDepth + grade.ValueAddResources))
                        {
                            <table data-label="Team">
                                @this.PrintScorecardHeader()
                                <tbody>
                                    @this.PrintScorecardRow("Expertise Aligned with Strategy", grade.ExpertiseAlignedWithStrategy)
                                    @this.PrintScorecardRow("History Together", grade.HistoryTogether)
                                    @this.PrintScorecardRow("Complementary Skills", grade.ComplementarySkills)
                                    @this.PrintScorecardRow("Team Depth", grade.TeamDepth)
                                    @this.PrintScorecardRow("Value-add Resources", grade.ValueAddResources)
                                </tbody>
                            </table> 
                        }
                        @if (!String.IsNullOrWhiteSpace(grade.InvestmentThesis + grade.CompetitiveAdvantage
                                                  + grade.PortfolioConstruction + grade.AppropriatenessOfFundSize + grade.ConsistencyOfStrategy))
                        {
                            <table data-label="Strategy">
                                @this.PrintScorecardHeader()
                                <tbody>
                                    @this.PrintScorecardRow("Investment Thesis", grade.InvestmentThesis)
                                    @this.PrintScorecardRow("Competitive Advantage", grade.CompetitiveAdvantage)
                                    @this.PrintScorecardRow("Portfolio Construction", grade.PortfolioConstruction)
                                    @this.PrintScorecardRow("Appropriateness of Fund Size", grade.AppropriatenessOfFundSize)
                                    @this.PrintScorecardRow("Consistency of Strategy", grade.ConsistencyOfStrategy)
                                </tbody>
                            </table>
                        }
                        @if (!String.IsNullOrWhiteSpace(grade.Sourcing + grade.DueDiligence
                                                  + grade.DecisionMaking + grade.DealExecutionStructure + grade.PostInvestmentValueAdd))
                        {
                            <table data-label="Process">
                                @this.PrintScorecardHeader()
                                <tbody>
                                    @this.PrintScorecardRow("Sourcing", grade.Sourcing)
                                    @this.PrintScorecardRow("Due Diligence", grade.DueDiligence)
                                    @this.PrintScorecardRow("Decision Making", grade.DecisionMaking)
                                    @this.PrintScorecardRow("Deal Execution/Structure", grade.DealExecutionStructure)
                                    @this.PrintScorecardRow("Post Investment Value-add", grade.PostInvestmentValueAdd)
                                </tbody>
                            </table>
                        }
                        @if (!String.IsNullOrWhiteSpace(grade.TeamStability + grade.OwnershipAndCompensation
                                                  + grade.Culture + grade.AlignmentWithLPs + grade.Terms))
                        {
                            <table data-label="Firm">
                                @this.PrintScorecardHeader()
                                <tbody>
                                    @this.PrintScorecardRow("Team Stability", grade.TeamStability)
                                    @this.PrintScorecardRow("Ownership and Compensation", grade.OwnershipAndCompensation)
                                    @this.PrintScorecardRow("Culture", grade.Culture)
                                    @this.PrintScorecardRow("Alignment with LPs", grade.AlignmentWithLPs)
                                    @this.PrintScorecardRow("Terms", grade.Terms)
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                @if (!String.IsNullOrWhiteSpace(grade.AQScorecardText))
                {
                    <div class="tab-description">@grade.AQScorecardText</div>
                }
                @Html.Partial("BarGraphPartial", new BarGraphViewModel
           {
               HtmlId = "qualityBarGraph",
               GraphTitle = "Qualitative Score compared to GP Landscape",
               BestScore = allVisibleOrgsInSegment.Max(m => m.Quality.GetValueOrDefault(10)),
               MedianScore = allVisibleOrgsInSegment.Where(m => m.Quality.GetValueOrDefault(10) > 10).Median(m => m.Quality.GetValueOrDefault(10)),
               OrganizationScore = Model.Organization.QualitativeGradeNumber.GetValueOrDefault(10) > 10 ? Model.Organization.QualitativeGradeNumber.GetValueOrDefault(10) : 0,
               WorstScore = allVisibleOrgsInSegment.Where(m => m.Quality.GetValueOrDefault(10) > 10).Min(m => m.Quality.GetValueOrDefault(10)),
               OrganizationName = Model.Organization.Name,
               Width = 485,
               Height = 300,
               PaddingBottom = 5,
               PaddingTop = 5,
           })
                @Html.Partial("DistributionChartPartial", new DistributionChartViewModel
           {
               HtmlId = "qualityDistributionChart",
               OtherOrganizations = Model.OrganizationsInSameSegment,
               OrganizationScore = Model.Organization.QualitativeGradeNumber.GetValueOrDefault(10),
               OrganizationId = Model.Organization.Id,
               OrganizationName = Model.Organization.Name,
               IsQuality = true,
               ChartTitle = "Qualitative Score Percentile Across GP Landscape",
               Width = 485,
               Height = 300,
               PaddingBottom = 5,
               PaddingTop = 5,
               PaddingLeft = 50,
               PaddingRight = 25
           })
            </div>
            <div class="two-col" id="tab-3">
                <h2 class="print-only">QoR Scorecard</h2>
                <div class="section">
                    <div class="scorecard">
                        @if (!String.IsNullOrWhiteSpace(grade.AbsolutePerformance + grade.RelativePerformance + grade.RealizedPerformance))
                        {
                            <table data-label="Performance">
                                @this.PrintScorecardHeader()
                                <tbody>
                                    @PrintScorecardRow("Absolute Performance", grade.AbsolutePerformance)
                                    @PrintScorecardRow("Relative Performance", grade.RelativePerformance)
                                    @PrintScorecardRow("Realized Performance", grade.RealizedPerformance)
                                </tbody>
                            </table> 
                        }
                        @if (!String.IsNullOrWhiteSpace(grade.DepthOfTrackRecord + grade.RelevanceOfTrackRecord
                                                  + grade.LossRatioAnalysis + grade.UnrealizedPortfolio + grade.AtlasValueCreationAnalysis))
                        {
                            <table data-label="Track Record Analysis">
                                @this.PrintScorecardHeader()
                                <tbody>
                                    @PrintScorecardRow("Depth of Track Record", grade.DepthOfTrackRecord)
                                    @PrintScorecardRow("Relevance of Track Record", grade.RelevanceOfTrackRecord)
                                    @PrintScorecardRow("Loss Ratio Analysis", grade.LossRatioAnalysis)
                                    @PrintScorecardRow("Unrealized Portfolio", grade.UnrealizedPortfolio)
                                    @PrintScorecardRow("Value Creation Analysis", grade.AtlasValueCreationAnalysis)
                                </tbody>
                            </table> 
                        }
                        @if (!String.IsNullOrWhiteSpace(grade.AtlasHitsAndMisses + grade.DealSize
                                                  + grade.Strategy + grade.Time + grade.Team))
                        {
                            <table data-label="Performance Consistency">
                                @this.PrintScorecardHeader()
                                <tbody>
                                    @PrintScorecardRow("Hits & Misses", grade.AtlasHitsAndMisses)
                                    @PrintScorecardRow("Deal Size", grade.DealSize)
                                    @PrintScorecardRow("Strategy", grade.Strategy)
                                    @PrintScorecardRow("Time", grade.Time)
                                    @PrintScorecardRow("Team", grade.Team)
                                </tbody>
                            </table> 
                        }
                    </div>
                    @if (!String.IsNullOrWhiteSpace(grade.QoRScorecardText))
                    {
                        <div class="tab-description">@grade.QoRScorecardText</div>
                    }
                </div>
                @Html.Partial("BarGraphPartial", new BarGraphViewModel
           {
               HtmlId = "quantityBarGraph",
               GraphTitle = "QoR Score compared to GP Landscape",
               BestScore = allVisibleOrgsInSegment.Max(m => m.Quantity.GetValueOrDefault(10)),
               MedianScore = allVisibleOrgsInSegment.Where(m => m.Quantity.GetValueOrDefault(10) > 10).Median(m => m.Quantity.GetValueOrDefault(10)),
               OrganizationScore = Model.Organization.QuantitativeGradeNumber.GetValueOrDefault(10) > 10 ? Model.Organization.QuantitativeGradeNumber.GetValueOrDefault(10) : 0,
               WorstScore = allVisibleOrgsInSegment.Where(m => m.Quantity.GetValueOrDefault(10) > 10).Min(m => m.Quantity.GetValueOrDefault(10)),
               OrganizationName = Model.Organization.Name,
               Width = 485,
               Height = 300,
               PaddingBottom = 5,
               PaddingTop = 5,
           })
                @Html.Partial("DistributionChartPartial", new DistributionChartViewModel
           {
               HtmlId = "quantityDistributionChart",
               OtherOrganizations = Model.OrganizationsInSameSegment,
               OrganizationScore = Model.Organization.QuantitativeGradeNumber.GetValueOrDefault(10),
               OrganizationId = Model.Organization.Id,
               OrganizationName = Model.Organization.Name,
               IsQuality = false,
               ChartTitle = "QoR Score Percentile Across GP Landscape",
               Width = 485,
               Height = 300,
               PaddingBottom = 5,
               PaddingTop = 5,
               PaddingLeft = 50,
               PaddingRight = 25
           })
            </div>
        </div>
    </div>
</div>
<script>
    if (window.location.pathname.indexOf('Print') < 0) {
        $('.grade-tab').tabs();
    }
    $('.scorecard table').each(function () {
        var label = $(this).data('label');

        var bodyRow = $(this).find('tbody tr');
        if (bodyRow.length > 0) {
            bodyRow.first().prepend('<th class="group-label" rowspan="' + bodyRow.length + '"><span>' + label + '</span></th>');
        }
    });
    $('.scorecard').each(function () {
        $(this).find('table tbody tr:first').closest('table').find('thead').removeClass('hidden-header');
    });

    var refreshChart = function () {
        var form = $('#chart-options');
        $('.scatter-container #loading-large-scatter').show();
        $.getJSON(form.attr('action'), form.serialize(), function (result) {
            $('.scatter-chart').html(result.RenderView);
        });
    };

    if ($.fn.chosen) {
        $('select.chosen:not(#search-currency)').chosen().change(refreshChart);
        $('#search-currency').chosen().change(function () {
            if ($(this).siblings('.chosen-inline:eq(0)').find('input:eq(0)').val() != '' || $(this).siblings('.chosen-inline:eq(0)').find('input:eq(1)').val() != '') {
                refreshChart();
            }
        });
    }
    $('#chart-options input[type="checkbox"]').click(refreshChart);
    $('#chart-options input.number').change(refreshChart);
</script>
