﻿@using AtlasDiligence.Common.DTO.Enums
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models
@using AtlasDiligence.Web.Models.ViewModels
@model OrganizationViewModel
@{ 
    Layout = null;
    var userEntity = (UserEntity)ViewBag.UserEntity;
}
<script type="text/javascript">
    $(function () {
        $('#gen-full-report').click(function (e) {
            e.preventDefault();
            common.showLoading();
            $.post($(this).attr('href'), function (result) {
                debugger;
                common.hideLoading();
                if (result) {
                    userNotifications.prepend($(result));
                }
            });
            return false;
        });
    });
</script>
<div id="overview-tab" class="tab-container">
    <div class="tab-title">
        <h2>
            Overview</h2>
        <div class="print-options-nobg screen-only">
            <span class="print-full"><a id="gen-full-report" href="@Url.Action("PrintAllPdf", "Organization", new { id = Model.Id })" target="_blank">Generate PDF Report</a></span>
            @*<span class="print-full"><a href="@Url.Action("PrintAllOld", "Organization", new { id = Model.Id })" target="_blank">Print Full Report Old</a></span>*@
        </div>
    </div>
    <div class="content two-col">
        @if (!String.IsNullOrEmpty(Model.Organization.OrganizationOverview))
        {
            <div class="tab-description">
                @Html.Raw(Model.Organization.OrganizationOverview.NewlineToBreak())
            </div>
        }
        <div class="primary-content">
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Organization History", Content = Model.Organization.History })
            @if (Model.Organization.Funds != null && Model.Organization.Funds.Any())
            {
                var openFundStatuses = new[] { "Open", "Pre-Marketing" };
                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="print-kt no-border">
						<tr><td class="print-kt">
				<div class="section print-kt">
                    <div class="section-title">
                        <h2>
                            Fund History</h2>
                    </div>
                    <div class="section-information">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Fund
                                    </th>
                                    <th class="center-align">
                                        Vintage
                                    </th>
                                    <th class="center-align">
                                        Size (mm)
                                    </th>
                                    <th class="center-align">
                                        Status
                                    </th>
                                    <th class="center-align">
                                        MOIC
                                    </th>
                                    <th class="center-align">
                                        Gross IRR
                                    </th>
                                    <th class="center-align">
                                        As of
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var fund in Model.Organization.Funds.OrderBy(m => m.SortOrder.GetValueOrDefault(0)).ThenBy(m => m.Name))
                                {
                                    var isOpenStatus = openFundStatuses.Contains(fund.Status);
                                    <tr>
                                        <td>@fund.Name
                                        </td>
                                        <td class="center-align">@fund.VintageYear
                                        </td>
                                        <td class="right-align">@AtlasDiligence.Web.General.StringExtensions.Currency(isOpenStatus ? fund.TargetSize : fund.FundSize, fund.Currency, 0)@Html.Raw(isOpenStatus ? "<span title=\"Target Size\">*</span>" : string.Empty)
                                        </td>
                                        <td class="center-align">@fund.Status
                                        </td>
                                        <td class="center-align">@(fund.Moic.HasValue ? fund.Moic.Value.ToString("N2") + "x" : String.Empty)
                                        </td>
                                        <td class="center-align">@(fund.GrossIrr.HasValue ? fund.GrossIrr.Value.ToString("N1") + "%" : String.Empty)
                                        </td>
                                        <td class="center-align">@(fund.AsOf.HasValue ? fund.AsOf.Value.ToShortDateString() : String.Empty)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (Model.Organization.Funds.Any(m => openFundStatuses.Contains(m.Status)))
                        {
                            <em id="target-size-info">*Target Size</em>
                        }
                    </div>
                </div>
				</td></tr></table>
            }
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Investment Thesis", Content = Model.Organization.InvestmentThesis })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Diligence Highlights", Content = Model.Organization.FirmHighlights })
            @if (Model.Organization.Evaluations.Any())
            {
                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="print-kt no-border">
						<tr><td class="print-kt">
				<div class="section print-kt">
                    <div class="section-title">
                        <h2>@Model.Organization.EvaluationLevel</h2>
                    </div>
                    <div class="section-information">
                        <table class="evaluation">
                            <tbody>
                                <tr>
                                    <th>
                                        Strengths
                                    </th>
                                    <th>
                                        Concerns
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            @foreach (var strength in Model.Organization.Evaluations.Where(m => m.Type == (int)EvaluationType.Strength).OrderBy(o => o.SortOrder))
                                            {


                                                <li>@strength.Description </li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            @foreach (var concern in Model.Organization.Evaluations.Where(m => m.Type == (int)EvaluationType.Concern).OrderBy(o => o.SortOrder))
                                            {


                                                <li>@concern.Description </li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
				</td></tr></table>
            }
            @if (Model.Organization.PortfolioCompanies.Any())
            {
			<table width="100%" cellpadding="0" cellspacing="0" border="0" class="print-kt no-border">
						<tr><td class="print-kt">
                <div class="section print-kt">
                    <div class="section-title">
                        <h2>
                            Sample Portfolio Companies</h2>
                    </div>
                    <div class="section-information">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var portfolioCompany in Model.Organization.PortfolioCompanies)
                                {
                                    <tr>
                                        <td>@portfolioCompany.CompanyName
                                        </td>
                                        <td>@portfolioCompany.Description
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
				</td></tr></table>
            }
            @if (Model.Organization.DueDiligenceItems != null && Model.Organization.DueDiligenceItems.Any())
            {
                foreach (var item in Model.Organization.DueDiligenceItems.Where(m => m.TabName == "Overview").OrderBy(m => m.Title))
                {
                @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = item.Title, Content = item.Description })
                }
            }
            @Html.Partial("NotesPartial", Model.OrganizationNotes)
            <div class="toolbar add-note screen-only">
                <a href="#"><i class="icon add-icon"></i>Add Note</a></div>
        </div>
        <div class="secondary-content">
            <div id="small-graph">
                @Html.Partial("SmallScatterChartPartial", new ScatterChartViewModel
           {
               OrganizationId = Model.Organization.Id,
               OrganizationName = Model.Organization.Name,
               OrganizationQualitativeScore = Model.Organization.QualitativeGradeNumber.GetValueOrDefault(10),
               OrganizationQuantitativeScore = Model.Organization.QuantitativeGradeNumber.GetValueOrDefault(10),
               OtherOrganizations = Model.OrganizationsInSameSegment.Where(m => (m.Quality.HasValue || m.Quantity.HasValue))
           })
            </div>
            <div class="organization-breakdown">
                @Html.Partial("OrganizationBreakdown", Model.Organization)</div>
            @*@if (Model.NewsItems != null && Model.NewsItems.Any())
            {

                <div class="latest-news">
                    @Html.Partial("LatestNewsPartial", Model.NewsItems)
                </div>
            }*@
        </div>
        <div class="clear">
            &nbsp;</div>
    </div>
</div>
<div id="note-dialog" style="display: none;">
    <label for="txt-note">
        Please enter a note for this organization.</label>
    <textarea id="txt-note" />
    @if (userEntity.GroupId.HasValue)
    {
        <label for="chk-is-group" style="display: inline;">
            Share this note with your group?</label>
        <input type="checkbox" id="chk-is-group" style="width: auto; position: relative;
            left: 4px; top: 2px;" />
    }
    <input type="hidden" value="@Model.Id" id="note-dialog-orgid"/>
    <input type="hidden" value="@Url.Action("CreateFromWidget", "Note")" id="note-dialog-url"/>
</div>
<div id="modify-note-dialog" style="display: none;">
    <textarea></textarea>
</div>
