﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using AtlanticBT.Common.Types
@using AtlasDiligence.Web.General
@{
    Layout = null;
    var user = EntityCache.Get<AtlasDiligence.Web.Models.UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache);
}
@helper AddIcon(string value, string url)
    {
        if (!string.IsNullOrWhiteSpace(value))
        {
    <img src="@url" />
        }
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@Model.Organization.Name - @user.Email</title>
        <link href="@Url.Content("~/css/print-organization.css")" rel="stylesheet" type="text/css" media="screen" />
        <link href="@Url.Content("~/css/print-organization.css")" rel="stylesheet" type="text/css" media="print" />
        <link href="@Url.Content("~/css/custom-theme/jquery-ui-1.8.16.custom.css")" rel="Stylesheet" type="text/css" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            var isPrint = window.location.pathname.indexOf('Print') >= 0;
            //google.load('visualization', '1', { packages: ['corechart'] });
            var chartFunctions = [];
            function drawCharts() {
                for (var f in chartFunctions) {
                    chartFunctions[f]();
                }
            }
            function init() {
                google.load('visualization', '1', { packages: ['corechart'], callback: 'drawCharts' });
            }
        </script>
        <style type="text/css">
            .print-kt { page-break-inside:avoid!important; }
        </style>
    </head>
    <body id="splash" class="splash" onload="init()">
        <div id="wrap">
            <div id="container">
                <div id="main-area" class="main-area">
                    @{ Html.RenderPartial("PrintAllTerms"); }
                    <div class="page-break"></div>
                    <div>
                        <div class="organization-header-info">
                            <div class="organization-name">
                                <h1>@Model.Organization.Name</h1>
                                <div class="organization-icons">
                                    @AddIcon(Model.Organization.KeyTakeAway, "/images/icons/i_info.png")
                                    @if (Model.Organization.AccessConstrained)
                                    {
                                        @this.AddIcon("Access Constrained", "/images/icons/i_lock.png")
                                    }
                                    @if (Model.Organization.EmergingManager)
                                    {
                                        @this.AddIcon("Emerging Manager", "/images/icons/i_sprout.png")
                                    }
                                    @if (Model.Organization.FocusRadar == "Radar List")
                                    {
                                        @this.AddIcon("Radar List", "/images/icons/i_radar.png")
                                    }
                                    else if (Model.Organization.FocusRadar == "Focus List")
                                    {
                                        @this.AddIcon("Focus List", "/images/icons/i_star.png")
                                    }
                                </div>
                                @if (!string.IsNullOrWhiteSpace(Model.Organization.WebsiteUrl))
                                {
                                    <p class="org-website">Organization Website: <a href="@Model.Organization.WebsiteUrl" target="_blank">@Model.Organization.WebsiteUrl</a></p>
                                }
                            </div>
                            <div class="organization-metrics">
                                <div class="org-diligence-level-wrapper">
                                    <div class="diligence-level-@Model.Organization.DiligenceLevelFromPublishFields">
                                       @Model.Organization.DiligenceLevelFromPublishFields</div>
                                </div>
                                <p>Diligence Level:</p>
                                
                                @if (Model.Organization.LastUpdated.HasValue)
                                {
                                    <div class="date-updated">
                                        Last Updated: @Model.Organization.LastUpdated.Value.ToShortDateString()
                                    </div>    
                                }
                            </div>
                        </div>
                        @{
                            Html.RenderAction("Overview", new { id = Model.Id });
                            <div class="page-break"></div>
                            <div class="section">
                                    <div class="section-title">
                                        <h2 style="float: left;">Scouting Report</h2>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="section-information">
                                        @{ Html.RenderAction("Grade", new { id = Model.Id }); }
                                    </div>
                            </div>

                            //if (/*Model.Organization.PublishEvaluation &&*/ Model.GroupProductType == AtlasDiligence.Common.DTO.Enums.ProductTypes.DiligenceAccount)
                            //{
                                <div style="display:block; page-break-before:always"></div>
                                <div class="section">
                                    <div class="section-title">
                                        <h2 style="float: left;">Evaluation</h2>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="section-information">
                                        @{ Html.RenderAction("Evaluation", new { id = Model.Id }); }
                                    </div>
                                </div>
                            //}

                            /*if (Model.Organization.PublishTrackRecord)
                            {*/
                                <div style="display:block; page-break-before:always"></div>
                                <div class="section">
                                    <div class="section-title">
                                        <h2 style="float: left;">Track Record</h2>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="section-information">
                                        @{ Html.RenderAction("TrackRecord", new { id = Model.Id }); }
                                    </div>
                                </div>
                            /*}*/
                            <div style="display:block; page-break-before:always"></div>
                            <div class="section">
                                    <div class="section-title" style="border: none">
                                        <h2 style="float: left;">Team</h2>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="section-information" style="position:relative; top:-12px">
                                        @{ Html.RenderAction("Team", new { id = Model.Id });
                                           if (!Common.IsPrint /*&& Model.Organization.PublishStratProcessFirmAndFund && Model.GroupProductType == AtlasDiligence.Common.DTO.Enums.ProductTypes.DiligenceAccount*/)
                                           {
                            <div class="page-break">
                            </div>
                                               Html.RenderAction("Strategy", new { id = Model.Id });
                            <div class="page-break">
                            </div>
                                               Html.RenderAction("Process", new { id = Model.Id });
                            <div class="page-break">
                            </div>
                                               Html.RenderAction("Firm", new { id = Model.Id });
                            <div class="page-break">
                            </div>
                                               Html.RenderAction("Funds", new { id = Model.Id });
                                           }
                            }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="site-info" class="footer">
                    <div id="site-copyright">
                        <p>Copyright &copy; @DateTime.Now.Year RCP Advisors. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
