﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    @*<link href="@Url.Content("~/css/print-organization.css")" rel="stylesheet" type="text/css" media="all" />*@
    <style>
        .footerPn{font-family:"Calibri", Arial, Helvetica, sans-serif; font-size:17px; width:100%; color:#ff3c04;text-align:center; padding-bottom:0px}
    </style>
</head>
<body style="padding: 0; margin: 0;">
    <div class="footerPn">Confidential</div>
    @*<div id="site-info" class="footer">
        <div class="wrap">
            <div id="site-copyright">
                <p>Copyright &copy; @DateTime.Now.Year Atlas Diligence. All Rights Reserved.</p>
                <p id="abt-brand"><span class="abt-link"><a href="http://www.atlanticbt.com/services/web-design.php" target="_blank" title="Professional Website Design">HTML5, CSS, Web Design</a> and <a href="http://www.atlanticbt.com/services/web-programming.php" target="_blank" title="Custom Web Programming">Website Development</a> by <a href="http://www.atlanticbt.com/" target="_blank" title="Website Design">Atlantic BT</a></span></p>
            </div>
        </div>
    </div>*@
</body>
</html>
