﻿@using AtlasDiligence.Web.Models.ViewModels
@model OrganizationViewModel
@{Layout = null;}
<div id="process-tab" class="tab-container">
    <!--<div class="tab-title">
        <strong>Process</strong>
    </div>-->
    <div class="content one-col">
        <div class="tab-description bookmarks screen-only">
            @{
                var t = new List<string>();
                if (!String.IsNullOrEmpty(Model.Organization.SourcingStrategy)) { t.Add("<a href=\"#bookmark-sourcingstrategy\">Sourcing Strategy</a>"); }
                if (!String.IsNullOrEmpty(Model.Organization.StaffingModel)) { t.Add("<a href=\"#bookmark-staffingmodel\">Staffing Model</a>"); }
                if (!String.IsNullOrEmpty(Model.Organization.DueDiligenceProcess)) { t.Add("<a href=\"#bookmark-duediligenceprocess\">Due Diligence Process</a>"); }
                if (!String.IsNullOrEmpty(Model.Organization.DecisionMakingProcess)) { t.Add("<a href=\"#bookmark-decisionmakingprocess\">Decision Making Process</a>"); }
                if (!String.IsNullOrEmpty(Model.Organization.DealExecution)) { t.Add("<a href=\"#bookmark-dealexecution\">Deal Execution</a>"); }
                if (!String.IsNullOrEmpty(Model.Organization.ValueAddedApproach)) { t.Add("<a href=\"#bookmark-portfoliovalueadd\">Portfolio Value-Add</a>"); }
                if (!String.IsNullOrEmpty(Model.Organization.Monitoring)) { t.Add("<a href=\"#bookmark-monitoring\">Sourcing Strategy</a>"); }
                if (!String.IsNullOrEmpty(Model.Organization.ExitExecution)) { t.Add("<a href=\"#bookmark-exitexecution\">Exit Execution</a>"); }
                if (!String.IsNullOrEmpty(Model.Organization.DealPipeline)) { t.Add("<a href=\"#bookmark-dealpipeline\">Deal Pipeline</a>"); }
                if (this.Model.Organization.DueDiligenceItems.Any())
                {
                    foreach (var item in Model.Organization.DueDiligenceItems.Where(m => m.TabName == "Process").OrderBy(m => m.Title))
                    {
                        if (!String.IsNullOrEmpty(item.Title)) { t.Add("<a href=\"#bookmark-"+ item.Title.Replace(" ", string.Empty).ToLower() +"\">"+item.Title+ "</a>"); }
                    }
                }
            }
            @Html.Raw(String.Join(" | ", t))
        </div>
        <div>
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Sourcing Strategy", Content = Model.Organization.SourcingStrategy, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.SourcingStrategyDoc, Flag = Model.Organization.SourcingStrategyFlag, BookmarkName = "bookmark-sourcingstrategy" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Staffing Model", Content = Model.Organization.StaffingModel, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.StaffingModelDoc, Flag = Model.Organization.StaffingModelFlag, BookmarkName = "bookmark-staffingmodel" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Due Diligence Process", Content = Model.Organization.DueDiligenceProcess, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.DueDiligenceProcessDoc, Flag = Model.Organization.DueDiligenceProcessFlag, BookmarkName = "bookmark-duediligenceprocess" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Decision Making Process", Content = Model.Organization.DecisionMakingProcess, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.DecisionMakingProcessDoc, Flag = Model.Organization.DecisionMakingProcessFlag, BookmarkName = "bookmark-decisionmakingprocess" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Deal Execution", Content = Model.Organization.DealExecution, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.DealExecutionDoc, Flag = Model.Organization.DealExecutionFlag, BookmarkName = "bookmark-dealexecution" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Portfolio Value-Add", Content = Model.Organization.ValueAddedApproach, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.ValueAddedApproachDoc, Flag = Model.Organization.ValueAddedApproachFlag, BookmarkName = "bookmark-portfoliovalueadd" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Monitoring", Content = Model.Organization.Monitoring, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.MonitoringDoc, Flag = Model.Organization.MonitoringFlag, BookmarkName = "bookmark-monitoring" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Exit Execution", Content = Model.Organization.ExitExecution, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.ExitExecutionDoc, Flag = Model.Organization.ExitExecutionFlag, BookmarkName = "bookmark-exitexecution" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Deal Pipeline", Content = Model.Organization.DealPipeline, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.DealPipelineDoc, Flag = Model.Organization.DealPipelineFlag, BookmarkName = "bookmark-dealpipeline" })
            @if (Model.Organization.DueDiligenceItems.Count() > 0)
            {
                foreach (var item in Model.Organization.DueDiligenceItems.Where(m => m.TabName == "Process").OrderBy(m => m.Title))
                {
                    Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = item.Title, Content = item.Description, BookmarkName = "#bookmark-" + item.Title.Replace(" ", string.Empty).ToLower() });
                }
            }
        </div>
		
		<div class="clear"></div>
		
    </div>
</div>
