﻿@model AtlasDiligence.Web.Models.ViewModels.ScatterChartViewModel
@{
    Layout = null;
    var clientId = String.IsNullOrWhiteSpace(Model.HtmlId) ? "smallScatterVisualization" : Model.HtmlId;
    var height = 220;
    var width = 285;
    var left = 20;
    var top = 0;
}
<div id="scatter-container">
    <a id="view-large-scatter" href="#ui-id-3"><span>View scouting report</span></a>
    <div id="@clientId" style="width:@(width)px; height:@(height)px; margin-left:3px;">
    </div>
</div>
<script type="text/javascript">
    function initSmallScatterChartPartial@(clientId)() {
        function draw@(clientId)Visualization() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Quantity');
            data.addColumn({ type: 'string', role: 'tooltip' }, 'Id');
            data.addColumn('number', 'Quality');
            data.addColumn({ type: 'string', role: 'tooltip' }, 'OtherOrgName');
            data.addColumn('number', 'This Quantity');
            data.addColumn({ type: 'string', role: 'tooltip' }, 'OrgName');
            data.addColumn({ type: 'number', role: 'emphasis' }, 'Emphasis');
            data.addRows([
                @foreach (var result in Model.OtherOrganizations)
                {
                    @:[@(result.Quality.GetValueOrDefault(10)), '@(result.Id.ToString())', @(result.Quantity.GetValueOrDefault(10)), '@(result.Name)', null, null, null],
                }
                [@(Model.OrganizationQualitativeScore), '@(Model.OrganizationId.ToString())', null, null, @(Model.OrganizationQuantitativeScore), '@(Model.OrganizationName)', 3]
            ]);
            // Create and draw the visualization.
            var graph = new google.visualization.ScatterChart(document.getElementById('@clientId'));
            graph.draw(data,
                    {
                        //enableInteractivity: false,
                        legend: 'none',
                        chartArea: { left: @left, top: @top, height: @(height-30), width: @(width-20) },
                        width: @width,
                        height: @height,
                        pointSize: 4,
                        fontName: "Calibri",
                        hAxis: {
                            title: 'Qualitative Score',
                            minValue: 0,
                            maxValue: 100,
                            gridlines: { count: 11 },
                            textPosition: 'none',
                            titleTextStyle: {
                                fontName: 'Calibri',
                                italic: false
                            }
                        },
                        vAxis: {
                            title: 'QoR Score',
                            minValue: 0,
                            maxValue: 100,
                            gridlines: { count: 11 },
                            textPosition: 'none',
                            titleTextStyle: {
                                fontName: 'Calibri',
                                italic: false
                            }
                        }
                    });

            // change vertical gridline color
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(1)').attr('fill', '#000000');
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(3)').attr('fill', '#000000');
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(5)').attr('fill', '#000000');
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(7)').attr('fill', '#000000');
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(9)').attr('fill', '#000000');

            // change horizontal gridlines color
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(12)').attr('fill', '#000000');
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(14)').attr('fill', '#000000');
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(16)').attr('fill', '#000000');
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(18)').attr('fill', '#000000');
            $('#@(clientId) svg > g:first > g:first > g:first rect:eq(20)').attr('fill', '#000000');
            
            var xAxisLabel = $('#@(clientId) svg > g:eq(1) > g:first > text');
            xAxisLabel.attr('y', xAxisLabel.attr('y') - 7);
        }


        //Because we are loading this through ajax, the setOnLoadCallback has already fired.  We must just call the draw function  
        if(window.location.pathname.indexOf('Print') >= 0)
        {
            google.setOnLoadCallback(draw@(clientId)Visualization);
            draw@(clientId)Visualization();
        } 
        else
        {
            draw@(clientId)Visualization();
        }
    }
    if (typeof chartFunctions!='undefined') chartFunctions.push(initSmallScatterChartPartial@(clientId));
    else initSmallScatterChartPartial@(clientId)();
</script>
