﻿@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@model OrganizationViewModel
@{Layout = null;}
@functions{

    private string GetFlagTooltip(string color)
    {
        if (String.IsNullOrWhiteSpace(color))
        {
            return string.Empty;
        }
        switch(color.ToLower())
        {
            case "red":
                return "Negative Attribute";
            case "yellow":
                return "Cautionary Attribute";
            case "green":
                return "Positive Attribute";
            default:
                return string.Empty;
        }
    }

}
<div id="overview-tab" class="tab-container">
    <!--<div class="tab-title">
        <strong>Strategy</strong>
    </div>-->
    <div class="content two-col">
        @if (!String.IsNullOrEmpty(Model.Organization.WhatMakesThemUnique))
        {
            <div class="tab-description">
                <div class="section-title">
                    <h2>What Makes Them Unique<span class="flag-@Model.Organization.WhatMakesThemUniqueFlag.ToLower()" title="@this.GetFlagTooltip(Model.Organization.WhatMakesThemUniqueFlag)"></span></h2>
                </div>
                <p>@Html.Raw(Model.Organization.WhatMakesThemUnique.NewlineToBreak())</p>
            </div>
        }
            <div class="bookmarks screen-only">
                @{
            var t = new List<string>();
            if (!String.IsNullOrEmpty(Model.Organization.InvestmentThesis)) { t.Add("<a href=\"#investmentthesis\">Investment Thesis</a>"); }
            if (!String.IsNullOrEmpty(Model.Organization.InvestmentStrategyDetails)) { t.Add("<a href=\"#investmentstrategydetails\">Investment Strategy Details</a>"); }
            if (!String.IsNullOrEmpty(Model.Organization.AppropriatenessOfFundSize)) { t.Add("<a href=\"#appropriateness\">Appropriateness of Fund Size</a>"); }
            if (!String.IsNullOrEmpty(Model.Organization.PortfolioConstruction)) { t.Add("<a href=\"#portfolioconstruction\">Portfolio Construction</a>"); }
            if (!String.IsNullOrEmpty(Model.Organization.DealStructuring)) { t.Add("<a href=\"#dealstructuring\">Deal Structuring</a>"); }
            if (!String.IsNullOrEmpty(Model.Organization.RiskManagement)) { t.Add("<a href=\"#riskmanagement\">Risk Management</a>"); }
            if (!String.IsNullOrEmpty(Model.Organization.CompetitionAndCompetitiveAdvantage)) { t.Add("<a href=\"#competition\">Competition and Competitive Advantage</a>"); }
            if (!String.IsNullOrEmpty(Model.Organization.ExitStrategy)) { t.Add("<a href=\"#exitstrategy\">Exit Strategy</a>"); }
            if (!String.IsNullOrEmpty(Model.Organization.StrategyDrift)) { t.Add("<a href=\"#strategydrift\">Strategy Drift</a>"); }
            if (Model.Organization.DueDiligenceItems != null && Model.Organization.DueDiligenceItems.Any())
            {
                foreach (var item in Model.Organization.DueDiligenceItems.Where(m => m.TabName == "Strategy").OrderBy(m => m.Title))
                {
                    if (!String.IsNullOrEmpty(item.Title)) { t.Add("<a href=\"#" + item.Title.Replace(" ", string.Empty).ToLower() + "\">" + item.Title + "</a>"); }
                }
            }
                }
                @Html.Raw(String.Join(" | ", t))</div>
        <div class="primary-content">
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Investment Thesis", Content = Model.Organization.InvestmentThesis, BookmarkName = "investmentthesis" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Investment Strategy Details", Content = Model.Organization.InvestmentStrategyDetails, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.InvestmentStrategyDetailsDoc, Flag = Model.Organization.InvestmentStrategyDetailsFlag, BookmarkName = "investmentstrategydetails" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Appropriateness of Fund Size", Content = Model.Organization.AppropriatenessOfFundSize, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.AppropriatenessOfFundSizeDoc, Flag = Model.Organization.AppropriatenessOfFundSizeFlag, BookmarkName = "appropriateness" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Portfolio Construction", Content = Model.Organization.PortfolioConstruction, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.PortfolioConstructionDoc, Flag = Model.Organization.PortfolioConstructionFlag, BookmarkName = "portfolioconstruction" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Deal Structuring", Content = Model.Organization.DealStructuring, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.DealStructuringDoc, Flag = Model.Organization.DealStructuringFlag, BookmarkName = "dealstructuring" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Risk Management", Content = Model.Organization.RiskManagement, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.RiskManagementDoc, Flag = Model.Organization.RiskManagementFlag, BookmarkName = "riskmanagement" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Competition and Competitive Advantage", Content = Model.Organization.CompetitionAndCompetitiveAdvantage, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.CompetitionAndCompetitiveAdvantageDoc, Flag = Model.Organization.CompetitionAndCompetitiveAdvantageFlag, BookmarkName = "competition" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Exit Strategy", Content = Model.Organization.ExitStrategy, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.ExitStrategyDoc, Flag = Model.Organization.ExitStrategyFlag, BookmarkName = "exitstrategy" })
            @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Strategy Drift", Content = Model.Organization.StrategyDrift, DocumentName = "Supplemental Information", DocumentUrl = Model.Organization.StrategyDriftDoc, Flag = Model.Organization.StrategyDriftFlag, BookmarkName = "strategydrift" })
            @if (this.Model.Organization.DueDiligenceItems.Any())
            {
                foreach (var item in Model.Organization.DueDiligenceItems.Where(m => m.TabName == "Strategy").OrderBy(m => m.Title))
                {
                @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = item.Title, Content = item.Description, BookmarkName = item.Title.Replace(" ", string.Empty).ToLower() });
                }
            }
        </div>
        <div class="secondary-content">
            <div class="detail-block">
                <table class="vertical-table">
                    <tbody>
                        @if (!String.IsNullOrWhiteSpace(Model.Organization.Category))
                        {
                            <tr>
                                <th class="row-label"><strong>Strategy </strong></th>
                                <td>@Model.Organization.Category
                                </td>
                            </tr>
                        }
                        @if (!String.IsNullOrWhiteSpace(Model.Organization.SubCategory))
                        {
                            <tr>
                                <th class="row-label"><strong>Market/Stage</strong> </th>
                                <td>@Model.Organization.SubCategory
                                </td>
                            </tr>
                        }
                        @if (Model.Organization.SubStrategy.Any())
                        {
                            <tr>
                                <th class="row-label"><strong>Sub-Strategy</strong> </th>
                                <td>@(String.Join(", ", Model.Organization.SubStrategy))
                                </td>
                            </tr>
                        }
                        @if (!String.IsNullOrWhiteSpace(Model.Organization.GeographicFocus))
                        {
                            <tr>
                                <th class="row-label"><strong>Geographic Focus</strong> </th>
                                <td>@Model.Organization.GeographicFocus
                                </td>
                            </tr>
                        }
                        @if (Model.Organization.SectorFocus.Any())
                        {
                            <tr>
                                <th class="row-label"><strong>Sector Focus</strong> </th>
                                <td>@String.Join(", ", Model.Organization.SectorFocus)
                                </td>
                            </tr>
                        }
                        @if (Model.Organization.SubSectorFocus.Any())
                        {
                            <tr>
                                <th class="row-label"><strong>Sub-Sector Focus</strong> </th>
                                <td>@String.Join(", ", Model.Organization.SubSectorFocus)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if ((Model.Organization.EnterpriseMinValue.HasValue && Model.Organization.EnterpriseMaxValue.HasValue)
                || (Model.Organization.RevenueMinValue.HasValue && Model.Organization.RevenueMaxValue.HasValue)
                || (Model.Organization.EbitdaMinValue.HasValue && Model.Organization.EbitdaMaxValue.HasValue))
            {
                <div class="detail-block">
                    <div class="detail-block-title">
                        <div class="partial-title">
                            <strong>Target Company Characteristics</strong></div>
                    </div>
                    <table class="vertical-table">
                        <tbody>
                            @if (Model.Organization.EnterpriseMinValue.HasValue && Model.Organization.EnterpriseMaxValue.HasValue)
                            {
                                <tr>
                                    <th class="row-label" width="160px"><strong>Enterprise Value (mm)</strong> </th>
                                    <td><span title="@Model.Organization.Currency.Name">@Model.Organization.Currency.FormattedSymbol@Model.Organization.EnterpriseMinValue.Value.ToString("N1") - @Model.Organization.EnterpriseMaxValue.Value.ToString("N1")</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.Organization.RevenueMinValue.HasValue && Model.Organization.RevenueMaxValue.HasValue)
                            {
                                <tr>
                                    <th class="row-label" width="160px"><strong>Revenues (mm)</strong> </th>
                                    <td><span title="@Model.Organization.Currency.Name">@Model.Organization.Currency.FormattedSymbol@Model.Organization.RevenueMinValue.Value.ToString("N1") - @Model.Organization.RevenueMaxValue.Value.ToString("N1")</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.Organization.EbitdaMinValue.HasValue && Model.Organization.EbitdaMaxValue.HasValue)
                            {
                                <tr>
                                    <th class="row-label" width="160px"><strong>EBITDA (mm)</strong> </th>
                                    <td><span title="@Model.Organization.Currency.Name">@Model.Organization.Currency.FormattedSymbol@Model.Organization.EbitdaMinValue.Value.ToString("N1") - @Model.Organization.EbitdaMaxValue.Value.ToString("N1")</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            @if ((Model.Organization.EquityCheckMinValue.HasValue && Model.Organization.EquityCheckMaxValue.HasValue)
                || (Model.Organization.TypicalLeverageMinValue.HasValue && Model.Organization.TypicalLeverageMaxValue.HasValue))
            {
            
                <div class="detail-block">
                    <div class="detail-block-title">
                        <div class="partial-title">
                            <strong>Transaction Details</strong></div>
                    </div>
                    <table class="vertical-table">
                        <tbody>
                            @if (Model.Organization.EquityCheckMinValue.HasValue && Model.Organization.EquityCheckMaxValue.HasValue)
                            {
                                <tr>
                                    <th class="row-label" width="160px"><strong>Equity Check Size (mm)</strong> </th>
                                    <td><span title="@Model.Organization.Currency.Name">@Model.Organization.Currency.FormattedSymbol@Model.Organization.EquityCheckMinValue.Value.ToString("N1") - @Model.Organization.EquityCheckMaxValue.Value.ToString("N1")</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.Organization.TypicalLeverageMinValue.HasValue && Model.Organization.TypicalLeverageMaxValue.HasValue)
                            {
                                <tr>
                                    <th class="row-label" width="160px"><strong>Typical Leverage</strong> </th>
                                    <td>
                                        @Model.Organization.TypicalLeverageMinValue.Value.ToString("N1") - @Model.Organization.TypicalLeverageMaxValue.Value.ToString("N1")x
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <div class="clear">
            &nbsp;</div>
    </div>
</div>
