﻿@using AtlasDiligence.Web.Helpers.Yui
@using AtlasDiligence.Web.Models.ViewModels.YuiMaps
@{
    ViewBag.Title = "Deal Logs";
    ViewBag.BodyId = "deal-logs-index";
    ViewBag.BodyClass = "section-deal-logs";
}
<div class="wrapper">
    @Html.Raw(
            Html.YuiGrid<DealLogDataGrid>().Url(Url.Action("Search", "DealLog"))
                .GridId("deal-log-results-grid")
                .RowsPerPageOptions(true, new[] { 25, 50, 100 })
                .Columns(columns =>
                    {
                        columns.Bound(x => x.DateReceived).Label("Date Received").Width(85);
                        columns.Bound(x => x.FirmName).Label("Firm Name");
                        columns.Bound(x => x.FundName).Label("Fund Name");
                        columns.Bound(m => m.PlacementAgent).Label("Placement Agent");
                        columns.Bound(m => m.MarketStage).Label("Market/Stage");
                        columns.Bound(m => m.Strategies).Label("Primary Strategies");
                        columns.Bound(m => m.InvestmentRegions).Label("Investment Regions");
                        columns.Bound(m => m.Source).Label("Source");
                        columns.Bound(m => m.Status).Label("Status");
                    }).ToString())
</div>
