﻿@model AtlasDiligence.Web.Models.ViewModels.UserViewModel
@using AtlanticBT.Common.Web.Mvc
@using AtlanticBT.Common.Web.Mvc.Helpers
<div id="user-form">
    @if (Model != null)
    {
        @Html.ValidationSummary(true, "Please correct the errors and try again.")
        using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ReturnRoute)
        <div class="group">
            <div class="fieldset">
                <fieldset>
                    <legend><span>General Information</span></legend>
                    <div class="wrap">
                        <div class="field">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName)
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.LastName)
                            @Html.TextBoxFor(m => m.LastName)
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        @if (User.IsInRole(AtlasDiligence.Web.General.RoleNames.Admin))
                        {
                            <div class="field checkbox inline-label">
                                @Html.CheckBoxFor(m => m.IsApproved)
                                @Html.LabelFor(m => m.IsApproved)
                                @Html.ValidationMessageFor(m => m.IsApproved)
                            </div>
                            <div class="field checkbox inline-label">
                                @Html.CheckBoxFor(m => m.DiligenceAllowed)
                                @Html.LabelFor(m => m.DiligenceAllowed)
                                @Html.ValidationMessageFor(m => m.DiligenceAllowed)
                            </div>
                            <div class="field checkbox inline-label">
                                @Html.CheckBoxFor(m => m.RssAllowed)
                                @Html.LabelFor(m => m.RssAllowed)
                                @Html.ValidationMessageFor(m => m.RssAllowed)
                            </div>
                            <div class="field">
                                @Html.LabelFor(m => m.GroupId)
                                @Html.DropDownListFor(m => m.GroupId, Model.GroupOptions, "Select a Group", new { @class = "select" })
                                @Html.ValidationMessageFor(m => m.GroupId)
                            </div>
                            <div class="field checkbox inline-label">
                                @Html.CheckBoxFor(m => m.IsGroupLeader)
                                @Html.LabelFor(m => m.IsGroupLeader)
                                @Html.ValidationMessageFor(m => m.IsGroupLeader)
                            </div>
                            <div class="field checkbox inline-label">
                                @Html.LabelFor(m => m.Role)
                                @Html.DropDownListFor(m => m.Role, Model.RoleOptions, "Select a Role", new { @class = "select" })
                                @Html.ValidationMessageFor(m => m.Role)
                            </div>
                        }
                        else
                        {
                            if (Model.GroupId.HasValue)
                            {
                            @Html.HiddenFor(m => m.GroupId)
                            <div class="field">
                                <label>Group Name</label>
                                @Model.GroupOptions.Where(x => x.Key.ToString() == Model.GroupId.ToString()).Select(y => y.Value).FirstOrDefault()
                            </div>
                            }
                            
                            @Html.HiddenFor(m => m.IsGroupLeader)
                            @Html.HiddenFor(m => m.IsApproved)
                            @Html.HiddenFor(m => m.DiligenceAllowed)
                            @Html.HiddenFor(m => m.RssAllowed)
                        }
                    </div>
                </fieldset>
            </div>
            <div class="fieldset">
                <fieldset>
                    <legend><span>Additional Information</span></legend>
                    <div class="wrap">
                        <div class="field">
                            @Html.LabelFor(m => m.Phone)
                            @Html.TextBoxFor(m => m.Phone)
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.Title)
                            @Html.TextBoxFor(m => m.Title)
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.OrganizationName)
                            @Html.TextBoxFor(m => m.OrganizationName)
                            @Html.ValidationMessageFor(m => m.OrganizationName)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.OrganizationType)
                            @Html.EnumDropDownListFor(m => m.OrganizationType, new { @class = "select" }, "Select One", true)
                            @Html.ValidationMessageFor(m => m.OrganizationType)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.ReferredBy)
                            @Html.TextBoxFor(m => m.ReferredBy)
                            @Html.ValidationMessageFor(m => m.ReferredBy)
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <section id="terms-condition-history">
            <div class="title"><strong>Terms and Conditions Agreement History</strong></div>
            
            @if (Model.EulaHistory != null && Model.EulaHistory.Any())
            {
                <ul>
                    @foreach (var history in Model.EulaHistory.OrderByDescending(m => m))
                    {
                        <li>@history.ToString("M/d/yyyy hh:mm tt")</li>
                    }
                </ul>
            }
        </section>
        <div class="buttons">
            <input id="submit" class="submit" type="submit" value="Submit" />
            <input type="submit" class="cancel button" value="Cancel" onclick="window.history.go(-1); return false;" />
        </div>
        }
    }
    else
    {
        <p class="alert"></p>
    }
</div>
