@inherits RenderViewPage
@using System.Web.Mvc.Html;
@using Umbraco.Cms.Web;
@using Umbraco.Framework

@{
    Layout = "inner.cshtml";

    var imageUrl = "";
    try {
        imageUrl = Umbraco.GetMediaUrl(DynamicModel.Id, "teamMemberImage");
    } catch(Exception e) {}

    //back
    var count = 0;
    var teamUrl = "";
    foreach(var ancestor in DynamicModel.Ancestors)
    {
        if(count++ == 0){
	   teamUrl = ancestor.NiceUrl;
        }
    }
}
<a href="@teamUrl" class="back-to-team">Back to Team</a>
@if (!String.IsNullOrEmpty(imageUrl))
{
<img src="@imageUrl" class="team-member" />
}

<h2>@DynamicModel.Name</h2>
<h3>@DynamicModel.teamMemberTitle</h3>
@Html.Raw(DynamicModel.content)