﻿@model AtlasDiligence.Web.Models.ViewModels.MarketDataViewModel
@{
    ViewBag.Title = "RCP Market Analytics";
    //ViewBag.BodyClass = "Compare-tools";
    Layout = null;

    /*
      https://tableau.rcpadvisors.com/javascripts/api/viz_v1.js
      /views/PrivateEquityMarketSimpleStatistics1_17_17/Story1?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no#1
    */
}


<div class="content one-col">
    <div class="section" style="overflow:auto">
        @if (Model.TableauServerTrustedAuthKey == "-1")
        {
            <div style="color:red; font-weight:bold; font-size: 14px">
                We are sorry, but your user account currently does not have access to RCP Market Analytics.
            </div>
        }
        else if (Model.TableauServerTrustedAuthKey != string.Empty)
        {
            int width = 1120, height = 962;
            string viewUrl;
            string userGuideLinkLabel = "User Guide (Deal Metrics)";
            if (Model.ViewName == "ROIC")
            {
                viewUrl = "ROIC/ROIC?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no";
            }
            else if (Model.ViewName == "PurchasePriceMultiples")
            {
                viewUrl = "PPM/PPM?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no";
            }
            else if (Model.ViewName == "EBITDAMargin")
            {
                viewUrl = "EBITDAMargin/EBITDAMargin?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no";
            }
            else if (Model.ViewName == "RevenueCAGRs")
            {
                viewUrl = "RevenueCAGR/RevenueCAGR?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no";
            }
            else if (Model.ViewName == "EBITDACAGRs")
            {
                viewUrl = "EBITDACAGR/EBITDACAGR?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no";
            }
            else if (Model.ViewName == "LeverageMultiples")
            {
                viewUrl = "NetDebtMultiples/NetDebt?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no";
            }
            else if (Model.ViewName == "DealVolume")
            {
                viewUrl = "DealVolume/DealVolume?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no";
                userGuideLinkLabel = "User Guide (Deal Volume)";
                }
            //else if (Model.ViewName == "MarketData")
            //{
            //    viewUrl = "2_PrivateEquityStatistics/Story";
            //    width = 1907; height = 912;
            //}
            else {
                viewUrl = "1_PrivateComps_2016_11/Dashboard1";
                width = 1504; height = 962;
            }

            <div>
                <a class="user-guide" href="@Url.Action("UserGuide", new { id=Model.ViewName })" target="_blank">@userGuideLinkLabel</a>
            </div>
            <div class='tableauPlaceholder' style='width: @(width)px; height: @(height)px'>
                <object class='tableauViz' width='@(width)' height='@(height)' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Ftableau.rcpadvisors.com%2F' />
                    <param name='site_root' value='' />
                    <param name='tabs' value='yes' />
                    <param name='toolbar' value='yes' />
                    <param name='showShareOptions' value='true' />
                    <param name="path" value="trusted/@(Model.TableauServerTrustedAuthKey)/views/@(viewUrl)" />
                    @*<param name='ticket' value='(@Model.TableauServerTrustedAuthKey)' />
                        <param name='name' value='PrivateEquityMarketSimpleStatistics1_17_17&#47;Story1' />*@
                </object>
            </div>
			<script type='text/javascript' src='https://tableau.rcpadvisors.com/javascripts/api/viz_v1.js'></script>
        }
        else
        {
            <div style="color:red; font-weight:bold; font-size: 14px">
                We are sorry, data provider is not available. Please try again later.
            </div>
        }
    </div>
</div>
