﻿@model AtlasDiligence.Web.Models.ViewModels.MarketDataViewModel
@{
    ViewBag.Title = "RCP Market Data";
    ViewBag.BodyClass = "Compare-tools";
    Layout = "~/Views/Shared/_Layout.cshtml";

    /*
      https://tableau.rcpadvisors.com/javascripts/api/viz_v1.js
      /views/PrivateEquityMarketSimpleStatistics1_17_17/Story1?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no#1
    */
}
@section head
{
    <script type='text/javascript' src='https://tableau.rcpadvisors.com/javascripts/api/viz_v1.js'></script>
}
        <div class="content one-col">
            <div class="section" style="overflow:auto">
                @if (Model.TableauServerTrustedAuthKey == "-1")
                {
                    <div style="color:red; font-weight:bold; font-size: 14px">
                        We are sorry, but your user account is not allowed to access Market Data.
                    </div>
                }
                else if (Model.TableauServerTrustedAuthKey != string.Empty)
                {
                        int width, height;
                        string viewUrl;
                        if (Model.ViewName  == "MarketData")
                        {
                            viewUrl = "2_PrivateEquityStatistics/Story";
                            width = 1907; height = 912;
                        }
                        else {
                            viewUrl = "1_PrivateComps_2016_11/Dashboard1";
                            width = 1504; height = 962;
                        }

                        <div class='tableauPlaceholder' style='width: @(width)px; height: @(height)px;'>
                            <object class='tableauViz' width='@(width)' height='@(height)' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Ftableau.rcpadvisors.com%2F' />
                                <param name='site_root' value='' />
                                <param name='tabs' value='yes' />
                                <param name='toolbar' value='yes' />
                                <param name='showShareOptions' value='true' />
                                <param name="path" value="trusted/@(Model.TableauServerTrustedAuthKey)/views/@(viewUrl)" />
                                @*<param name='ticket' value='(@Model.TableauServerTrustedAuthKey)' />
                                    <param name='name' value='PrivateEquityMarketSimpleStatistics1_17_17&#47;Story1' />*@
                            </object>
                            </div>
                        }
                        else
                        {
                            <div style="color:red; font-weight:bold; font-size: 14px">
                                We are sorry, data provider is not available. Please try again later.
                            </div>
                        }
        </div>
    </div>
