﻿@model IEnumerable<AtlasDiligence.Common.Data.Models.ResearchPriorityOrganization>
@{
	ViewBag.Title = "FirmsInProcess";
	Layout = null;
}

<div id="firms-in-progress">
	<table>
		<thead>
			<tr>
				<th style="width: 321px;">Name
				</th>
				<th style="width: 115px;">Market/Stage
				</th>
				<th style="width: 280px;">Primary Strategy
				</th>
				<th style="width: 210px;">Region
				</th>
			</tr>
		</thead>
		<tbody>
			@Html.Partial("FirmsInProgressRows", Model)
		</tbody>
	</table>
	<button id="load-more-firms">Load More</button>
    <script type="text/javascript">
	$(function () {
	    var infiniteScroll = new common.infiniteScroll(this);
	    infiniteScroll.set('@Url.Action("LoadFirmsInProgress")', '#load-more-firms', '#firms-in-progress tbody', 'tr', 'firms');
	});
    </script>
</div>
