﻿@model AtlasDiligence.Web.Models.ViewModels.Search.SearchViewModel
@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Helpers.Yui;
@using AtlasDiligence.Web.CommonCode.Extensions
@{
    ViewBag.Title = "Search";
    ViewBag.BodyId = "search-index";
    ViewBag.BodyClass = "section-search";
    var showPlot = (bool?)(ViewBag.ShowPlot);
}
@section head{
     <!-- TODO: update api key -->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvbdxEj0Gc3OjD-LzpzKfUq7-K_lkFHm4&sensor=false"></script>*@
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet' />

    <script type="text/javascript">
        var mapLoaded, scatterLoaded;


        $(function () {
            AtlasDiligence.folders.init();
            AtlasDiligence.search.init();
        });

        function loadMap() {
            if (!mapLoaded) {
                mapLoaded = true;
                $('#result-map').load(relativeRoot + 'Search/MapChild?searchId=' + $('#SearchId').val(), function () { initialize(); });
            }
        }

        function loadScatter() {
            if (!scatterLoaded) {
                scatterLoaded = true;
                $('#result-scatterplot').load(relativeRoot + 'Search/ScatterChild?searchId=' + $('#SearchId').val(), function () { });
            }
        }
    </script>
}
<div class="wrapper">
    <section class="search">
        <div style="position:relative; top:0px; margin-top:0px">
            @Html.Partial("RecentSearches", Model.RecentSearches)
        </div>
        @Html.Partial("Options", Model.SearchOptions)
    </section>

    <div class="search-header">
        <div class="search-results">
            <h4>Search Results</h4>
        </div>
        <ul class="search-results-actions">
            <li>
                <div id="compare-organization">
                    <h4 class="compare-organization-title">
                        @Html.ActionLink("Compare", "CompareOrganizations", "CompareTables", null, new Dictionary<string, object> { { "class", "compare-organization-link" } })
                    </h4>
                </div>
            </li>
            <li>
                <div id="top-selected-folder-widget-container">
                    @Html.Partial("SelectedFolderWidgetPartial", Model.AllFolders)
                </div>
            </li>
            <li>
                @Html.Partial("RequestResearchPartial", "float: left;")
            </li>
            <li>
                <a class="generate-pdf" href="javascript:void(0)" tooltip="Generate Profile Pdf for selected firms" data-generate-multiple-profile-pdf="1">Create PDF</a>
            </li>
        </ul>
    </div>
    <div class="search-results-view">
        <div class="search-num" data-count="0">
            Performing Search...
        </div>
        <ul class="results-view-buttons">
            <li><button data-target-id="result-grid" @((Model.ShowMap != true && showPlot != true) ? "class=active-view":"")>List Only</button></li>
            <li><button data-target-id="result-map" @(Model.ShowMap == true ? "class=active-view":"")>Map View</button></li>
            <li><button data-target-id="result-scatterplot" @(showPlot == true ? "class=active-view":"")>Scatter Plot</button></li>
        </ul>
    </div>
    
    <div style="clear:both"></div>

    <div id="result-map" data-panel="search-map" style="@(Model.ShowMap!=true?"display:none;":"")">
    </div>

    <div id="result-scatterplot" class="main scatter-chart group" style="@(showPlot!=true?" display:none;":"")width:1118px; height:535px">
    </div>

    <div id="result-grid">
            @Html.Raw(
            @Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.SearchDataGrid>().Url(Url.Action("SearchLuceneGrid", "Search"))
                .GridId("search-results-grid")
                .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
                .RequestParams(Model.SearchOptions.SearchOptionsKvp())
                .RowsPerPageOptions(true, new[] { 25, 50, 100 })
                .AddMetaData("auxData:'MetaData'")
                .DoBeforeLoadData(@"function(sRequest,oResponse,oPayload) {
                                    var newSearchId = (oResponse && oResponse.meta && oResponse.meta.auxData) ? oResponse.meta.auxData.SearchId : '';
                                    $('#SearchId').val(newSearchId);

                                    if ('" + @Model.ShowMap + @"'=='True')
                                        loadMap();
                                    else if ('" + @showPlot + @"'== 'True')
                                        loadScatter();
                                    return true;

                }")
                .PostRenderEvent(@"function() {
                                    var searchNum = $('.search-num');
                                    if(searchNum.data('count') != 0){
                                       var pageReport = $('#yui-pg0-0-page-report').html(); searchNum.html('Results: ' + pageReport);
                                    }
                                    searchNum.data('count', 1);

                                    common.makeQtipNow('#search-results-grid');

                                    $('tr:has(td[headers=""yui-dt0-th-Icons ""]:contains(""Inactive""))').find('td').css('filter', 'brightness(75%)');
                }")

                .Columns(columns =>
                {
                    columns.Bound(x => x.Id).Label("Id").Hidden(true);
                    columns.Template(x => x.Id, "<input type=\"checkbox\" class=\"selected-organization\" value=\"{Id}\"></input>").Label("<input type=\"checkbox\" class=\"change-all\"></input>").Width(27).Sortable(false);
                    columns.Bound(x => x.Name).Label("<b>Name</b>").Width(360);
                    columns.Bound(x => x.PrimaryOffice).Label("<b>Headquarters</b>").Width(78);
                    columns.Bound(x => x.FundraisingStatus).Label("<b>Fundraising Status</b>").Width(50);
                    //columns.Bound(x => x.Icons).Label("<div class=\"focus-list icon\" title=\"Focus List managers are groups that RCP recommends prioritizing within their given strategy or market.\">Focus List</div>" +
                    //                                  "<div class=\"emerging-manager-true icon\" title=\"Managers raising or investing their first or second institutional fund.\">true</div>" +
                    //                                  "<div class=\"access-constrained-true icon\" title=\"Managers with limited allocation opportunities for new limited partners.\">true</div>").Width(83).Sortable(false).Resizeable(false);
                    columns.Bound(x => x.Icons).Label("<b>Scout Category</b>").Width(85).Sortable(false).Resizeable(false);
                    columns.Bound(x => x.Strategy).Label("<b>Primary Strategy</b>").Width(70);
                    columns.Bound(x => x.SectorFocus).Label("<b>Sector Focus</b>").Width(80);
                    columns.Bound(x => x.InvestmentRegion).Label("<b>Region</b>").Width(70);
                    //columns.Bound(x => x.DiligenceLevel).Label("<b>Diligence Level</b>").Width(70);
                    columns.Bound(x => x.LastUpdated).Label("<b>Last Updated</b>").Width(66);
                    columns.Bound(x => x.AtlasQualitative).Label("<b>Qualitative Score</b>").Width(100).Sortable(false);
                    columns.Bound(x => x.QoRPerformance).Label("<b>QoR Performance</b>").Width(100).Sortable(false);

                    //columns.Template(x => x.FolderIds, "<div class=\"folder-widget\"><h4 class=\"folder-widget-title search-grid-widget\" onclick=\"$(this).createFolderList('{Id}', {FolderIds})\">Add to Folder(s)</h4></div>").Label("<b>Add To:</b>");
                }).ToString())
        </div>

    <div id="folder-widget-container" style="display: none">
        @Html.Partial("FolderWidgetPartial", new KeyValuePair<string, IEnumerable<Folder>>(new Guid().ToString(), Model.AllFolders.Select(m => new Folder { Id = m.Id, Name = m.Name })));
    </div>
    @*<div id="folder-dialog" style="display: none;">
        <p>Please enter a name for the folder you wish to create.</p>
        <input type="text" class="text" value="" />
        <input type="hidden" value="@Url.Action("CreateFromWidget", "Folder")" id="folder-dialog-url"/>
    </div>*@
</div>
<div id="request-diligence-dialog" style="display: none">
    <em>Organization: <strong></strong></em>
    <fieldset>
        <legend></legend>
        <div class="field">
            <div class="field">
                <label for="request-diligence-comment">Specific Request/Comment/Question:</label>
                <textarea id="request-diligence-comment"></textarea>
            </div>
        </div>
    </fieldset>
</div>
<script>
    $(function () {
        $('[data-target-id]').click(AtlasDiligence.search.events.searchResultBtnEvent);

        $(window).bind('beforeunload', function (e) {
            $.post(urlRoot + 'Search/Cleanup?searchId=' + $('#SearchId').val());
        });
    });
</script>

