﻿@model AtlasDiligence.Web.Models.ViewModels.Map.MapViewModel
@using AtlanticBT.Common.Types
@{
    ViewBag.Title = "Map";
    Layout = null;
}



<style type="text/css">
    #search-home {
        height: 500px;
        width: 100%;
    }
</style>

@*@if (Request.IsAuthenticated)
        // debug feature
    {
        var userEntity = EntityCache.Get<AtlasDiligence.Web.Models.UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache);
        if (userEntity != null && userEntity.IsAdmin && (userEntity.UserName.EndsWith("@smallfootprint.com") || userEntity.UserName == "mplunkett@rcpadvisors.com"))
        {
            <div>
                <a data-send-body="1" href="javascript:void(0)">DEBUG: Send body html to SFP</a>
                <script>
                    $(function () {
                        $('[data-send-body]').click(function (e) {
                            common.showLoading();
                            e.preventDefault();
                            var body = $('body').html();
                            $.ajax({
                                url: '@Url.Action("SendBody", "Debugger")',
                                type: 'POST',
                                data: { "html": body },
                                datatype: 'json',
                                cache: false,
                                success: function (data) {
                                    debugger;
                                    alert(data);
                                },
                                //error: function( jqXHR, textStatus, errorThrown ) {
                                //    debugger;
                                //},
                                complete: function () {
                                    common.hideLoading();
                                }
                            });
                        });
                    });
                </script>
            </div>
        }
    }*@
<div id="map" class="gpsscout">
    <section id="search-home" class="organization-map">
        <div class="start-search-container">
            <h4>GP Lookup</h4>
                 @{
                     var searchOptionsVM = new AtlasDiligence.Web.Models.ViewModels.Search.SearchOptionsViewModel();
                     @Html.Partial("_SearchWidget", searchOptionsVM)
                    
                 }
        </div>
    </section>
</div>
