﻿@using AtlasDiligence.Web.Models.ViewModels.Search
@using AtlanticBT.Common.Web.Mvc.Helpers
@using GPScout.Domain.Contracts.Models
@model SearchOptionsViewModel
@{
    ViewBag.Title = "Search";
    Layout = null;

    Model.InvestmentRegions = new string[] { "US", "US - Northeast", "US - Southeast", "US - Midwest", "US - Rocky Mountain", "US - West", "US - Northwest", "US - Southwest",
        "Canada", "Canada - East", "Canada - West", "Europe", "Latin America", "Asia" };
}
@using (Html.BeginForm("SaveTemplate", "Search", FormMethod.Post, new { @class = "advanced-search" }))
{
    <div class="field" style="float:left;">
        @Html.ValidationMessageFor(m => m.Search)
        @Html.TextBoxFor(m => m.Search, new { @class = "text organization-autocomplete", placeholder = "Name, city, country, region, strategy, etc..." })
        <div class="buttons">
            <input type="submit" class="submit search-button" value="Search" data-search-btn="1" />
            <input type="button" class="submit" value="Clear" id="clear-search" />
        </div>
    </div>
    <div class="c"></div>
    <legend class="advanced-search-toggle">Advanced Search Options &nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></legend>
    <div id="advanced-search-options" class="container advanced-search-options" @(ViewBag.CollapseOptionsArea == true ? "style=display:none": "")>
        @Html.Hidden("CollapseOptionsArea", (bool?)(ViewBag.CollapseOptionsArea))
        @Html.Hidden("ShowPlot", (bool?)(ViewBag.ShowPlot))
        @Html.HiddenFor(m => m.SearchId)
        @Html.HiddenFor(m => m.ShowMap)
        <div class="row no-gutter">
                <div class="col-md-4 col-xs-6">
                    <div class="search-col">
                        <h3>Firm</h3>
                        <div class="field inline-label" id="search-fundraising-status">
                            @Html.ValidationMessageFor(m => m.SelectedFundraisingStatus)
                            @Html.LabelFor(m => m.SelectedFundraisingStatus)
                            @Html.ListBoxFor(m => m.SelectedFundraisingStatus, new MultiSelectList(Model.FundraisingStatuses, Model.SelectedFundraisingStatus), new Dictionary<string, object> { { "class", "chosen " }, { "style", "width:100%" } })
                        </div>
                        <div class="field inline-label" id="search-next-fundraise-dates">
                            @Html.ValidationMessageFor(m => m.SelectedNextFundraiseValue)
                            @Html.LabelFor(m => m.SelectedNextFundraiseValue)
                            @Html.DropDownListFor(m => m.SelectedNextFundraiseValue, Model.FundRaiseMonthOptions, String.Empty, new Dictionary<string, object> { { "class", "chosen dropdownlist" }, { "style", "width:100%" } })

                        </div>
                        <div class="field inline-label">
                            @Html.ValidationMessageFor(m => m.AccessConstrained)
                            @Html.LabelFor(m => m.AccessConstrained)
                            @Html.EditorFor(m => m.AccessConstrained, "AllYesNo")
                        </div>
                        <div class="clearfix"></div>

                        <div class="fieldgroup inline-label" style="padding-top:5px">
                            <div class="field full two-col multi-input field-fundsize" id="search-fund-sizes">
                                @Html.ValidationMessageFor(m => m.FundSizeMinimum)
                                @Html.ValidationMessageFor(m => m.FundSizeMaximum)
                                @Html.ValidationMessageFor(m => m.SelectedCurrencies)
                                <label for="FundSizeMinimum">
                                    Fund Size <span style="font-size: .85em;">(M)</span>:
                                </label>
                                <div class="recent-fund-size">
                                    @Html.TextBoxFor(m => m.FundSizeMinimum, new { @class = "number comma-separated" })
                                    <span>to</span>
                                    @Html.TextBoxFor(m => m.FundSizeMaximum, new { @class = "number comma-separated" })
                                    <select id="search-currency" class="chosen" style="width: 100%; top: 7px;" name="SelectedCurrencies">
                                        @foreach (var option in Model.Currencies.Where(m => (new string[] { "USD", "CAD", "EUR", "BRL", "AUD" }).Contains(m)).OrderBy(m => m == "USD" ? 0 : 1).ThenBy(m => m))
                                        {
                                            <option @Html.Raw(Model.SelectedCurrencies != null && Model.SelectedCurrencies.Contains(option) ? " selected=\"selected\"" : string.Empty)>@option</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field two-col multi-input field-fundclosed inline-label">
                            @Html.ValidationMessageFor(m => m.NumberOfFundsClosedMinimum)
                            @Html.ValidationMessageFor(m => m.NumberOfFundsClosedMaximum)
                            <label for="NumberOfFundsClosedMinimum">
                                Number of Funds Closed:
                            </label>
                            <div class="funds-closed">
                                @Html.TextBoxFor(m => m.NumberOfFundsClosedMinimum, new { @class = "number" })
                                <span>to</span>
                                @Html.TextBoxFor(m => m.NumberOfFundsClosedMaximum, new { @class = "number" })
                            </div>
                        </div>
                        <div class="field inline-label">
                            @Html.ValidationMessageFor(m => m.EmergingManager)
                            @Html.LabelFor(m => m.EmergingManager)
                            @Html.EditorFor(m => m.EmergingManager, "AllYesNo")
                        </div>
                        <div class="field inline-label">
                            @Html.ValidationMessageFor(m => m.SBICFund)
                            @Html.LabelFor(m => m.SBICFund)
                            @Html.EditorFor(m => m.SBICFund, "AllYesNo")
                        </div>
                        <div class="field inline-label">
                            @Html.ValidationMessageFor(m => m.ShowInactiveFirms)
                            @Html.LabelFor(m => m.ShowInactiveFirms)
                            @*@Html.EditorFor(m => m.ShowInactiveFirms)*@
                            @Html.CheckBoxFor(m => m.ShowInactiveFirms)
                        </div>
                        <div class="clearfix"></div>
                    </div>


                </div>

                <div class="col-md-4 col-xs-6">
    <div class="search-col">
        <h3>Strategy</h3>
        <div class="field inline-label">
            @Html.ValidationMessageFor(m => m.SelectedStrategy)
            @Html.LabelFor(m => m.SelectedStrategy)
            @Html.ListBoxFor(m => m.SelectedStrategy, new MultiSelectList(Model.Strategies.Select(m => m.Trim()).Distinct().OrderBy(m => m), Model.SelectedStrategy), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:100%" } })
        </div>
        @*<div class="field inline-label">
                @Html.ValidationMessageFor(m => m.SelectedSubStrategy)
                @Html.LabelFor(m => m.SelectedSubStrategy)
                @Html.ListBoxFor(m => m.SelectedSubStrategy, new MultiSelectList(Model.SubStrategies.OrderBy(m => m), Model.SelectedSubStrategy), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:100%" } })
            </div>*@
        <div class="field inline-label">
            @Html.ValidationMessageFor(m => m.SelectedMarketStage)
            @Html.LabelFor(m => m.SelectedMarketStage)
            <select id="SelectedMarketStage" class="chosen" style="width: 100%" name="SelectedMarketStage" multiple="multiple">
                <optgroup label="Private Equity">
                    <option @Html.Raw(Model.SelectedMarketStage !=null && Model.SelectedMarketStage.Contains("Small Market") ? " selected=\"selected\"" : string.Empty)>Small Market</option>
                    <option @Html.Raw(Model.SelectedMarketStage !=null && Model.SelectedMarketStage.Contains("Middle Market") ? " selected=\"selected\"" : string.Empty)>Middle Market</option>
                    <option @Html.Raw(Model.SelectedMarketStage !=null && Model.SelectedMarketStage.Contains("Large Market") ? " selected=\"selected\"" : string.Empty)>Large Market</option>
                    <option @Html.Raw(Model.SelectedMarketStage !=null && Model.SelectedMarketStage.Contains("Mega Market") ? " selected=\"selected\"": string.Empty)>Mega Market</option>
                    <option @Html.Raw(Model.SelectedMarketStage !=null && Model.SelectedMarketStage.Contains("Opportunistic") ? " selected=\"selected\"" : string.Empty)>Opportunistic</option>
                </optgroup>
                                @*<optgroup label="Venture Capital">
                                        <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Early Stage") ? " selected=\"selected\"" : string.Empty)>Early Stage</option>
                                        <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Mid Stage") ? " selected=\"selected\"" : string.Empty)>Mid Stage</option>
                                        <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Late Stage") ? " selected=\"selected\"" : string.Empty)>Late Stage</option>
                                        <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Multi-Stage") ? " selected=\"selected\"" : string.Empty)>Multi-Stage</option>
                                    </optgroup>*@
                            </select>
                                    @*@Html.ListBoxFor(m => m.SelectedMarketStage, new MultiSelectList(Model.MarketStages, Model.SelectedMarketStage), new Dictionary<string, object> { { "class", "xchosen" }, { "style", "width:100%" } })*@
                                </div>
                                <div class="field inline-label">
                                    @Html.ValidationMessageFor(m => m.SelectedSector)
                                    @Html.LabelFor(m => m.SelectedSector)
                                    @Html.ListBoxFor(m => m.SelectedSector, new MultiSelectList(Model.Sectors.Select(m => m.Trim()).Distinct().OrderBy(m => m), Model.SelectedSector), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:100%" } })
                                </div>
                                    <div class="field inline-label">
                                        @Html.ValidationMessageFor(m => m.SectorSpecialist)
                                        @Html.LabelFor(m => m.SectorSpecialist)
                                        @Html.EditorFor(m => m.SectorSpecialist, "AllYesNo")
                                    </div>

                                        <div class="field inline-label">
                                            @Html.ValidationMessageFor(m => m.SelectedInvestmentRegions)
                                            @Html.LabelFor(m => m.SelectedInvestmentRegions)
                                            @Html.ListBoxFor(m => m.SelectedInvestmentRegions, new MultiSelectList(Model.InvestmentRegions/*.OrderBy(m => m)*/, Model.SelectedInvestmentRegions), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:100%" } })
                                        </div>
                                        <div class="field inline-label">
                                            @Html.ValidationMessageFor(m => m.RegionalSpecialist)
                                            @Html.LabelFor(m => m.RegionalSpecialist)
                                            @Html.EditorFor(m => m.RegionalSpecialist, "AllYesNo")
                                        </div>
                                        @*<div class="field inline-label">
                                                @Html.ValidationMessageFor(m => m.SelectedInvestmentSubRegion)
                                                @Html.LabelFor(m => m.SelectedInvestmentSubRegion)
                                                @Html.ListBoxFor(m => m.SelectedInvestmentSubRegion, new MultiSelectList(Model.InvestmentSubRegions.OrderBy(m => m), Model.SelectedInvestmentSubRegion), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:100%" } })
                                            </div>
                                            <div class="field inline-label">
                                                @Html.ValidationMessageFor(m => m.SelectedCountry)
                                                @Html.LabelFor(m => m.SelectedCountry)
                                                @Html.ListBoxFor(m => m.SelectedCountry, new MultiSelectList(Model.Countries.Select(m => m.Trim()).Distinct().OrderBy(m => m), Model.SelectedCountry), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:100%" } })
                                            </div>*@
                                        <div class="clearfix" style="padding-bottom:15px;"></div>
        <div>
            <div class="separator-line"></div>
            <h3>Proximity Search</h3>
            <!--<label>Search Not Farther Than</label>-->
            <div class="field inline-label">
                @if (!Model.SelectedProximitySearchMiles.HasValue)
                {
                    Model.SelectedProximitySearchMiles = 50;
                }
                @Html.ValidationMessageFor(m => m.SelectedProximitySearchMiles)
                @Html.LabelFor(m => m.SelectedProximitySearchMiles)
                @Html.DropDownListFor(m => m.SelectedProximitySearchMiles, new List<SelectListItem>() {
                                    new SelectListItem { Text = "5 miles", Value = "5" },
                                    new SelectListItem { Text = "10 miles", Value = "10" },
                                    new SelectListItem { Text = "15 miles", Value = "15" },
                                    new SelectListItem { Text = "20 miles", Value = "20" },
                                    new SelectListItem { Text = "25 miles", Value = "25" },
                                    new SelectListItem { Text = "50 miles", Value = "50" }
                                }, null, new Dictionary<string, object> { { "class", "chosen dropdownlist" }, { "style", "width:100%" } })
            </div>
            <div class="field inline-label">
                @Html.ValidationMessageFor(m => m.ProximitySearchAddress)
                @Html.LabelFor(m => m.ProximitySearchAddress)
                @Html.TextBoxFor(m => m.ProximitySearchAddress, new { @class = "proximity-search-address text", @data_autocomplete = "proximity-search" })
            </div>
            @Html.HiddenFor(m => m.ProximitySearchLat, new { @class = "number" })
            @Html.HiddenFor(m => m.ProximitySearchLng, new { @class = "number" })
            <div class="clearfix"></div>
        </div>

                                    </div>
                </div>

                <div class="col-md-4 col-xs-6">
                    <div class="search-col">
                        <h3>GPScout Profiles/Scoring</h3>
                        @*<div class="field inline-label show-only-published">
                            @Html.ValidationMessageFor(m => m.ShowOnlyPublished)
                            @Html.LabelFor(m => m.ShowOnlyPublished)
                            @Html.CheckBoxFor(m => m.ShowOnlyPublished)
                        </div>*@
                        <div class="field inline-label">
                            @Html.ValidationMessageFor(m => m.SelectedQualitativeGradeID)
                            @Html.LabelFor(m => m.SelectedQualitativeGradeID)
                            @Html.DropDownListFor(m => m.SelectedQualitativeGradeID, Model.SelectedGradesOptions, String.Empty, new Dictionary<string, object> { { "class", "chosen dropdownlist grades" }, { "style", "width:100%" } })
                        </div>
                        <div class="field inline-label">
                            @Html.ValidationMessageFor(m => m.SelectedQuantitativeGradeID)
                            @Html.LabelFor(m => m.SelectedQuantitativeGradeID)
                            @Html.DropDownListFor(m => m.SelectedQuantitativeGradeID, Model.SelectedGradesOptions, String.Empty, new Dictionary<string, object> { { "class", "chosen dropdownlist grades" }, { "style", "width:100%" } })
                        </div>
                        <div class="field inline-label">
                            @Html.ValidationMessageFor(m => m.SelectedFocusList)
                            @Html.LabelFor(m => m.SelectedFocusList)
                            @*@Html.ListBoxFor(m => m.SelectedFocusList, new MultiSelectList(Model.FocusLists, Model.SelectedFocusList), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:100%" } })*@
                            @Html.CheckBoxFor(m => m.FocusListSelectedFlag)
                        </div>
                        <div class="field inline-label" style="padding-top:30px">
                            @Html.ValidationMessageFor(m => m.SelectedDiligenceLevelID)
                            @Html.LabelFor(m => m.SelectedDiligenceLevelID)
                            @Html.DropDownListFor(m => m.SelectedDiligenceLevelID, Model.DiligenceLevelOptions, String.Empty, new Dictionary<string, object> { { "class", "chosen dropdownlist" }, { "style", "width:100%" } })
                        </div>
                        <div class="field inline-label">
                            @Html.HiddenFor(m => m.FirmFilter, new { @class = "text" })
                            <label>Recently Updated:</label>
                            <input class="recently-updated" type="checkbox" data-firm-target="recentlyupdated" @(Model.FirmFilter == FirmFilter.RecentlyUpdated ? " checked=\"checked\"" : "") />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
         </div>
    </div>
}
<script>
    $(function () {
        $('li:contains( - )', '#SelectedInvestmentRegions_chzn .chzn-drop').css('padding-left', '20px');
    });
</script>
