﻿@using AtlasDiligence.Web.Models.ViewModels
@model IEnumerable<FolderViewModel>
@{
	ViewBag.Title = "RecentFolders";
	Layout = null;
}

<div id="recent-folders-tab">
	@if (Model.Any())
 {
		<div id="recent-folders" class="search-sidebar">
			<ul>
				@foreach (FolderViewModel folder in @Model)
	{
					@Html.Partial("FolderPartialSmall", folder);
	}
			</ul>
		</div>
 }

	<div style="clear: both; margin: 0;">
		&nbsp;
	</div>
</div>
