﻿@using AtlanticBT.Common.Types
@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Web.Models
@model AtlasDiligence.Web.Models.ViewModels.Search.SearchViewModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.BodyId = "search-start";
    ViewBag.BodyClass = "section-dashboard";
    var userEntity = (UserEntity)ViewBag.UserEntity;
}
@section head{
	<script type="text/javascript">
		$(function () {
			// show loading gif while tabs load
			$('#loading-bar').show();

			// tabs handler
			$('#firm-tabs').tabs(
				{
					ajaxOptions: {
						cache: true,
					},
					cache: true,
					load: function (event, ui) {
						$('#loading-bar').hide();
					},
					select: function(event, ui) {
						if ($(ui.panel).is(':empty')) {
							$('#loading-bar').show();
						}
					}
				}
			);
		});
	</script>
}

<div id="firm-tabs">
	<ul>
		<li>
			@Html.ActionLink("GP Atlas", "Map", "Search", new { Id = "Map" })
		</li>
		<li>
			@Html.ActionLink("GP Landscape", "Scatter", "Search", new { Id = "Scatter" })
		</li>
		<li>
			@Html.ActionLink("Firms Recently Viewed", "RecentFirms", "Search", new { Id = "Recent-Firms" })
		</li>
		<li>
			@Html.ActionLink("Firms Recently Updated", "RecentlyUpdated", "Search", new { Id = "Recently-Updated" })
		</li>
		<li>
			@Html.ActionLink("Firms in Process", "FirmsInProcess", "Search", new { Id = "FirmsInProcess" })
		</li>
		<li>
			@Html.ActionLink("Recent Folders", "RecentFolders", "Search", new { Id = "RecentFolders" })
		</li>
	</ul>
</div>

<div id="request-diligence-dialog" style="display: none">
	<em>Organization: <strong></strong></em>
	<fieldset>
		<legend></legend>
		<div class="field">
			<div class="field">
				<label for="request-diligence-comment">
					Specific Request/Comment/Question:</label>
				<textarea id="request-diligence-comment"></textarea>
			</div>
		</div>
	</fieldset>
</div>
<section class="snapshot">
        <div class="row">
            @if (Model.Snapshot.AvailableSegments.Any())
            {
                <div class="snapshot-segments">
                    <strong>@string.Join(", ", Model.Snapshot.AvailableSegments)</strong> Available Segments
                </div>
            }
            else
            {
                <style>
                    #search-start section.snapshot .section-content div {
                        width: 210px;
                    }
                </style>
            }
            <div class="col-md-2 col-xs-15 col-md-offset-1 ">
                    <span class="value">@Model.Snapshot.TotalFirms</span><span class="label">Total<br /> Firms</span>
                </div>
                <div class="col-md-2 col-xs-15">
                    <span class="value">@Model.Snapshot.TotalFunds</span><span class="label">Total<br /> Funds</span>
                </div>
                <div class="col-md-2 col-xs-15">
                    <span class="value">@Model.Snapshot.CurrentlyFundraising</span><span class="label">Currently<br /> Fundraising</span>
                </div>
                <div class="col-md-2 col-xs-15">
                    <span class="value">@Model.Snapshot.ComingToMarket</span><span class="label"> Expected<br /> to Market</span>
                </div>
                <div class="col-md-2 col-xs-15">
                    <span class="value">@Model.Snapshot.InProcess</span><span class="label">Profiles<br /> in Process</span>
                </div>
            </div>
</section>




