@inherits PartialViewMacroPage
@using Umbraco.Cms.Web
@using Umbraco.Cms.Web.Macros
@using Umbraco.Framework

@{
    //Get the macro parameter and check it has a value otherwise set to empty hive Id
    var startNodeID = String.IsNullOrEmpty(Model.MacroParameters.startNode) ? HiveId.Empty.ToString() : Model.MacroParameters.startNode;

    //Check that we have a HiveId to work with
    if (startNodeID != HiveId.Empty.ToString())
    {
        var startNode = Umbraco.GetDynamicContentById(startNodeID);

        //Check that startNode has child pages
        if (startNode.Children.Any())
        {
	    <ul class="team">
                @foreach (var page in startNode.Children)
                {   
                    var imageUrl = "";
                    try {
                    imageUrl = Umbraco.GetMediaUrl(page.Id, "teamMemberImage");
                    } catch(Exception e) {}
                
                    <li>
                    @if (!String.IsNullOrEmpty(imageUrl))
                    {
                            <img src="@imageUrl" />
                    }	
                            <h2><a href="@page.Url">@page.Name</a></h2>
                            <h3>@page.teamMemberTitle</h3>
                            @Html.Raw(page.content)
                            <a href="@page.Url">Read More &gt;&gt;</a>
                    </li>
                }
            </ul>
        }
    }
    else
    {
        <p>HiveId is empty</p>
    }
}