﻿@model AtlasDiligence.Web.Models.ViewModels.Account.LogOnViewModel
<div id="members-form">
    @{
       var vsHtmlString = Html.ValidationSummary(true, "Login was unsuccessful.");
       if (vsHtmlString != null)
       {
            @Html.Raw(HttpUtility.HtmlDecode(vsHtmlString.ToString()))
       }
    }
    @using (Html.BeginForm("LogOn", "Account"))
    {
        <span style="display:none">@Model.LogonPageId</span>
        if (Model.IsDuplicateLogin || Model.ShowAgreementReminder)
        {
            <script>
                function lgPopup(id, title, wdth, hght) {
                    $(id).dialog({
                        autoOpen: true,
                        width: wdth,
                        height: hght,
                        buttons: {
                            "Continue": function () {
                                window.location.href = window.location.href.replace("/Account/LogOn", "/Account/LogOnContinue");
                                $(this).dialog("close");
                            },
                            "Cancel": function () { $(this).dialog("close"); }
                        },
                        close: function () { $(this).dialog("destroy").remove(); },
                        title: title
                    });
                }
            </script>
        }
        if (Model.IsDuplicateLogin)
        {
            @Html.HiddenFor(m => m.ForceLogin)
            <div id="force-login" class="hide">
                <div>
                    @(Model.UserName) is already logged in.
                </div>
                <p>
                    If you continue the other session will be terminated.
                </p>
                <div class="buttons">
                    <div class="ajax-loader" style="display: none;"></div>
                </div>
            </div>
            <script>
                $(function () {
                    lgPopup('#force-login', 'Login', 350, 210);
                });
            </script>
        }
        if (Model.ShowAgreementReminder)
        {
            @Html.HiddenFor(m => m.TrialAccepted)
            <div id="agreement-reminder" class="hide">
                <div style="text-align:justify">
                    Reminder: Your use of this website provided by RCP Advisors 2, LLC (“RCP”) and the GPScout manager research platform (the “Service”) by the person who uses the Service, having registered and established a username to do so (the "User") and the company or other organization with or for whom the User works, and for which the User's use of the Service relates (the "Client Organization") (hereinafter together termed the "Client") is governed by the Website Terms and Conditions and Website Privacy Statement (together, the "Terms and Conditions"). Use of this website constitutes the Client's acceptance of the Terms and Conditions and acceptance takes effect immediately on first use of the Service. Acceptance of the Terms and Conditions constitutes full acceptance of all the Terms and Conditions and agreement to be bound thereby.
                </div>
                <div class="buttons">
                    <div class="ajax-loader" style="display: none;"></div>
                </div>
            </div>
            <script>
                $(function () {
                    lgPopup('#agreement-reminder', 'Terms and Conditions', 610, 350);
                });
            </script>
        }
        <div class="login">
            <div class="form-left">
	            <div class="field username">
	                @Html.LabelFor(m => m.UserName)
	                @Html.TextBoxFor(m => m.UserName)
	                @Html.ValidationMessageFor(m => m.UserName)
	            </div>
	            <div class="field password">
	                @Html.LabelFor(m => m.Password)
	                @Html.PasswordFor(m => m.Password)
	                @Html.ValidationMessageFor(m => m.Password)
	            </div>
	            <div class="field login-links">
		            <div class="rememberme">
		                @Html.CheckBoxFor(m => m.RememberMe)
		                @Html.LabelFor(m => m.RememberMe)
		            </div>
		            <div id="forgot-password">
		                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
		            </div>
	            </div>
            </div>
            <div class="form-right">
	            <div class="buttons">
	                <input id="members-submit" class="submit" name="submit" type="submit" value="Log On" />
	            </div>
            </div>
        </div>
    }
</div>
