﻿@{
    ViewBag.Title = "Change Password";
}

@*<h2>Change Password</h2>*@
<p id="txt-success">
    Your password has been changed successfully.
</p>
<script>
    $(function () {
        $('#txt-success').dialog();
    });
    window.setTimeout(function () {
        window.location.href = '/Search/Start';
    }, 999);
</script>
