﻿@model AtlasDiligence.Web.Models.ViewModels.TermsAndConditionsViewModel
@{
    ViewBag.Title = "Terms And Conditions";
}
<h2>Please read and agree to the Terms And Conditions</h2>
<div class="wrapper">
    @using (Html.BeginForm())
    {
        <div class="field">
            <div id="text">
                @Html.DisplayTextFor(m => m.Text)
            </div>
        </div>
        <div class="field" id="is-checked-field">
            @Html.ValidationMessageFor(m => m.IsChecked)
            @Html.LabelFor(m => m.IsChecked)
            @Html.CheckBoxFor(m => m.IsChecked, new { disabled = "disabled" })
            <em id="terms-alert">You must read to the bottom of the terms and conditions prior to agreeing.</em>
        </div>
        <div class="buttons">
            <input type="submit" value="Submit" />
        </div>
    }
</div>
@section head{
    <style>
        #text { height: 200px; width: 100%; overflow-y: scroll; border: 1px solid #CCC; padding: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; /*white-space: pre-wrap;*/ /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; }
        #IsChecked { left: 10px; position: relative; top: 2px; width: 10px; }
        #is-checked-field em { opacity: 0;margin-left: 8px;color: #999;transition: all .5s; -moz-transition: all .5s;-webkit-transition: all .5s;-o-transition: all .5s;font-size: .85em;}
        #is-checked-field:hover #terms-alert { opacity: 1;margin-left: 20px;color: #F00;}
        #is-checked-field label { display: inline;}
        #is-checked-field .field-validation-error { display: block; }
    </style>
    <script type="text/javascript">
        $(function () {
            $('#text').scroll(function () {
                if (isScrollbarVisible && this.scrollTop + this.offsetHeight >= this.scrollHeight) {
                    $('#IsChecked').removeAttr('disabled');
                    $('#terms-alert').removeAttr('id');
                }
            });
            var text = document.getElementById('text');
            var isScrollbarVisible = text.clientHeight < text.scrollHeight;
            if (!isScrollbarVisible) {
                $('#IsChecked').removeAttr('disabled');
                $('#terms-alert').removeAttr('id');
            }
        });
    </script>
}
