@model IEnumerable<AtlasDiligence.Common.Data.Models.ResearchPriorityOrganization>
@foreach (var org in Model)
{
    <tr>
        <td>@org.Name
        </td>
        <td>@org.MarketStage
        </td>
        <td>@string.Join(", ", org.Strategy)
        </td>
        <td>@string.Join(", ", org.InvestmentRegions)
        </td>
    </tr>
}
