﻿@model AtlasDiligence.Web.Models.ViewModels.Map.MapViewModel
@using AtlanticBT.Common.Types
@{
    ViewBag.Title = "Map";
    Layout = null;
}

@helper FocusRadarIconLink(string radar)
{
switch (radar)
{
    case "Radar List":
            @Url.Content("~/images/map/i_radar.png")
        break;
    case "Focus List":
            @Url.Content("~/images/map/i_focus.png")
        break;
    default:
            @Url.Content("~/images/map/measle_4px.png")
        break;
}
}

<style type="text/css">
    #map-canvas {
        height: 500px;
        width: 100%;
    }

    #panel {
        position: absolute;
        left: 7%;
        top: 54px;
        margin-left: -170px;
        z-index: 5;
        background-color: #fff;
    }

    .lm {
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        cursor: pointer;
    }

    .sm {
        background-repeat: no-repeat;
        width: 8px;
        height: 8px;
        cursor: pointer;
    }

    div[data-map-popup="1"] {
        cursor: default;
        width: 300px;
        height: 200px;
        left: -150px;
        top: -200px;
        position: relative;
        pointer-events: none;
    }

    div[data-close="1"] {
        cursor: pointer;
    }

    div[data-content="1"] {
        pointer-events: all;
    }
</style>

<script type="text/javascript">
    var map, lastOpenedInfoWindow, lastMousePos;

    // access map markers
    var markersArray = [];

    // json data of available orgs
    var jsonMarkers = [];


    function createMarkersData() {
        @foreach (var organization in Model.Organizations)
        {
            foreach (var position in organization.Positions)
            {
                <text>
        jsonMarkers.push({
            "Id": "@organization.Id",
            "Name": "@Html.Raw(String.Format("{0} ({1})", organization.Name, position.City))",
            "Latitude": "@position.Latitude",
            "Longitude": "@position.Longitude",
            "FundRaisingStatus": "@organization.FundraisingStatus",
            "FocusRadar": "@organization.FocusRadar",
            "FocusRadarIcon": "@FocusRadarIconLink(@organization.FocusRadar)",
            "ClassName": "lm",
            "Preview": false
        });
        </text>
    }
    }

        // get preview organizations
        @foreach (var organization in Model.PreviewOrganizations)
    {
        <text>
        jsonMarkers.push({
            "Id": "@organization.Id",
            "Name": "Not Included in Current Membership",
            "Latitude": "@organization.Latitude",
            "Longitude": "@organization.Longitude",
            "FundRaisingStatus": "@organization.FundRaisingStatus",
            "FocusRadar": "@organization.FocusRadar",
            "FocusRadarIcon": "@Url.Content("~/images/map/measle_4px_gray.png")",
            "ClassName": "sm",
            "Preview": true
        });
        </text>
    }
    }

    function initialize() {
        createMarkersData();
        initialize_mapbox();

        // tooltip fix
        $('#info-window-tooltip').live('mouseover', function () {
            $('#info-window-tooltip').qtip({
                overwrite: false,
                content: { text: $(this).text() },
                show: { ready: true },
                position: {
                    my: 'left center'
                },
                style: {
                    def: false,
                    classes: 'keyTakewayCustomClass',
                    tip: {
                        corner: 'left center'
                    }
                }
            });
        });

        // dashboard map autocomplete
        $('#map-autocomplete').autocomplete({
            minlength: 2,
            source: $.map(jsonMarkers, function (item, index) {
                if (item.Name != "Not Included in Current Membership") {
                    return { label: item.Name, value: index };
                }
            }),
            select: function (event, ui) {
                // onclick or select remove any checkbox filters
                ResetFilters();

                // trigger click
		        $('#id' + jsonMarkers[ui.item.value].Id).click();

                // return false so the input field is not updated with the index text of the marker
                $("#map-autocomplete").val('');
                return false;
            },
            focus: function () { return false; }
        });

        // event handling for filter checkboxes
        $('.FocusRadarFilter').change(function () {
            FilterMap();
        });

        $('.FundRaisingFilter').change(function () {
            FilterMap();
        });
    }

    function initialize_mapbox() {
        //zoli's:
        //mapboxgl.accessToken = 'pk.eyJ1IjoiemtvdmFjcyIsImEiOiJjaXdyb2l0a3MwejJuMnRxb3BteGZzd3BhIn0.Vf5sdUCR3BQYR2_fBcXvHA';
        //matt's:
        mapboxgl.accessToken = 'pk.eyJ1IjoibXBsdW5rZXR0IiwiYSI6ImNpdnR5cGYzejAwOWQyenJxaWl6YzM3aWMifQ.yfSRdBlZZHsGEXtqVQQlSQ';
        map = new mapboxgl.Map({
            container: 'map-canvas',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [-97.1107682, 38.4836993],
            zoom: 3,
            attributionControl: false
        });

        map.scrollZoom.disable();
        map.addControl(new mapboxgl.NavigationControl(), 'top-left');
        map.addControl(new mapboxgl.AttributionControl({ compact: true }));

        var zoomStep = 0.8;
        $('#map-canvas').on('mousewheel DOMMouseScroll', function (e) {
            e.preventDefault();
            debugger;

            e = e.originalEvent;
            var d = -e.detail || e.wheelDelta || e.wheelDeltaY || e.deltaY;
            d = d < 0 ? -1 : 1;

            var dur = 0, delayEndEvents = 0;

            map.zoomTo(map.getZoom() + (zoomStep * d), {
                duration: dur,
                around: lastMousePos,
                delayEndEvents: delayEndEvents,
                smoothEasing: true
            }, { originalEvent: e });

        });

        $('#map-map,#map-satellite').change(function () {
            var mapStyle = $(this).val();
            if (mapStyle != "streets" && mapStyle != "satellite") mapStyle = "streets";
            map.setStyle('mapbox://styles/mapbox/' + mapStyle + '-v9');
        });

        map.on('mousemove', function (e) {
            // e.point;
            lastMousePos = e.lngLat;
        });

        map.on('load', function () {
            // Add a layer showing the places.
            markersArray = [];

            jsonMarkers.forEach(function (markerInfo) {
                // create a DOM element for the marker
                var el = document.createElement('div');
                el.className = markerInfo.ClassName;
                el.style.backgroundImage = 'url(' + markerInfo.FocusRadarIcon + ')';
                el.data_oid = markerInfo.Id;
                el.title = markerInfo.Name;
                el.id = "id"+ markerInfo.Id;

                try {
                    var iconSize = markerInfo.Preview ? [8, 8] : [17, 17]; // size of the icon;
                    // add marker to map
                    new mapboxgl.Marker(el, { offset: [-iconSize[0] / 2, -iconSize[1] / 2] })
                        .setLngLat([markerInfo.Longitude, markerInfo.Latitude])
                        .addTo(map);

                    markersArray.push(el);

                    if (!markerInfo.Preview) {
                        el.addEventListener('click', function (e) {
                            var pdiv = $(el).find('div[data-map-popup]');
                            if (pdiv.length) {
                                debugger;
                                //e.preventDefault();
                                //e.stopPropagation();
                                return;
                            }

                            common.showLoading();
                            var ctrl = $(this).get(0);
                            if (ctrl == null || ctrl.data_oid == null)
                                return;

                            var id = ctrl.data_oid;
                            var i, marker = null;
                            for (i = 0; i < jsonMarkers.length; i++) {
                                if (jsonMarkers[i].Id == id) {
                                    marker = jsonMarkers[i];
                                    break;
                                }
                            };

                            if (marker) {
                                $.ajax({
                                    url: '@Url.Action("GetInfoWindowContent", "Search")/' + id,
                                    datatype: 'json',
                                    success: function (data) {
                                        //*
                                        //var popup = new mapboxgl.Popup()
                                        //    .setLngLat([+marker.Longitude, +marker.Latitude])
                                        //    .setHTML(data.InfoWindowHtml);

                                        //window.setTimeout(function (p) {
                                        //    common.makeQtipNow(p._content);
                                        //    p.addTo(map);
                                        //    $(p._content).show();
                                        //}, 99, popup);
                                        //*/

                                        // set center
                                        map.setCenter([+marker.Longitude, +marker.Latitude]);

                                        // zoom level
                                        if (map.getZoom() < 14) {
                                            map.setZoom(14);
                                        }

                                        // one window at a time
                                        if (lastOpenedInfoWindow) {
                                            try {
                        						$(lastOpenedInfoWindow).closest('.lm').css('z-index', 'auto');
                                                lastOpenedInfoWindow.remove();
                                            } catch (e) { }
                                            lastOpenedInfoWindow = null;
                                        }

                                        debugger;
                                        if (!pdiv.length) {
                                            pdiv = $('<div data-map-popup="1"><div data-close="1">x</div><div data-content="1"></div></div>');
                                            $(el).prepend(pdiv);
                                        }

					                    $(el).css('z-index','9');
                                        var contentCtrl = $(pdiv).find($('div[data-content]'));
                                        contentCtrl.html(data.InfoWindowHtml);
                    					$('[data-close]', pdiv).prependTo(contentCtrl);
                                        common.makeQtipNow(contentCtrl);
                                        lastOpenedInfoWindow = pdiv.get(0);
                                        window.setTimeout(function () {
                                            pdiv.show();
                                        }, 99);
                                    },
                                    complete: function () {
                                        common.hideLoading();
                                    }
                                });
                            }
                        });
                    }

                } catch (ee) { }
            });
        });


        $('body').on('click','[data-map-popup] [data-close]', function (e) {
            debugger;
            e.preventDefault();
            e.stopPropagation();
            var ctrl = $(this).closest('[data-map-popup]');
	        $(ctrl).closest('.lm').css('z-index', 'auto');
            $(ctrl).remove();
        });
    }


    function ResetFilters() {
        if ($('.FocusRadarFilter').is(':checked')) {
            $('.FocusRadarFilter').trigger('click');
        }

        if ($('.FundRaisingFilter').is(':checked')) {
            $('.FundRaisingFilter').trigger('click');
        }
    }

    function FilterMap() {
        var radarChecked = $('.FocusRadarFilter').is(':checked');
        var fundRaiseChecked = $('.FundRaisingFilter').is(':checked');

        $.each(markersArray, function (index) {
            var radarStatus = jsonMarkers[index].FocusRadar;
            var fundRaiseStatus = jsonMarkers[index].FundRaisingStatus;

            // reset marker visibility
            var ctrl = $(markersArray[index]);
            ctrl.show();

            if (radarChecked && fundRaiseChecked) {
                if (radarStatus == "") {
                    ctrl.hide();
                }

                if (fundRaiseStatus == "Closed" || fundRaiseStatus == "") {
                    ctrl.hide();
                }
            }
            else if (radarChecked && !fundRaiseChecked) {
                if (radarStatus == "") {
                    ctrl.hide();
                }
            }
            else if (!radarChecked && fundRaiseChecked) {
                if (fundRaiseStatus == "Closed" || fundRaiseStatus == "") {
                    ctrl.hide();
                }
            }
        });
    }
</script>
@*@if (Request.IsAuthenticated)
        // debug feature
    {
        var userEntity = EntityCache.Get<AtlasDiligence.Web.Models.UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache);
        if (userEntity != null && userEntity.IsAdmin && (userEntity.UserName.EndsWith("@smallfootprint.com") || userEntity.UserName == "mplunkett@rcpadvisors.com"))
        {
            <div>
                <a data-send-body="1" href="javascript:void(0)">DEBUG: Send body html to SFP</a>
                <script>
                    $(function () {
                        $('[data-send-body]').click(function (e) {
                            common.showLoading();
                            e.preventDefault();
                            var body = $('body').html();
                            $.ajax({
                                url: '@Url.Action("SendBody", "Debugger")',
                                type: 'POST',
                                data: { "html": body },
                                datatype: 'json',
                                cache: false,
                                success: function (data) {
                                    debugger;
                                    alert(data);
                                },
                                //error: function( jqXHR, textStatus, errorThrown ) {
                                //    debugger;
                                //},
                                complete: function () {
                                    common.hideLoading();
                                }
                            });
                        });
                    });
                </script>
            </div>
        }
    }*@
<div id="map" class="gpsscout">
    <section class="organization-map">
        <div id="panel" class="search-inner">
            <input type="text" placeholder="Search" id="map-autocomplete">
        </div>
        <div class="map-filter">
            <div class="field inline-label">
                @Html.CheckBoxFor(m => m.FocusRadarFilter, new Dictionary<string, object> { { "class", "FocusRadarFilter" } })
                @Html.LabelFor(m => m.FocusRadarFilter)
            </div>
            <div class="field inline-label">
                @Html.CheckBoxFor(m => m.FundRaisingFilter, new Dictionary<string, object> { { "class", "FundRaisingFilter" } })
                @Html.LabelFor(m => m.FundRaisingFilter)
            </div>
            <div class="map-filter" style="position:relative; top:-1px; float:right">
                <div class="field inline-label">
                    <input type="radio" id="map-map" checked="checked" value="map" name="map" />
                    <label for="map-map">Map</label>
                </div>
                <div class="field inline-label">
                    <input type="radio" id="map-satellite" value="satellite" name="map" />
                    <label for="map-satellite">Satellite</label>
                </div>
            </div>
        </div>
        <div id="map-canvas" />
    </section>
</div>
