﻿@using AtlasDiligence.Web.Models.ViewModels.Search
@model IEnumerable<RecentSearchViewModel>
@{
    Layout = null;
}
@if (Model.Any())
{
    <div id="recent-searches" class="search-sidebar">
        <h4>Recent Searches</h4>
        <ul>
            @foreach (var search in Model)
            {
                <li><a href="@Url.Action("Index", new { id = search.Id })" data-id="@search.Id" class="search-link">@((String.IsNullOrWhiteSpace(search.Name) ? "Advanced Search - " : search.Name + " - ") + search.Date.ToString("MM/dd"))</a>
                    <ul class="recent-searches-actions">
                        @if (!search.IsSavedSearch)
                        {
                            <li><a class="save-search" href="@Url.Action("Save", "Search", new { id = search.Id })" title="Save this search for later.">Save</a></li>
                        }
                    </ul>
                    <div class="recent-search-long" id="@search.Id">
                        <ul>
                            @foreach (var field in search.Detail)
                            {
                                <li><strong>@field.Key:</strong> @field.Value
                                </li>
                            }
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>
}
<div style="display:none;" id="save-search-dialog">
    <label for="save-search-name">Name:</label>
    <input id="save-search-name" type="text" placeholder="Please enter a name for this search."/>
</div>
<script>
    $(function () {
        $('#recent-searches a.search-link').qtip({
            content: {
                text: function () {
                    return $('#' + $(this).attr('data-id'));
                }
            }
        });
    });
</script>