﻿@using AtlanticBT.Common.Types
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Models
@{
    ViewBag.Title = "RecentFirms";
	Layout = null;
}

<div id="recent-firms">
		<table>
			<thead>
				<tr>
					<th style="width: 220px">Name
					</th>
					<th style="width: 88px;">
                        <div class="focus-list icon" title="Focus List managers are groups that RCP recommends prioritizing within their given strategy or market.">
                            Focus List
                        </div>
						<div class="emerging-manager-true icon" title="Managers raising or investing their first or second institutional fund.">
							true
						</div>
						<div class="access-constrained-true icon" title="Managers with limited allocation opportunities for new limited partners.">
							true
						</div>
					</th>
					<th style="width: 115px">Market/Stage
					</th>
					<th style="width: 280px">Primary Strategy
					</th>
					<th style="width: 210px">Investment Region
					</th>
					<th>Date
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var organizationViewing in EntityCache.Get<UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache).RecentlyViewedOrganizations)
	{
					<tr>
						<td class="firm-name">
							<a href="@Url.Action("Index", "Organization", new { id = organizationViewing.OrganizationId })">@organizationViewing.Name</a>
                            @foreach (Organization org in AtlanticBT.Common.ComponentBroker.ComponentBrokerInstance.RetrieveComponent<GPScout.Domain.Contracts.Services.IOrganizationService>().GetAllOrganizations())
                            {
                                if (org.Id == organizationViewing.OrganizationId)
                                {
                                    @*var lastFundSize = (org.LastFundSize != null) ? (org.LastFundSize.Value > 0 ? org.Currency.FormattedSymbol + Math.Round(org.LastFundSize.Value, 0, MidpointRounding.AwayFromZero) : "") : "";
                                    var expectedNextFundRaise = (!String.IsNullOrEmpty(org.FundRaisingStatus) ? org.FundRaisingStatus.ToLower() == "open" || org.FundRaisingStatus.ToLower() == "pre-marketing" ? "N/A" : String.Format("{0:y}", org.ExpectedNextFundRaise) : "");
                                    var tooltipText = String.Format("<div><strong>Primary Strategy: </strong>{0}<br />"
                                        + "<strong>Sector: </strong>{1}<br />"
                                        + "<strong>Market/Stage: </strong>{2}<br />"
                                        + "<strong>Fundraising Status: </strong>{3}<br />"
                                        + "<strong>Expected Next Fundraise: </strong>{4}<br />"
                                        + "<strong>Last Fund Size (mm): </strong>{5}</div>"
                                        + "{6}"
                                        , (!String.IsNullOrEmpty(org.StrategyPipeDelimited) ? org.StrategyPipeDelimited.Replace("|", ",") : "")
                                        , (!String.IsNullOrEmpty(org.SectorFocusPipeDelimited) ? org.SectorFocusPipeDelimited.Replace("|", ",") : "")
                                        , org.MarketStage
                                        , org.FundRaisingStatus
                                        , expectedNextFundRaise
                                        , lastFundSize
                                        , (!String.IsNullOrEmpty(org.OrganizationOverview) ? "<hr class='horizontalRule' /><strong>Overview:  </strong>" + org.OrganizationOverview : ""));
                                    <div class="key-takeaway" title="@tooltipText.ToString()">
                                        @tooltipText.ToString()
                                    </div>*@
                                    @Html.Action("KeepAwayTooltip", "Organization", new { orgId = org.Id })
                                    if (org.IsInProcess)
                                            {
                                        @*<div class="under-construction" title="This profile is currently being updated or will be updated pending an upcoming meeting.">
                                            This profile is currently being updated or will be updated pending an upcoming meeting.
                                        </div>*@
                                        @ViewHelpers.UnderConstructionIcon(org);
                                    }
                                }
                            }
							@*@if (!String.IsNullOrWhiteSpace(organizationViewing.KeyTakeAway))
                            {
                                <div class="key-takeaway simple-tooltip" title="@organizationViewing.KeyTakeAway">@organizationViewing.KeyTakeAway</div>
	                        }*@
						</td>
						<td>
                            @if (!String.IsNullOrWhiteSpace(organizationViewing.FocusRadar))
                            {
                                <div class="@(organizationViewing.FocusRadar.ToLower().Replace(' ', '-')) icon" title="@organizationViewing.FocusRadar">
                                    @organizationViewing.FocusRadar
                                </div>
                            }
                            else
                            {
                                <div class="empty">
                                    &nbsp;
                                </div>
                            }
                            @if (organizationViewing.EmergingManager)
                            {
                                <div class="emerging-manager-true icon" title="Emerging Manager">
                                    true
                                </div>
                            }
                            else
                            {
                                <div class="empty">
                                    &nbsp;
                                </div>
                            }
                            @if (organizationViewing.AccessConstrained)
                            {
                                <div class="access-constrained-true icon" title="Access Constrained">
                                    true
                                </div>
                            }
                            else
                            {
                                <div class="empty" style="width: 16px;">
                                    &nbsp;
                                </div>
                            }
 						</td>
						<td>@organizationViewing.MarketStage
						</td>
						<td>@organizationViewing.Strategies
						</td>
						<td>@organizationViewing.InvestmentRegions
						</td>
						<td>@organizationViewing.Timestamp.Value.ToShortDateString()
						</td>
					</tr>
	}
			</tbody>
		</table>
	</div>
<script>common.makeQtip('#recent-firms')</script>