﻿@model AtlasDiligence.Web.Models.ViewModels.Search.RecentlyUpdatedViewModel
@{
    ViewBag.Title = "RecentlyUpdated";
	Layout = null;
}

<div id="updated-firms">
    <div>
        <label for="SinceLastLoginOnly">Show Firms Updated Since Last Login Only:&nbsp;@Html.CheckBoxFor(m => m.SinceLastLoginOnly, new { @class = "checkbox" })</label>
    </div>
		<table>
			<thead>
				<tr>
					<th style="width: 220px">Name
					</th>
					<th style="width: 90px;">
                        <div class="focus-list icon" title="Focus List managers are groups that RCP recommends prioritizing within their given strategy or market.">
                            Focus List
                        </div>
						<div class="emerging-manager-true icon" title="Managers raising or investing their first or second institutional fund.">
							true
						</div>
						<div class="access-constrained-true icon" title="Managers with limited allocation opportunities for new limited partners.">
							true
						</div>
					</th>
					<th style="width: 115px">Market/Stage
					</th>
					<th style="width: 280px">Primary Strategy
					</th>
					<th style="width: 210px">Investment Region
					</th>
					<th style="min-width:66px">Last Updated
					</th>
				</tr>
			</thead>
			<tbody>
                @Html.Partial("RecentlyUpdatedRows", Model.FirmsRecentlyUpdated)
			</tbody>
		</table>
        <button id="load-more-firms-recently-updated">
            Load More
        </button>
    <script type="text/javascript">
	$(function () {
	    var infiniteScroll = new common.infiniteScroll(this);
	    infiniteScroll.set('@Url.Action("LoadRecentlyUpdated", new { showLastLoginOnly = Model.SinceLastLoginOnly })', '#load-more-firms-recently-updated', '#updated-firms tbody', 'tr', 'firms', @Model.Tick);
	});
    </script>
</div>
<script>common.makeQtip('#updated-firms')</script>
