@model IEnumerable<AtlasDiligence.Common.Data.Models.Organization>
@foreach (var organization in ((IEnumerable<AtlasDiligence.Common.Data.Models.Organization>)Model).OrderByDescending(m => m.LastUpdated.GetValueOrDefault(DateTime.MinValue)))
{
    <tr>
        <td class="firm-name">
            @if (organization.PublishOverviewAndTeam)
            {
                <a href="@Url.Action("Index", "Organization", new { id = organization.Id })">@organization.Name</a>  }
            else
            {
                @organization.Name
                <a href="@Url.Action("RequestOrganization", "Request")" class="request-information simple-tooltip" data-id="@organization.Id" data-name="@organization.Name" title="Click to Request Research">Request Information</a>  }
            @if (organization != null)
            {
                @Html.Action("KeepAwayTooltip", "Organization", new { orgId = organization.Id })
                if (organization.IsInProcess)
                {
                    @*<div class="under-construction icon" title="This profile is currently being updated or will be updated pending an upcoming meeting.">
                        This profile is currently being updated or will be updated pending an upcoming meeting.
                    </div>*@
                    @ViewHelpers.UnderConstructionIcon(organization);
                }
            }
            @*@if (!String.IsNullOrWhiteSpace(organization.KeyTakeAway))
                {
                    <div class="key-takeaway simple-tooltip" title="@organization.KeyTakeAway">@organization.KeyTakeAway</div>
                }*@
        </td>
        <td>
            @if (!String.IsNullOrWhiteSpace(organization.FocusRadar))
            {
                <div class="@(organization.FocusRadar.ToLower().Replace(' ', '-')) icon" title="@organization.FocusRadar">
                    @organization.FocusRadar
                </div>
            }
            else
            {
                <div class="empty">
                    &nbsp;
                </div>
            }
            @if (organization.EmergingManager)
            {
                <div class="emerging-manager-true icon" title="Emerging Manager">
                    true
                </div>
            }
            else
            {
                <div class="empty">
                    &nbsp;
                </div>
            }
            @if (organization.AccessConstrained)
            {
                <div class="access-constrained-true icon" title="Access Constrained">
                    true
                </div>
            }
            else
            {
                <div class="empty" style="width: 16px;">
                    &nbsp;
                </div>
            }
        </td>
        <td>
            @organization.MarketStage
    </td>
    <td>
        @string.Join(", ", organization.Strategy)
</td>
<td>
    @string.Join(", ", organization.InvestmentRegions)
</td>
<td>
    @organization.LastUpdated.GetValueOrDefault(DateTime.MinValue).ToShortDateString()
</td>
</tr>
}
