﻿@using AtlasDiligence.Common.Data.General
@model string
<div id="request-more-info" class="request-more-info" style="@Model">
    <h4 class="request-more-info-title"><a class="request-research" href="@Url.Action("RequestOrganizationName", "Request")">Request Research</a> </h4>
</div>
<div id="request-research-dialog" style="display: none">
    <fieldset>
        <legend></legend>
        <div class="field">
            <div class="field">
                <label for="request-research-name">Organization Name:</label>
                <input type="text" id="request-research-name"></input>
            </div>
            <div class="field">
                <label for="request-research-comment">Specific Request/Comment/Question:</label>
                <textarea id="request-research-comment"></textarea>
            </div>
        </div>
    </fieldset>
</div>
