﻿@model IEnumerable<AtlasDiligence.Common.Data.Models.SavedSearch>
@{
    ViewBag.Title = "Saved";
}
<h1>My Saved Searches</h1>
@if (Model.Any())
{
    <table id="saved-searches">
        <thead>
            <tr>
                <th>Search Name</th>
                <th>Search Criteria</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var search in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "Search", new { id = search.SearchTemplateId })" class="saved-search-name">@search.Name</a>
                    </td>
                    <td>
                        <ul id="saved-search-criteria">
                            @foreach (var item in search.SearchTemplate.SearchFields)
                            {
                                <li><strong>@item.Key:</strong> @item.Value</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul class="saved-search-actions">
                            <li><a href="@Url.Action("Rename", "Search", new { id = search.SearchTemplateId })" class="edit-search edit-icon icon" title="Edit Saved Search">Edit</a></li>
                            <li><a href="@Url.Action("Delete", "Search", new { id = search.SearchTemplateId })" class="delete-search remove-icon icon" title="Delete Saved Search">Delete</a></li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

    <div>
        You currently don't have any saved searches.</div>

}
<div style="display: none;" id="rename-search-dialog">
    <label for="rename-search-name">Name:</label>
    <input id="rename-search-name" type="text" placeholder="Please enter a new name for this search." />
</div>
