﻿@model AtlasDiligence.Web.Models.ViewModels.Search.ScatterTabViewModel
@{
	ViewBag.Title = "Scatter";
	Layout = null;
}

<div id="scatter">
	<div id="scatterTab" class="main scatter-chart group">
		<div id="search-filters">
			@using (Html.BeginForm("GetLargeScatterChart", "Organization", FormMethod.Get, new Dictionary<string, object> { { "id", "chart-options" }, { "style", "margin-right:auto; margin-left:auto; float:none" } }))
   {
				<div class="field inline-label">
					@Html.LabelFor(m => m.SearchOptions.SelectedStrategy)
					@Html.ListBoxFor(m => m.SearchOptions.SelectedStrategy, new MultiSelectList(Model.SearchOptions.Strategies, Model.SearchOptions.SelectedStrategy), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:150px" } })
				</div>
				<div class="field inline-label">
					@Html.LabelFor(m => m.SearchOptions.SelectedMarketStage)
					<select id="SearchOptions_SelectedMarketStage" class="chosen" style="width: 150px"
						name="SearchOptions.SelectedMarketStage" multiple="multiple">
						<optgroup label="Private Equity">
							<option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Small Market") ? " selected=\"selected\"" : string.Empty)>Small Market</option>
							<option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Middle Market") ? " selected=\"selected\"" : string.Empty)>Middle Market</option>
							<option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Large Market") ? " selected=\"selected\"" : string.Empty)>Large Market</option>
							<option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Mega Market") ? " selected=\"selected\"" : string.Empty)>Mega Market</option>
							<option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Opportunistic") ? " selected=\"selected\"" : string.Empty)>Opportunistic</option>
						</optgroup>
						<optgroup label="Venture Capital">
							<option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Early Stage") ? " selected=\"selected\"" : string.Empty)>Early Stage</option>
							<option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Mid Stage") ? " selected=\"selected\"" : string.Empty)>Mid Stage</option>
							<option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Late Stage") ? " selected=\"selected\"" : string.Empty)>Late Stage</option>
							<option@Html.Raw(Model.SearchOptions.SelectedMarketStage != null && Model.SearchOptions.SelectedMarketStage.Contains("Multi-Stage") ? " selected=\"selected\"" : string.Empty)>Multi-Stage</option>
						</optgroup>
					</select>
				</div>
				<div class="field inline-label">
					@Html.LabelFor(m => m.SearchOptions.SelectedInvestmentRegions)
					@Html.ListBoxFor(m => m.SearchOptions.SelectedInvestmentRegions, new MultiSelectList(Model.SearchOptions.InvestmentRegions, Model.SearchOptions.SelectedInvestmentRegions), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:150px" } })
				</div>
				<div class="field inline-label">
					@Html.LabelFor(m => m.SearchOptions.SelectedFundraisingStatus)
					@Html.ListBoxFor(m => m.SearchOptions.SelectedFundraisingStatus, new MultiSelectList(Model.SearchOptions.FundraisingStatuses, Model.SearchOptions.SelectedFundraisingStatus), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:150px" } })
				</div> 
				<div class="field inline-label" style="clear: both;">
					@Html.ValidationMessageFor(m => m.SearchOptions.SelectedSector)
					@Html.LabelFor(m => m.SearchOptions.SelectedSector)
					@Html.ListBoxFor(m => m.SearchOptions.SelectedSector, new MultiSelectList(Model.SearchOptions.Sectors.Select(m => m.Trim()).Distinct().OrderBy(m => m), Model.SearchOptions.SelectedSector), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:150px" } })
				</div>
				<div class="field inline-label">
					@Html.ValidationMessageFor(m => m.SearchOptions.SectorSpecialist)
					@Html.LabelFor(m => m.SearchOptions.SectorSpecialist)
					@Html.CheckBox("SearchOptions.SectorSpecialist", false)
				</div>
				<div class="field inline-label" style="width: 50%;">
					@Html.ValidationMessageFor(m => m.SearchOptions.FundSizeMinimum)
					@Html.ValidationMessageFor(m => m.SearchOptions.FundSizeMaximum)
					@Html.ValidationMessageFor(m => m.SearchOptions.SelectedCurrencies)
					<label for="FundSizeMinimum">
						Fund Size (millions):</label>
					<select id="search-currency" class="chosen" style="width: 135px; top: 7px;" name="SearchOptions.SelectedCurrencies">
						@foreach (var option in Model.SearchOptions.Currencies.OrderBy(m => m == "US Dollar" ? 0 : 1).ThenBy(m => m))
	  {
							<option@Html.Raw(Model.SearchOptions.SelectedCurrencies != null && Model.SearchOptions.SelectedCurrencies.Contains(option) ? " selected=\"selected\"" : string.Empty)>@option</option>
	  }
					</select>
					<span class="chosen-inline">
						@Html.TextBoxFor(m => m.SearchOptions.FundSizeMinimum, new { @class = "number comma-separated", style = "width:89px; margin-left:10px;" })
						<span>to</span>
						@Html.TextBoxFor(m => m.SearchOptions.FundSizeMaximum, new { @class = "number comma-separated", style = "width:89px;" })
					</span>
				</div>
				<input type="submit" value="Refresh" />
   }
		</div>
		<div class="main scatter-chart group">
			@Html.Partial("/Views/Organization/LargeScatterChartPartial.cshtml", Model.ScatterChart)
		</div>
	</div>
</div>
<script type="text/javascript">
	var refreshChart = function () {
		var form = $('#chart-options');
		$('.scatter-container #loading-large-scatter').show();
		$.getJSON(form.attr('action'), form.serialize(), function (result) {
			$('.scatter-container').html(result.RenderView);
		});
	};

	if ($.fn.chosen) {
	    $('select.chosen:not(#search-currency)').chosen().change(refreshChart);
	    $('#search-currency').chosen().change(function () {
	        if ($(this).siblings('.chosen-inline:eq(0)').find('input:eq(0)').val() != '' || $(this).siblings('.chosen-inline:eq(0)').find('input:eq(1)').val() != '') {
	            refreshChart();
	        }
	    });
	}
	$('#chart-options input[type="checkbox"]').click(refreshChart);
	$('#chart-options input.number').change(refreshChart);
</script>