﻿@using AtlanticBT.Common.Types
@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Web.Models
@model AtlasDiligence.Web.Models.ViewModels.Search.SearchViewModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.BodyId = "search-start";
    ViewBag.BodyClass = "section-dashboard";
    var userEntity = (UserEntity)ViewBag.UserEntity;
}
@section head{
    <!-- TODO: update api key -->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvbdxEj0Gc3OjD-LzpzKfUq7-K_lkFHm4&sensor=false"></script>*@
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet' />

	<script type="text/javascript">
		$(function () {
			// show loading gif while tabs load
			$('#loading-bar').show();

			// tabs handler
			$('#firm-tabs').tabs(
				{
					ajaxOptions: {
						cache: true,
					},
					cache: true,
					load: function (event, ui) {
						$('#loading-bar').hide();

						if (ui.tab.id == "Map") {
							initialize();
						}
					},
					select: function(event, ui) {
						if ($(ui.panel).is(':empty')) {
							$('#loading-bar').show();
						}
					}
				}
			);
		});
	</script>
}
<section class="snapshot">
	<div class="section-content">
		@if (Model.Snapshot.AvailableSegments.Any())
        {
			<div class="snapshot-segments">
				<strong>@string.Join(", ", Model.Snapshot.AvailableSegments)</strong> Available Segments
			</div>
        }
        else
        {
			<style>
				#search-start section.snapshot .section-content div {
					width: 210px;
				}
			</style>
        }
		<div class="snapshot-firms">
			<strong>@Model.Snapshot.TotalFirms</strong> Total Firms
		</div>
		<div class="snapshot-funds">
			<strong>@Model.Snapshot.TotalFunds</strong> Total Funds
		</div>
		<div class="snapshot-fundraising">
			<strong>@Model.Snapshot.CurrentlyFundraising</strong> Currently Fundraising
		</div>
		<div class="snapshot-market">
			<strong>@Model.Snapshot.ComingToMarket</strong> Coming to Market
		</div>
		<div class="snapshot-in-process">
			<strong>@Model.Snapshot.InProcess</strong> In Process
		</div>
	</div>
</section>
<div id="firm-tabs">
	<ul>
		<li>
			@Html.ActionLink("GP Atlas", "Map", "Search", new { Id = "Map" })
		</li>
		<li>
			@Html.ActionLink("GP Landscape", "Scatter", "Search", new { Id = "Scatter" })
		</li>
		<li>
			@Html.ActionLink("Firms Recently Viewed", "RecentFirms", "Search", new { Id = "Recent-Firms" })
		</li>
		<li>
			@Html.ActionLink("Firms Recently Updated", "RecentlyUpdated", "Search", new { Id = "Recently-Updated" })
		</li>
		<li>
			@Html.ActionLink("Firms in Process", "FirmsInProcess", "Search", new { Id = "FirmsInProcess" })
		</li>
		<li>
			@Html.ActionLink("Recent Folders", "RecentFolders", "Search", new { Id = "RecentFolders" })
		</li>
	</ul>
</div>

<div id="request-diligence-dialog" style="display: none">
	<em>Organization: <strong></strong></em>
	<fieldset>
		<legend></legend>
		<div class="field">
			<div class="field">
				<label for="request-diligence-comment">
					Specific Request/Comment/Question:</label>
				<textarea id="request-diligence-comment"></textarea>
			</div>
		</div>
	</fieldset>
</div>

