﻿<p style="font-weight: 500;line-height: 1.1;font-family: Calibri, sans-serif;margin: 0 0 15px;color:#44546a;padding: 0;"><a href="https://gpscout.rcpadvisors.com/Organization/Index/__FIRMID__" style="color:#44546a">__FIRMNAME__</a></p>&#13;