﻿@model AtlasDiligence.Web.Models.ViewModels.Search.SearchOptionsViewModel
@using GPScout.Domain.Contracts.Models

@if (!Model.IsHeaderWidget) {
<input type="hidden" class="text" name="FirmFilter" value="all" />
<ul data-firm-filter="1" class="search-target">
    <li><a href="#" data-firm-target="all" @((Model.FirmFilter == "" || Model.FirmFilter == null) ? " class=active" : "")>All Firms</a></li>
    <!--
    -->
    <li><a href="#" data-firm-target="inmarket" @(Model.FirmFilter == FirmFilter.InMarket ? " class=active" : "")>In Market</a></li>
    <!--
    -->
    <li><a href="#" data-firm-target="recentlyupdated" @(Model.FirmFilter == FirmFilter.RecentlyUpdated ? " class=active" : "")>Recently Updated</a></li>
    <!--
    -->
    <li><a href="#" data-firm-target="focuslist" @(Model.FirmFilter == FirmFilter.FocusList ? " class=active" : "")>Focus List</a></li>
</ul>
<script>
    $(function () {
        var elem = $('.organization-autocomplete').not('.ui-autocomplete-input');
        if (elem.setAutoComplete) elem.setAutoComplete("/Folder/OrganizationsAutoComplete");
    });
</script>
}