﻿@using AtlasDiligence.Web.Models
@using AtlasDiligence.Web.Resources
@using AtlanticBT.Common.Types
@using AtlasDiligence.Web.Config
@using System.Web.Optimization
@using AtlasDiligence.Web.Models.ViewModels.Navigation
@using AtlasDiligence.Web.Models.ViewModels.Search
@{
    UserEntity user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = EntityCache.Get<UserEntity>(Params.UserEntityCache);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1400px" />

    <title>GPScout @(!String.IsNullOrWhiteSpace(ViewBag.Title) ? " - " + ViewBag.Title : string.Empty)</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    @Styles.RenderFormat(BundleConfig.Screen, "~/css/screen")

    @if (ViewBag.IsAdminPage != null && (bool)ViewBag.IsAdminPage)
    {
        @Styles.RenderFormat(BundleConfig.Screen, "~/css/adminscreen")
    }
    @*<link href='//fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>*@

    @Styles.RenderFormat(BundleConfig.Print, "~/css/print")
    @Styles.Render("~/css/base")

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>

    @*<script src="@Url.Content("~/js/jquery.tools.min.js")" type="text/javascript"></script>*@

    @Scripts.Render("~/scriptbase")

    <script type="text/javascript">
        var urlRoot = "/";
        google.load('visualization', '1', { packages: ['corechart'] });
    </script>

    @RenderSection("head", false)
    @ViewBag.Head
    <!-- BEGIN Tynt Script -->
    <script type="text/javascript">
        if (document.location.protocol == 'http:') {
            var Tynt = Tynt || []; Tynt.push('ccxU94yrCr4O85acwqm_6r');
            (function () { var s = document.createElement('script'); s.async = "async"; s.type = "text/javascript"; s.src = 'http://tcr.tynt.com/ti.js'; var h = document.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h); })();
        }
        $(function () {
            $('body').on('click', '#userNotifications [data-action]', userNotifications.action);
        });
    </script>
    <!-- END Tynt Script -->


    <script src="//use.typekit.net/eok2iwu.js"></script>
    <script>try { Typekit.load(); } catch (e) { }</script>

</head>
<body id="@ViewBag.BodyId" class="splash admin @ViewBag.BodyClass">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCSGMSH"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div @if (user == null) { <text> id="loginBorder" </text> } class="container-box">
        <div id="mainBox" class="container">
            <div id="containerBox">
                <div class="borderSmart"></div>
                <div id="masthead" class="header">
                    <div class="container">
                        <div class="headerWrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1><a href="@Url.Action("Start", "Search")">GP Scouts&trade;</a></h1>
                                </div>
                                <div class="col-md-6">
                                    @if (user != null)
                                    {
                                        Html.RenderAction("SideBarNavigation", "Navigation");
                                        <div class="utility-bar">
                                            <ul class="header-links">
                                                @*<li><a class="dashboard" href="@Url.Action("Start", "Search")"><i class="fa fa-bar-chart" aria-hidden="true" title="Dashboard"></i>Dashboard</a></li>*@
                                                <li>
                                                    <div class="dropdown">

                                                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-o" aria-hidden="true"></i>Account<span class="caret"></span></button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            @if (HttpContext.Current.User.IsInRole(AtlasDiligence.Web.General.RoleNames.Admin))
                                                            {
                                                                <li class="nav-administration">@Html.ActionLink("Admin", "Index", "Admin")</li>
                                                            }
                                                            @if (HttpContext.Current.User.IsInRole(AtlasDiligence.Web.General.RoleNames.GroupLeader))
                                                            {
                                                                <li>@Html.ActionLink("Group Admin", "View", "Group")</li>
                                                            }
                                                            <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
                                                            <li>@Html.ActionLink("Terms and Conditions", "TermsAndConditionsReview", "Account")</li>
                                                            <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="login-status">
                                                <a id="userNotifSwitch" href="javascript:void(0)">
                                                    <i class="fa fa-envelope-o" aria-hidden="true" title="You have new notifications"></i>
                                                </a>
                                                <strong>Welcome</strong>, <span data-username>@User.Identity.Name</span>
                                            </div>
                                        </div>
                                        <div class="c">
                                            @Html.Partial("_SearchWidgetHeader", new SearchOptionsViewModel())
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="menu-bar">
                <div class="navWrapper">

                        @Html.Partial("_LogOnNav")

                </div></div>-->
                <div class="c"></div>
                @if (user != null)
                {
                    <div id="userNotifications" data-show="@(user.Notifications.Hidden ? "" : "1")">
                        <div class="n-close">
                            <div>
                                <a id="userNotifSwitch2" href="javascript:void(0)">
                                    <img src="../../images/g_close-arrow.png">
                                </a>
                            </div>
                        </div>
                        <div class="n-list" data-list="1">
                            @{
                                foreach (var item in user.Notifications.OrderByDescending(n => n.Value.TimeStamp))
                                {
                                    Html.RenderPartial("UserNotification", item.Value);
                                }
                            }
                        </div>
                    </div>
                    <div style="clear: both"></div>
                }
                <div id="main-area" class="main-area">
                    <div class="container">
                        <div class="wrap">

                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div id="request-research-dialog-container"></div>
                <div id="need-help-dialog-container"></div>

                <!-- FOOTER Start -->
                <div class="container">
                    <div id="footer">

                        <div class="office chicago">
                            <p>
                                RCP Advisors | 353 N. Clark Street | Suite 3500 | Chicago, IL 60654 <a href="javascript:void(0)" class="site-link need-help" alt="Need help?">Contact Us</a><a class="site-link no-border" target="_blank" href="https://www.rcpadvisors.com/">www.rcpadvisors.com</a>
                            </p>

                        </div>
                        <span class="clear" />

                        <div class="bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="office">
                                            <h3>KEEP IN TOUCH</h3>

                                            <ul class="contact">
                                                <li><i class="fa fa-linkedin-square" aria-hidden="true"></i><a href="https://www.linkedin.com/company/rcp-advisors" target="_blank" class="linkedin">Join us on LinkedIn</a> </li>
                                                <!--<li> <a href="https://translate.google.com/translate?hl=en&amp;sl=auto&amp;tl=es&amp;u=" class="google">En Espanol</a> </li>-->
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="disclaimer">Past performance is not indicative of future results, which may vary. Future returns are not guaranteed and a loss of principal may occur. The information, data, analyses and opinions on this site are provided solely for informational purposes and do not constitute, and should not be construed as, investment advice or an offer to sell or the solicitation of an offer to buy any security or an invitation, recommendation, offer or solicitation to engage in any investment activity. This website, and the information contained herein, is not intended and should not be construed, as marketing materials for the purposes of the Directive 2011/61/EU on alternative investment fund managers (“AIFMD”) in any member states (each, a “relevant member state”) of the European Economic Area (“EEA”) that has implemented AIFMD.</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="right" style="padding: 0 0 0 20px;text-align: right;"><a href="@Url.Action("TermsAndConditionsReview", "Account")">GPScout Navigator Terms and Conditions/Privacy Policy/CCPA</a></p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="right"><a href="@Url.Action("CategoryDefinitionsView", "Account")">Category Definitions</a><br /></p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="right"><span>&copy; Copyright RCP Advisors @DateTime.Now.Year</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #footer -->
            </div>
        </div>

        <div id="loading-bar">
            <p>
                <a class="close-load" href="#"></a>
                <img src="/images/ajax-loader.gif" alt="Loading..." />
                <span>Loading...</span>
            </p>
        </div>
        @Scripts.Render("~/ga")
        @*<div class="dialog" style="display: none;">
                <p>Please enter a name for the folder you wish to create.</p>
                <input type="text" class="text" value="" />
            </div>*@

        <!-- GCS Backup -->
        @*
            <div id="folder-dialog" style="display: none;">
                <p>Please enter a name for the folder you wish to create.</p>
                <input type="text" class="text" value="" />
                <div style="padding:10px 0 0 0">
                    <label for="shared">Shared:</label>
                    <input id="shared" type="checkbox" name="shared" value="true" style="width:20px;" />
                </div>
        *@
        @*<input type="hidden" id="folder-dialog-orgid" />
            <input type="hidden" id="folder-dialog-url" />*@
    </div>
    <script>
    $(document).ready(function () {
                        if (Detection.isMobileDevice()) {
        jQuery('#main-navigation.sidebar .sidebar-content').css("height", "auto")
    }
    else {
        $(window).resize(function () {
            var desiredHeight = $("body").height() - 311;
            $("#main-area .wrap").css("min-height", desiredHeight).css("padding-bottom", "0");
        });
    $(window).trigger('resize');
}

var userId = '@(user != null ? user.Id.ToString() : "")';
                        if (userId != '') {
                            var fnga = function (_uid) {
                                if (typeof ga !== 'undefined')
        ga('set', 'userId', _uid);
    else
        window.setTimeout(fnga, 500, _uid);
};
fnga(userId);
}
});
    </script>
</body>
</html>
