﻿@model AtlasDiligence.Web.Models.ViewModels.Map.MapViewModel
@using AtlanticBT.Common.Types

@helper FocusRadarIconLink(string radar)
{
switch (radar)
{
    case "Radar List":
            @Url.Content("~/images/map/i_radar.png")
        break;
    case "Focus List":
            @Url.Content("~/images/map/i_focus.png")
        break;
    default:
            @Url.Content("~/images/map/measle_4px.png")
        break;
}
}

<style type="text/css">
    #map-canvas {
        height: 500px;
        width: 100%;
    }

    #panel {
        position: absolute;
        left: 7%;
        top: 54px;
        margin-left: -170px;
        z-index: 5;
        background-color: #fff;
    }

    .lm {
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        cursor: pointer;
    }

    .sm {
        background-repeat: no-repeat;
        width: 8px;
        height: 8px;
        cursor: pointer;
    }

    div[data-map-popup="1"] {
        cursor: default;
        width: 300px;
        height: 200px;
        left: -150px;
        top: -200px;
        position: relative;
        pointer-events: none;
    }

    div[data-close="1"] {
        cursor: pointer;
    }

    div[data-content="1"] {
        pointer-events: all;
    }

    .mf {
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        cursor: pointer;
    }
</style>

<script type="text/javascript">
    var map, lastOpenedInfoWindow, lastMousePos, marker_el;

    // access map markers
    var markersArray = [];

    // json data of available orgs
    var groupedMarkers = [];
    var jsonMarkers = [];
    var pinClickedElement;

    function createMarkersData() {
        @{
            int idx = 0;
            double? lat = null;
            double? lon = null;
            foreach (var organization in Model.Organizations)
            {
                foreach (var position in organization.Positions.OrderBy(p=>p.Latitude).ThenBy(p=>p.Longitude))
                {
                    if (lat == position.Latitude && lon == position.Longitude) { continue; }
                    lat = position.Latitude;
                    lon = position.Longitude;
                <text>
        jsonMarkers.push({
            "Id": "@organization.Id",
            "Name": "@Html.Raw(String.Format("{0} ({1})", organization.Name, position.City))",
            "Latitude": "@position.Latitude",
            "Longitude": "@position.Longitude",
            "FundRaisingStatus": "@organization.FundraisingStatus",
            "FocusRadar": "@organization.FocusRadar",
            "FocusRadarIcon": "@FocusRadarIconLink(@organization.FocusRadar)",
            "ClassName": "lm",
            "Preview": false,
            "Idx": @(idx++)
        });
        </text>
                }
            }

            <text>var idxBeforePreviews = jsonMarkers.length;</text>
            // get preview organizations
            foreach (var organization in Model.PreviewOrganizations)
            {
        <text>
        jsonMarkers.push({
            "Id": "@organization.Id",
            "Name": "Not Included in Current Membership",
            "Latitude": "@organization.Latitude",
            "Longitude": "@organization.Longitude",
            "FundRaisingStatus": "@organization.FundRaisingStatus",
            "FocusRadar": "@organization.FocusRadar",
            "FocusRadarIcon": "@Url.Content("~/images/map/measle_4px_gray.png")",
            "ClassName": "sm",
            "Preview": true,
            "Idx": @(idx++)
        });
        </text>
                }
            }

        if (jsonMarkers.length > idxBeforePreviews)
            $('[data-preview-legend]').show();

        var groupsByLocation = _.groupBy(jsonMarkers, function(value){
            return value.Latitude + '#' + value.Longitude;
        });


        groupedMarkers = _.map(groupsByLocation, function(group){
            return {
                Latitude: group[0].Latitude,
                Longitude: group[0].Longitude,
                idxs: _.pluck(group, 'Idx')
            }
        });
    }

    function initialize() {
        createMarkersData();
        initialize_mapbox();

        // tooltip fix
        $('#info-window-tooltip').live('mouseover', function () {
            $('#info-window-tooltip').qtip({
                overwrite: false,
                content: { text: $(this).text() },
                show: { ready: true },
                position: {
                    my: 'left center'
                },
                style: {
                    def: false,
                    classes: 'keyTakewayCustomClass',
                    tip: {
                        corner: 'left center'
                    }
                }
            });
        });

        //// dashboard map autocomplete
        //$('#map-autocomplete').autocomplete({
        //    minlength: 2,
        //    source: $.map(jsonMarkers, function (item, index) {
        //        if (item.Name != "Not Included in Current Membership") {
        //            return { label: item.Name, value: index };
        //        }
        //    }),
        //    select: function (event, ui) {
        //        // onclick or select remove any checkbox filters
        //        ResetFilters();

        //        // trigger click
		//        $('#id' + jsonMarkers[ui.item.value].Id).click();

        //        // return false so the input field is not updated with the index text of the marker
        //        $("#map-autocomplete").val('');
        //        return false;
        //    },
        //    focus: function () { return false; }
        //});
    }

    function initialize_mapbox() {
        //zoli's:
        //mapboxgl.accessToken = 'pk.eyJ1IjoiemtvdmFjcyIsImEiOiJjaXdyb2l0a3MwejJuMnRxb3BteGZzd3BhIn0.Vf5sdUCR3BQYR2_fBcXvHA';
        //matt's:
        mapboxgl.accessToken = 'pk.eyJ1IjoibXBsdW5rZXR0IiwiYSI6ImNpdnR5cGYzejAwOWQyenJxaWl6YzM3aWMifQ.yfSRdBlZZHsGEXtqVQQlSQ';
        map = new mapboxgl.Map({
            container: 'map-canvas',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [-97.1107682, 38.4836993],
            zoom: 3,
            attributionControl: false
        });

        map.scrollZoom.disable();
        map.addControl(new mapboxgl.NavigationControl(), 'top-left');
        map.addControl(new mapboxgl.AttributionControl({ compact: true }));

        var zoomStep = 0.8;
        $('#map-canvas').on('mousewheel DOMMouseScroll', function (e) {
            e.preventDefault();

            e = e.originalEvent;
            var d = -e.detail || e.wheelDelta || e.wheelDeltaY || e.deltaY;
            d = d < 0 ? -1 : 1;

            var dur = 0, delayEndEvents = 0;

            map.zoomTo(map.getZoom() + (zoomStep * d), {
                duration: dur,
                around: lastMousePos,
                delayEndEvents: delayEndEvents,
                smoothEasing: true
            }, { originalEvent: e });

        });

        $('#map-map,#map-satellite').change(function () {
            var mapStyle = $(this).val();
            if (mapStyle != "streets" && mapStyle != "satellite") mapStyle = "streets";
            map.setStyle('mapbox://styles/mapbox/' + mapStyle + '-v9');
        });

        map.on('mousemove', function (e) {
            // e.point;
            lastMousePos = e.lngLat;
        });

        map.on('load', function () {
            // Add a layer showing the places.
            markersArray = [];

            groupedMarkers.forEach(function (groupMarker) {
                var markerInfo;
                var nIdxs = groupMarker.idxs.length;
                if (nIdxs > 1) {
                    markerInfo = jsonMarkers[groupMarker.idxs[0]];
                    var el = document.createElement('div');
                    el.className = 'mf';
                    el.style.backgroundImage = 'url(' + "@Url.Content("~/images/bg_color.jpg")" + ')',
                    el.title = 'Multiple Firms';
                    el.id = "gr_id"+ markerInfo.Id;
                    try {
                        var iconSize = [17, 17];
                        // add marker to map
                        new mapboxgl.Marker(el, { offset: [-iconSize[0] / 2, -iconSize[1] / 2] })
                            .setLngLat([markerInfo.Longitude, markerInfo.Latitude])
                            .addTo(map);

                        markersArray.push(el);

                        el.addEventListener('click', function (e) {
                            var pdiv = $(el).find('div[data-map-popup]');
                            if (pdiv.length) {
                                if (pdiv.find('[data-map-flp]').length)
                                    return;
                                closeMapPinPopup(pdiv);
                                pdiv.remove();
                                pdiv = $(el).find('div[data-map-popup]');
                            }

                            var i, firmsHtml = '';
                            var firmListRowTemplate = $('#firm_list_popup').find('[data-firm-list-row]').first();
                            for (i=0; i<nIdxs; i++) {
                                var idx = groupMarker.idxs[i];
                                markerInfo = jsonMarkers[idx];
                                if (!markerInfo.Preview) {
                                    var firmDiv = $(firmListRowTemplate).clone();
                                    $('[data-idx]', firmDiv).attr('data-idx', idx).text(markerInfo.Name);
                                    $('[data-icon]', firmDiv).addClass(markerInfo.ClassName).get(0).style.backgroundImage = 'url(' + markerInfo.FocusRadarIcon + ')';
                                    firmsHtml += firmDiv.get(0).outerHTML;
                                }
                            }
                            if (!firmsHtml) 
                                return;

                            map.setCenter([+markerInfo.Longitude, +markerInfo.Latitude]);

                            // zoom level
                            if (map.getZoom() < 14) {
                                map.setZoom(14);
                            }
                            pinClickedElement = el;
                            var firmListElement = $('#firm_list_popup').clone();
                            $(firmListElement).find('[data-firm-list]').first().html(firmsHtml);
                            var contentHtml = $(firmListElement).html();
                            updatePopupContent('.mf', el, contentHtml, pdiv);
                        });
                    } catch (ee) { }
                } else if (nIdxs == 1) {
                    markerInfo = jsonMarkers[groupMarker.idxs[0]];
                    // create a DOM element for the marker
                    var el = document.createElement('div');
                    el.className = markerInfo.ClassName;
                    el.style.backgroundImage = 'url(' + markerInfo.FocusRadarIcon + ')';
                    el.data_oid = markerInfo.Id;
                    el.title = markerInfo.Name;
                    el.id = "id"+ markerInfo.Id;
                    el.data_idx = markerInfo.Idx;

                    try {
                        var iconSize = markerInfo.Preview ? [8, 8] : [17, 17]; // size of the icon;
                        // add marker to map
                        new mapboxgl.Marker(el, { offset: [-iconSize[0] / 2, -iconSize[1] / 2] })
                            .setLngLat([markerInfo.Longitude, markerInfo.Latitude])
                            .addTo(map);

                        markersArray.push(el);

                        if (!markerInfo.Preview) {
                            el.addEventListener('click', function (e) {
                                var ctrl = $(this).get(0);
                                if (ctrl == null || ctrl.data_oid == null)
                                    return;

                                var pdiv = $(el).find('div[data-map-popup]');
                                if (pdiv.length) {
                                    return;
                                }

                                var idx = ctrl.data_idx;
                                getPopupContentFromServer(el, idx);
                            });
                        }

                    } catch (ee) { }
                }
            });
        });


        $('body')
        .on('click','[data-map-popup] [data-close]', function (e) {
            e.preventDefault();
            e.stopPropagation();
            closeMapPinPopup(this);
        })
        .on('click','[data-map-popup] [data-firm-list-row]', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var idx = $(this).find('[data-idx]').first().attr('data-idx');
            closeMapPinPopup(this);
            getPopupContentFromServer(pinClickedElement, idx, true);
        });
    }

    function closeMapPinPopup(elem) {
        var ctrl = $(elem).closest('[data-map-popup]');
        $(ctrl).closest('.lm').css('z-index', 'auto');
        $(ctrl).closest('.mf').css('z-index', 'auto');
        $(ctrl).remove();
    }

    function updatePopupContent(markerSelector, el, contentHtml, pdiv, keepWindow) {
        // one window at a time
        if (lastOpenedInfoWindow/* && !keepWindow*/) {
            try {
                $(lastOpenedInfoWindow).closest(markerSelector).css('z-index', 'auto');
                lastOpenedInfoWindow.remove();
            } catch (e) { }
            lastOpenedInfoWindow = null;
        }
        
        //if (keepWindow) pdiv.empty();
        if (!pdiv.length || !pdiv.find('[data-close="1"]').first().length) {
            pdiv = $('<div data-map-popup="1"><div data-close="1">x</div><div data-content="1"></div></div>');
            $(el).prepend(pdiv);
        }

        if (marker_el) $(marker_el).css('z-index','auto');
        $(el).css('z-index','9');
        marker_el = el;
        var contentCtrl = $(pdiv).find($('div[data-content]'));
        contentCtrl.html(contentHtml);
        $('[data-close]', pdiv).prependTo(contentCtrl);
        common.makeQtipNow(contentCtrl);
        lastOpenedInfoWindow = pdiv.get(0);
        window.setTimeout(function () {
            pdiv.show();
        }, 99);
    }

    function getPopupContentFromServer(el, idx, keepWindow) {
        var pdiv = $(el).find('div[data-map-popup]');
        if (pdiv.length) {
            return;
        }

        var i, marker = null;
        for (i = 0; i < jsonMarkers.length; i++) {
            if (jsonMarkers[i].Idx == idx) {
                marker = jsonMarkers[i];
                break;
            }
        };

        if (marker) {
            common.showLoading();
            var id = marker.Id;
            $.ajax({
                url: '@Url.Action("GetInfoWindowContent", "Search")/' + id,
                datatype: 'json',
                success: function (data) {
                    // set center
                    map.setCenter([+marker.Longitude, +marker.Latitude]);

                    // zoom level
                    if (map.getZoom() < 14) {
                        map.setZoom(14);
                    }

                    updatePopupContent('.lm', el, data.InfoWindowHtml, pdiv, keepWindow);
                },
                complete: function () {
                    common.hideLoading();
                }
            });
        }
    }
</script>

<div id="map" class="gpsscout">
    <section class="organization-map">
        <div class="map-filter">
            <div class="map-legend">
                <p class="legend-text"><strong>Map Legend:   </strong></p>
                <p class="firm-icons multiple-firms-icon" style="float:left;"></p><p class="legend-text"> Multiple Firms in the Same Office</p>
                <p class="firm-icons focus-list-icon" style="float:left;"></p><p class="legend-text"> Focus List Firm</p>
                <p class="firm-icons preview-firms-icon data-preview-legend" style="float:left;display:none"></p><p class="legend-text" data-preview-legend style="display:none"> Preview Firm</p>
                <p class="firm-icons other-firms-icon" style="float:left;"></p><p class="legend-text"> All Other Firms</p>
            </div>
            <div class="map-filter" style="position:relative; top:-1px; float:right">
                <div class="field inline-label">
                    <input type="radio" id="map-map" checked="checked" value="map" name="map" />
                    <label for="map-map">Map</label>
                </div>
                <div class="field inline-label">
                    <input type="radio" id="map-satellite" value="satellite" name="map" />
                    <label for="map-satellite">Satellite</label>
                </div>
            </div>
        </div>
        <div id="map-canvas" />
    </section>
</div>

<div style="display:none">
    <div id="firm_list_popup">
        <div data-map-flp>
            <section class="info-window-content">
                <div data-firm-list class="data-firm-list">
                    <div data-firm-list-row class="data-firm-list-row">
                        <div data-icon></div>
                        <h3>
                            <span class="name"><a data-idx="1" href="javascript:void(0)"></a></span>
                        </h3>
                        <div class="spacer">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </section>
        </div>
     </div>
</div>