﻿@model AtlasDiligence.Web.Models.ViewModels.Search.SearchOptionsViewModel
@using GPScout.Domain.Contracts.Models

<script type="text/javascript">
    jQuery(document).ready(function(){
        var selector = 'ul.search-target li a';

        jQuery(selector).on('click', function () {

        var target = $(this).attr('data-firm-target');
        $(this).closest('form').find('[name="firmFilter"]:first').val(target);

        jQuery(selector).removeClass('active');
        jQuery(this).addClass('active');
    });
});
</script>

@using (Html.BeginForm("SaveTemplate", "Search", FormMethod.Post, new { @class = "advanced-search" }))
{
    <div class="search-container">
        <div class="search-top">
            <ul class="search-options">
                <li><a class="header-adv-search" href="/Search?showAdvancedOptions=1">Advanced Search Options</a></li>
                <li @(Model.IsHeaderWidget ? "style=display:none" : "")><label><input type="checkbox" name="showMap" value="true" />Show on Map</label></li>
            </ul>
        </div>
        <div id="panel" class="search-inner">
            <input id="Search" name="Search" type="text" placeholder="Enter a Firm, Fund, City, Sector, or Strategy" class="text organization-autocomplete" />
            <button data-search-btn="1" class="search-button" type="submit">Search</button>
        </div>
        @Html.Partial("_FirmFilter", Model)
    </div>
}
<script>
    $(function () {
        $('.organization-autocomplete').not('.ui-autocomplete-input').setAutoComplete("/Folder/OrganizationsAutoComplete");
    });
</script>