﻿@using AtlanticBT.Common.Types

@if (Request.IsAuthenticated)
{
        // debug feature
        var userEntity = EntityCache.Get<AtlasDiligence.Web.Models.UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache);
        if (userEntity != null && userEntity.IsAdmin && (userEntity.UserName.EndsWith("@smallfootprint.com") || userEntity.UserName == "mplunkett@rcpadvisors.com"))
        {
            <div>
                <a data-send-body="1" href="javascript:void(0)">DEBUG: Send body html to SFP</a>
                <script>
                    $(function () {
                        $('[data-send-body]').click(function (e) {
                            common.showLoading();
                            e.preventDefault();
                            var body = $('body').html();
                            $.ajax({
                                url: '@Url.Action("SendBody", "Debugger")',
                                type: 'POST',
                                data: { "html": body },
                                datatype: 'json',
                                cache: false,
                                success: function (data) {
                                    alert(data);
                                },
                                //error: function( jqXHR, textStatus, errorThrown ) {
                                //    debugger;
                                //},
                                complete: function () {
                                    common.hideLoading();
                                }
                            });
                        });
                    });
                </script>
            </div>
        }
    }
