﻿@model AtlasDiligence.Web.Models.ViewModels.Navigation.SideBarNavigationViewModel
@using AtlanticBT.Common.Types
@using AtlasDiligence.Web.Models
@using AtlasDiligence.Web.Models.ViewModels.Navigation
@using AtlasDiligence.Web.Models.ViewModels.Widgets
@using AtlasDiligence.Web.Resources

@{
    UserEntity user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = EntityCache.Get<UserEntity>(Params.UserEntityCache);
    }
}

<div id="main-navigation" class="sidebar">
    <div class="sidebar-content" data-sidenav-sliding="SideBarExpanded" @(!Model.SideBarStatus.SideBarExpanded ? "style=display:none" : "")>
        <form>
            @Html.Partial("SideBarNavigationWidget", new SideBarNavigationWidgetViewModel { Key = "HistoryExpanded", Title = "History", Expanded = Model.SideBarStatus.HistoryExpanded, Items = user.RecentlyViewedOrganizations.Select(o => new NavigationLinkViewModel { Url = Html.ActionLink(o.Name, "Index", "Organization", new { id = o.OrganizationId }, null).ToString() }) })
            @Html.Partial("SideBarNavigationWidget", new SideBarNavigationWidgetViewModel
       {
           Key = "SearchExpanded",
           Title = "Search",
           Expanded = Model.SideBarStatus.SearchExpanded,
           Items = (new NavigationLinkViewModel[] { new NavigationLinkViewModel { Url = @Html.ActionLink("My Saved Searches", "Saved", "Search", null, new { @class = "nav-link-static" }).ToString() } })
                .Union(
                    user.RecentSearchTemplates.Select(rs => new NavigationLinkViewModel { Url = @Html.ActionLink(rs.SavedSearch == null ? ((string.IsNullOrWhiteSpace(rs.Name) ? "Advanced Search" : rs.Name) + " - " + rs.CreatedDate.ToString("MM/dd")) : rs.SavedSearch.Name, "Index", "Search", new { id = rs.Id }, null).ToString() })
                )
       })

            <div data-sidebar-folders style="background-color:cyan">
                @Html.Partial("SideBarNavigationFoldersWidget", Model.SideBarStatus.FoldersExpanded)
            </div>
            @{
                var toolItems = new List<NavigationLinkViewModel> {
                     new NavigationLinkViewModel { Url = Html.ActionLink("Compare", "Index", "CompareTables").ToString()}
                };
                if (user.HasTableauServerAccess)
                {
                    toolItems.Add(new NavigationLinkViewModel { Url = Html.ActionLink("RCP Market Analytics", "Index", "MarketData").ToString() });
                }
                @Html.Partial("SideBarNavigationWidget", new SideBarNavigationWidgetViewModel { Title = "Tools", Items = toolItems })
            }
        </form>
    </div>
    <div class="holdingBox"><div class="sidebar-action c" data-sidenav-action="data-sidenav-sliding"><div class="menuOpener"><span></span></div></div></div>
</div>

<script>
    /*BEGIN Hide Tools menu element*/
    jQuery("#main-navigation.sidebar li a:contains('Compare')").parent().css('display', 'none');
    /*END Hide Tools menu element*/
    jQuery("#main-navigation.sidebar").css('z-index', 'unset');
    jQuery("#containerBox").css('z-index', '11').css('position', 'static');

        jQuery("#main-navigation").insertBefore(jQuery('#containerBox'));
        jQuery("#containerBox").removeClass("moveLeft");
        jQuery("#mainBox").addClass("openBox");  
        if ($('.sidebar-content').is(':visible')) {
            jQuery("#main-navigation.sidebar").css('z-index', '11');
            jQuery("#mainBox").addClass("resetBox");
            jQuery(".sidebar-content").addClass("opened");
            jQuery("#containerBox").addClass("moveLeft");
           
            setTimeout(function () {
                jQuery("#main-navigation.sidebar").css('z-index', 'unset');
                jQuery(".sidebar-action .menuOpener span").removeClass("openNav").addClass("closeNav");
                jQuery(".sidebar-action .menuOpener").addClass("active2");
            }, 1000);
        } else {
            jQuery(".sidebar-action .menuOpener span").removeClass("closeNav").addClass("openNav");
            jQuery(".sidebar-action .menuOpener").addClass("opacDelay");
        }


          $('[data-sidenav-action]').click(function () {           
            jQuery("#main-area,#masthead,#footer").css('z-index', '11').css('position', 'relative');
            setTimeout(function () {
                jQuery("#main-area,#masthead,#footer").css('z-index', '');
            }, 1000);

            jQuery(".sidebar-action .menuOpener").removeClass("opacDelay");
            jQuery(".sidebar-action .menuOpener").removeClass("active2");

            var elem = $('[data-sidenav-sliding]');
            $(elem).toggle('slide', { direction: "right" }, 400, function () {

                var expanded = $(elem).is(":visible");
                if (expanded) {
                    //alert("1");
                    jQuery(".sidebar-action .menuOpener").addClass("showLink");
                    jQuery(".sidebar-action .menuOpener span").removeClass("openNav");
                    jQuery(".sidebar-action .menuOpener").removeClass("opacDelay");
                    jQuery("#containerBox").addClass("moveLeft");
                    jQuery(".sidebar-action .menuOpener").removeClass("active2");
                    setTimeout(function () {                        
                        jQuery(".sidebar-action .menuOpener").show();
                        jQuery(".sidebar-action .menuOpener").addClass("active2");
                        jQuery(".sidebar-action .menuOpener span").removeClass("openNav").addClass("closeNav");
                    }, 1000);
                } else {
                    jQuery(".sidebar-action .menuOpener").hide();
                    jQuery(".sidebar-action .menuOpener").removeClass("opacDelay");
                    jQuery("#containerBox").removeClass("moveLeft");
                    jQuery(".sidebar-action .menuOpener").removeClass("active2");

                    setTimeout(function () {
                        jQuery(".sidebar-action .menuOpener").show();
                        jQuery(".sidebar-action .menuOpener span").removeClass("closeNav").addClass("openNav");
                        jQuery(".sidebar-action .menuOpener ").addClass("opacDelay");
                    }, 1000);
                };
                AtlasDiligence.userProfile.updateNavigationStatus({ 'SideBarExpanded': expanded });
            });
        });

</script>