﻿@model AtlasDiligence.Web.Models.ViewModels.BenchmarkQuartileInfoVM
<div>
    <b>First Quartile @Model.QuartileType:</b> @Model.FirstQuartileValue<br/>
    <b>Median @Model.QuartileType:</b> @Model.SecondQuartileValue<br />
    <b>Third Quartile @Model.QuartileType:</b> @Model.ThirdQuartileValue<br />
    <b>As of:</b> @Model.AsOf<br />
    <b>Source:</b> @Model.Source
</div>
