﻿@model AtlasDiligence.Web.Models.ViewModels.Widgets.ChartWidgetViewModel
@using AtlasDiligence.Web.General

@if (Model != null)
{
    <div class="grayBox" data-widget-chart>
        @if (Model.GroupTitle != null)
        {
            <div class="headerSubTitle">@Model.GroupTitle</div>
        }
        @*<div style="background:orange; width:100%; height:8px"></div>*@
        @if (Model.HasContent && !Common.IsPrint)
        {
            <a class="btn hits-misses" href="@Model.ContentUrl" data-chart-popup="@Model.Title">@Model.Title<i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        }
        else
        {
            <div>@Model.Title</div>
        }
        <div class="chart-description" data-desc @if (!Common.IsPrint) { @("style=display:none") }>
            @Html.Raw(Model.Description.NewlineToBreak())
        </div>

        @if (Model.HasContent)
        {
            if (Common.IsPrint)
            {
                <img src="@Model.ContentUrl" style="width:100%" />
            }
            else
            {
                <a href="@Model.ContentUrl" data-chart-popup="@Model.Title">
                    @if (!string.IsNullOrWhiteSpace(Model.ThumbnaiImagelUrl))
                    {
                        <img src="@Model.ThumbnaiImagelUrl" />
                    }
                </a>
            }
        }
    </div>
}
