﻿@model AtlasDiligence.Web.Models.ViewModels.EmailDistributionList.EmailDistributionListViewModel

@using AtlasDiligence.Common.Data;
<div class="actions ui-widget-header ui-helper-clearfix edl-header">
    <span>@Model.Name</span>
</div>
<div>
    @using (Ajax.BeginForm("EDLAddEmail", "Admin", new AjaxOptions { UpdateTargetId = "edl-" + Model.ID, LoadingElementId = "loading-bar" }))
    {
        <div class="append-edl-email">
            <div>
                @Html.TextBoxFor(m => m.EmailToAdd, new { id = "EmailToAdd-" + Model.ID })*<input type="submit" class="button" value="Add" /><br />
                @Html.ValidationMessageFor(m => m.EmailToAdd)
                @Html.HiddenFor(m => m.ID)
            </div>
        </div>
    }
    <div class="edl-emails">
        <div><label>Emails on the list:</label></div>
        @using (Ajax.BeginForm("EDLRemoveEmail", "Admin", new AjaxOptions { UpdateTargetId = "edl-" + Model.ID, LoadingElementId = "loading-bar" }))
        {
            @Html.Hidden("edlListID", Model.ID)
            @Html.Hidden("emailID")
            <input type="hidden" name="emailID" />
            <ul class="auto-column l-col">
                @foreach (var email in Model.Emails.OrderBy(e => e.Email))
                {
                    <li>
                        <span>@email.Email</span>
                        <a href="javascript:void(0)" data-email-id="@(email.ID)" class="remove-btn"></a>
                    </li>
                }
            </ul>
        }
        <div class="clear"></div>
        <div>
            @Html.ValidationMessage("")
        </div>
    </div>
</div>
