﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div>
    @{
        string msg = ViewBag.ErrorMessage as string ?? ViewBag.Message ?? "";
        if (msg.Contains("The user account has been locked out."))
        {
        <p>
            Your GPScout Navigator account has been locked.<br />
            This usually occurs after three unsuccessful login attempts.<br />
            In order to have your account unlocked, contact <a href="mailto:support@rcpadvisors.com"><b>support@rcpadvisors.com</b></a> or use the <a href="/Account/ForgotPassword">Forgot Password</a> functionality to generate a new password and unlock your account.
        </p>
        }
        else if (ViewBag.RawHtml == true)
        {
            <p>@Html.Raw(ViewBag.ErrorMessage)</p>
        }
        else
        {
            <text>Sorry, an error occurred while processing your request.</text>
            <p>@ViewBag.ErrorMessage</p>
        }
}
</div>
<div id="request-diligence-dialog" style="display: none">
    <em>Organization: <strong></strong></em>
    <fieldset>
        <legend></legend>
        <div class="field">
            <div class="field">
                <label for="request-diligence-comment">
                    Specific Request/Comment/Question:
                </label>
                <textarea id="request-diligence-comment"></textarea>
            </div>
        </div>
    </fieldset>
</div>
