﻿@model OrganizationViewModel
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Models.ViewModels

@{ 
    IEnumerable<Fund> fundsForWidget = (Model.Organization.Funds != null) ? Model.Organization.Funds.Where(f => !f.IsOpen) : new Fund[] { };
    bool rcpGrossFound = false;
}
@if (fundsForWidget != null && fundsForWidget.Any())
{
    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="print-kt no-border">
        <tr>
            <td class="print-kt">
                <div class="section print-kt">
                    <div class="section-information" data-most-reecent-funds>
                        <table>
                            <thead>
                                <tr>
                                    <th style="padding-left:20px; padding-right:0px;" class="mrp-grid-fundname">
                                        Fund
                                    </th>
                                    <th class="center-align mrp-grid-vintageyear" style="width:90px">
                                        Vintage Year
                                    </th>
                                    <th class="center-align" style="width:70px">
                                        Fund Size
                                    </th>
                                    <th class="center-align" style="width:90px">
                                        Net IRR
                                    </th>
                                    <th class="center-align" style="width:90px">
                                        Net IRR Quartile
                                    </th>
                                    <th class="center-align" style="width:90px">
                                        Net TVPI
                                    </th>
                                    <th class="center-align" style="width:90px">
                                        Net TVPI Quartile
                                    </th>
                                    <th class="center-align" style="width:90px">
                                        Net DPI
                                    </th>
                                    <th class="center-align" style="width:90px">
                                        Net DPI Quartile
                                    </th>
                                    <th class="center-align">
                                        As Of Date
                                    </th>
                                    <th class="center-align">
                                        Source
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Fund fund in fundsForWidget.OrderBy(m => m.SortOrder.GetValueOrDefault(0)).ThenBy(m => m.Name).ToArray())
                                {
                                    bool isOpenStatus = fund.IsOpen;
                                    string starmark = fund.IsSourceRCPGross ? " *" : String.Empty;
                                    rcpGrossFound = rcpGrossFound || fund.IsSourceRCPGross;
                                <tr data-widget-content>
                                    <td>
                                        @fund.Name
                                    </td>
                                    <td class="center-align">
                                        @fund.VintageYear
                                    </td>
                                    <td class="center-align">
                                        @{
                                            HtmlString _strFundSize = AtlasDiligence.Web.General.StringExtensions.Currency(isOpenStatus ? fund.TargetSize : fund.FundSize, fund.Currency, 0);
                                            string strFundSize = _strFundSize.ToHtmlString();
                                            if (!string.IsNullOrWhiteSpace(strFundSize))
                                            {
                                                @Html.Raw(strFundSize)@("M") @Html.Raw(isOpenStatus ? "<span title=\"Target Size\">*</span>" : string.Empty)
                                            } else
                                            {
                                                <text>N/A</text>
                                            }
                                        }
                                    </td>
                                    <td class="center-align">
                                        @ViewHelpers.ValueOrNA(fund.SourceAwareIrr, 1, "%" + starmark)
                                    </td>
                                    <td class="center-align">
                                        @ViewHelpers.ValueOrNA(fund.NetIrrQuartile)
                                    </td>
                                    <td class="center-align">
                                        @ViewHelpers.ValueOrNA(fund.SourceAwareTvpi, 2, "x" + starmark)
                                    </td>
                                    <td class="center-align">
                                        @ViewHelpers.ValueOrNA(fund.TVPIQuartile)
                                    </td>
                                    <td class="center-align">
                                        @ViewHelpers.ValueOrNA(fund.SourceAwareDpi, 2, "x" + starmark)
                                    </td>
                                    <td class="center-align">
                                        @ViewHelpers.ValueOrNA(fund.DPIQuartile)
                                    </td>
                                    <td class="center-align">
                                        @ViewHelpers.ShortDateOrNA(fund.SourceAwareAsOf)
                                        </td>
                                    <td class="center-align">
                                        @ViewHelpers.ValueOrNA(fund.DisplaySource)
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        @if (ViewBag.HideMRFsNotes != true)
                        {
                            <div>
                                <div class="tab-description small-text tooltip-note">Quartiles are based on Preqin benchmarks. &copy; @DateTime.Now.Year Preqin Ltd.</div>
                                @if (rcpGrossFound)
                                {
                                    <div class="small-text tooltip-note"><em>* Returns are presented on a gross basis as net returns are unavailable for this vehicle.</em></div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
