﻿@model AtlasDiligence.Web.Models.ViewModels.Widgets.JumpToWidgetViewModel
@using AtlasDiligence.Web.Models.ViewModels.Navigation

@if (Model != null)
{
    <div @(Model.HideIfNoContent ? "data-widget-wrapper" : "")>
        <div class="headerSubTitle">
            @Model.Title
            @if (Model.ClickOnSelector != null && Model.ShowMoreInfoIcon != false)
            {
                <a class="moreInfo" href="javascript:void(0)" data-click-on="@Model.ClickOnSelector"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            }
            else if (Model.JumpToUrl != null)
            {
                <a class="moreInfo" href="@Model.JumpToUrl"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            }
        </div>
        <div>
            @if (Model.ContentHtml != null)
            {
                @Html.Raw(Model.ContentHtml)
            }
            @if (Model.ContentViewName != null)
            {
                @Html.Partial(Model.ContentViewName, Model.ContentModel)
            }
        </div>
    </div>
    if (Model.HideIfNoContent)
    {
        <script>siteCommon.checkWidgetContent()</script>
    }
}