﻿@model AtlasDiligence.Common.Data.Models.Organization
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@{
    OrganizationViewModel orgViewModel = null;
    bool showFPVGrid = false;
    if (Model.HasFundMetric)
    {
        var preview = User.IsInRole(RoleNames.Admin) || User.IsInRole(RoleNames.Employee);
        showFPVGrid = preview || (Model.PublishLevelID >= (byte)GPScout.Domain.Contracts.Enums.OrgPublishLevelType.PublishTrackRecord);
        orgViewModel = new OrganizationViewModel() { Id = Model.Id, Organization = Model, IsForTooltip = true };
        if (!showFPVGrid)
        {
            var forceCalculation = orgViewModel.FundsForTrackRecordsTab.Any();
            showFPVGrid = orgViewModel.HasPreqinMostRecentMetric;
        }
    }

    var lastFundSize = (Model.LastFundSize != null) ? (Model.LastFundSize.Value > 0 ? Model.Currency.FormattedSymbol + Math.Round(Model.LastFundSize.Value, 0, MidpointRounding.AwayFromZero) : "") : "";
    var expectedNextFundRaise = (!String.IsNullOrEmpty(Model.FundRaisingStatus) ? Model.FundRaisingStatus.ToLower() == "open" || Model.FundRaisingStatus.ToLower() == "pre-marketing" ? "N/A" : String.Format("{0:y}", Model.ExpectedNextFundRaise) : "");
    var tooltipText = String.Format("<strong>Expected Next Fundraise: </strong>{0}<br/>"
      + "<strong>Last Fund Size (mm): </strong>{1}"
      + "{2}{3}"
    , expectedNextFundRaise
    , lastFundSize
    , (!String.IsNullOrEmpty(Model.OrganizationOverview) ? "<hr class='horizontalRule' /><strong>Overview:  </strong>" + HttpContext.Current.Server.HtmlEncode(Model.OrganizationOverview.NewlineToBreak()) : "")
    , showFPVGrid ? ("<hr class='horizontalRule' /><strong>Performance Overview:  </strong>" + Html.Partial("FundHistoryWidget", orgViewModel).ToString().RemoveNewlines()) : ""
    //, Model.HasFundMetric ? ("<hr class='horizontalRule' /><strong>Performance Overview:  </strong>" + Html.Action("TrackRecord_FundPerformanceViewInner", "Organization", new { orgId = Model.Id }).ToString().RemoveNewlines()) : ""
    );
    <div class="key-takeaway" @Html.Raw("data-qt title=\"" + tooltipText.NewlineToBreak().Replace("\"", "'") + "\"") @if (showFPVGrid) { @Html.Raw("data-qt-grid") }>
        &nbsp;
    </div>
}