﻿@model AtlasDiligence.Web.Models.ViewModels.NeedHelpMessageViewModel
@{
    Layout = null;
}

<form action="@Url.Action("SendNeedHelpMessage", "Request")" method="POST">
    <div class="field">
        <div class="field">
            @Html.ValidationMessageFor(m => m.Email)
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="field">
            @Html.ValidationMessageFor(m => m.Message)
            @Html.LabelFor(m => m.Message)
            @Html.TextAreaFor(m => m.Message)
        </div>
        <div>
            For immediate assistance, call <span style="font-weight:bolder;">312-229-4133.</span><br />
            Or submit your questions above.
        </div>
    </div>
</form>