﻿@model IEnumerable<AtlasDiligence.Common.Data.Models.OrganizationNote>
<div class="section">  
    <div class="headerSubTitle">
        My Notes 
    </div>
    <div class="notes">
        <ul>
            @foreach (var note in Model.Where(m => !m.GroupId.HasValue).OrderByDescending(m => m.EditedByDate).ThenByDescending(m => m.DateEntered))
            {
                <li class="note-container">
                	<span class="note">@Html.Raw(note.Note.Replace("\n", "<br/>"))<br />
	                    	<small>Edited on @note.EditedByDate.GetValueOrDefault(DateTime.Now).ToShortDateString()</small></span>
                	<span class="delete-note" data-id="@note.Id" title="Delete Note">-</span>
                	<span class="modify-note" data-id="@note.Id" title="Modify Note">^</span>
                </li>
            }
        </ul>
    </div>
    @if (Model.Any(m => m.GroupId.HasValue))
    {
        <div class="section-title">
            <h2>Group Notes</h2>
        </div>
        <div class="notes">
            <ul>
            	@foreach (var note in Model.Where(m => m.GroupId.HasValue).OrderByDescending(m => m.EditedByDate).ThenByDescending(m => m.DateEntered))
             {
                    <li class="note-container">
                    	<span class="note">@Html.Raw(note.Note.Replace("\n", "<br/>"))<br />
	                    	<small>Edited by @note.aspnet_User1.UserExt.FirstName @note.aspnet_User1.UserExt.LastName
	                    	on @note.EditedByDate.Value.ToShortDateString()</small>
                    	</span>
                    	<span class="delete-note" data-id="@note.Id" title="Delete Note">-</span>
                    	<span class="modify-note" data-id="@note.Id" title="Modify Note">^</span>
                    </li>
             }
            </ul>
        </div>
    }
</div>