﻿@using AtlasDiligence.Common.Data.General
@model AtlasDiligence.Common.Data.Models.OrganizationRequest
<div>
        @if (Model != null && Model.Organization != null)
        {
            bool add = ViewBag.Add;
            string msg = add ? "To receive an update email when this profile is completed" : "To cancel your subscription getting an update email when this profile is completed";
            <form action="@Url.Action("UpdatePUCNRequest", "Request")" method="POST">
                <input type="hidden" value="@Model.Organization.Id" name="OrgId"/>
                <input type="hidden" value="@add" name="add" />
                <div class="field">
                    <div class="field">
                        <label for="org-request-name">@Model.Organization.Name</label>
                    </div>
                    <div class="field">
                        @if (add)
                        {
                            <text>To receive an update email when this profile is completed, please click the button below. </text>
                        }
                        else
                        {
                            <p>You are subscribed to get an update email when this profile is completed.</p><br />
                            <p style="float:left">To cancel your subscription, please click the button below.</p>
                        }
                    </div>
                </div>
            </form>
        }
</div>
