﻿@model SearchTemplate
@using AtlasDiligence.Common.Data.Models

<li>
    @Html.ActionLink(
                            Model.SavedSearch == null ? (string.IsNullOrWhiteSpace(Model.Name) ? "Advanced Search" : Model.Name) + " - " + Model.CreatedDate.ToString("MM/dd") : Model.SavedSearch.Name
                            , "Index", "Search", new { id = Model.Id }, null)
    <ul>
        @foreach (var field in Model.SearchFields)
        {
            if (field.Key == "From")
            {
                var miles = Model.SearchFields.Where(x => x.Key == "Firms Not Farther").Select(x => x.Value).FirstOrDefault();
                <li style="float: none; border: none;"><strong>Firms Not Farther Than </strong>@miles miles <strong>from</strong> @field.Value</li>
            }
            else if (!field.Key.Equals("Expected Next Fundraise Start Date") && !field.Key.Equals("Expected Next Fundraise End Date")
              && field.Key != "ProximitySearchLat" && field.Key != "ProximitySearchLng" && field.Key != "Firms Not Farther")
            {
                <li style="float: none; border: none;"><strong>@field.Key:</strong> @field.Value</li>
            }
        }
    </ul>
</li>

