﻿@using AtlasDiligence.Web.General
@model AtlasDiligence.Web.Models.ViewModels.SectionContentViewModel
@{Layout = null;}
@functions{

    private string GetFlagTooltip(string color)
    {
        if (String.IsNullOrWhiteSpace(color))
        {
            return string.Empty;
        }
        switch(color.ToLower())
        {
            case "red":
                return "Negative Attribute";
            case "yellow":
                return "Cautionary Attribute";
            case "green":
                return "Positive Attribute";
            default:
                return string.Empty;
        }
    }

}
@if (!String.IsNullOrEmpty(Model.Content))
{
    <div class="section">
        @Html.Raw((String.IsNullOrEmpty(Model.BookmarkName) ? String.Empty : ("<a name=\"" + Model.BookmarkName + "\"></a>")))
        <div class="headerSubTitle">
           @Html.Raw(Model.Title)<span 
            class="@(String.IsNullOrEmpty(Model.Flag) ? String.Empty : "flag-" + Model.Flag.ToLower())" title="@GetFlagTooltip(Model.Flag)"></span>
        </div>
        <div class="section-information">
            @Html.Raw(Model.Content.NewlineToBreak())
            @if (!String.IsNullOrEmpty(Model.DocumentUrl) && !String.IsNullOrEmpty(Model.DocumentName))
            {
                if (Model.DocumentUrl.EndsWith(".jpg") || Model.DocumentUrl.EndsWith(".jpeg") || Model.DocumentUrl.EndsWith(".gif") || Model.DocumentUrl.EndsWith(".bmp") || Model.DocumentUrl.EndsWith(".png"))
                {
                <div class="document">
                    <a href="#" class="toggle-document slider expanded">@Model.DocumentName</a>
                    <div class="image-container">
                        <img src="@Model.DocumentUrl" alt="@Model.DocumentName"/>
                    </div>
                </div>
                }
                else
                {
                <a href="@Model.DocumentUrl" target="_blank" class="document">@Model.DocumentName</a>
                }
            }
        </div>
    </div>
}
