﻿@model IEnumerable<AtlasDiligence.Web.Models.ViewModels.FolderViewModel>
<div class="selected-folder-widget folder-widget">
    <h4 class="folder-widget-title">Add to Folder</h4>
    <ul class="folder-widget-list">
        @foreach (var folder in Model.Where(m => m.Name == "Favorites").Union(Model.Where(m => m.Name != "Favorites").OrderBy(m => m.Name)))
        {
            <li class="folder-widget-listitem"><i class="fa fa-plus-square" aria-hidden="true"></i><a href="@Url.Action("AddOrganizations", "Folder")">@folder.Name</a>
                <input type="hidden" value="@folder.Id" class="folder-id"/>
            </li>
        }
        <li class="folder-widget-listitem new-folder"><i class="fa fa-plus-square" aria-hidden="true"></i><a href="@Url.Action("ManyCreateFromWidget", "Folder")" >New
                                                          Folder</a></li>
    </ul>
    <div class="clear"></div>
</div>
