﻿@model System.Boolean
@using AtlanticBT.Common.Types
@using AtlasDiligence.Web.Models
@using AtlasDiligence.Web.Models.ViewModels.Navigation
@using AtlasDiligence.Web.Models.ViewModels.Widgets
@using AtlasDiligence.Web.Resources

@if (User.Identity.IsAuthenticated)
{
    UserEntity user = EntityCache.Get<UserEntity>(Params.UserEntityCache);

    IList<NavigationLinkViewModel> folders = new List<NavigationLinkViewModel> {
        new NavigationLinkViewModel { Url = Html.ActionLink("My Folders", "Index", "Folder", null, new { @class="nav-link-static" }).ToString() }
    };
    foreach (var folder in user.Folders.OrderByDescending(f => f.FolderClicks.Select(fs => fs.LastOpened).DefaultIfEmpty().Max()).ThenBy(f => f.Name).Take(5))
    {
        if (!string.IsNullOrEmpty(folder.Name)) {
            folders.Add(new NavigationLinkViewModel { Url = Html.ActionLink(folder.Name, "Index", "Folder", new { id = folder.Id }, null).ToString() });
        }
    }
    @Html.Partial("SideBarNavigationWidget", new SideBarNavigationWidgetViewModel { Key = "FoldersExpanded", Title = "Folders", Expanded = Model, Items = folders })
}
