﻿@model AtlasDiligence.Web.Models.ViewModels.Widgets.SideBarNavigationWidgetViewModel
@using AtlasDiligence.Web.Models.ViewModels.Navigation


@if (Model != null)
{
<div class="parent-box" data-collapsible>
    <div class="parent-line">
        @Model.Title
        @if (Model.HasItems && Model.Expanded.HasValue)
        {
            <span data-widget-collapse-btn="@Model.Key" class="@(Model.Expanded == true ? "collapse2" : Model.Expanded == false ? "expand2" : "")">&nbsp;&nbsp;&nbsp;</span>
        }
    </div>
    @if (Model.HasItems)
    {
        <ul class="list-navigation" data-collapsible-content @if (Model.Expanded == false) { <text>style="display:none"</text> }>
            @foreach (NavigationLinkViewModel link in Model.Items)
            {
                if (link.ViewName != null)
                {
                    @Html.Partial(link.ViewName, link.Model)
                } else {
                    <li>@Html.Raw(link.Url)</li>
                }
            }
        </ul>
    }
</div>
}