﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using System.Text.RegularExpressions
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@{
    Layout = null;
    List<Fund> funds = Model.FundsForTrackRecordsTab;
    bool forTooltip = Model.IsForTooltip;
    var openFundStatuses = new[] { "Open", "Pre-Marketing" };
    Func<string, string> formatID = ViewHelpers.formatID;
    bool isBenchmarkAsOf = false;
    foreach (Fund _fund in funds)
    {
        Fund fund = null;
        if (Model.HasPreqinMostRecentMetric && !_fund.IsPreqinMostRecentMetric)
        {
            fund = Model.GetFundWithAvailablePreqinData(_fund);
        }
        else if (!Model.HasPreqinMostRecentMetric && _fund.IsPreqinMostRecentMetric)
        {
            fund = Model.GetFundWithAvailableRCPData(_fund);
        }
        else
        {
            fund = _fund;
        }
        if (fund != null)
        {
            if (fund.SourceAwareAsOf > fund.BenchmarkAsOf)
            {
                isBenchmarkAsOf = true;
                break;
            }
        }
    }
}
    <div class="section">
        @if (isBenchmarkAsOf)
        {
        <em class="noteRed" style="float: right;">While Preqin benchmarks are not as of the same date as fund-level data, the benchmarks are provided for reference.</em>
        }
        <div class="section-information">
            <table data-performance-view-grid="1">
                <thead>
                    <tr>
                        @if (!Common.IsPrint && !Model.HasPreqinMostRecentMetric && !forTooltip)
                        {
                            <th class="analysis-slider"></th>
                        }
                        <th>Fund </th>
                        <th style="text-align: center">Vintage Year</th>
                        <th style="text-align: center">Fund Size</th>
                        <th style="text-align: center">DPI </th>
                        <th style="text-align: center">TVPI </th>
                        <th style="text-align: center">Net IRR </th>
                        <th style="text-align: center">As Of </th>

                        <th style="text-align: center">DPI Quartile </th>
                        <th style="text-align: center">TVPI Quartile </th>
                        <th style="text-align: center">Net IRR Quartile </th>

                        <th style="text-align: center">Source </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Fund _fund in funds)
                    {
                        Fund fund = null;
                        if (Model.HasPreqinMostRecentMetric && !_fund.IsPreqinMostRecentMetric)
                        {
                            fund = Model.GetFundWithAvailablePreqinData(_fund);
                        }
                        else if (!Model.HasPreqinMostRecentMetric && _fund.IsPreqinMostRecentMetric)
                        {
                            fund = Model.GetFundWithAvailableRCPData(_fund);
                        }
                        else
                        {
                            fund = _fund;
                        }
                        if (fund != null)
                        {
                            var isOpenStatus = openFundStatuses.Contains(fund.Status);
                            <tr>
                                @if (!Common.IsPrint && !Model.HasPreqinMostRecentMetric && !forTooltip)
                                {
                                    <td @Html.Raw(!String.IsNullOrWhiteSpace(fund.AnalysisUrl) ? "class=\"analysis-slider\"" : string.Empty)></td>
                                }
                                <td class="no-wrap">
                                    @fund.Name
                                </td>
                                <td style="text-align: center">
                                    @fund.VintageYear
                                </td>
                                <td style="text-align: right">
                                    @AtlasDiligence.Web.General.StringExtensions.Currency(isOpenStatus ? fund.TargetSize : fund.FundSize, fund.Currency, 0)@Html.Raw(isOpenStatus ? "<span title=\"Target Size\">*</span>" : string.Empty)
                                </td>
                                @if (!Model.HasPreqinMostRecentMetric || (Model.HasPreqinMostRecentMetric && (_fund.IsPreqinMostRecentMetric || fund.HasPreqinMetric.GetValueOrDefault())))
                                {
                                    <td style="text-align: center" @{ if (!forTooltip) { @Html.Raw("data-qt title=\"" + Html.Partial("BenchmarkQuartileInfo", new BenchmarkQuartileInfoVM(fund, BenchmarkQuartileInfoType.Dpi)).ToString().RemoveNewlines().Replace("\"", "'") + "\"")    } }>
                                        @(fund.SourceAwareDpi.HasValue ? fund.SourceAwareDpi.Value.ToString("0.00") + "x" : string.Empty)
                                    </td>
                                    <td style="text-align: center" @{ if (!forTooltip) { @Html.Raw("data-qt title=\"" + Html.Partial("BenchmarkQuartileInfo", new BenchmarkQuartileInfoVM(fund, BenchmarkQuartileInfoType.Tvpi)).ToString().RemoveNewlines().Replace("\"", "'") + "\"")     } }>
                                        @(fund.SourceAwareTvpi.HasValue ? fund.SourceAwareTvpi.Value.ToString("0.00") + "x" : string.Empty)
                                    </td>
                                        <td style="text-align: center" @{ if (!forTooltip) { @Html.Raw("data-qt title=\"" + Html.Partial("BenchmarkQuartileInfo", new BenchmarkQuartileInfoVM(fund, BenchmarkQuartileInfoType.NetIrr)).ToString().RemoveNewlines().Replace("\"", "'") + "\"")     } }>
                                            @(fund.SourceAwareIrr.HasValue ? fund.SourceAwareIrr.Value.ToString("0.0") + "%" : string.Empty)
                                        </td>
                                        <td style="text-align: center">
                                            @(fund.SourceAwareAsOf.HasValue ? fund.SourceAwareAsOf.Value.ToShortDateString() : string.Empty)
                                        </td>

                                        <td style="text-align: center" @{ if (!forTooltip) { @Html.Raw("data-qt title=\"" + Html.Partial("BenchmarkQuartileInfo", new BenchmarkQuartileInfoVM(fund, BenchmarkQuartileInfoType.Dpi)).ToString().RemoveNewlines().Replace("\"", "'") + "\"")     } }>
                                            <span @{ if (fund.SourceAwareAsOf > fund.BenchmarkAsOf) { @Html.Raw("style=\"color: Red;\"")  } }>@fund.DPIQuartile</span>
                                        </td>
                                        <td style="text-align: center" @{ if (!forTooltip) { @Html.Raw("data-qt title=\"" + Html.Partial("BenchmarkQuartileInfo", new BenchmarkQuartileInfoVM(fund, BenchmarkQuartileInfoType.Tvpi)).ToString().RemoveNewlines().Replace("\"", "'") + "\"")     } }>
                                            <span @{ if (fund.SourceAwareAsOf > fund.BenchmarkAsOf) { @Html.Raw("style=\"color: Red;\"")   } }>@fund.TVPIQuartile</span>
                                        </td>
                                        <td style="text-align: center" @{ if (!forTooltip) { @Html.Raw("data-qt title=\"" + Html.Partial("BenchmarkQuartileInfo", new BenchmarkQuartileInfoVM(fund, BenchmarkQuartileInfoType.NetIrr)).ToString().RemoveNewlines().Replace("\"", "'") + "\"")     } }>
                                            <span @{ if (fund.SourceAwareAsOf > fund.BenchmarkAsOf) { @Html.Raw("style=\"color: Red;\"")    } }>@fund.NetIrrQuartile</span>
                                        </td>
                                        <td style="text-align: center">
                                            @(fund.DisplaySource)
                                        </td>
    }
    else
    {
        <td colspan="10" style="text-align: center">
            Preqin performance data is not available for this fund
        </td>
    }
                            </tr>
    if (!Common.IsPrint && !forTooltip)
    {
        @ViewHelpers.DisplayFundImg(fund, 12);
            }
        }
    }
                </tbody>
            </table>
            <em class="note">Quartiles are based on Preqin benchmarks. &copy; @DateTime.Now.Year Preqin Ltd.</em>
        </div>
        @*@if (Common.IsPrint && !Model.HasPreqinMostRecentMetric && !Model.IsFundDetailViewTabAccessible && !forTooltip)
                {
                <div class="section-information">
                    @foreach (var fund in funds)
                    {
                        <div style="padding-top:20px">@fund.Name</div>
                        if (fund.AsOf.HasValue)
                        {
                            <div>Data as of @fund.AsOf.Value.ToString("M/d/yyyy")</div>
                        }
                        @ViewHelpers.DisplayFundImg(fund, 12)
                    }
                </div>
            }*@
    </div>
