﻿@model DataImportNotification
@using GPScout.Domain.Contracts.Models.UserNotifications
@using AtlasDiligence.Common.Data.General

@helper TimeStamp() {
    <strong>@Model.TimeStamp.ToShortDateString():</strong>
}

<script>

</script>
@if (Model.Data.Status == DownloadableItemLifeCycle.GenerationCompleted)
{
    <div class="data-import-succeeded">
        <i class="fa fa-cloud-download" aria-hidden="true"></i>
        @TimeStamp() Data Import has been completed.&nbsp;
        Please <a href="@Url.Action("Logoff", "Account", new { userNotificationId = Model.Id })">re-login</a> to get latest data.
        <div class="r">
            <a href="@Url.Action("DataImportStatus", "Admin", new { taskId = Model.ReferenceId })">See import log</a>&nbsp;&nbsp;
            <a href="@Url.Action("Delete", "UserNotification", new { id = Model.Id })" data-action="dismiss">Dismiss</a>
        </div>
    </div>
} else if (Model.Data.Status == DownloadableItemLifeCycle.Started) {
    <div class="generating">
        <i class="fa fa-gears" aria-hidden="true"></i>
        <p>
            @TimeStamp() Data Import is running. This process may take several minutes.
            You will be notified when it is completed.
        </p>
    </div>
}
else if (Model.Data.Status == DownloadableItemLifeCycle.Unknown)
{
    <div class="generating">
        <i class="fa fa-gears" aria-hidden="true"></i>
        <p>
            @TimeStamp() Data Import is running. This process may take several minutes.
            You will be notified when it is completed.
        </p>
        @if ((Model as IUserNotification).PollingExpirationDate >= DateTime.Now)
        {
            <script>
                (function () {
                    var f = function () {
                        $.post(urlRoot + 'Admin/StartDataImportTask?taskId=@Model.ReferenceId',
                                function (result) {
                                    if (result!="ok") window.setTimeout(f, @Model.CheckStatusIntervalMS);
                                }
                            );
                    };
                    f();
                })();
            </script>
        }
    </div>
}
else if (Model.Data.Status == DownloadableItemLifeCycle.Error)
{
    <div class="error-bar">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        @TimeStamp() Data Import failed.
        @if (Model.Data.Message != null)
        {
            <text>&nbsp;</text>@Html.Raw(Model.Data.Message)
        } else
        {
            <text>&nbsp;Please try again later.</text>
        }
        <div class="r">
            <a href="@Url.Action("DataImportStatus", "Admin", new { taskId = Model.ReferenceId })">See import log</a>&nbsp;&nbsp;
            <a href="@Url.Action("Delete", "UserNotification", new { id = Model.Id })" data-action="dismiss">Dismiss</a>
        </div>
    </div>
}

