﻿@model OrganizationFullReportNotification
@using GPScout.Domain.Contracts.Models.UserNotifications
@using AtlasDiligence.Common.Data.General

@helper TimeStamp() {
    <strong>@Model.TimeStamp.ToShortDateString():</strong>
}

@if (Model.Data.Status == DownloadableItemLifeCycle.GenerationCompleted)
{
    <div class="l">
        <i class="fa fa-cloud-download" aria-hidden="true"></i>
        <p>
            @TimeStamp() Full Organization Report <strong>@(Model.Data.Title)</strong> has been generated.&nbsp;
            Please <a href="@Url.Action("DownloadFullReport", "Organization", new { id = Model.Id })" data-action="download">click here to download.</a><br />
            Note that the PDF is password protected and the password is <strong>@(Model.Data.Password)</strong> (case sensitive).
        </p>
    </div>
    <div class="r">
        <a href="@Url.Action("DeleteFullReport", "Organization", new { id = Model.Id })" data-action="delete">Cancel</a>
    </div>
} else if (Model.Data.Status == DownloadableItemLifeCycle.Started) {
    <div class="generating">
        <i class="fa fa-gears" aria-hidden="true"></i>
        <p>
            @TimeStamp() Full Organization Report for <strong>@(Model.Data.Title)</strong> is being generated. This process may take several minutes.
            You will be notified when it is ready for download.
        </p>
    </div>
}
else if (Model.Data.Status == DownloadableItemLifeCycle.Unknown)
{
    <div class="generating">
        <i class="fa fa-gears" aria-hidden="true"></i>
        <p>
            @TimeStamp() Full Organization Report for <strong>@(Model.Data.Title)</strong> is being generated. This process may take several minutes.
            You will be notified when it is ready for download.
        </p>
        @if ((Model as IUserNotification).PollingExpirationDate >= DateTime.Now)
        {
            <script>
                (function () {
                    var f = function () {
                        $.post(urlRoot + 'Organization/StartOrganizationFullPdfTask?taskId=@Model.ReferenceId&maxInParallel=2',
                                function (result) {
                                    if (result!="ok") window.setTimeout(f, @Model.CheckStatusIntervalMS);
                                }
                            );
                    };
                    f();
                })();
            </script>
        }
    </div>
}
else if (Model.Data.Status == DownloadableItemLifeCycle.Error)
{
    <div class="error-bar">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        @TimeStamp() Generating Full Organization Report for <strong>@(Model.Data.Title)</strong> failed.
        @if (Model.Data.Message != null)
        {
            <text>&nbsp;</text>@Model.Data.Message
        } else
        {
            <text>&nbsp;Please try again later.</text>
        }
        <div class="r">
            <a href="@Url.Action("Delete", "UserNotification", new { id = Model.Id })" data-action="dismiss">Dismiss</a>
        </div>
    </div>
}

