﻿@model AtlasDiligence.Web.Models.ViewModels.MarketDataViewModel
@{
    ViewBag.Title = "RCP Market Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";

    /*
      https://tableau.rcpadvisors.com/javascripts/api/viz_v1.js
      /views/PrivateEquityMarketSimpleStatistics1_17_17/Story1?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no#1
    */
}

<style>
    .selected {
        background-color: #0026ff;
    }
</style>

<div>
        <div class="market-analysis-header">
            <h1>RCP Market Analytics</h1>
            <div class="separator"></div>
        </div>
    <div class="container">
        <div class="row">
            <div data-tableau-btns class="data-tableau-btns">
                <div class="col-xs-15">
                    @Html.ActionLink("Purchase Price Multiples", "Data", new { id = "PurchasePriceMultiples" })<br />
                    @Html.ActionLink("ROIC", "Data", new { id = "ROIC" })
                </div>
                <div class="col-xs-15">
                    @Html.ActionLink("EBITDA Margin", "Data", new { id = "EBITDAMargin" })<br />
                    @Html.ActionLink("Revenue CAGRs", "Data", new { id = "RevenueCAGRs" })
                </div>
                <div class="col-xs-15">
                    @Html.ActionLink("Net Debt Multiples", "Data", new { id = "LeverageMultiples" })
                    <br />
                    @Html.ActionLink("EBITDA CAGRs", "Data", new { id = "EBITDACAGRs" })
                </div>
                <div class="col-xs-15 singular-box">@Html.ActionLink("Deal Volume", "Data", new { id = "DealVolume" })</div>
                <div class="col-xs-15 singular-box">@Html.ActionLink("Notes on Data", "Notes")</div>
            </div>
            
        </div>
    </div>
</div>


<div data-tableau class="data-tableau">
    <div>
        <h2 class="market-analysis-title">Overview</h2>
    </div>
    <div>
        <ul class="market-analysis-list">
            <li>Welcome! Your GPScout Navigator account is now enabled to access RCP Market Analytics, a proprietary set of tools populated by GP-sourced data intended to help users better understand macro trends within the private equity market.</li>
            <li>We currently offer analyses on a variety of metrics that can be accessed via the links at the top of this page.  Each interactive visualization is constructed to display trends and market insights across the entire middle market universe as well as within various sectors, sub-sectors, and deal sizes.</li>
            <li>For general questions on functionality, please select ‘User Guide’ in the top right corner of the analyses pages.  If you have further questions or suggestions on additional desired features, please feel free to reach out to Matt Plunkett <a href="mailto:mplunkett@rcpadvisors.com">(mplunkett@rcpadvisors.com)</a>.</li>
            <li>Please review the ‘Notes on Data’ for necessary disclosures and discussions of potential biases inherent in the available analyses.</li>
            <li>These tools are built using Tableau software. By using all or any portion of the software, you are accepting all of the terms and conditions of the End User License Agreement (“EULA”) as published on Tableau’s website at <a href="https://www.tableau.com/" target="_blank" title="https://www.tableau.com/">www.tableau.com</a> (as may be relocated by Tableau from time to time). You agree that the EULA is enforceable like any written agreement signed by you and legally binding between you and Tableau Software, Inc. or the applicable Tableau affiliate (“Tableau”). If you do not agree to all of the terms and conditions of the EULA, do not use the software. In the event you are redirected to Tableau’s website, you agree that your use is subject to any terms of service or privacy policies posted thereon. YOU ACKNOWLEDGE AND AGREE THAT TABLEAU SHALL HAVE NO WARRANTY, SUPPORT OR OTHER OBLIGATION OR LIABILITY TO YOU WITH RESPECT TO YOUR USE OF THE SOFTWARE.</li>
        </ul>
    </div>
</div>

<script>
    $(function () {
        $('[data-tableau-btns] a').click(function () {
            common.showLoading();
            $('[data-tableau-btns] a.selected:first').removeClass('selected');
            $(this).addClass('selected');
            $('[data-tableau]:first').load($(this).attr('href'), function () { common.hideLoading(); });
            return false;
        });
    });
</script>

@section head
{
    <script type='text/javascript' src='https://tableau.rcpadvisors.com/javascripts/api/viz_v1.js'></script>
}

