﻿@{
    ViewBag.Title = "RCP Market Analytics";
    Layout = null;
}
<div>
    <div>
        <h2 class="market-analysis-title">Notes on Data</h2>
    </div>
    <div>
        <ul class="market-analysis-list">
            <li>RCP collects information from PE Firms and public data sources for inclusion in the dataset
            <ul class="sub-list">
                <li>RCP’s strategy is focused primarily on North American lower-middle market buyouts, such  as, a majority of managers analyzed operate in this segment of the market</li>
                <li>Most information is provided via new vehicle offering documents; therefore, poorer performing managers’ deals will be underrepresented as many of these managers fail to return to market with updated return information</li>
            </ul>
                
                </li>
            <li>In total, RCP tracks information on more than 1,200 fund managers, as of <b>@DateTime.Now.ToShortDateString()</b>. Manager strategies include Buyout, Growth, Buyout & Growth, Distressed and Multi-Strategy. Deals executed as part of Mezzanine and other credit strategies are largely excluded from analysis.  Venture, Real Estate, and other unrelated strategies are excluded. Fund strategy classifications are determined based on internal RCP assessment</li>
            <li>The dataset contains Gross ROIC information for more than 17,000 deals transacted since 1969 with more than 11,000 fully realized transactions
                <ul class="sub-list">
                    <li> Transactions are classified as ‘fully realized’ once information by the GP or publicly available sources indicate that a transaction has been sold to another strategic or financial acquirer or declared insolvent</li>
                <li>Note that availability of insolvency announcements as well as reluctance of sponsors to ‘finalize’ poorer performing deals as realized losses will lead to general underrepresentation within the sub-set, skewing toward including deals with better performance</li>
                </ul> 
                 </li>
            <li>Metrics are controlled for outliers that can meaningfully skew aggregated calculations.  Any instance of a metric above (or below) is replaced by “Outlier Max” (Outlier Min) to account for the outsized metric without removing the data point.  Depending on the metric being analyzed, RCP has chosen default values believed to reflect standard market dynamics</li>
            <li>Deals analyzed range from enterprise values of less than $1M to greater than $20B with an average of ~$145M</li>
            <li>Companies are assigned various levels of industry classification based on RCP’s assessment</li>
            <li> Both sector specialist and industry agnostic strategies are included.  Data set includes managers that invest in Consumer, Healthcare, Business Services, Technology, and Industrials sectors (among others), or any combination of the aforementioned</li>
            <li>Because analysis is often disaggregated by industry sector and size, certain analyses may be performed on smaller sample sizes and may be biased by one or several data points</li>
            <li>Past performance is not an indication of future performance, provides no guarantee for the future, and is not constant over time</li>
        </ul>
     </div>
</div>