﻿@using AtlanticBT.Common.Types
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Config
@using System.Web.Optimization

@{
    ViewBag.Title = "RCP Market Analytics";
    Layout = null;
    string GuideId = Convert.ToString(ViewBag.GuideId);
    string url = null;
}
@*<div>
    <a href="javascript:void(0)" onclick="window.close()">Close</a>
</div>*@
<div>
    @if (GuideId == "DealVolume")
    {
        url = Url.Content("~/content/marketdata/User Guide (Deal Volume).pdf");
    }
    else
    {
        url = Url.Content("~/content/marketdata/User Guide (Deal Metrics).pdf");
    }

    @if (url != null)
    {
        <iframe src="@url" width="100%" height="100%"></iframe>
    }
</div>
<style>body { margin:0;overflow:hidden;}</style>

