﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/landingscreen.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/css/print.css")" rel="stylesheet" type="text/css" media="print" />
    <link href="@Url.Content("~/css/custom-theme/jquery-ui-1.8.16.custom.css")" rel="Stylesheet" type="text/css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://use.typekit.com/kru4vbs.js"></script>
    <script src="@Url.Content("~/js/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.tablesorter.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.tools.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#login-forms").tabs();
        });
    </script>
    @ViewBag.Head
</head>
<body id="splash" class="splash">
    <div id="wrap">
        <div id="container">
            <div id="masthead" class="header">
                <h1>
                    <a href="/" title="Home">Atlas Diligence</a></h1>
                <div class="nav">
                </div>
            </div>
            <div id="main-area" class="main-area">
                @RenderBody()
            </div>
            <div id="site-info" class="footer">
                <div id="site-copyright">
                    <script type="text/javascript">
                        now = new Date();
                        year = now.getFullYear();
                    </script>
                    <p>Copyright &copy; @DateTime.Now.Year Atlas Diligence. All Rights Reserved.</p>
                    <p id="abt-brand"><span class="abt-link"><a href="http://www.atlanticbt.com/services/web-design.php" target="_blank" title="Professional Website Design">HTML5, CSS, Web Design</a> and <a href="http://www.atlanticbt.com/services/web-programming.php" target="_blank" title="Custom Web Programming">Website Development</a> by <a href="http://www.atlanticbt.com/" target="_blank" title="Website Design">Atlantic BT</a></span></p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23897012-2']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
