﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=1400px" />
        <title>GPScout @(!String.IsNullOrWhiteSpace(ViewBag.Title) ? " - " + ViewBag.Title : string.Empty)</title>
        <link href="@Url.Content("~/css/screen.css")" rel="stylesheet" type="text/css" media="screen" />
        @if (ViewBag.IsAdminPage != null && (bool)ViewBag.IsAdminPage)
        {
            <link href="@Url.Content("~/css/admin-screen.css")" rel="stylesheet" type="text/css" media="screen"/>
        }
        @*<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>*@
        <link href="@Url.Content("~/css/print.css")" rel="stylesheet" type="text/css" media="print" />
        <link href="@Url.Content("~/css/yuiSkin.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/custom-theme/jquery-ui-1.8.16.custom.css")" rel="Stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/chosen.css")" rel="Stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/jquery.qtip.min.css")" rel="Stylesheet" type="text/css" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="@Url.Content("~/js/modernizr-1.7.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.tablesorter.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/yui.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/yui.tweaks.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.yuidatatable.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.placeholder.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.ui.timepicker.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/date.js")" type="text/javascript"></script>
        @*<script src="@Url.Content("~/js/jquery.tools.min.js")" type="text/javascript"></script>*@
        <script src="@Url.Content("~/js/jquery.hoverIntent.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.qtip.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.multiselect.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/chosen.jquery.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1', { packages: ['corechart'] });
        </script>
        @RenderSection("head", false)
        @ViewBag.Head
        <!-- BEGIN Tynt Script -->
        <script type="text/javascript">
            if (document.location.protocol == 'http:') {
                var Tynt = Tynt || []; Tynt.push('ccxU94yrCr4O85acwqm_6r');
                (function () { var s = document.createElement('script'); s.async = "async"; s.type = "text/javascript"; s.src = 'http://tcr.tynt.com/ti.js'; var h = document.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h); })();
            }
        </script>
        <!-- END Tynt Script -->
    </head>
    <body id="@ViewBag.BodyId" class="splash admin @ViewBag.BodyClass">
        <div id="masthead" class="header">
            <div class="utility-bar">
                <div class="wrap">
                    <h1><a href="@Url.Action("Start", "Search")" title="Home">GP Scouts&trade;</a><em>Powered by Atlas Diligence</em></h1>
                    <div class="login-status">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @:<strong>Welcome</strong>, @User.Identity.Name
                                                                        }
                    </div>
                </div>
            </div>
            <div class="menu-bar">
                <div class="wrap">
                    @Html.Partial("_LogOnNav")
                </div>
            </div>
        </div>
        <div id="main-area" class="main-area">
            <div class="wrap">
                @RenderBody()
            </div>
        </div>
        <div id="site-info" class="footer">
            <div class="wrap">
                <div id="site-copyright">
                    <script type="text/javascript">
                        now = new Date();
                        year = now.getFullYear();
                    </script>
                    <p>Copyright &copy; @DateTime.Now.Year Atlas Diligence. All Rights Reserved.</p>
                    <p id="abt-brand"><span class="abt-link"><a href="http://www.atlanticbt.com/services/web-design.php" target="_blank" title="Professional Website Design">HTML5, CSS, Web Design</a> and <a href="http://www.atlanticbt.com/services/web-programming.php" target="_blank" title="Custom Web Programming">Website Development</a> by <a href="http://www.atlanticbt.com/" target="_blank" title="Website Design">Atlantic BT</a></span></p>
                </div>
            </div>
        </div>
        <div id="loading-bar">
            <p><a class="close-load" href="#"></a>
                <img src="/images/ajax-loader.gif" alt="Loading..." />
                <span>Loading...</span> </p>
        </div>
        <script src="@Url.Content("~/js/google-analytics.js")" type="text/javascript"></script>
    </body>
</html>
