﻿@using AtlanticBT.Common.Types
@if (Request.IsAuthenticated)
{
    var user = EntityCache.Get<AtlasDiligence.Web.Models.UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache);
    if (user != null)
    {
    <script language="javascript" type="text/javascript">
        $(function () {
            _gaq.push(['_setCustomVar', 1, 'Organization Type', '@user.OrganizationType', 1]);
        });
    </script>
    }
    <nav>
        <ul>
            @if (HttpContext.Current.User.IsInRole(AtlasDiligence.Web.General.RoleNames.Admin))
            {
                <li class="nav-administration">@Html.ActionLink("Administration", "Index", "Admin")</li>
            }
            @if (user != null)
            {
                if (user.DiligenceAllowed)
                {
                <li class="nav-dashboard">@Html.ActionLink("Dashboard", "Start", "Search")</li>
                <li class="nav-tools has-children"><a href="#" onclick="return false;">Tools</a>
                    <ul class="nav-item-list hide-nav-item-list">
                        <li>@Html.ActionLink("Deal Log", "Index", "DealLog")</li>
                        <li>@Html.ActionLink("Compare", "Index", "CompareTables")</li>
                        @if (user.RssAllowed)
                        {
                        <li >@Html.ActionLink("News Tracker", "Index", "NewsTracker")</li>
                        }
                    </ul>
                </li>
                <li class="nav-search has-children">@Html.ActionLink("Search", "Index", "Search")
                    <ul class="nav-item-list hide-nav-item-list">
                        @foreach (var recentSearch in user.RecentSearchTemplates)
                        {
                            <li>@Html.ActionLink(
                            recentSearch.SavedSearch == null ? (string.IsNullOrWhiteSpace(recentSearch.Name) ? "Advanced Search" : recentSearch.Name) + " - " + recentSearch.CreatedDate.ToString("MM/dd") : recentSearch.SavedSearch.Name
                            , "Index", "Search", new { id = recentSearch.Id }, null)
                                <ul>
                                    @foreach (var field in recentSearch.SearchFields)
                                    {
                                        if (!field.Key.Equals("Expected Next Fundraise Start Date") && !field.Key.Equals("Expected Next Fundraise End Date"))
                                        {                                        
                                        <li style="float: none; border: none;"><strong>@field.Key:</strong> @field.Value</li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        <li><strong><a href="@Url.Action("Saved", "Search")" id="my-saved-searches">My Saved Searches</a></strong>
                            <ul id="saved-searches-nav">
                                @foreach (var item in user.SavedSearches.OrderBy(m => m.Name))
                                {
                                    <li>@Html.ActionLink(item.Name, "Index", "Search", new { id = item.SearchTemplateId }, null)
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-history has-children"><a href="#" onclick="return false;">History</a>
                    <ul class="nav-item-list hide-nav-item-list">
                        @foreach (var organization in user.RecentlyViewedOrganizations)
                        {
                            <li><a href="@Url.Action("Index", "Organization", new { id = organization.OrganizationId })">@organization.Name</a> </li>
                        }
                    </ul>
                </li>
                
                <li class="nav-folders">@Html.ActionLink("Folders", "Index", "Folder")</li>
            
                
                }
            }
            <li class="nav-account has-children">@Html.ActionLink("Account", "Edit", "User", new { id = Membership.GetUser().ProviderUserKey, returnRoute = "Basic" }, null)
                <ul class="nav-item-list hide-nav-item-list nav-account-list">
                    @if (HttpContext.Current.User.IsInRole(AtlasDiligence.Web.General.RoleNames.GroupLeader))
                    {
                        <li>@Html.ActionLink("Group Admin", "View", "Group")</li>
                    }
                    <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
                    <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
                </ul>
            </li>
        </ul>
    </nav>
                    using (Html.BeginForm("SaveTemplate", "Search", FormMethod.Post, new { @class = "site-search" }))
                    {
                                                                         
    <label for="nav-search">Search</label>
    <input type="text" id="nav-search" placeholder="Search" name="Search" class="organization-autocomplete" />
    <input type="submit" value="Search" />
                    }

}
else
{
    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
}
