﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <p>@ViewBag.ErrorMessage</p>
    }
</h2>
