﻿@model IEnumerable<AtlasDiligence.Common.DTO.Model.NewsItem>
@{ Layout = null; }
@if (Model.Any())
{
    <div class="section">
        <span class="section-title">Latest News</span>
        <div class="section-information">
            <ul class="news-list">
                @foreach (var news in Model)
                {
                    <li>
                        <a href="@news.Url" target="_blank">@news.Subject</a> (@news.OrganizationSourceName - @news.PublishedDate.ToShortDateString()) <br /><br />
                    </li>
                }
            </ul>
        </div>
    </div>
}
