﻿@model AtlasDiligence.Web.Models.ViewModels.ContactViewModel
@{
    Layout = null;
}

@if (Model != null && Model.Submitted)
{
    <script type="text/javascript">
        $(window).ready(function () {
            $(':input', 'form')
                 .not(':button, :submit, :reset, :hidden')
                 .val('')
                 .removeAttr('checked')
                 .removeAttr('selected');

            alert('Thank you for your comments and questions!');
        });
    </script>
}
@using (Html.BeginForm())
{
    <div class="fieldset">
        <fieldset>
            <div class="field">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Organization)
                @Html.TextBoxFor(m => m.Organization)
                @Html.ValidationMessageFor(m => m.Organization)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Questions)
                @Html.TextAreaFor(m => m.Questions)
                @Html.ValidationMessageFor(m => m.Questions)
            </div>
            <div class="buttons">
              <input type="submit" class="submit" value="Submit" name="submit" id="submit" />
            </div>
        </fieldset>
    </div>
}