﻿@model AtlasDiligence.Web.Models.ViewModels.Segment.SegmentViewModel

@{
    ViewBag.Title = "Search";
    ViewBag.BodyId = "search-start";
    ViewBag.BodyClass = "section-administration";
}

<div class="wrapper">

@using (Html.BeginForm())
{
    @Html.Partial("Options", Model.SegmentOptions)
}
    <div class="clear"></div>
</div>
