﻿@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Helpers.Yui;
@using AtlasDiligence.Web.CommonCode.Extensions
@{
    ViewBag.Title = "Segments";
    ViewBag.BodyId = "segment-index";
}
<p class="alert">@TempData["Message"]</p>
<div class="buttons">
    @Html.ActionLink("Create Segment", "Create", null, new { @class = "create" })
</div>
<div>
    @Html.Raw(
        @Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.SegmentDataGrid>().Url(Url.Action("SegmentGrid", "Segment"))
            .GridId("segment-orgs-results-grid")
            .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
            .RowsPerPageOptions(true, new[] { 25, 50, 100 })
            .PostRenderEvent("function() { var pageReport = $('#yui-pg0-0-page-report').html(); $('.search-num').html('Results: ' + pageReport);}")
            .Columns(columns =>
                         {
                             columns.Bound(x => x.Id).Hidden(true);
                             columns.Bound(x => x.EditLink).Width(50).Sortable(false).Label("Edit");
                             columns.Bound(x => x.Name).Label("Name");
                             columns.Template(x => x.Id, "<span rel=\"" + Url.Action("Delete", "Segment") + "/{Id}\" class=\"grid-row-action delete\">Delete</span>")
                                 .Sortable(false).Label("Delete").Action("delete");
                         }).ToString())
</div>
@section head{
    <style>
        #selected-folder-widget-container, #top-selected-folder-widget-container { position: relative; clear: both; }
        #selected-folder-widget-container .selected-folder-widget { left: -10px; top: -80px; }
        #top-selected-folder-widget-container .selected-folder-widget { margin: 0 0 10px; }
        .selected-folder-widget { clear: both; width: 150px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; }
        .selected-folder-widget h4 { float: left; margin: 0; cursor: pointer; }
        .selected-folder-widget ul { display: none; left: 0; padding: 0; width: 180px;}
        #selected-folder-widget-container .selected-folder-widget ul li, #top-selected-folder-widget-container .selected-folder-widget ul li{ clear: left;width: 160px; }
        .rx-grid-footer { margin-top: 36px; }
    </style>
}
