﻿@model AtlasDiligence.Web.Models.ViewModels.Segment.SegmentViewModel

@{
    ViewBag.Title = "Search";
    ViewBag.BodyId = "search-start";
}

<div class="wrapper">
@using (Html.BeginForm("Update", "Segment"))
{
    @Html.Partial("Options", Model.SegmentOptions)
}
    <div class="clear">
    </div>
</div>
