﻿@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Helpers.Yui
@model AtlasDiligence.Web.Models.ViewModels.GroupViewModel
@{
    ViewBag.IsAdminPage = true;
    ViewBag.Title = "Edit " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "section-administration";
}
@section head{
    <style>
        #purchased-organizations { padding-top: 40px; border-top: 1px #CCC solid; clear: both; }
    </style>
    <script type="text/javascript">
        $(function () {
            var cache = {}, lastXhr;
            $('#add-existing-user-to-group-name').autocomplete({
                minLength: 2,
                source: function (request, response) {
                    var term = request.term;
                    if (term in cache) {
                        response(cache[term]);
                        return;
                    }
                    lastXhr = $.getJSON("/User/GetUserEmails", request, function (data, status, xhr) {
                        cache[term] = data;
                        if (xhr === lastXhr) {
                            response(data);
                        }
                    });
                }
            });
            $('#add-existing').click(function () {
                var href = $(this).attr('href');
                var dialogElement = $('#add-existing-user-to-group-dialog'); //'#<p class="alert-active"></p>')
                dialogElement.dialog({
                    width: 320,
                    height: 250,
                    buttons: {
                        "Submit": function () {
                            $.getJSON(href,
                                {
                                    email: $('#add-existing-user-to-group-name').val()
                                }, function (response) {
                                    if (response.Status == "Success") {
                                        $('#user-grid').refresh();
                                        dialogElement.dialog('destroy');
                                    } else {
                                        yesNoCustomAlert(response.Message + "<br/> Would you like to mark the user as in-active and add him/her?", response.Status, function (dialog) {
                                            $.getJSON('/User/ChangeUserActiveStatus/' + response.Data, { 'timestamp': new Date().getTime() }, function (msg) {
                                                if (msg.Status == "Failure") {
                                                    customAlert(msg.Message, msg.Status);
                                                } else {
                                                    $.getJSON(href, { email: $('#add-existing-user-to-group-name').val() }, function(response) {
                                                        if (response.Status == "Success") {
                                                            $('#user-grid').refresh();
                                                            dialogElement.dialog('destroy');
                                                        }
                                                    });
                                                }
                                            });
                                        }, dialogElement);
                                    }
                                });
                        },
                        "Cancel": function () {
                            $(this).dialog('destroy');
                        }
                    },
                    close: function () {
                        $(this).dialog('destroy');
                    },
                    title: 'Add Existing User (by email)'
                });
                return false;
            });
            $('.remove-from-group').live('click', function () {
                $.getJSON($(this).attr('href'), {
                    id: $(this).data('id')
                }, function (result) {
                    $('#user-grid').refresh();
                });
                return false;
            });
        });
    </script>
}
<p class="alert">@TempData["Message"]</p>

@Html.HiddenFor(m => m.Id, new { id = "group-id" })

<div id="group-form" class="wrapper">
    <div class="breadcrumb">
        <a href="@Url.Action("Index", "Admin")">Administration</a> &raquo; <a href="@Url.Action("Index", "Admin", new { lt=0 })">Groups</a>
    </div>
    
    @Html.ValidationSummary(true, "Please correct the errors and try again.")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        
        <div class="edit-group">
            <div class="fieldset">
                <fieldset>
                    <legend><span>Edit Group</span></legend>
                    <div class="field-wrap">
                        <div class="field">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.MaxUsers)
                            @Html.TextBoxFor(m => m.MaxUsers)
                            @Html.ValidationMessageFor(m => m.MaxUsers)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.DefaultProductType)
                            @Html.DropDownListFor(m => m.DefaultProductType, AtlasDiligence.Web.General.SelectExtensions.ToSelectList(typeof(GPScout.Domain.Contracts.Enums.ProductTypes)))
                        </div>
                    </div>
                    <div class="field-wrap">
                        <div class="field">
                            @Html.LabelFor(m => m.OrganizationProfilePdfAllowed)
                            @Html.CheckBoxFor(m => m.OrganizationProfilePdfAllowed)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.OrganizationProfilePdfQuota)
                            @Html.TextBoxFor(m => m.OrganizationProfilePdfQuota) firms per
                            @Html.ValidationMessageFor(m => m.OrganizationProfilePdfQuota)
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.OrganizationProfilePdfQuotaDays)
                            @Html.DropDownListFor(m => m.OrganizationProfilePdfQuotaDays, new SelectList(new int[] { 7, 30 })) days
                        </div>
                    </div>
                        <div class="field-wrap">
                            <div class="field">
                                @Html.LabelFor(m => m.WatermarkEnabled)
                                @Html.CheckBoxFor(m => m.WatermarkEnabled)
                            </div>
                            <div class="field">
                                @Html.LabelFor(m => m.OrganizationProfilePdfQuotaActionID)
                                @Html.DropDownListFor(m => m.OrganizationProfilePdfQuotaActionID, AtlasDiligence.Web.General.SelectExtensions.ToSelectList(typeof(AtlasDiligence.Common.Data.Models.Group.ProfilePdfQuotaActionEnum)))
                            </div>
                        </div>
                </fieldset>
            </div>
            <div class="buttons">
                <input type="button" class="cancel button" value="Cancel" onclick="history.back();" />
                <input id="submit" class="submit" type="submit" value="Submit" />
            </div>
        </div>
    }
    <div id="group-users-yuigrid" class="group">
        
        <h3 class="subsection-title">Users</h3>
        <div class="toolbar">
            <a href="@Url.Action("Create", "User", new { groupId = Model.Id })"><i class="icon add-icon"></i>Create New User</a>
            <a href="@Url.Action("AddExistingUser", "Group", new { groupId = Model.Id })" id="add-existing"><i class="icon add-icon"></i>Add Existing User</a>
        </div>
        @Html.Raw(@Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.UserDataGrid>().Url(Url.Action("UserGrid", "User"))
                    .GridId("user-grid")
                    .Search("user-search-form", "user-grid-search-button")
                    .RequestParams(new Dictionary<string, object> { { "groupId", Model.Id } })
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.ActiveText).Hidden(true);
                        columns.Template(x => x.Id, "<a href=\"" + Url.Action("Edit", "User") + "/{Id}?returnRoute=/Group/Edit/" + Model.Id + "\" class=\"grid-row-action edit\">Edit</a>")
                            .Width(50).Sortable(false).Label("Edit");
                        columns.Bound(x => x.LastName).Label("Last Name");
                        columns.Bound(x => x.FirstName).Label("First Name");
                        columns.Bound(x => x.Email);
                        columns.Bound(x => x.IsGroupLeader).Label("Group Leader?");
                        columns.Bound(x => x.IsLockedOut).Label("Locked?");
                        if (User.IsInRole(RoleNames.Admin))
                        {
                            columns.Template(x => x.Id, "<a href=\"" + Url.Action("ChangeUserActiveStatus", "User") + "\" onclick=\"$(this).changeActiveStatus('{Id}'); return false;\" class=\"grid-row-action {ActiveText}\">{ActiveText}</a>").Width(80).Sortable(false).Label("Active?");
                        }
                        else
                        {
                            columns.Template(x => x.Id, "<span class=\"grid-row-action {ActiveText}\">{ActiveText}</span>").Width(80).Sortable(false).Label("Active?");
                        }
                        columns.Bound(x => x.ResetPassword).Label("Reset Password").Sortable(false);
                        if (User.IsInRole(RoleNames.Admin))
                        {
                            columns.Template(x => x.Id, "<a href=\"" + Url.Action("RemoveUser", "Group") + "\" data-id=\"{Id}\" class=\"remove-from-group\">Remove</a>").Width(120).Sortable(false).Label("Remove from Group");
                        }
                    }).ToString()
           )
    </div>
    <div id="purchased-organizations">
        <h3 class="subsection-title">Purchased Organizations</h3>
        <div class="toolbar">
            <a href="@Url.Action("AddGroupOrganization")" rel="@Model.Id" class="add-org-to-group"><i class="icon add-icon"></i>Add Organization</a>
        </div>
        <ul>
            @foreach (var organization in Model.Organizations)
            {
                <li><a href="@Url.Action("RemoveGroupOrganization")" class="remove-group-organization remove-icon" data-id="@organization.Key">Delete</a><span class="org-name">@organization.Value</span></li>
            }
            <li style="display: none;" class="template-remove"><a href="@Url.Action("RemoveGroupOrganization")" class="remove-group-organization remove-icon" data-id="">Delete</a><span class="org-name"></span></li>
        </ul>
    </div>
    <div id="group-segments">
        <h3 class="subsection-title">Segments</h3>
        <div class="toolbar">
            <a href="@Url.Action("AddGroupSegment")" rel="@Model.Id" class="add-segment-to-group"><i class="icon add-icon"></i>Add Segment</a>
        </div>
        <div class="group"></div>
        <ul>
            @foreach (var segment in Model.Segments)
            {
                <li><a href="@Url.Action("RemoveGroupSegment")" class="icon remove-group-segment remove-icon" data-id="@segment.Key">Delete</a><span class="org-name">@segment.Value</span></li>
            }
            <li style="display: none;" class="template-remove"><a href="@Url.Action("RemoveGroupSegment")" class="remove-group-segment remove-icon" data-id="">Delete</a><span class="segment-name"></span></li>
        </ul>
    </div>
    <div>
        <div id="add-org-to-group-dialog" style="display: none;">
            <p class="error-active"></p>
            <input type="text" class="text" id="add-org-to-group-name" />
        </div>
        <div id="add-segment-to-group-dialog" style="display: none;">
            <p class="error-active"></p>
            <input type="text" class="text" id="add-segment-to-group-name" />
        </div>
        <div id="add-existing-user-to-group-dialog" style="display: none;">
            <p class="error-active"></p>
            <input type="text" class="text" id="add-existing-user-to-group-name" />
        </div>
    </div>
</div>
<div id="reset-password-dialog" style="display: none">
    <p>Please enter a password (Must be at least six characters long and contain one (1) each of the following: letters, numbers, symbols).</p>
    <p class="error"></p>
    <input type="text" class="text" id="password" value="" />
</div>