﻿@model AtlasDiligence.Web.Models.ViewModels.EulaViewModel
@{
    ViewBag.Title = "Update Terms and Conditions";
}
<h2>Update Terms and Conditions</h2>
<div class="wrapper">
    @using (Html.BeginForm())
    {
        <div class="field">
            @Html.ValidationMessageFor(m => m.Text)
            @Html.LabelFor(m => m.Text)
            @Html.TextAreaFor(m => m.Text)
        </div>
        <div class="buttons">
            <input type="submit" value="Submit" />
        </div>
    }
    <div class="clear">
    </div>
</div>
