﻿@using AtlasDiligence.Web.Models
@using AtlasDiligence.Web.Resources
@using AtlanticBT.Common.Types
@{
    UserEntity user = null;
    if (User.Identity.IsAuthenticated) {
        user = EntityCache.Get<UserEntity>(Params.UserEntityCache);
    }
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=1400px" />
        <title>GPScout @(!String.IsNullOrWhiteSpace(ViewBag.Title) ? " - " + ViewBag.Title : string.Empty)</title>
        <link href="@Url.Content("~/css/screen.css")" rel="stylesheet" type="text/css" media="screen" />
        @if (ViewBag.IsAdminPage != null && (bool)ViewBag.IsAdminPage)
        {
            <link href="@Url.Content("~/css/admin-screen.css")" rel="stylesheet" type="text/css" media="screen"/>
        }
        @*<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>*@
        <link href="@Url.Content("~/css/print.css")" rel="stylesheet" type="text/css" media="print" />
        <link href="@Url.Content("~/css/yuiSkin.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/custom-theme/jquery-ui-1.8.16.custom.css")" rel="Stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/chosen.css")" rel="Stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/jquery.qtip.min.css")" rel="Stylesheet" type="text/css" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="@Url.Content("~/js/modernizr-1.7.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.tablesorter.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/yui.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/yui.tweaks.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.yuidatatable.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.placeholder.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.ui.timepicker.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/date.js")" type="text/javascript"></script>
        @*<script src="@Url.Content("~/js/jquery.tools.min.js")" type="text/javascript"></script>*@
        <script src="@Url.Content("~/js/jquery.hoverIntent.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.qtip.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/jquery.multiselect.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/js/chosen.jquery.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            var urlRoot = "/";
            google.load('visualization', '1', { packages: ['corechart'] });
        </script>
		
		
		
		
        @RenderSection("head", false)
        @ViewBag.Head
        <!-- BEGIN Tynt Script -->
        <script type="text/javascript">
            if (document.location.protocol == 'http:') {
                var Tynt = Tynt || []; Tynt.push('ccxU94yrCr4O85acwqm_6r');
                (function () { var s = document.createElement('script'); s.async = "async"; s.type = "text/javascript"; s.src = 'http://tcr.tynt.com/ti.js'; var h = document.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s, h); })();
            }
            $(function () {
                $('body').on('click', '#userNotifications [data-action]', userNotifications.action);
            });
        </script>
        <!-- END Tynt Script -->
		
		
		<script src="//use.typekit.net/eok2iwu.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		
    </head>
    <body id="@ViewBag.BodyId" class="splash admin @ViewBag.BodyClass">
        <div id="masthead" class="header">
		<div class="headerWrapper">
            <div class="utility-bar">
                
                    <h1><a href="@Url.Action("Start", "Search")" title="Home">GP Scouts&trade;</a></h1>
                    <div class="login-status">
                        @if (user!=null)
                        {
                            <a id="userNotifSwitch" href="javascript:void(0)">
                                <img src="../../images/i_email.png" title="You have new notifications">
                            </a>
                            @:<strong>Welcome</strong>, @User.Identity.Name
                        }
                    </div>
               
            </div>
            
        </div>
		<div class="menu-bar">
			<div class="navWrapper">
                
                    @Html.Partial("_LogOnNav")
               
            </div></div>
		</div>
        @if (user != null) 
        {
                <div id="userNotifications" data-show="@(user.Notifications.Hidden ? "" : "1")">
                <div class="n-list" data-list="1">
                @{
                    foreach (var item in user.Notifications.OrderByDescending(n=>n.Value.TimeStamp))
                    {
                        Html.RenderPartial("UserNotification", item.Value);
                    }
                }
                </div>
                    <div class="n-close">
                        <div>
                            <a id="userNotifSwitch2" href="javascript:void(0)">
                                    <img src="../../images/g_close-arrow.png">
                                </a>
                        </div>
                    </div>
                
                </div>
            <div style="clear: both"></div>
        }
        <div id="main-area" class="main-area">
            <div class="wrap">
                @RenderBody()
            </div>
        </div>
		
		
        <!-- FOOTER Start -->
		
		<div id="footer">			
				<div class="office chicago">
					<h3>Headquarters</h3>
					<p>
						100 N. Riverside Plaza<br />
						Suite 2400<br />
						Chicago, IL 60606<br />
						<a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=100+N.+Riverside+Plaza+60606&amp;sll=37.0625,-95.677068&amp;sspn=39.86519,94.394531&amp;ie=UTF8&amp;hq=&amp;hnear=100+N+Riverside+Plaza,+Chicago,+Cook,+Illinois+60606&amp;view=map" target="_blank">Map</a>
					</p>
					
					<ul class="contact">
						<li class="phone"><span>312</span><span> 266 7300</span></li>
						<li class="fax"><span>312</span><span> 266 7433</span></li>
						<li class="email"><a href="mailto:rcp@rcpadvisors.com">rcp@rcpadvisors.com</a></li>
					</ul>
					
				</div>
				
				<div class="office california">
					<h3>California Office</h3>
					<p>
						1111 Bayside Drive<br>
						Suite 270<br>
						Newport Beach, CA 92625
						<br />
						<a href="http://maps.google.com/maps?q=1111+Bayside+Drive+Suite+720+Newport+Beach,+CA+92625&hnear=1111+Bayside+Dr+%23720,+Central+Coast,+Orange,+California+92625&t=m&z=16" target="_blank">Map</a>
					</p>
					
					<ul class="contact">
						<li class="phone"><span>949</span><span> 335 5000</span></li>
						<li class="fax"><span>949</span><span> 266 9156</span></li>
						<li class="email"><a href="mailto:rcp@rcpadvisors.com">rcp@rcpadvisors.com</a></li>
					</ul>
					
				</div>
				
				<div class="office">
					<h3>KEEP IN TOUCH</h3>
				
					<ul class="contact">
					   <li> <a href="http://www.facebook.com/pages/RCP-Advisors/122887327785448" target="_blank" class="facebook">Join us on Facebook</a> </li>
					   <li> <a href="http://www.linkedin.com/company/rcp-advisors" target="_blank" class="linkedin">Join us on LinkedIn</a> </li>
					   <li> <a href="http://translate.google.com/translate?hl=en&amp;sl=auto&amp;tl=es&amp;u=" class="google">En Espanol</a> </li>
					</ul>
					
				</div>
				
				
				<br class="clear" />
				
				<div class="bottom">
					<p class="disclaimer">Information on this site is for informational purposes only and is not to be construed as an offer to sell or the solicitation of an offer to buy any security.</p>
						
					<p class="right"><a href="http://www.rcpadvisors.com/privacy-policy--legal/">Privacy Policy / Legal Disclosure</a> <br/><span>&copy; Copyright RCP Advisors 2015</span></p>
					

				</div>
			</div><!-- #footer -->

		
		
        <div id="loading-bar">
            <p><a class="close-load" href="#"></a>
                <img src="/images/ajax-loader.gif" alt="Loading..." />
                <span>Loading...</span> </p>
        </div>
        <script src="@Url.Content("~/js/google-analytics.js")" type="text/javascript"></script>
    </body>
</html>
