﻿@model AtlasDiligence.Web.Models.ViewModels.FolderViewModel
<li>
        <h3 class="folder-toggle"><a href="javascript:void(0)" class="folder-closed" rel="@Model.Id" title="@Model.Name">@Model.Name</a></h3>
    <div class="organization-list" style="display:none;">
        @if (Model.Organizations.Any())
        {
            <ul>
            @foreach (var organization in Model.Organizations.OrderBy(m => m.Name))
            {
                <li>
                    @if (organization.PublishOverviewAndTeam)
                    {
                        <a href="@Url.Action("Index", "Organization", new {id = organization.Id}).ToLower()">@organization.Name</a>
                    } else
                    {
                        @organization.Name
                    }
                </li>
            }
            </ul>
        }
    </div>
</li>
