﻿@using AtlasDiligence.Common.Data.General
@model AtlasDiligence.Common.Data.Models.Organization
<section class="info-window-content">
	<header class="section-header">
		<h3>
			@if (Model.PublishOverviewAndTeam)
   {
				<a href="@Url.Action("Index", "Organization", new { id = Model.Id })" target="_blank">@Model.Name</a>
   }
   else
   {
				<span class="name">@Model.Name</span>
   }
			@if (!String.IsNullOrWhiteSpace(Model.KeyTakeAway))
   {
				<div id="info-window-tooltip" class="key-takeaway simple-tooltip" title="@Model.KeyTakeAway">@Model.KeyTakeAway</div>
   }
			@if (!String.IsNullOrWhiteSpace(Model.FocusRadar))
   {
				<div class="@(Model.FocusRadar.ToLower().Replace(' ', '-')) icon" title="@Model.FocusRadar">
					@Model.FocusRadar
				</div>
   }
   else
   {
				<div class="empty">
					&nbsp;
				</div>
   }
			@if (Model.EmergingManager)
   {
				<div class="emerging-manager-true icon" title="Emerging Manager">
					true
				</div>
   }
   else
   {
				<div class="empty">
					&nbsp;
				</div>
   }
			@if (Model.AccessConstrained)
   {
				<div class="access-constrained-true icon" title="Access Constrained">
					true
				</div>
   }
   else
   {
				<div class="empty" style="width: 16px;">
					&nbsp;
				</div>
   }
		</h3>
	</header>
	<div class="section-content">
		@if (!String.IsNullOrWhiteSpace(Model.WebsiteUrl))
  {
			<div><strong>Website:</strong> <a href="@Model.WebsiteUrl">@Model.WebsiteUrl</a></div>
  }
		@if (Model.InvestmentRegions.Any())
  {
			<div><strong>Investment Region:</strong> @string.Join(", ", Model.InvestmentRegions)</div>
  }
		@if (Model.Strategy.Any())
  {
            
			<div><strong>Strategy:</strong> @String.Join(", ", Model.Strategy)</div>
  }
		@if (!String.IsNullOrWhiteSpace(Model.MarketStage))
  {
			<div><strong>Market/Stage:</strong> @Model.MarketStage</div>
  }
		@if (!String.IsNullOrWhiteSpace(Model.FundRaisingStatus))
  {
			<div><strong>Fundraising Status:</strong> @Model.FundRaisingStatus</div>
  }
		@if (Model.QualitativeGradeNumber.HasValue)
  {
			<div>
				<strong>Qualitative Score:</strong>
				<div class="rating">
					<div style="width: @Convert.ToInt32(Math.Round(Model.QualitativeGradeStars.Value * 20, 0))%;">
						1 star
					</div>
				</div>
			</div>
  }
		@if (Model.QuantitativeGradeNumber.HasValue)
  {
	  var quantGradeNum = Model.QuantitativeGradeNumber.Value;
	  if (quantGradeNum == (int)Grades.Exceptional)
	  {
			<div>
				<strong>QoR Performance:</strong>  Ungraded
			</div>
	  }
	  else
	  {
			<div>
				<strong>QoR Performance:</strong>
				<div class="rating">
					<div style="width: @Convert.ToInt32(Math.Round(Model.QuantitativeGradeStars.Value * 20, 0))%;">
						1 star
					</div>
				</div>
			</div>
	  }
  }
	</div>
</section>
