﻿@model IUserNotification
@using AtlasDiligence.Common.DTO.Model.UserNotifications

@if (Model!=null) {
    string elemId = Guid.NewGuid().ToString();
    if (Model.HideTimeoutMS > 0 && DateTime.Now.Subtract(Model.TimeStamp).TotalMilliseconds >= Model.HideTimeoutMS)
    {
        Model.Hidden = true;
    }
<div id="@elemId" class="userNotification" data-id="@Model.Id" @(Model.Hidden ? "" : "data-show=\"1\"")>
@{
    if (Model is OrganizationFullReportNotification)
    {
        Html.RenderPartial("UserNotification_OrgFullReport", Model as OrganizationFullReportNotification);
    }        
    <div class="c"></div>
    <script type="text/javascript">
        userNotifications.register(new UserNotificationInfo('@Model.Id', '@Model.Hidden' == 'True', '@Model.HideTimeoutMS', '@Model.CheckStatusIntervalMS', '@Model.IsValid' == 'True', '@elemId'));
    </script>
}
</div>
}



