﻿@model OrganizationFullReportNotification
@using AtlasDiligence.Common.DTO.Model.UserNotifications
@using AtlasDiligence.Common.Data.General

@helper TimeStamp() {
    <strong>@Model.TimeStamp.ToShortDateString():</strong>
}

@if (Model.Data.Status == DownloadableItemLifeCycle.GenerationCompleted)
{
    <div class="l">
        @TimeStamp() Full Organization Report <strong>@(Model.Data.Title)</strong> has been generated.
        Please click <a href="@Url.Action("DownloadFullReport", "Organization", new { id = Model.Id })" data-action="download">here to download.</a>
         Note that the PDF is password protected and the password is <strong>@(Model.Data.Password)</strong> (case sensitive).
    </div>
    <div class="r">
        <a href="@Url.Action("DeleteFullReport", "Organization", new { id = Model.Id })" data-action="delete">Cancel</a>
    </div>
} else if (Model.Data.Status == DownloadableItemLifeCycle.Started) {
    <div>
        @TimeStamp() Full Organization Report for <strong>@(Model.Data.Title)</strong> is being generated. This process may take several minutes.
        You will be notified when it is ready for download. 
    </div>
} else if (Model.Data.Status == DownloadableItemLifeCycle.Error) {
    <div class="error-bar">
        @TimeStamp() Generating Full Organization Report for <strong>@(Model.Data.Title)</strong> failed. Please try again later.
        <div class="r">
            <a href="@Url.Action("Delete", "UserNotification", new { id = Model.Id })" data-action="dismiss">Dismiss</a>
        </div>
    </div>
}

