﻿@model AtlasDiligence.Web.Models.ViewModels.OrgGroupAccessVM
@using AtlanticBT.Common.Web.Mvc.Helpers
@{
    ViewBag.Title = "Edit Organization Group Access: " + Model.OrganizationName;
    ViewBag.IsAdminPage = true;
    ViewBag.BodyClass = "section-administration";
}

<div class="wrapper">
    <div class="breadcrumb">
        <a href="@Url.Action("Index", "Admin")">Administration</a> &raquo; <a href="@Url.Action("Index", "Admin", new { lt = 8 })">Group Access</a>
    </div>
    <div class="create-segment">
        @using (Html.BeginForm("Update", "GroupAccess"))
        {
            <div class="fieldset">
                <fieldset>
                    <legend><span>Edit Organization Group Access</span></legend>
                    <div class="field-wrap">
                        @Html.HiddenFor(m => m.Term)
                        @Html.HiddenFor(m => m.OrganizationID)
                        <div class="field">
                            <label>Groups having access to organization <b>@(Model.OrganizationName)</b>:</label>
                            @Html.ListBoxFor(m => m.IncludedGroups, Model.AllGroups.ToDictionary(x => (object)(x.Id.ToString()), x => x.Name), new { @class = "multiselect" })
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="buttons">
                <input type="submit" class="submit" value="Save" />
                <input type="button" class="cancel button" value="Cancel" onclick="return common.submitTo(this, '@Url.Action("Index", "Admin" /*, new { lt=8 }*/)')">
            </div>
        }
    </div>
</div>
