﻿@model string
@using AtlasDiligence.Web.Helpers.Yui;
@{
    ViewBag.Title = "Group Access";
    ViewBag.IsAdminPage = true;
    ViewBag.BodyClass = "section-administration";
    Layout = null;
}
<div class="clear"></div>
<div class="toggle-container">
    <div class="table-search">
        @using (Html.BeginForm("Index", "GroupAccess", null, FormMethod.Post, new { id = "frm_group_org_access" }))
        {
            <div class="fieldset">
                <fieldset>
                    <legend><span>Edit Organization Group Access</span></legend>
                    <div class="field-wrap">
                        <div class="field">
                            <label for="group-access-org-search">Search</label>
                            @Html.TextBox("term", Model, new { id = "group-access-org-search", placeholder = "Organization", data_autocomplete = "org-group-access" })

                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="buttons">
                <input type="button" value="Search" id="frm_group_org_access_search_button" />
                <input type="button" value="Clear" onclick="$('#frm_group_org_access')[0].reset(); $('#frm_group_org_access_search_button').click();"/>
            </div>
        }
    </div>
</div>
<div class="clear"></div>
<div>
    @Html.Raw(
        @Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.OrgGroupAccessDataGrid>().Url(Url.Action("OrganizationGrid", "GroupAccess", new { term = Model }))
            .GridId("orgs-results-grid")
            .Search("frm_group_org_access", "frm_group_org_access_search_button")
            .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
            .RowsPerPageOptions(true, new[] { 25, 50, 100 })
            .PostRenderEvent("function() { var pageReport = $('#yui-pg0-0-page-report').html(); $('.search-num').html('Results: ' + pageReport);}")
            .Columns(columns =>
            {
                columns.Bound(x => x.EditLink).Width(50).Sortable(false).Label("Edit");
                columns.Bound(x => x.Name).Label("Name");
            }).ToString())
</div>
<script>
    $(function () {
        $('#orgs-results-grid').closest('.rx-grid').css('float', 'none');
        //$('#group-access-org-search').setAutoComplete('/GroupAccess/OrganizationsAutoComplete');
        $('#group-access-org-search').bind('keydown', function (e) {
            if (e.which === 13) {
                $('#frm_group_org_access_search_button').click();
                return false;
            }
        });
    });
</script>
