﻿@using AtlanticBT.Common.Web.Mvc
@using AtlanticBT.Common.Web.Mvc.Helpers
@using AtlasDiligence.Common.Data.General
@model AtlasDiligence.Web.Models.ViewModels.Rss.RssScheduleEmailViewModel
@{
	ViewBag.Title = "Schedule";
	Layout = null;
}
<div class="schedule-tab">
	<script type="text/javascript">
		$(function () {
			$(".time-picker-hour").timepicker({
				showPeriod: true,
				showMinutes: false,
				showLeadingZero: false
			});
			$("#NextEmailDate").datepicker({ minDate: new Date() });
			$("#rss-email-list").autoColumn(3, 10, "#rss-email-container");
		});
	</script>
	<p>@ViewData["Message"]</p>
	@if (Model != null)
 {
	 using (Html.BeginForm("Schedule", "NewsTracker", FormMethod.Post, new { id = "schedule-form" }))
	 {
		<div class="schedule-form">
			Please
            @Html.DropDownListFor(m => m.IsSubscribed, new List<SelectListItem>
                                                     {
                                                         new SelectListItem { Text = @"do", Value = true.ToString() }, 
                                                         new SelectListItem { Text = @"do not", Value = false.ToString() }
                                                     }, new { @class = "dropdown", id = "subscribe-list" })
			send me an email of my news item search<span class="subscribe-no" @(Model.IsSubscribed ? "style=display:none;" : String.Empty)>.</span>
			<span class="subscribe-yes" @(Model.IsSubscribed ? String.Empty : "style=display:none;")>every
                @Html.EnumDropDownListFor(m => m.Frequency, new { @class = "select" })
				at @Html.TextBoxFor(m => m.TimeOfDay, new { @class = "time-picker-hour" }) (EST)
                starting on
                @Html.EditorFor(m => m.NextEmailDate)
			</span>
		</div>
		<div class="buttons">
			<input type="submit" class="submit" id="schedule-email-submit" value="Save Schedule" />
		</div>
	 }
		<div class="info">
			<p>
				In the text area below, enter additional email addresses you would like to receive the News Tracker Feed.
				<br />
				<small style="color: #999;">You can enter email addresses one-by-one or put commas between them.</small>
			</p>
		</div>
		<div class="append-rss-email">
			<textarea class="text-area" id="rss-emails" rel="@Url.Action("AddRssEmails")" rows="4"></textarea>
			<input type="button" class="button" value="Add" />
		</div>
		<div class="toggle-email-container">
			<h3>
				<a href="javascript:void(0);">Hide Additional Emails</a></h3>
		</div>
		<div id="rss-email-container">
			<ul id="rss-email-list">
				@foreach (var email in Model.ExtraEmails)
	{

					<li><span>@email</span><a href="@Url.Action("RemoveRssEmail")" class="remove-rss-email"></a>
						<input type="hidden" name="rssEmail" value="@email"/>
					</li>
	}
			</ul>
		</div>
 }
	<div class="clear">
	</div>
</div>
