﻿@using AtlasDiligence.Web.General
@model AtlasDiligence.Web.Models.ViewModels.CompareTables.BenchmarkViewModel
@{
	ViewBag.Title = "Benchmarks";
	Layout = null;

	// vintage years
	var ddlAvailableVintageYears = Model.AvailableVintageYears.Distinct().OrderBy(o => o).ToList();
	var ddlAllVintageYears = Model.AllVintageYears != null ? Model.AllVintageYears.Distinct().OrderBy(o => o).ToList() : new List<int>();
}
<style>
    [id^="google-visualization-errors"] {
        display:none !important;
    }
</style>
<div class="compare-scatter-charts">
	<div class="select-wrapper">
		<div class="field inline-label">
			<p class="tleft">The chart below plots lower quartile, median, and upper quartile benchmarks for a given vintage year along with all constituent funds for that vintage year and any applicable funds from that vintage year from the firms chosen above. In order to populate the chart, select a vintage year from the dropdown below. Note that "Available" vintage years are those vintage years that apply to one or more of the firms chosen above, while "All" vintage years allow you to display the benchmarks and constituent fund for any vintage year, regardless of whether any of the chosen firms match that vintage year. Clicking the checkbox below will also display benchmarks and constituent funds for one vintage year prior and one vintage year after the chosen vintage year.</p>
		</div>
		<div class="field inline-label">
			<!--<p class="tleft">Select a vintage year:</p>-->
			<select id="ddlVintageYear">
				<option value="-1">Select a Vintage Year</option>
				<optgroup label="Available">
					@foreach (var year in ddlAvailableVintageYears)
					{
						<option value="@year">@year</option>
					}
				</optgroup>
				<optgroup label="All">
					@if (ddlAllVintageYears.Any()) {
                        for (int i = ddlAllVintageYears.Min(); i <= ddlAllVintageYears.Max(); i++)
					    {
						    if (i == Model.SelectedVintageYear && Model.SelectedVintageYear > 0)
						    {
							    <option value="@i" selected="">@i</option>
						    }
						    else
						    {
							    <option value="@i">@i</option>
						    }
					    }
                    }
				</optgroup>
			</select>

			<div class="benchmark-checkbox">
				<input id="checkBoxVintageYears" type="checkbox" />
				<label for="checkBoxVintageYears">Click to display +/- one year</label>
			</div>
		</div>
	</div>
	<div id="dashboard" class="compare-charts">
		<div id="tvpi_filter"></div>
		<div id="scatter_chart" class="chart_div"></div>
		<p>Clicking on squares in legend will show/hide firms on the graph.</p>
	</div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // benchmark legend
	var benchmarkLegend = @Html.ToJsonString(Model.SelectedChartData.Select(s => s.OrganizationName).Distinct());

	// add Benchmarks to legend
	benchmarkLegend.unshift("Benchmarks");

	// add Other to legend
	benchmarkLegend.unshift("Constituent Funds");

	// selected orgs chart data
	var selectedOrgsJsonData = [];

	// constituent fund chart data
	var constituentFundsJsonData = [];

	// benchmark data
	var benchmarkJsonData = [];

	// benchmark table
	var benchmarkScatterTable = CreateBenchmarkTable();

	// benchmark columns
	var benchmarkScatterColumns = [0];

	// create a dashboard.
	var benchmarkDashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));

    
	// min and max values
	var minNetIrr = 0.0;
	var maxNetIrr = 0.0;
	var maxTvpi = 10.0;

	// create a range sliders
	var tvpiRangeSlider;
	function createTvpiRangeSlider() {
	    tvpiRangeSlider = new google.visualization.ControlWrapper({
	        'controlType': 'NumberRangeFilter',
	        'containerId': 'tvpi_filter',
	        'options': {
	            'filterColumnLabel': 'TVPI',
	            //'maxValue': maxTvpi,
	            'ui': {
	                'label': 'TVPI Filter:',
	                'unitIncrement' : 0.1
	            }
	        }
	    });
	}

	// create options
	var options = {
		hAxis: {
			title: 'TVPI',
			format: '0.0x',
			//minValue: 0,
			//maxValue: maxTvpi,
			titleTextStyle: {
				fontName: 'Calibri',
				italic: false
			}
		},
		vAxis: {
			title: 'Net IRR (%)',
			format: '0.0',
			minValue: minNetIrr,
			maxValue: maxNetIrr,
			titleTextStyle: {
				fontName: 'Calibri',
				italic: false
			}
		},
		title: 'Vintage Year Benchmarking',
		tooltip: { isHtml: true },
		legend: {
			alignment: 'center'
		},
		series: {
			0: { color: '#DBDBDB' },
			1: { color: '#DA2400' },
			2: { color: '#134B78' },
			3: { color: '#F28F33' },
			4: { color: '#F2E233' },
			5: { color: '#94C800' },
			6: { color: '#081F32' }
		}
	};

	// create scatter chart
	var scatterChart;

	function createScatterChart() {
	    scatterChart = new google.visualization.ChartWrapper({
	        'chartType': 'ScatterChart',
	        'containerId': 'scatter_chart',
	        'options': options
	    });

	    google.visualization.events.addListener(scatterChart, 'error', function (e) {
	        debugger;
	    });
	};

	function InitBenchmarks() {
	    CheckVintageYear();

	}

	function CheckVintageYear() {
		var vintageYear = $('#ddlVintageYear').val();
		if (vintageYear && vintageYear > 0) {
		    $('#loading-bar').show();
		    FillBenchmarkChartColumns();
			GetBenchmarkData(vintageYear);
		} else {
			$('#loading-bar').hide();
		}
	}

	function DrawDashboard() {
		benchmarkDashboard.bind(tvpiRangeSlider, scatterChart);
		benchmarkDashboard.draw(benchmarkScatterTable);

		google.visualization.events.addListener(scatterChart, 'ready', function () {
		    
		    google.visualization.events.addListener(scatterChart.getChart(), 'select', function () {
		        google.visualization.events.addListener(scatterChart.getChart(), 'error', function (e) {
		            debugger;
		        });
			    DrawChart();
			});
		});

	    DrawChart();
	}

	function DrawChart() {
	    window.setTimeout(function() {
	        try {
	            var selection = scatterChart.getChart().getSelection();
	            if (selection.length > 0) {
	                if (selection[0].row == null) {
	                    var i = selection[0].column;
	                    if (benchmarkScatterColumns[i] == i) {
	                        benchmarkScatterColumns[i] = {
	                            label: benchmarkScatterTable.getColumnLabel(i),
	                            type: benchmarkScatterTable.getColumnType(i),
	                            calc: function() {
	                                return null;
	                            }
	                        };
	                    } else {
	                        benchmarkScatterColumns[i] = i;
	                    }
	                
	                    var newView = new google.visualization.DataView(benchmarkScatterTable);
	                    newView.setColumns(benchmarkScatterColumns);
                    
	                    scatterChart.getChart().draw(newView, options);
	                }
	            }
	        
	        } catch(e) {
	            debugger;
	        }
	    }, 200);
	}

	function CreateBenchmarkTable() {
		// create table
		var dTable = new google.visualization.DataTable();

		// set x-values
		dTable.addColumn('number', 'TVPI');

		// create series for each org
		$.each(benchmarkLegend, function(key, value) {
			dTable.addColumn('number', value);
			dTable.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
		});

		return dTable;
	}

	function FillBenchmarkChartColumns() {
	    benchmarkScatterColumns = [0];
		$.each(benchmarkLegend, function(key, value) {
			benchmarkScatterColumns.push(benchmarkScatterColumns.length);
			benchmarkScatterColumns.push(benchmarkScatterColumns.length); // tooltip
		});
		
	}

	function _value(x, pre, suffix) {
	    if (x!==undefined) {
	        if (pre) x=pre+x;
	        if (suffix) x+=suffix;
	        return x;
	    }
	    return '';
	}

	function FillBenchmarkChartsData(vintageYearLow, vintageYearHigh) {
		// reset benchmark table
		ResetBenchmarkTable();


		var tvpiRange = tvpiRangeSlider.getState();
		var tvpiRangeLow = (tvpiRange && tvpiRange.lowValue) ? tvpiRange.lowValue : 0;
		var tvpiRangeHigh = (tvpiRange && tvpiRange.highValue) ? tvpiRange.highValue : maxTvpi;



		// add selected orgs data
		$.each(selectedOrgsJsonData, function (key, value) {
			// data arrays
			var tvpiNetIrr = [Number(value.TVPI)];

			// tooltip
			var tooltipContent = "<div class='scatter-tooltip'>";
			tooltipContent += "<ul><li><b>" + _value(value.FundName) + "</b></li></ul>";
			tooltipContent += "<ul>";
			tooltipContent += "<li><b>As Of:</b> " + _value(value.AsOfDate) + "</li>";
			tooltipContent += "<li><b>Vintage Year:</b> " + _value(value.VintageYear) + "</li>";
			tooltipContent += "<li><b>Fund Size:</b>" + _value(value.FundSize,' $') + "</li>";
			tooltipContent += "<li><b>TVPI:</b> " + _value(value.TVPI,'','x') + "</li>";
			tooltipContent += "<li><b>Net IRR:</b> " + _value(value.NetIRR,'','%') + "</li>";
			tooltipContent += "<li><b>DPI:</b> " + _value(value.DPI) + "</li>";
			tooltipContent += "<li><b>MOIC:</b> " + _value(value.MOIC) + "</li>";
			tooltipContent += "<li><b>Gross IRR:</b> " + _value(value.GrossIRR) + "</li>";
			tooltipContent += "<li><b>Source:</b> " + _value(value.Source) + "</li>";
			tooltipContent += "</ul>";
			tooltipContent += "</div>";

			// populate arrays
			$.each(benchmarkLegend, function(k, v) {
				tvpiNetIrr.push((value.OrganizationName == v && (value.VintageYear >= vintageYearLow && value.VintageYear <= vintageYearHigh))
					? Number(value.NetIRR) : null);

				// tooltip
				tvpiNetIrr.push(tooltipContent);
			});
			
			// add array data to chart
			if (value.TVPI && value.NetIRR) {
				if (value.TVPI >= tvpiRangeLow && value.TVPI <= tvpiRangeHigh) {
					benchmarkScatterTable.addRow(tvpiNetIrr);
				}
			}
		});

		// add other data
		$.each(constituentFundsJsonData, function(key, value) {
			// data arrays
			var tvpiNetIrr = [Number(value.TVPI)];

			// tooltip
			var tooltipContent = "<div class='scatter-tooltip'>";
			tooltipContent += "<ul><li><b>" + _value(value.FundName) + "</b></li></ul>";
			tooltipContent += "<ul>";
			tooltipContent += "<li><b>As Of:</b> " + _value(value.AsOfDate) + "</li>";
			tooltipContent += "<li><b>Vintage Year:</b> " + _value(value.VintageYear) + "</li>";
			tooltipContent += "<li><b>Fund Size:</b>" + _value(value.FundSize,' $') + "</li>";
			tooltipContent += "<li><b>TVPI:</b> " + _value(value.TVPI, '', 'x') + "</li>";
			tooltipContent += "<li><b>Net IRR:</b> " + _value(value.NetIRR, '', '%') + "</li>";
			tooltipContent += "<li><b>DPI:</b> " + _value(value.DPI) + "</li>";
			tooltipContent += "<li><b>MOIC:</b> " + _value(value.MOIC) + "</li>";
			tooltipContent += "<li><b>Gross IRR:</b> " + _value(value.GrossIRR) + "</li>";
			tooltipContent += "<li><b>Source:</b> " + _value(value.Source) + "</li>";
			tooltipContent += "</ul>";
			tooltipContent += "</div>";

			// populate arrays
			$.each(benchmarkLegend, function(k, v) {
				tvpiNetIrr.push((v == "Constituent Funds" && (value.VintageYear >= vintageYearLow && value.VintageYear <= vintageYearHigh))
					? Number(value.NetIRR) : null);

				// tooltip
				tvpiNetIrr.push(tooltipContent);
			});

			// add array data to chart
			if (value.TVPI && value.NetIRR) {
				if (value.TVPI >= tvpiRangeLow && value.TVPI <= tvpiRangeHigh) {
					benchmarkScatterTable.addRow(tvpiNetIrr);
				}
			}
		});

		// add benchmark data
		$.each(benchmarkJsonData, function(key, value) {
			// data arrays
			var firstQuartile = [Number(value.TvpiFirstQuartile)];
			var median = [Number(value.TvpiMedian)];
			var thirdQuartile = [Number(value.TvpiThirdQuartile)];

			// populate arrays
			$.each(benchmarkLegend, function(k, v) {
			    // massage AsOf Date

				// split name
				var nameSplit = value.Name.split("-");

				// first quartile
				firstQuartile.push((v == "Benchmarks" && (value.VintageYear >= vintageYearLow && value.VintageYear <= vintageYearHigh))
					? Number(value.NetIrrFirstQuartile) : null);
				firstQuartile.push(GetBenchmarkTooltip(
					nameSplit[0].trim() + " - First Quartile",
					value.AsOfDate,
					value.VintageYear,
					value.TvpiFirstQuartile,
					value.NetIrrFirstQuartile,
					value.DpiFirstQuartile));

				// median
				median.push((v == "Benchmarks" && (value.VintageYear >= vintageYearLow && value.VintageYear <= vintageYearHigh))
					? Number(value.NetIrrMedian) : null);
				median.push(GetBenchmarkTooltip(
					nameSplit[0].trim() + " - Median",
					value.AsOfDate,
					value.VintageYear,
					value.TvpiMedian,
					value.NetIrrMedian,
					value.DpiMedian));

				// third quartile
				thirdQuartile.push((v == "Benchmarks" && (value.VintageYear >= vintageYearLow && value.VintageYear <= vintageYearHigh))
					? Number(value.NetIrrThirdQuartile) : null);
				thirdQuartile.push(GetBenchmarkTooltip(
					nameSplit[0].trim() + " - Third Quartile",
					value.AsOfDate,
					value.VintageYear,
					value.TvpiThirdQuartile,
					value.NetIrrThirdQuartile,
					value.DpiThirdQuartile));
			});

			// add array data to chart
			if (value.TvpiFirstQuartile && value.NetIrrFirstQuartile) {
				if (value.TvpiFirstQuartile >= tvpiRangeLow && value.TvpiFirstQuartile <= tvpiRangeHigh) {
					benchmarkScatterTable.addRow(firstQuartile);
				}
			}

			if (value.TvpiMedian && value.NetIrrMedian) {
				if (value.TvpiMedian >= tvpiRangeLow && value.TvpiMedian <= tvpiRangeHigh) {
					benchmarkScatterTable.addRow(median);
				}
			}

			if (value.TvpiThirdQuartile && value.NetIrrThirdQuartile) {
				if (value.TvpiThirdQuartile >= tvpiRangeLow && value.TvpiThirdQuartile <= value.TvpiFirstQuartile) {
					benchmarkScatterTable.addRow(thirdQuartile);
				}
			}
		});
	}

	function _value(x, pre, suffix, noOfdigits) {
	    if (x!==undefined && x!=null) {
	        if (noOfdigits>=0) x=x.toFixed(noOfdigits);
	        if (pre) x=pre+x;
	        if (suffix) x+=suffix;
	        return x;
	    }
	    return '';
	}

	function GetBenchmarkTooltip(name, asOfDate, vintageYear, tvpi, netirr, dpi) {
	    if (name)
		{
			// tooltip
			var tooltipContent = "<div class='scatter-tooltip'>";
			tooltipContent += "<ul><li><b>" + name + "</b></li></ul>";
			tooltipContent += "<ul>";
			tooltipContent += "<li><b>As Of:</b> " + _value(asOfDate) + "</li>";
			tooltipContent += "<li><b>Vintage Year:</b> " + _value(vintageYear) + "</li>";
			tooltipContent += "<li><b>TVPI:</b> " + _value(tvpi,'','x', 2) + "</li>";
			tooltipContent += "<li><b>Net IRR:</b> " + _value(netirr, '', '%', 1) + "</li>";
			tooltipContent += "<li><b>DPI:</b> " + _value(dpi, '', 'x', 2) + "</li>";
			tooltipContent += "<li><b>Source:</b> Preqin</li>";
			tooltipContent += "</ul>";
			tooltipContent += "</div>";

			return tooltipContent;
		}
		return null;
	}

	function ResetBenchmarkTable() {
		benchmarkScatterTable = CreateBenchmarkTable();
	}

	function GetBenchmarkData(vintageYear) {
	    if (vintageYear < 0) return;
		$.getJSON("@Url.Action("GetBenchmarkData", "CompareTables")", {VintageYear: vintageYear})
			.done(function(data) {
				$('#loading-bar').hide();

				// set data
				selectedOrgsJsonData = data.SelectedChartData;
				constituentFundsJsonData = data.OtherChartData;
				benchmarkJsonData = data.Benchmarks;
				minNetIrr = data.MinNetIrr;
				maxNetIrr = data.MaxNetIrr;
				maxTvpi = data.MaxTvpi;
				//options["hAxis"]["maxValue"] = maxTvpi;
			    
			    createTvpiRangeSlider();
			    createScatterChart();
			    
			    FillBenchmarkChartColumns();

				// fill chart
				if ($('#checkBoxVintageYears').is(':checked')) {
					FillBenchmarkChartsData(vintageYear - 1, vintageYear + 1);
				} else {
					FillBenchmarkChartsData(vintageYear, vintageYear);
				}

				DrawDashboard();
			    
			});
	}

	// event handlers
    $('#ddlVintageYear').change(function() {
        
		// show loading gif
		$('#loading-bar').show();
		
		// get selected vintage year
		var vintageYear = Number($(this).val());
		
		// get data
		GetBenchmarkData(vintageYear);
	});

	$('#checkBoxVintageYears').change(function() {
		var vintageYear = Number($('#ddlVintageYear').val());

		if (vintageYear != -1) {
			// fill data
			if (this.checked) {
				FillBenchmarkChartsData(vintageYear - 1, vintageYear + 1);
			} else {
				FillBenchmarkChartsData(vintageYear, vintageYear);
			}
		    
			// draw
			DrawDashboard();
		} else {
			// warn user
			customAlert("You must select a vintage year first.", 'Information');
			this.checked = false;
			
			// reset
			ResetBenchmarkTable();
		}
	});


</script>
