﻿@using AtlasDiligence.Web.General
@model List<GPScout.Domain.Contracts.Models.ChartData>
@{
	ViewBag.Title = "Charts";
	Layout = null;

	// vintage years
	var vintageYears = Model.Select(s => s.VintageYear).ToList();
	var vintageYearsMin = vintageYears.Any() ? vintageYears.Min() : 0;
	var vintageYearsMax = vintageYears.Any() ? vintageYears.Max() : 0;
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	// organization columns
    var orgColumns = @Html.ToJsonString(Model.Select(s => s.OrganizationName).Distinct());

	// full chart data
    var jsonData = @Html.ToJsonString(Model);

	// chart data
	var tvpiNetIrrData = CreateTvpiNetIrrTable();
	var netIrrVintageYearData = CreateNetIrrVintageYearTable();
	var tvpiVintageYearData = CreateTvpiVintageYearTable();

	// chart columns
	var tvpiNetIrrColumns = [0];
	var netIrrVintageYearColumns = [0];
	var tvpiVintageYearColumns = [0];

	// google charts
	var tvpiNetIrrChart = new google.visualization.ScatterChart(document.getElementById('TVPIvsNetIRR'));
	var netIrrVintageYearChart = new google.visualization.ScatterChart(document.getElementById('NetIrrVsVintageYear'));
	var tvpiVintageYearChart =  new google.visualization.ScatterChart(document.getElementById('TvpiVsVintageYear'));

	function InitCharts() {
		// import google visualizatin api
		google.load("visualization", "1", { packages: ["corechart"] });

		// create collums array
		FillChartColumns();

		// add data to each chart
		FillChartsData();

		// draw charts
		DrawCharts();
	}

	function DrawCharts() {
		DrawTvpiNetIrrChart();
		DrawNetIrrVintageYearChart();
		DrawTvpiVintageYearChart();
	}


	function DrawTvpiNetIrrChart() {
		var options = {
			hAxis: {
				title: 'TVPI',
				format: '0.0x',
				minValue: 0,
				maxValue: @(Model.Where(w => !String.IsNullOrEmpty(w.TVPI)).Select(s => s.TVPI).Max() ?? "0"),
				titleTextStyle: {
					fontName: 'Calibri',
					italic: false
				}
			},
			vAxis: {
				title: 'Net IRR (%)',
				format: '0.0',
				minValue: @(Model.Where(w => !String.IsNullOrEmpty(w.NetIRR)).Select(s => s.NetIRR).Min() ?? "0"),
				maxValue: @(Model.Where(w => !String.IsNullOrEmpty(w.NetIRR)).Select(s => s.NetIRR).Max() ?? "0"),
				titleTextStyle: {
					fontName: 'Calibri',
					italic: false
				}
			},
			title: 'TVPI vs. Net IRR by Fund',
			tooltip: { isHtml: true},
			legend: {
				alignment: 'center'
			},
			series: {
				0: {color: '#134B78'},
				1: {color: '#F28F33'},
				2: {color: '#F2E233'},
				3: {color: '#94C800'},
				4: {color: '#081F32'}
			}
		};

		google.visualization.events.addListener(tvpiNetIrrChart, 'select', function () {
			var selection = tvpiNetIrrChart.getSelection();
			if (selection.length > 0) {
				if (selection[0].row == null) {
					var i = selection[0].column;
					if (tvpiNetIrrColumns[i] == i) {
						tvpiNetIrrColumns[i] = {
							label: tvpiNetIrrData.getColumnLabel(i),
							type: tvpiNetIrrData.getColumnType(i),
							calc: function() {
								return null;
							}
						};
					} else {
						tvpiNetIrrColumns[i] = i;
					}

					var newView = new google.visualization.DataView(tvpiNetIrrData);
					newView.setColumns(tvpiNetIrrColumns);

					tvpiNetIrrChart.draw(newView, options);
				}
			}
		});

		tvpiNetIrrChart.draw(tvpiNetIrrData, options);
	}

	function DrawNetIrrVintageYearChart() {
		var options = {
			hAxis: {
				title: 'Vintage Year',
				format: '####',
				minValue: @vintageYearsMin,
				maxValue: @vintageYearsMax,
				titleTextStyle: {
					fontName: 'Calibri',
					italic: false
				}
			},
			vAxis: {
				title: 'Net IRR (%)',
				format: '0.0',
				minValue: @(Model.Where(w => !String.IsNullOrEmpty(w.NetIRR)).Select(s => s.NetIRR).Min() ?? "0"),
				maxValue: @(Model.Where(w => !String.IsNullOrEmpty(w.NetIRR)).Select(s => s.NetIRR).Max() ?? "0"),
				titleTextStyle: {
					fontName: 'Calibri',
					italic: false
				}
			},
			title: 'Net IRR by Vintage Year',
			tooltip: { isHtml: true},
			legend: {
				alignment: 'center'
			},
			series: {
				0: {color: '#134B78'},
				1: {color: '#F28F33'},
				2: {color: '#F2E233'},
				3: {color: '#94C800'},
				4: {color: '#081F32'}
			}
		};

		google.visualization.events.addListener(netIrrVintageYearChart, 'select', function () {
			var selection = netIrrVintageYearChart.getSelection();
			if (selection.length > 0) {
				if (selection[0].row == null) {
					var i = selection[0].column;
					if (netIrrVintageYearColumns[i] == i) {
						netIrrVintageYearColumns[i] = {
							label: netIrrVintageYearData.getColumnLabel(i),
							type: netIrrVintageYearData.getColumnType(i),
							calc: function() {
								return null;
							}
						};
					} else {
						netIrrVintageYearColumns[i] = i;
					}

					var newView = new google.visualization.DataView(netIrrVintageYearData);
					newView.setColumns(netIrrVintageYearColumns);

					netIrrVintageYearChart.draw(newView, options);
				}
			}
		});

		netIrrVintageYearChart.draw(netIrrVintageYearData, options);
	}

	function DrawTvpiVintageYearChart() {
		var options = {
			hAxis: {
				title: 'Vintage Year',
				format: '####',
				minValue: @vintageYearsMin,
				maxValue: @vintageYearsMax,
				titleTextStyle: {
					fontName: 'Calibri',
					italic: false
				}
			},
			vAxis: {
				title: 'TVPI',
				format: '0.0x',
				minValue: 0,
				maxValue: @(Model.Where(w => !String.IsNullOrEmpty(w.TVPI)).Select(s => s.TVPI).Max() ?? "0"),
				titleTextStyle: {
					fontName: 'Calibri',
					italic: false
				}
			},
			title: 'TVPI by Vintage Year',
			tooltip: { isHtml: true},
			legend: {
				alignment: 'center'
			},
			series: {
				0: {color: '#134B78'},
				1: {color: '#F28F33'},
				2: {color: '#F2E233'},
				3: {color: '#94C800'},
				4: {color: '#081F32'}
			}
		};

		google.visualization.events.addListener(tvpiVintageYearChart, 'select', function () {
			var selection = tvpiVintageYearChart.getSelection();
			if (selection.length > 0) {
				if (selection[0].row == null) {
					var i = selection[0].column;
					if (tvpiVintageYearColumns[i] == i) {
						tvpiVintageYearColumns[i] = {
							label: netIrrVintageYearData.getColumnLabel(i),
							type: netIrrVintageYearData.getColumnType(i),
							calc: function() {
								return null;
							}
						};
					} else {
						tvpiVintageYearColumns[i] = i;
					}

					var newView = new google.visualization.DataView(tvpiVintageYearData);
					newView.setColumns(tvpiVintageYearColumns);

					tvpiVintageYearChart.draw(newView, options);
				}
			}
		});

		tvpiVintageYearChart.draw(tvpiVintageYearData, options);
	}

	function CreateTvpiNetIrrTable() {
		// create table
		var dTable = new google.visualization.DataTable();

		// set x-values
		dTable.addColumn('number', 'TVPI');

	    // create series for each org
		$.each(orgColumns, function(key, value) {
			dTable.addColumn('number', value);

			dTable.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
		});

		return dTable;
	}

	function CreateNetIrrVintageYearTable() {
		// create table
		var dTable = new google.visualization.DataTable();

		// set x-values
		dTable.addColumn('number', 'Vintage Years');

		// create series for each org
		$.each(orgColumns, function(key, value) {
			dTable.addColumn('number', value);

			dTable.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
		});

		return dTable;
	}

	function CreateTvpiVintageYearTable() {
		// create table
		var dTable = new google.visualization.DataTable();

		// set x-values
		dTable.addColumn('number', 'Vintage Years');

		// create series for each org
		$.each(orgColumns, function(key, value) {
			dTable.addColumn('number', value);

			dTable.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
		});

		return dTable;
	}

	function FillChartColumns() {
		$.each(orgColumns, function(key, value) {
			tvpiNetIrrColumns.push(tvpiNetIrrColumns.length);
			tvpiNetIrrColumns.push(tvpiNetIrrColumns.length); // tooltip

			netIrrVintageYearColumns.push(netIrrVintageYearColumns.length);
			netIrrVintageYearColumns.push(netIrrVintageYearColumns.length); // tooltip

			tvpiVintageYearColumns.push(tvpiVintageYearColumns.length);
			tvpiVintageYearColumns.push(tvpiVintageYearColumns.length); // tooltip
		});
	}


	function _value(x, pre, suffix) {
	    if (x!==undefined) {
	        if (pre) x=pre+x;
	        if (suffix) x+=suffix;
	        return x;
	    }
	    return '';
	}


	function FillChartsData() {
		$.each(jsonData, function (key, value) {
			// data arrays
			var tvpiNetIrr = [Number(value.tvpi)];
			var netIrr = [Number(value.vintageYear)];
			var tvpi = [Number(value.vintageYear)];

			// tooltip
			var tooltipContent = "<div class='scatter-tooltip'>";
			tooltipContent += "<ul><li><b>" +_value(value.fundName) + "</b></li></ul>";
			//tooltipContent += "<br/><br/>";
			tooltipContent += "<ul>";
			tooltipContent += "<li><b>As Of:</b> " + _value(value.asOf) + "</li>";
			tooltipContent += "<li><b>Vintage Year:</b> " + _value(value.vintageYear) + "</li>";
			tooltipContent += "<li><b>Fund Size:</b>" + _value(value.fundSize, ' $') + "</li>";
			tooltipContent += "<li><b>TVPI:</b> " + _value(value.tvpi,'','x') + "</li>";
			tooltipContent += "<li><b>Net IRR:</b> " + _value(value.netIRR, '', '%') + "</li>";
			tooltipContent += "<li><b>DPI:</b> " + _value(value.dpi) + "</li>";
			tooltipContent += "<li><b>MOIC:</b> " + _value(value.moic) + "</li>";
			tooltipContent += "<li><b>Gross IRR:</b> " + _value(value.grossIRR) + "</li>";
			tooltipContent += "<li><b>Source:</b> " + _value(value.source) + "</li>";
			tooltipContent += "</ul>";
			tooltipContent += "</div>";

			// populate arrays
			$.each(orgColumns, function(k, v) {
				tvpiNetIrr.push((value.organizationName == v) ? Number(value.netIRR) : null);
				netIrr.push((value.organizationName == v) ? Number(value.netIRR) : null);
				tvpi.push((value.organizationName == v) ? Number(value.tvpi) : null);

				// tooltip
				tvpiNetIrr.push(tooltipContent);
				netIrr.push(tooltipContent);
				tvpi.push(tooltipContent);
			});

			// add array data to chart
			if (value.tvpi && value.netIRR) {
				tvpiNetIrrData.addRow(tvpiNetIrr);
			}

			if (value.netIRR) {
				netIrrVintageYearData.addRow(netIrr);
			}

			if (value.tvpi) {
				tvpiVintageYearData.addRow(tvpi);
			}
		});
	}
</script>

<div class="compare-scatter-charts">
	<div class="compare-charts">
		<div id="TVPIvsNetIRR" class="chart_div"></div>
		<p>Clicking on squares in legend will show/hide firms on the graph.</p>
	</div>

	<div class="compare-charts">
		<div id="NetIrrVsVintageYear" class="chart_div"></div>
		<p>Clicking on squares in legend will show/hide firms on the graph.</p>
	</div>

	<div class="compare-charts">
		<div id="TvpiVsVintageYear" class="chart_div"></div>
		<p>Clicking on squares in legend will show/hide firms on the graph.</p>
	</div>
</div>
