﻿@model IList<AtlasDiligence.Web.Models.ViewModels.TableDataViewModel>
@{
    Layout = null;
}

@helper PrintScorecardHeader()
{
    <thead>
        <tr>
            <th class="empty" style="width: 44px;"></th>
            <th class="empty" style="width: 216px;"></th>
            @foreach (var org in Model)
            {
                <th>@org.Name</th>
            }
        </tr>
    </thead>
}

@helper PrintTableData(string data)
{
    <td class="@(!String.IsNullOrEmpty(data) ? data : "empty")">
        @data

    </td>
}

<div id="scorecard-tab" class="tab-container">
    <div class="scorecard">
        <table id="scorecard-team" data-label="Team">
            @PrintScorecardHeader()
            <tbody>
                <tr>
                    <td class="label-desc">Expertise Aligned with Strategy</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().ExpertiseAlignedWithStrategy)
                    }
                </tr>
                <tr>
                    <td class="label-desc">History Together</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().HistoryTogether)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Complementary Skills</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().ComplementarySkills)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Team Depth</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().TeamDepth)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Value-add Resources</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().ValueAddResources)
                    }
                </tr>
            </tbody>
        </table>

        <table data-label="Strategy">
            @PrintScorecardHeader()
            <tbody>
                <tr>
                    <td class="label-desc">Investment Thesis</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().InvestmentThesis)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Competitive Advantage</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().CompetitiveAdvantage)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Portfolio Construction</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().PortfolioConstruction)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Appropriateness of Fund Size</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().AppropriatenessOfFundSize)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Consistency of Strategy</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().ConsistencyOfStrategy)
                    }
                </tr>
            </tbody>
        </table>

        <table data-label="Process">
            @PrintScorecardHeader()
            <tbody>
                <tr>
                    <td class="label-desc">Sourcing</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().Sourcing)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Due Diligence</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().DueDiligence)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Decision Making</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().DecisionMaking)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Deal Execution/Structure</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().DealExecutionStructure)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Post Investment Value-add</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().PostInvestmentValueAdd)
                    }
                </tr>
            </tbody>
        </table>

        <table data-label="Firm">
            @PrintScorecardHeader()
            <tbody>
                <tr>
                    <td class="label-desc">Team Stability</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().TeamStability)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Ownership and Compensation</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().OwnershipAndCompensation)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Culture</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().Culture)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Alignment with LPs</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().AlignmentWithLPs)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Terms</td>
                    @foreach (var org in Model)
                    {
                        
                        @PrintTableData(org.Grades == null || !org.Grades.Any() ? String.Empty : org.Grades.FirstOrDefault().Terms)
                        
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // scorecards header
        $('.scorecard table').each(function () {
            var label = $(this).data('label');

            var bodyRow = $(this).find('tbody tr');
            if (bodyRow.length > 0) {
                bodyRow.first().prepend('<th class="group-label" rowspan="' + bodyRow.length + '"><span>' + label + '</span></th>');
            }
        });
        
        $('.scorecard').each(function () {
            $(this).find('table tbody tr:first').closest('table').find('thead').removeClass('hidden-header');
        });

        // IE 8 fix to display scorecard header
        $('.scorecard table').first().find("thead").css("visibility", "visible");
    });
</script>
