﻿@using AtlasDiligence.Web.Helpers.Yui;
@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="alert">@TempData["Message"]</p>
<div class="buttons">
    @Html.ActionLink("Create New Group", "Create", "Group", null, new { @class = "create" })
</div>
@Html.Raw(
    @Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.GroupDataGrid>().Url(Url.Action("GroupGrid", "Group"))
.GridId("group-grid")
.Columns(columns =>
{
    columns.Bound(x => x.ViewLink).Width(50).Sortable(false).Label("View");
    columns.Bound(x => x.EditLink).Width(50).Sortable(false).Label("Edit");
    columns.Bound(x => x.Name);
    columns.Bound(x => x.MaxUsers);
    columns.Bound(x => x.OrganizationProfilePdfGeneration);
}).ToString()
)
