﻿@model AtlasDiligence.Web.Models.ViewModels.GroupViewModel
@using AtlasDiligence.Common.Data.Models;
@using AtlasDiligence.Web.General;
@using AtlasDiligence.Web.Helpers.Yui;
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {}
<p class="alert">@TempData["Message"]</p>
<div class="wrapper">
@if (Model != null)
{
    if (User.IsInRole(RoleNames.Admin))
    {
    <div>
        @Html.ActionLink("Edit Group", "Edit", "Group", new { id = Model.Id }, new { @class = "edit actionIcon", title = "Edit Group" })
    </div>
    <div class="clear">
    </div>
    }
    <h2 class="page-title">Edit Group Members</h2>
    
    <div id="group-view" class="group-info">
        <dl>
        	<dt>Group Name:</dt> <dd>@Model.Name</dd>
        	<dt>Active Users:</dt> <dd>@Model.ActiveUsers</dd>
        	<dt>Max Users:</dt> <dd>@Model.MaxUsers</dd>
            <dt>Organization Pdf Generation Allowed:</dt> <dd>@Model.OrganizationProfilePdfGeneration</dd>
            <dt>When Organization Pdf Generation Quota Is Achieved:</dt> <dd>@(Model.OrganizationProfilePdfQuotaActionID==Group.ProfilePdfQuotaActionEnum.BlockDownloadsAndNotifyRCP?"Block And Notify RCP": Model.OrganizationProfilePdfQuotaActionID == Group.ProfilePdfQuotaActionEnum.NotifyRCPOnQuotaAchieved?"Just notify RCP":"n/a")</dd>
            <dt>Show Watermark on Profile Screen:</dt> <dd>@(ViewHelpers.YesNo(Model.WatermarkEnabled))</dd>
        </dl>
    </div>
    
    <div class="toggle-container">
        <div class="table-search" id="user-search">
            <form id="user-search-form">
                <div class="fieldset">
                    <fieldset>
                        <legend><span>User Search</span></legend>
                        <div class="field-wrap">    
                            <div class="field">
                                <label for="firstName">First Name:</label>
                                <input type="text" name="firstName" id="firstName" />
                            </div>
                            <div class="field">
                                <label for="lastName">Last Name:</label>
                                <input type="text" name="lastName" id="lastName" />
                            </div>
                            <div class="field">
                                <label for="email">Email:</label>
                                <input type="text" name="email" id="email" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <p class="buttons">
                    <input type="button" class="button" id="user-grid-search-clear" value="clear" onclick="$('#user-search-form')[0].reset(); $('#user-grid-search-button').click();" />
                    <input type="button" class="button" id="user-grid-search-button" value="search" />
                </p>
            </form>
        </div>
    </div>
    <div id="group-users-yuigrid">
    	<h3 class="subsection-title">Users</h3>
    	<div class="toolbar">
        	<a href="@Url.Action("Create", "User", new { groupId = Model.Id })"><i class="icon add-icon"></i>Create New User</a>
    	</div>
        @Html.Raw(@Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.UserDataGrid>().Url(Url.Action("UserGrid", "User"))
        .GridId("user-grid")
        .Search("user-search-form", "user-grid-search-button")
        .RequestParams(new Dictionary<string, object> { { "groupId", Model.Id } })
        .Columns(columns =>
        {
            columns.Bound(x => x.ActiveText).Hidden(true);
            columns.Template(x => x.Id, "<a href=\"" + Url.Action("Edit", "User") + "/{Id}?returnRoute=/Group/View/" + Model.Id.ToString() + "\" class=\"grid-row-action edit\">Edit</a>")
                .Width(50).Sortable(false).Label("Edit");
            columns.Bound(x => x.Email);
            columns.Bound(x => x.FirstName).Label("First Name");
            columns.Bound(x => x.LastName).Label("Last Name");
            if (User.IsInRole(RoleNames.Admin) || User.IsInRole(RoleNames.GroupLeader))
            {
                columns.Template(x => x.Id, "<a href=\"" + Url.Action("ChangeUserActiveStatus", "User") + "\" onclick=\"$(this).changeActiveStatus('{Id}'); return false;\" class=\"grid-row-action {ActiveText}\">{ActiveText}</a>").Width(80).Sortable(false).Label("Active?");
            }
            else
            {
                columns.Template(x => x.Id, "<span class=\"grid-row-action {ActiveText}\">{ActiveText}</span>").Width(80).Sortable(false).Label("Active?");
            }
        }).ToString())
    </div>
}
</div>