﻿@model bool?
<div class="radio-button-list">
    @{
        var yesAttrs = new Dictionary<string, object>();
        var noAttrs = new Dictionary<string, object>();
        var nullAttrs = new Dictionary<string, object>();

        yesAttrs.Add("id", ViewData.TemplateInfo.GetFullHtmlFieldId("") + "Yes");
        noAttrs.Add("id", ViewData.TemplateInfo.GetFullHtmlFieldId("") + "No");
        nullAttrs.Add("id", ViewData.TemplateInfo.GetFullHtmlFieldId("") + "NA");

        if (Model.HasValue && Model.Value)
        {
            yesAttrs.Add("checked", "checked");
        }
        else if (Model.HasValue && !Model.Value)
        {
            noAttrs.Add("checked", "checked");
        }
        else
        {
            nullAttrs.Add("checked", "checked");
        }
    }
    @Html.RadioButtonFor(x => x, "true", yesAttrs)
    <label for="@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))Yes">Yes</label>
    @Html.RadioButtonFor(x => x, "false", noAttrs)
    <label for="@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))No">No</label>
    @Html.RadioButtonFor(x => x, string.Empty, nullAttrs)
    <label for="@(ViewData.TemplateInfo.GetFullHtmlFieldId(""))NA">No Filter</label>
</div>
