﻿@model AtlasDiligence.Web.Models.ViewModels.GroupViewModel
<div id="group-form" class="wrapper">
    <div class="breadcrumb">
	    <a href="@Url.Action("Index", "Admin")">Administration</a> &raquo; <a href="@Url.Action("Index", "Admin", new { lt=0 })">Groups</a>
	</div>
    
    @Html.ValidationSummary(true, "Please correct the errors and try again.")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="fieldset create-group">
            <fieldset>
                <legend><span>Create Group</span></legend>
                
                <div class="field-wrap">
                
	                <div class="field">
	                    @Html.LabelFor(m => m.Name)
	                    @Html.TextBoxFor(m => m.Name)
	                    @Html.ValidationMessageFor(m => m.Name)
	                </div>
	                <div class="field">
	                    @Html.LabelFor(m => m.MaxUsers)
	                    @Html.TextBoxFor(m => m.MaxUsers)
	                    @Html.ValidationMessageFor(m => m.MaxUsers)
	                </div>
	                <div class="field">
	                    @Html.LabelFor(m => m.DefaultProductType)
	                    @Html.DropDownListFor(m => m.DefaultProductType, AtlasDiligence.Web.General.SelectExtensions.ToSelectList(typeof(AtlasDiligence.Common.DTO.Enums.ProductTypes)))
	                </div>
                
                </div>
                
                <div class="buttons">
                    <input type="button" class="cancel button" value="Cancel" onclick="history.back();" />
                    <input id="submit" class="submit" type="submit" value="Submit" />
                </div>
            </fieldset>
        </div>
    }
    @if (ViewContext.RouteData.GetRequiredString("action") == "Edit")
    {
        <div>
            <strong>Purchased Organizations</strong>
            <ul>
                @foreach (var organization in Model.Organizations)
                {
                    <li><a href="#" class="remove-group-organization" data-id="@organization.Key">Delete</a>@organization.Value</li>
                }
            </ul>
            <a href="/group/addorganization" class="add-org-to-group" rel="@Model.Id">Add Organization</a>
        </div>
        <div>
            <div id="add-org-to-group-dialog" style="display: none;">
                <p>Add Organization to Group</p>
                <p class="alert-active"></p>
                <input type="text" class="text" id="add-org-to-group-name" />
            </div>
        </div>
    }
</div>
