/*
client: Atlas Diligence
author: Atlantic BT - www.atlanticbt.com
colors:
color 1: #000
color 2: #c2c2c2
==================================================================================================================*/


/* =Normalize/Reset
==================================================================================================================*/
* { margin: 0; padding: 0; outline: none; } h1, h2, h3, h4, h5, h6 { font-size: 100%; } ul, ul li { list-style: none; list-style-position: outside; } address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; } em, strong { /* left out from above */ } table { border-collapse: collapse; border-spacing: 0; } fieldset, img { border: 0; } caption, th { text-align: left; } q:before, q:after { content: ""; } hr { display: none; }
.clear { clear: both; } /* not to be confused with clearfix */
a:focus { outline: none; }

/* @font-face
==================================================================================================================*/

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/CALIBRI.eot'); /* IE9 Compat Modes */
	src: url('../fonts/CALIBRI.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/CALIBRI.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/CALIBRI.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/CALIBRI.svg#CALIBRI') format('svg'); /* Legacy iOS */
}



/* =Base
==================================================================================================================*/
body { text-align: center; background: #006388 url(../images/bg_body-tile.gif); font: 'Calibri', Georgia, serif; color: #606060; }
div { font-size: 100%; text-align: left; }
/* hide accessibility, but leave there for readers */
.access { position: absolute; left: -9000em; top: 0; height: 0; line-height: 0em; }
p { font-family: 'Calibri', Georgia, serif; }


/* =Percentage-based Columns
==================================================================================================================*/
.columns { float: left; display: inline; width: 100%; }
.col-set2, .col-set3, .col-set4, .col-set5 { /* column options */ }

/* defaults */
.columns .col { float: left; display: inline; margin-right: 3%; width: 22%; }
.columns .last { float: right; margin: 0; }

/* per col-set */
.col-set2 .col { width: 48%; }
.col-set3 .col { width: 30%; }
.col-set4 .col { /* inherit */ }
.col-set5 .col { width: 17%; }


/* =Typography Styles
==================================================================================================================*/
.main-area p { margin: 0 0 1.5em; }

/* base anchor colors/style */
a { color: #606060; }
a:hover, a:focus { color: #ef464e; }
.more-link { text-align: right; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 1.5em; font: bold 1em/1.5em 'Calibri', Georgia, Times, serif; color: #363636; }
h1 { margin: 0 0 .9em; font-weight: normal; font-size: 2em; line-height: 1em; }


/* =Element Styles
==================================================================================================================*/
.main-area ul { list-style: none; margin: 0 0 1.5em 1.5em; }
.main-area ul li { margin: 0; padding-left: 14px; background: no-repeat 0 .4em; }
.main-area ol { margin: 0 0 1.5em 3em; }
.main-area ol li { margin: 0; }
.main-area ul ul, .main-area ol ol { margin-top: 1.5em; }
.main-area dl { margin: 0 0 1.5em; }
.main-area dl dt { margin: 0; font-weight: bold; }
.main-area dl dd { margin: 0 0 0 1.5em; }
abbr { cursor: help; }
.main-area blockquote { margin: 1em 0; padding: 0 1em; }
.main-area blockquote p { margin: 0 0 1.5em; }
.main-area blockquote p.cite { text-align: right; }
.main-area table { width: 100%; font: inherit; }
.main-area th, td { padding: .5em; border: 1px solid #000; }
.main-area th { font-weight: bold; }

/* remove styling from lists and such */
.reset, .reset ul, .reset li, .reset p, .reset table { margin: 0; padding: 0; background: none; list-style: none; border: 0; }


/* =Base Form Styles
==================================================================================================================*/
.form-wrap { padding: 0 20px; }

/* input base */
input, textarea, select, button { padding: 5px; width: 275px; border: 1px solid #c2c2c2; border-right-color: #d7d7d7; border-bottom-color: #d7d7d7; background: #fff; font: inherit; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
select { padding: 4px 2px 4px 4px; width: auto; }
textarea { width: 96%; height: 15em; }
input:focus, textarea:focus, select:focus { background-color: #ffffce; }

/* input overrides based on type */
input.radio, input.checkbox,
.buttons input, input.button, input.submit, input.image,
.form-submit input, input.wpcf7-submit { border: 0; padding: 0; width: auto; background: none; }
input.image { margin-left: 4px; vertical-align: middle; }
input.submit, .form-submit input, input.wpcf7-submit, button.submit { padding: 5px 10px; background: #3d5b77; color: #fff; font-weight: bold; cursor: pointer; border: none; }
input.submit:hover, button.submit:hover { background: #728da6; }
.buttons { margin: 0 0 1.5em; }

/* specific input types */
.address-combo input, .address-combo-county input { width: 175px; }
.postal-code input { width: 5em; }
input.prefix { margin: 0 .25em 0 0; width: 2.5em; }
input.area-code { margin: 0 .25em; width: 2.5em; }
input.suffix { width: 3em; }

/* fieldset defaults */
div.fieldset { clear: both; float: left; display: inline; margin: 0; width: 100%; }
fieldset { margin: 0; padding: 0 0 1.5em; border: 0; } /* using padding instead of margin because of cross-browser */
legend { padding: 0 0 1.5em; }
fieldset fieldset legend { font-size: 1em; margin: 0; font-weight: bold; }

/* form fields */
.fieldgroup { clear: both; margin: 0; float: left; display: inline; width: 100%; }
.field { clear: both; position: relative; margin: 0; padding: 0 0 1.5em; list-style: none; height: 1%; } /* using padding instead of margin because of cross-browser */
.address-combo .field,
.address-combo-county .field,
.col-auto .field, .col-auto li { clear: none; float: left; display: inline; width: 200px; }
.address-combo .region, .address-combo .state,
.address-combo-county .region, .address-combo-county .state,
.col-auto .field, .col-auto li { padding-right: 10px; width: auto; }
.name-fields .field,
.contact-methods .field { clear: none; float: left; display: inline; width: 300px; }

/* labels */
label { display: block; font-weight: bold; }
.inline-label label { display: inline; margin: 0 5px 0 0; }
.aligned-label label { float: left; display: inline; margin: 0 5px 0 0; padding-top: 5px; width: 100px; text-align: right; }
.extended-address label { color: #999; } /* extended address */
.checkboxes label, .radios label { display: inline; margin: 0 0 0 5px; font-weight: normal; }

/* radio & checkbox lists */
.radios, .checkboxes { margin: 0; list-style: none; }
.radios li, .checkboxes li { margin-right: 20px; list-style: none; }

/* summary / input descrition items */
em.summary { display: block; margin: 2px 0 0 0; font-style: normal; font-size: .857em; color: #999; }
.aligned-label em.summary { margin-left: 110px; }

/* error messages */
form .error-message { display: block; width: 230px; padding: 4px 10px 3px 30px; border: 1px solid #e5a3a3; background: #ffcfcf url(../images/i_exclamation.gif) no-repeat 10px 5px; color: #801b1b; font-style: normal; }



/* =Navigation
==================================================================================================================*/

.nav { text-align: center; }
.nav .level1 li { position: relative; display: inline-block; background: url(../images/bg_nav-divider.png) left 12px no-repeat; }
.nav .level1 li:first-child { background: none; }
.nav .level1 li.has-children > a { background: url(../images/i_nav-hover.jpg) center 38px no-repeat; }
.nav a { display: block; padding: 12px 12px 15px 24px; font: 18px 'Calibri', Georgia, serif; color: #fff; text-decoration: none; }
.nav a:hover, .nav .level1 li.active a { color: #c0f1ff; text-decoration: underline; }
.nav .level1 li .level2 { position: absolute; left: -9999em; text-align: left; background: #123446; z-index: 10000; }
.nav .level1 li:hover .level2 { left: 0; }
.nav .level2 li { background: none; }
#masthead .nav .level2 li a { padding: 20px 0 20px 43px; min-width: 238px; font-size: 18px; color: #fff; border-top: 1px solid #2a4959; text-decoration: none; }
#masthead .nav .level2 li a:hover { color: #c0f1ff; }
.nav .level2 li:first-child a { border: none;}

.nav li.home a { width: 39px; padding: 12px 10px 15px; text-indent: -9999em; background: url(../images/i_nav-home.jpg) left center no-repeat; }
.nav li.home a:hover { background-position: right center; }



/* =Layout Styles
==================================================================================================================*/
/* for centered design */
html, body { height: 100%; min-height: 998px; }
#wrap { height: 100%; min-height: 265px; background: url(../images/bg_body.jpg) center top repeat-x; }
#container { margin: 0 auto; width: 940px; }
.header, .navigation, .main-area, .footer { float: left; display: inline; width: 940px; }
.header { padding: 152px 0 25px; height: 125px; background: url(../images/bg_header.jpg) center top no-repeat; }
.header h1 { margin: 0 0 29px; padding-right: 54px; text-align: right; }
.header h1 a { font-size: 34px; font-variant: small-caps; color: #fff; text-decoration: none; text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.6); }
.main-area { padding: 0 20px 30px; width: 855px; font-size: 18px; line-height: 28px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
.splash .content p:first-child { font-size: 1.33333333em; line-height: 1.333333em; }
.main-area { padding: 45px; background: #fff; color: #606060; text-shadow: none; border: 1px solid #eee;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .3);
	}
.inner .content { font: 14px 'Calibri', Georgia, serif; color: #333; text-shadow: none; }
	.inner .content ul { margin: 0 0 1.5em 2.5em; }
	.inner .content li { padding: 0; list-style: disc; }
	.inner .content a:hover { color: #70abca; }
	.inner .content h2 { margin: 0; font-size: 34px; line-height: 1em; color: #000; font-weight: normal; text-decoration: none; }
	.inner .content h2 a { font-weight: normal; color: #000; text-decoration: none; }
	.inner .content h2 a:hover { color: #70abca; }
	.inner .content h3 { font-size: 18px; font-weight: normal; font-family: 'Calibri', Georgia, serif; }
	.inner .content img { border: 5px solid #fff;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .35);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .35);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .35);
	}
	.inner .content img.team-member { float: left; margin: 0 35px 25px 0; }

	
.secondary-content {position: relative;padding-top: 20px; }
.contact-info { float: left; width: 580px; background: url(../images/bg_email.png) no-repeat 0 0; }

a.back-to-team { display: block; text-decoration: none; margin-bottom: 25px; padding-left: 33px; font-size: .8125em; background: url(../images/i_arrow-left.png) left center no-repeat; }

.members { position: relative; font-size: 18px; }
.members-inner { position: relative; top: 0; left: 0; float: left; width: 100%; background: #eee; border: 1px solid #ddd; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.members h3, .contact-info h3 { margin: 0; padding: 0 20px; font-size: 24px; line-height: 50px; color: #144d71; }
.members .login { padding: 0 20px 0; }
.members .field { margin-right: 20px; padding: 0; clear: none; float: left; }
.members .field.rememberme { height: 15px; }
.members input { margin-bottom: 10px; padding: 5px; line-height: 18px; background: #fff; border-color: #a1acb3; width: 200px; color: #333; }
.members input[type="text"], .members input[type="password"] { padding: 0 5px; height: 24px; }
.members label { font-size: .667em; line-height: 1em; text-transform: uppercase; }
	.rememberme label { line-height: 26px; }
.members button { padding: 6px 20px; background: url(../images/bg_email.png) no-repeat center center; color: #144d71; text-shadow: 0 1px 2px rgba(255,255,255,0.6); border: 1px solid #d9d5ce; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-size: 16px; text-transform: uppercase; font-weight: bold; font-family: 'Calibri', Georgia, serif; cursor: pointer; }
.members .error { float: right; color: #ff9870; text-transform: none; }
.members .field.login-links { padding-top: 5px; }
#RememberMe { width: 15px; float: left; margin: 0.35em 6px 0 0; background: none; border: none; }
#forgot-password { padding-left: 20px; }
#forgot-password a { display: block; font-size: 0.667em; text-transform: uppercase; font-weight: bold; text-decoration: none; color: #144d71; line-height: 10px; }
#forgot-password a:hover { text-decoration: underline; }

.request { position: relative; float: right; width: 49%; font-size: 18px; }
.request-inner { position: relative; top: 0; left: 0; float: left; width: 100%; min-height: 220px; background: #eee; border: 1px solid #ddd; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.request h3, .contact-info h3 { margin: 0; padding: 0 20px; font-size: 24px; line-height: 50px; color: #144d71;; }
.request .login { padding: 0 20px 0; }
.request .field { padding: 0; }
.request input { margin-bottom: 10px; background: #fff; border-color: #a1acb3; width: 200px; color: #333; font-size: 14px; }
.request label { font-size: .667em; line-height: 1em; text-transform: uppercase; }
.main-area p.request-link { float: left; margin-top: 15px; }

.request .error { float: right; color: #ff9870; text-transform: none; }
.field-validation-error, .validation-summary-errors { display: block; font-size: 0.65em; font-style: italic; color: red; }
 .validation-summary-errors { margin-left: 20px; }
.ajax-loader { width: 24px; height: 24px; position: absolute; bottom: 11px; right: 244px; background: url(../images/ajax-loader-bluematte.gif) no-repeat center top; }

.form-left { width: 660px; float: left; }
.form-right { width: 150px; float: right; }
.form-right .buttons { margin-bottom: 0; }

.inner ul.team, .inner ul.team li { margin: 0; padding: 0;  }
.inner ul.team li { float: left; width: 100%; border-top: 1px dashed #9cd7f3; padding: 32px 0; min-height: 215px; list-style: none; }
.team p { margin-bottom: 1.5em; }
.team img { margin-right: 50px; float: left; }

button#request-access-submit { width: auto; }

#members-submit { margin: 0; padding: 6px 19px; width: 100%; background: url(../images/bg_email.png) no-repeat center center; color: #144d71; text-shadow: 0 1px 2px rgba(255,255,255,0.6); border: 1px solid #d9d5ce; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-size: 16px; text-transform: uppercase; font-weight: bold; font-family: 'Calibri', Georgia, serif; cursor: pointer;}

.footer { padding: 30px 20px; width: 900px; color: #000; font-size: .875em; line-height: 1.3em; }
#abt-brand, #abt-brand a { color: #000; text-decoration: none; }

.contact .left-col { float: left; width: 48%; }
	.contact-map { margin-bottom: 20px; }
		.contact-map p { font-size: .75em; padding: 5px 0 0 10px; font-style: italic; color: #666; }
	.contact .left-col h2 { font: bold 1.5em 'Calibri', Georgia, serif; }
.contact .right-col { float: right; width: 43%; padding: 20px; background: #e6eff2; border: 1px solid #d3dcdf; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
.contact-form label { margin-bottom: 5px; }
.contact-form input[type="text"], .contact-form textarea { width: 96%; resize: none; }

.request-page .left-col { margin-right: 30px; float: left; width: 48%; }
	.request-page .left-col h2 { font: bold 1.5em 'Calibri', Georgia, serif; }
.request-page .right-col { float: left; width: 43%; padding: 20px; background: #e6eff2; border: 1px solid #d3dcdf; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
.request-page label { margin-bottom: 5px; }
.request-page input[type="text"], .contact-form textarea { width: 96%; resize: none; }
