﻿/* Normalize/Reset
==================================================================================================================*/
* { margin: 0; padding: 0; outline: none; } h1, h2, h3, h4, h5, h6 { font-size: 100%; } ul, ul li { list-style: none; list-style-position: outside; } address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; } em, strong { /* left out from above */ } table { border-collapse: collapse; border-spacing: 0; } fieldset, img { border: 0; } caption, th { text-align: left; } q:before, q:after { content: ""; } hr { display: none; }
.clear { clear: both; } /* not to be confused with clearfix */
a:focus { outline: none; }




/* Base
==================================================================================================================*/
body { text-align: center; background: #fff; font: 400 14px/1.5 "Calibri", Arial, Helvetica, sans-serif; color: #000; }
div { font-size: 100%; text-align: left; }


/* hide accessibility, but leave there for readers */
.access { position: absolute; left: -9000em; top: 0; height: 0; line-height: 0em; }
.hide { display: none; }




/* Percentage-based Columns
==================================================================================================================*/
.columns { float: left; display: inline; width: 100%; }
.col-set2, .col-set3, .col-set4, .col-set5 { /* column options */ }

	/* defaults */
	.columns .col { float: left; display: inline; margin-right: 3%; width: 22%; }
	.columns .last { float: right; margin: 0; }

	/* per col-set */
	.col-set2 .col { width: 48%; }
	.col-set3 .col { width: 30%; }
	.col-set4 .col { /* inherit */ }
	.col-set5 .col { width: 17%; }




/* =Typography Styles
==================================================================================================================*/
.main-area { min-width: 1040px; }
.main-area p { margin: 0 0 1.5em; }


/* base anchor colors/style */
a {color:#57a9c7}
a:hover, a:focus { color: #78d6f8; }

.more-link { text-align: right; }


h1, h2, h3, h4, h5, h6 { margin: 0 0 1.5em; font: 700 1em/1.5em "Calibri", Arial, Helvetica, sans-serif; color: #0d2433; }
h1 { margin: 0 0 .9em; font-weight: normal; font-size: 2em; line-height: 1em; }
	



/* =Element Styles
==================================================================================================================*/
.main-area .ui-tabs-panel { font-size: 14px; line-height: 1.55em; }
.main-area ul { list-style: none; margin: 0 0 1.5em 0; line-height: 1.65em; font-size: .95em; }
.main-area ul li ul { margin: 20px 0; }
.main-area ul li { margin: 0; padding-left: 14px; background: no-repeat 0 .4em; }
.main-area ol { margin: 0 0 1.5em 3em; }
.main-area ol li { margin: 0; }
.main-area ul ul, .main-area ol ol { margin-top: 1.5em; }	


.main-area dl { margin: 0 0 1.5em; }
.main-area dl dt { margin: 0; font-weight: bold; }
.main-area dl dd { margin: 0 0 0 1.5em; }


abbr, .abbr { cursor: help; }

.main-area blockquote { margin: 1em 0; padding: 0 1em; }
.main-area blockquote p { margin: 0 0 1.5em; }
.main-area blockquote p.cite { text-align: right; }


.main-area table { width: 100%; font-size: 11px; }
.main-area th, .main-area td { padding: 4px 10px; border: 1px solid #e0e5e9; border-left-color: #cbcbcb; border-right-color: #cbcbcb;  }
.main-area th { font-weight: bold; border-bottom-color: #7f7f7f;
	background: #e7eef3;
	background: -moz-linear-gradient(top, #e7eef3 0%, #ced5da 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eef3), color-stop(100%,#ced5da));
	background: -webkit-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -o-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -ms-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: linear-gradient(top, #e7eef3 0%,#ced5da 100%);
}
.main-area td { background: #fff; }
.main-area tr:nth-child(2n) td { background-color: #f3f8fb; }
.main-area td a { color: #2c5876; }
.main-area tbody tr:hover td { background-color: #e8f1f6; }
.no-border { border: none; }
/*table.print-kt-trec { margin-bottom: 50px; page-break-inside:avoid!important; position:relative; } */
table.no-border > tbody > tr > td, table.no-border > tr > td { border: none; padding: 0 }


#preview-export { border-top: 1px dotted; margin-top: 45px; padding-top: 30px; }
#preview-export p { padding-left: 14px }


/* remove styling from lists and such */
.reset, .reset ul, .reset li, .reset p, .reset table { margin: 0; padding: 0; background: none; list-style: none; border: 0; }

.flag-red, .flag-white, .flag-green, .flag-yellow {padding-left: 23px; text-indent: -9999em; background-position: right top; background-repeat: no-repeat }
.flag-red { background-image: url(../images/icons/flag_red.png); }
.flag-white { background-image: url(../images/icons/flag_white.png); }
.flag-lightgreen { background-image: url(../images/icons/flag_lightgreen.png); }
.flag-darkgreen { background-image: url(../images/icons/flag_darkgreen.png); }
.flag-green { background-image: url(../images/icons/flag_darkgreen.png); }
.flag-yellow { background-image: url(../images/icons/flag_yellow.png); }
	
/* specific cell classes */
th.right-align, td.right-align { text-align:right;	}
table tr th.center-align, table tr td.center-align { text-align: center; }
table tr th.right-align, table tr td.right-align { text-align: right;}




/* =Base Form Styles
==================================================================================================================*/
.form-wrap { padding: 0 20px; }

/* input base */
input, textarea, select { padding: 5px; width: 275px; border: 1px solid #c2c2c2; line-height: 1em; background: #fff; font: inherit;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
select { padding: 4px 2px 4px 4px; width: auto; }
textarea { width: 96%; height: 7em; }
#TimeOfDay { width: 5em; }
#NextEmailDate { width: 6em; }
.schedule-form { background: #E8F2F5; padding: 20px; line-height: 3em;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

input:focus, textarea:focus, select:focus { background-color: #ffffce; }

/* input overrides based on type */
input.radio, input.checkbox,
.buttons input, input.button, input.submit, input.image,
.form-submit input, input.wpcf7-submit { border: 0; padding: 0; width: auto; background: none; }
input.image { margin-left: 4px; vertical-align: middle; }
input.submit, input.cancel, .form-submit input, input.wpcf7-submit { display: inline-block; padding: 6px 9px; margin: 0; background: #f4f4f4; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
input.submit:hover, input.cancel:hover, .form-submit input:hover, input.wpcf7-submit:hover { border-color: #ccc; }

	#rss-export-submit { padding-left: 30px; background: #f4f4f4 url(/images/i_export-excel.png) no-repeat 8px 50%; }
	#rss-preview-submit { padding-left: 30px; background: #f4f4f4 url(/images/i_search.png) no-repeat 8px 50%; }
	#rss-print-submit { padding-left: 30px; background: #f4f4f4 url(/images/i_print.png) no-repeat 8px 50%; }
	#schedule-email-submit { padding-left: 30px; background: #f4f4f4 url(/images/i_save.png) no-repeat 8px 50%; }


.buttons { margin: 0 0 1.5em; }
.buttons p { display: inline;padding-right:20px;}

/* specific input types */
.address-combo input, .address-combo-county input { width: 175px; }
.postal-code input { width: 5em; }
input.prefix { margin: 0 .25em 0 0; width: 2.5em; }
input.area-code { margin: 0 .25em; width: 2.5em; }
input.suffix { width: 3em; }

/* fieldset defaults */
div.fieldset { clear: both; float: left; display: inline; margin: 0; width: 100%; }
fieldset { margin: 0; padding: 0 0 1.5em; border: 0; } /* using padding instead of margin because of cross-browser */
legend { padding: 0 0 1.5em; color: #000; font-size: 1.25em; font-weight: bold; }
fieldset fieldset legend { font-size: 1em; margin: 0; font-weight: bold; }
   
	/* Dialog Fieldsets */
	.ui-dialog div.fieldset { padding: 1em; margin: 0 0 1em; background: #f4f4f4;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	}
	div.fieldset.half { float: left; width: 47%; clear: none; }
	div.fieldset.half.first { clear: left; }
	div.fieldset.full { float: left; width: 100%; clear: both; }   
	.ui-dialog legend { width: 100%; }
	.ui-dialog legend span { display: block; border-bottom: 1px solid #ccc; }
   
/* form fields */
.fieldgroup { clear: both; margin: 0; float: left; display: inline; width: 100%; }
.fieldgroup .field { float: left; width: 33%; clear: none; }
.fieldgroup .field.full { width: 100%; }
.field { clear: both; position: relative; margin: 0; padding: 0 0 1.5em; list-style: none; height: 1%; } /* using padding instead of margin because of cross-browser */
.checkbox input { width: auto; border: none; }
.address-combo .field,
.address-combo-county .field,
.col-auto .field, .col-auto li { clear: none; float: left; display: inline; width: 200px; }
.address-combo .region, .address-combo .state,
.address-combo-county .region, .address-combo-county .state,
.col-auto .field, .col-auto li { padding-right: 10px; width: auto; }
.name-fields .field,
.contact-methods .field { clear: none; float: left; display: inline; width: 300px; }
#RememberMe { width: auto; float: left; margin-right: 10px; }

/* labels */
label { display: block; font-weight: bold; margin-bottom: 5px; color: #001f33; }
.inline-label label { display: inline; margin: 0 1em 0 0; }
.inline-label input + label { font-weight: 400; }
.inline-label input { width: auto; }
.aligned-label label { float: left; display: inline; margin: 0 5px 0 0; padding-top: 5px; width: 100px; text-align: right; }
.extended-address label { color: #999; } /* extended address */
.checkboxes label, .radios label { display: inline; margin: 0 0 0 5px; font-weight: normal; }
#export-form .checkbox label { width: 185px; float: left; }

/* radio & checkbox lists */
.radios, .checkboxes { margin: 0; list-style: none; }
.radios li, .checkboxes li { margin-right: 20px; list-style: none; }

/* summary / input descrition items */
em.summary { display: block; margin: 2px 0 0 0; font-style: normal; font-size: .857em; color: #999; }
	.aligned-label em.summary { margin-left: 110px; }

input[type="submit"] { display: inline-block; width: auto; padding: 5px 19px 4px; background: #f4f4f4; border: 1px solid #ddd; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; text-transform: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
input[type="submit"]:hover { border-color: #ccc; }


/* =Form Validation Errors
==================================================================================================================*/

/* base */
/* error message returned in ViewData */
.main-area .alert { float: left; width: 100%; margin: 0; }
.main-area .alert-active  { color: #386e2f; padding: 15px 15px 15px 35px; margin: 0 0 1em; background: url(/images/i_check.png) no-repeat 5px 50%; border: 1px solid #a9ce93;
	background: #e0f1d6 url(/images/i_check.png) no-repeat 10px 50%;
	background: url(/images/i_check.png) no-repeat 10px 50%, -moz-linear-gradient(top, #e0f1d6 0%, #cfe0c6 100%);
	background: url(/images/i_check.png) no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f1d6), color-stop(100%,#cfe0c6));
	background: url(/images/i_check.png) no-repeat 10px 50%, -webkit-linear-gradient(top, #e0f1d6 0%,#cfe0c6 100%);
	background: url(/images/i_check.png) no-repeat 10px 50%, -o-linear-gradient(top, #e0f1d6 0%,#cfe0c6 100%);
	background: url(/images/i_check.png) no-repeat 10px 50%, -ms-linear-gradient(top, #e0f1d6 0%,#cfe0c6 100%);
	background: url(/images/i_check.png) no-repeat 10px 50%, linear-gradient(top, #e0f1d6 0%,#cfe0c6 100%);
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* MVC base */
.field-validation-error { color: #f00; margin-left: .5em; font-size: .75em; }
.field-validation-valid { display: none; }
.input-validation-error { border-color: #ce0000; border-bottom-color: #e70000; border-right-color: #e70000; background-color: #fee; }
.validation-summary-errors { font-weight: bold; color: #f00; }
.validation-summary-errors span, .field-validation-error { padding-left: 20px; background: url(/images/sp_icons.png) no-repeat 0 -450px; }
.validation-summary-valid { display: none; }

/* alert handling (in caps to coordinate with enums */
/*.alert { float: left; display: inline; width: 20px; height: 20px; background-repeat: no-repeat; background-position: left top; }*/
.alert, .Info { background-image: url(/images/icons/info.png); }
.alert, .Warning { background-image: url(/images/icons/warn.png); }
.alert, .Error { background-image: url(/images/icons/alert.png); }




/* =Navigation
==================================================================================================================*/




/* =Layout Styles
==================================================================================================================*/
html, body { height: 100%; min-height: 930px; }
#wrap { height: 100%; min-height: 930px; }
.wrap { position: relative; width: 1140px; margin: 0 auto; }
#container { margin: 0 auto; width: 100%; }
.header, .navigation, .main-area, .footer { float: none; display: inline; width: 100%; }

.header { width: 100%; padding: 0; margin: 0 0 2em; }
	
	.utility-bar { float: left; width: 100%; height: 47px;
		background: #0d2432;
		background: -moz-linear-gradient(top, #0d2432 0%, #0c212e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d2432), color-stop(100%,#0c212e));
		background: -webkit-linear-gradient(top, #0d2432 0%,#0c212e 100%);
		background: -o-linear-gradient(top, #0d2432 0%,#0c212e 100%);
		background: -ms-linear-gradient(top, #0d2432 0%,#0c212e 100%);
		background: linear-gradient(top, #0d2432 0%,#0c212e 100%);
	}
	.menu-bar { float: left; width: 100%; height: 60px; border-top: 1px solid #224256;
		background: #173649;
		background: -moz-linear-gradient(top, #173649 0%, #132e40 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#173649), color-stop(100%,#132e40));
		background: -webkit-linear-gradient(top, #173649 0%,#132e40 100%);
		background: -o-linear-gradient(top, #173649 0%,#132e40 100%);
		background: -ms-linear-gradient(top, #173649 0%,#132e40 100%);
		background: linear-gradient(top, #173649 0%,#132e40 100%);
	}
	
	.header h1 { float: left; margin: 0; color: #fff; font: 700 18px/47px "Calibri", Arial, Helvetica, sans-serif; }
	.header a { color: #fff; text-decoration: none; }	

/* .splash .header { margin: 92px 0 45px; height: 166px; background: url(/images/bg_header.png) no-repeat center top; }

	.header h1 { float: none; margin-right: 60px; font-size: 48px; line-height: 166px; text-align: right; } */

.nav ul { float: left;  margin: 0; }
.nav li { display: inline; margin: 0 0 0 30px; line-height: 84px; font-size: 20px; }

/* Main Nav */
.menu-bar nav { float: left; height: 60px; }
.menu-bar nav ul { float: left; padding: 0; margin: 0; list-style: none; }
.menu-bar nav li { position: relative; float: left; border-right: 1px solid #224256; }
.menu-bar nav li:first-child { border-left: 1px solid #224256; }
.menu-bar nav a { display: block; padding: 0 20px; color: #fff; font: 400 14px/60px "Calibri", Arial, Helvetica, sans-serif; }

	/* Has children */
	.menu-bar nav li.has-children > a { background-image: url(/images/i_drop-down-arrow.png); background-repeat: no-repeat; background-position: 50% 88%; }

	/* Hover */
	.menu-bar nav li:hover > a {
		background: #22465c;
		background: -moz-linear-gradient(top, #22465c 0%, #1a3b50 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22465c), color-stop(100%,#1a3b50));
		background: -webkit-linear-gradient(top, #22465c 0%,#1a3b50 100%);
		background: -o-linear-gradient(top, #22465c 0%,#1a3b50 100%);
		background: -ms-linear-gradient(top, #22465c 0%,#1a3b50 100%);
		background: linear-gradient(top, #22465c 0%,#1a3b50 100%);
	}
	
	/* Active */
	.section-administration .nav-administration > a,
	.section-administration .nav-administration:hover > a,
	.section-dashboard .nav-dashboard > a,
	.section-dashboard .nav-dashboard:hover > a,
	.section-search .nav-search > a,
	.section-search .nav-search:hover > a,
	.section-folders .nav-folders > a,
	.section-folders .nav-folders:hover > a,
	.section-news-tracker .nav-news-tracker > a,
	.section-news-tracker .nav-news-tracker:hover > a,
	.section-account .nav-account > a,
	.section-account .nav-account:hover > a { background: #fff; border-top: 3px solid #00bff3; color: #0d2433; line-height: 57px; }
	
	/* Drop downs (2nd level) */
	.menu-bar nav ul ul { position: absolute; top: 60px; left: -9000em; width: 200px; background: #fff; border: 1px solid #ccc; border-top: 0; z-index: 10000; }
	.menu-bar nav ul li:hover > ul { left: 0; }
	.menu-bar nav ul ul li { float: none; border: 0; border-top: 1px solid #ccc; }
	.menu-bar nav ul ul li a { background: #FFF; transition:background .25s; -moz-transition:background .2s; -webkit-transition:background .2s; -o-transition:background .2s; }
	.menu-bar nav ul ul li:first-child { border: 0; }
	.menu-bar nav ul ul a { color: #0d2433; line-height: 30px; }
	
	.menu-bar nav ul ul li:hover a { background: #f4f4f4; }
	
	
	/* Drop downs (3rd level) */
	.menu-bar nav ul ul ul { position: absolute; top: -1px; left: 206px; background: #f4f4f4; border: 1px solid #ddd; opacity: 0;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
		-moz-transition: .25s linear all; -webkit-transition: .25s linear all; transition: .25s linear all;
	}
	.menu-bar nav ul ul ul:before { content: ""; position: absolute; top: 10px; left: -6px; width: 6px; height: 12px; background: url('/images/bg_submenu-desc.png') no-repeat 0 0; z-index: 1000; }
	.menu-bar nav ul ul li:hover ul { left: 206px; opacity: 1; }
	.menu-bar nav ul ul ul li { padding: 8px 20px; border-top: 1px solid #ccc; line-height: 1.2; }
	.menu-bar nav ul ul ul li:first-child { border: 0; }
	
	
	
/* Site Search */
.site-search { position: relative; float: right; margin-top: 13px; }
.site-search label { position: absolute; top: 0; left: -9000em; }
.site-search input[type="text"] { width: 257px; height: 12px; padding: 9px 9px 9px 32px; color: #143144; font: 400 12px/1 "Calibri", Arial, Helvetica, sans-serif;
	-moz-border-radius: none; -webkit-border-radius: none; border-radius: none;
}

	.site-search input[type="text"]::-webkit-input-placeholder { line-height: 12px; }
	.site-search input[type="text"]::-moz-placeholder { line-height: 12px; }

.site-search input[type="submit"] { position: absolute; top: 8px; left: 8px; width: 16px; height: 16px; background: url(/images/i_search.png) no-repeat 0 0; border: 0; font-size: 0; line-height: 0; z-index: 100; cursor: pointer; }


	
.tab-container .content div.primary-content { float: left; width: 65%; min-height: 300px; margin-top: 0; }
.content .secondary-content { float: left; width: 29%; padding-left: 3%; }
.secondary-content { float: right; width: 32%; padding: 0; }

/*
#main-area ul li.organization-code-, #main-area ul li.performance-code- { float: left; width: 35%; padding: 4%; border: solid 1px #ccc; text-align: center; margin-bottom: 30px; }
#main-area ul li.organization-code- { margin-right: 4%; }
*/
#main-area .organization-breakdown, #main-area .detail-block, #main-area #fund-table thead { clear: both; font-size: 85% }
#main-area .organization-breakdown { margin-bottom: 2em; }

.admin-section-title { margin: .5em 0 1em; color: #ade1f4; font: normal 1.5em/1 'Calibri', Georgia, "Times New Roman", Times, serif; }

.partial-title, .partial-content { clear: both; }
.partial-content { font-size: 85%; }

#tabs .print-options { float: right; width: auto; margin: 0 0 20px; background: url(/images/printer_icon.gif) no-repeat left 50%; padding-left: 35px; height: 27px; }
#tabs .print-options a { padding-right: 10px; font-size: 14px; }

.tabs .print-options { float: right; width: auto; margin: 0 0 20px; background: url(/images/printer_icon.gif) no-repeat left 50%; padding-left: 35px; height: 27px; }
.tabs .print-options a { padding-right: 10px; }

.tab-container {}
.tab-container .tab-title strong { font-size: 28px; font-weight: 400; color: #3d5b77; }
.tab-title h2 { margin: 0; font: 400 16px/1.5 'Calibri', Verdana, Arial, sans-serif; color: #3d5b77; }


/* Vertical Tabs */
.main-area .ui-tabs.vertical-tabs .ui-tabs-nav { float: left; width: 115px; margin: 1em 0 0; border-bottom: 0 !important; }
.main-area .ui-tabs.vertical-tabs .ui-tabs-nav li { top: auto; left: -1px; width: 100%; border-bottom: 1px solid #ccc !important; border-right: 0; text-align: center; white-space: normal;
	-webkit-border-radius: 4px; -webkit-border-top-right-radius: 0; -webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 4px; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0;
	border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0;
}
.main-area .ui-tabs.vertical-tabs .ui-tabs-nav li a { display: block; width: 100%; padding: 1em 2em; line-height: 1.2;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.main-area .ui-tabs.vertical-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 1px; border-right: 1px solid #fff; }

.main-area .ui-tabs.vertical-tabs .ui-tabs-panel { float: right; width: 909px; border-top: 1px solid #ccc;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}


#scoring-system-dialog-link { position: absolute; top: 3px; right: 0; font-size: 12px; z-index: 2; }

/* Nested Tabs */
.main-area .ui-tabs.nested-tabs { position: relative; }
.main-area .ui-tabs.nested-tabs .ui-tabs-nav { padding: 0 28px; margin: 0 -28px 2em; background: #fff; }
.main-area .ui-tabs.nested-tabs .ui-tabs-nav li { top: 0; float: none; display: inline-block; margin-bottom: 8px; background: none; border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}
.main-area .ui-tabs.nested-tabs .ui-tabs-nav li a { padding: 2px 10px; background: #f4f4f4; border: 1px solid #ddd;
	-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
}
.main-area .ui-tabs.nested-tabs .ui-tabs-nav li.ui-tabs-active { top: 0; background: none; border: 0; }
.main-area .ui-tabs.nested-tabs .ui-tabs-nav li.ui-tabs-active a { background: #daf3fd; border-color: #6dcff6; }

.main-area .ui-tabs.nested-tabs .ui-tabs-panel { padding: 0; border: 0; overflow: hidden; } 


/* Grade Tab */
#grade-tab { margin: 0; }
#grade-tab .content { position: relative; margin: 0; }
#grade-tab .grade-tab { margin: -14px 0 0; }
#grade-tab .grade-tab .two-col { clear: both; }


.secondary-content .member ul li { margin-bottom: 15px; }

.bookmarks { text-align: center; }

#search-term-suggestions { font-size: .75em; font-style: italic; }

#search-terms-container .auto-column li { background: #e8f2f5; margin-bottom: .25em; padding: .5em 1em; font-weight: bold; color: #3d5b77;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#search-terms-container .auto-column li span { display: inline-block; width: 92%; }
#search-terms-container .auto-column li a { float: right; width: 18px; height: 21px; background: url(/images/i_remove.png) no-repeat right 50%; text-indent: -9999em; }

#rss-email-container .auto-column li { background: #e8f2f5; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; width: 100%; margin-bottom: 10px; padding: 8px 4%; font-weight: bold; color: #3d5b77; }
#rss-email-container .auto-column li a { float: right; width: 18px; height: 18px; background: url(/images/g_close-arrow.png) no-repeat right 50%; text-indent: -9999em; }

.append-search-term .button { display: inline-block; padding: 6px 9px 6px 30px; margin: 10px 0 25px; background: #f4f4f4 url(/images/g_add-icon.png) no-repeat 8px 50%; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.append-search-term .button:hover { border-color: #ccc; }
.append-rss-email .button { display: inline-block; padding: 6px 9px 6px 30px; margin: 10px 0 25px; background: #f4f4f4 url(/images/g_add-icon.png) no-repeat 8px 50%; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.append-rss-email .button:hover { border-color: #ccc; }


/*.content .tab-description { background: #e8f2f5; padding: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 85%; }*/

.content .tab-description { background: none; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 1em 0; font-size: 14px; line-height: 1.5; }

.primary-content .section { float: left; width: 100%; margin: 0 0 1em !important; }

.subsection-title { margin-bottom: .5em; color: #000; font-family: Arial, Helvetica, sans-serif; }

.section-title { display: block; padding: 2em 0 5px; margin: 0 0 1em !important; border-bottom: 1px solid #ddd; clear: both; }
.section-title h2 { margin: 0; font: 400 16px/1.5 'Calibri', Verdana, Arial, sans-serif; color: #3d5b77; }
.tab-description .section-title { border: none; margin: 0; padding: 0; }


.section .notes { padding: 0; background: #fbf1c2 url('/images/bg_notes.png') repeat-y 2em 0; }
.section .notes ul { padding: 0; margin: 0; }
.section .notes ul li { margin: 0; padding: 10px 10px 10px 55px; border-top: 1px solid #e1d392; }
.section .notes ul li:first-child { border: 0; }
.section .notes ul li .note { display: inline-block; width: 580px; }
.section .add-note a { display: inline-block; padding: 6px 9px; margin: 0; background: #f4f4f4; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.section .add-note a:hover { border-color: #ccc; }
.section .delete-note { float: right;background: url("../images/icons/delete.png") no-repeat scroll center top transparent; display: none; height: 16px; text-indent: -9999em; width: 16px;margin-top: 3px;}
.section .delete-note:hover {background-position: center bottom;cursor: pointer;}
.section .modify-note { float: right;background: url("../images/icons/edit.png") no-repeat scroll center top transparent; display: none; height: 16px; text-indent: -9999em; width: 16px;margin: 3px 10px 0;cursor: pointer;}

.section .notes ul li:hover .delete-note,
.section .notes ul li:hover .modify-note { display: block; }

.section .notes table th, .section .notes table td { background: inherit; border: 0px none;}
.section .notes table tr { margin: 0;padding: 10px 10px 10px 55px;}
.section .notes table tbody tr { border-top: 1px solid #E1D392; }
.section .notes table tr:hover td { background-color: inherit;}
.section .notes table tr:hover .delete-note,.section .notes table tr:hover .modify-note { display: block; }
.section .notes table tr { background: none no-repeat scroll 0 0.4em transparent; }

.main-area { padding: 0 7.5%; width: 85%; }
	.splash .content strong { /*color: #fff; font-weight: normal; */}
	.splash .content p:first-child { font-size: 1.524em; line-height: 1.125em; }

	.rss-item { margin-bottom: 40px; padding: 30px 40px; background: #f1f7f9;  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
	.rss-subject { font-weight: bold; }
	.rss-published-date { padding-bottom: 20px; font-style:italic; }
	.rss-source { font-style: italic; }
	.rss-item .rss-summary { margin-bottom: 1em; }
	#preview-export h2 { color: #444444;display: inline;font-style: italic;margin: 0 .4em 0 0;}
	

	.secondary-content { padding-top: 34px; }
	.secondary-content.member-info { padding-top: 0; }
	.content .secondary-content div.detail-block { margin-top: 0; }
	.contact-info { float: left; width: 580px; background: url(/images/bg_email.png) no-repeat 0 0; }
	

	#masthead .login-status { float: right; color: #6dcff6; font: 400 12px/47px "Calibri", Arial, Helvetica, sans-serif; }
	#masthead .login-status ul { float: right; background: #fff;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	}
	#masthead .login-status li { position: relative; float: left; margin: 0; border-left: 1px solid #f7f3f5; text-align: center; }
	#masthead .login-status ul > li { font-weight: 700; }
	#masthead .login-status li:first-child { border: 0; }
	#masthead .login-status li a { display: block; padding: 0 20px 0 46px; line-height: 50px; background: url('/images/sp_main-nav.png') no-repeat 0 0; }
	
		#masthead .login-status li.nav-administration a { background-position: 20px 17px; }
		#masthead .login-status li.nav-search a { background-position: 20px -33px; }
		#masthead .login-status li.nav-history a { background-position: 20px -83px; }
		#masthead .login-status li.nav-folders a { background-position: 20px -133px; }
		#masthead .login-status li.nav-news-tracker a { background-position: 20px -183px; }
		#masthead .login-status li.nav-account a { background-position: 20px -233px; }
	
	#masthead .login-status li ul { position: absolute;display: none; right: 0; }
	
		/* Drop Downs */
		#masthead .login-status li.nav-search,
		#masthead .login-status li.nav-account { padding-right: 30px; background-image: url(/images/i_down-arrow.png); background-repeat: no-repeat; background-position: 95% 50%; }
		
		/* Current Section */
		.section-administration #masthead .login-status li.nav-administration,
		.section-search #masthead .login-status li.nav-search,
		.section-folders #masthead .login-status li.nav-folders,
		.section-news-tracker #masthead .login-status li.nav-news-tracker,
		.section-account #masthead .login-status li.nav-account { border-top-color: #ADE1F4; }
		
		.section-administration #masthead .login-status li.nav-administration a,
		.section-search #masthead .login-status li.nav-search a,
		.section-folders #masthead .login-status li.nav-folders a,
		.section-news #masthead .login-status li.nav-news a,
		.section-account #masthead .login-status li.nav-account a { color: #ADE1F4; }
	
	#masthead .login-status li li { width: 180px; }
	#masthead .login-status li li a { padding: 10px 20px; border-top: 1px solid #39618a; background: #24476c; line-height: 1.5em; }
	#masthead .login-status li li:first-child a { border: none; }
	#masthead .login-status li li a:hover { background: #9aaaba; color: #122e4b; }
	#masthead .login-status .welcome { margin-bottom: 8px; }
	#masthead .login-status .nav-item-list { z-index: 1; }
	#masthead .login-status .nav-account-list li { width: 140px; }
	
.splash .login-forms { width: 400px; margin: 0 auto; border: 0; padding: 0; background: none; }
.splash .login-forms #tabs { margin: 0 0 0 10px; padding: 0; background: none; border: 0; }	
.splash .login-forms #tabs li { display: inline-block; width: auto; padding: 0; margin: 0; border: 0; background: none; top: 0; }
.splash .login-forms #tabs li.ui-state-disabled { opacity: 1; }
.splash .login-forms #tabs li.ui-state-disabled a { background: #005075; color: #326f90; }
.splash .login-forms #tabs li a { display: inline-block; padding: 8px 20px; color: #fff; text-decoration: none; background: #326f90 url(/images/bg_login.png) no-repeat 0 -10px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -webkit-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0;  }

#scatter-container { /*position: relative;*/ position:block !Important; margin-top:30px !Important; text-align:center !Important; }

.pdfTitlesBlack{ color:#000 !Important; font-size:16px; font-weight:bold;}

#smallScatterVisualization{margin-top:15px !Important; }
.scatter-container #loading-large-scatter { background: rgba(0,0,0,.25); position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%; z-index: 1000; }
.scatter-container #loading-large-scatter span { position: absolute; top: 110px; left:478px; display: block; padding: 5px 20px; border-top: 1px solid #224256; color: #fff; text-align: center;
	background: #173649;
	background: -moz-linear-gradient(top, #173649 0%, #132e40 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#173649), color-stop(100%,#132e40));
	background: -webkit-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -o-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -ms-linear-gradient(top, #173649 0%,#132e40 100%);
	background: linear-gradient(top, #173649 0%,#132e40 100%);
	-moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;
}

#small-graph { float: left; width: 100%; margin: 0 0 1em; }
#scatter-container { position: relative; border: 1px solid #ccc; }
#scatter-container #view-large-scatter { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; z-index: 1000;
	-moz-transition: .25s linear background; -webkit-transition: .25s linear background; transition: .25s linear background;
}
#scatter-container #view-large-scatter span { display: none; }
#scatter-container:hover #view-large-scatter { background: rgba(0,0,0,.25); }
#scatter-container:hover #view-large-scatter span { position: absolute; top: 110px; left: 72px; display: block; padding: 5px 20px; border-top: 1px solid #224256; color: #fff; text-align: center;
	background: #173649;
	background: -moz-linear-gradient(top, #173649 0%, #132e40 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#173649), color-stop(100%,#132e40));
	background: -webkit-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -o-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -ms-linear-gradient(top, #173649 0%,#132e40 100%);
	background: linear-gradient(top, #173649 0%,#132e40 100%);
	-moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;
}
.chart-title { color: #000; text-align: center; }


.splash .login-forms .landing-form { padding: 20px 20px 10px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: 0 1px 2px rgba(0,0,0,0.6); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6); background: none repeat scroll 0 0 rgba(0, 20, 30, 0.6); color: #e8f2f5; }
.splash .login-forms .landing-form a { color: #a1d4e3; }

	.splash .landing-form .buttons { padding-top: .5em; }
	.splash .landing-form button { padding: 6px 20px; background: url(/images/bg_email.png) no-repeat center center; color: #144d71; text-shadow: 0 1px 2px rgba(255,255,255,0.6); border: 1px solid #d9d5ce; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-size: 16px; text-transform: uppercase; font-weight: bold; font-family: "garamond-premier-pro-display-1", "garamond-premier-pro-display-2", "Times New Roman", Times, serif; cursor: pointer; }
	.splash .landing-form .error { float: right; color: #ff9870; text-transform: none; }
	
/* #members, #request-access { position: relative; float: right; margin-left: 20px; width: 300px; }
	#members-inner, #request-access-inner { float: left; width: 300px; background: #326f90 url(/images/bg_login.png) no-repeat 0 0; }
	.contact-info, #members-inner, #request-access-inner { border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: 0 1px 2px rgba(0,0,0,0.6); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6); }
	#request-access-inner { background: none; }
	#members h3, .contact-info h3, #request-access h3 { margin: 0; padding: 0 20px; line-height: 56px; color: #144d71; text-shadow: 0 1px 2px rgba(255,255,255,0.6); }
		#members h3, #request-access h3 { color: #ade1f4; text-shadow: 0 -1px 2px rgba(0,0,0,0.6); cursor: pointer; }
		.contact-info a { color: #782200; text-decoration: none; }
		.landing-form .login, .landing-form .request { padding: 10px 20px 0; background: #326f90; }
		.landing-form .request { background: none; }
		.landing-form .field { padding: 0 0 .25em; }
		.landing-form input { background: #0a4266; border-color: #0a4266; width: 245px; color: #fff; }
		.landing-form label { font-size: .667em; text-transform: uppercase; } */

.footer { padding: 40px 7.5%; width: 85%; font-size: .75em; line-height: 1.6em; font-family:Verdana, Geneva, sans-serif; text-align: center; }
	#site-copyright { color: #0d2433; text-align: center; }
	#abt-brand, #abt-brand a { color: #57a9c7; text-decoration: none; }
	#abt-brand a:hover { color: #78d6f8; text-decoration: underline; }

.small-loader { float: left; display: inline; width: 30px; height: 30px; background: url(/images/ajax-loader.gif) no-repeat; }

.welcome { color: #fff; }

/* grid row actions */
.grid-row-action {display: block; text-indent: -9000em; }

.edit { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat 2px -504px; }
.view { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat 2px -568px;  }
.delete { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat 2px -291px; cursor: pointer; }
.unlocked { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat -28px -383px; }
.locked { width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat -58px -390px; }
.reset-password { float: left; width: 30px; height: 30px; background: url(/images/sp_icons.png) no-repeat 2px -383px;}
.grant-access { width: 30px; height: 30px; background: url(/images/sp_grant_access.png) no-repeat 5px 50%;}
.other-office { display: none;}

.active, .inactive { width: 50px; height: 24px; background: url(/images/sp_active.png) no-repeat 0 0;}
.inactive { background-position: -50px 0; }

.actionIcon { float: left; display: block; text-indent: -9000em;}
.help { cursor: help; float: left; display: block; width: auto; padding-left: 25px; background: url('/images/icons/help-16x16.png') no-repeat 5px 50%; text-indent: -9000em; }

/* RSS Area */

.auto-column { float: left; padding-right: 3%; width: 30%; }

#password-form, #user-form, #login-form { }

.export { }
	.export .startdate { float: left; }
		.export .startdate input { width: 87px;}
	.export .enddate { float: left;clear: none;padding: 0 0 0 2em; }
		.export .enddate input { width: 87px;}
	.export .buttons { clear: both;}
	.export label { display: inline;}
	
	
	
.toolbar,
#admin-tabs .toolbar { float: left; width: 100%; margin: 0 0 1em; }
.toolbar a,
#admin-tabs .toolbar a { display: inline-block; padding: 6px 9px; margin: 0; background: #f4f4f4; border: 1px solid #ddd; color: #3D5B77; font-size: 12px; line-height: 22px; text-decoration: none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.toolbar i,
#admin-tabs .toolbar i { position: relative; top: 4px; }

.toolbar a:hover,
#admin-tabs .toolbar a:hover { border-color: #ccc; }


/* Vertical Table */
.vertical-table {}
.vertical-table td { border: 1px solid #ddd; }
.vertical-table .row-label { background-color: #eee; }
.vertical-table tr:nth-child(2n) td:first-child, .vertical-table tr:hover td:first-child { background-color: #eee; }

	
/* Icons */	
i.icon { display: inline-block; width: 16px; height: 16px; margin-right: 5px; }
	.add-icon { background: url("/images/g_add-icon.png") no-repeat 0 0; }
	.remove-icon { background: url("/images/icons/delete.png") no-repeat 0 0; display: inline-block; height: 16px; text-indent: -9999em; width: 16px; padding-right: 7px; line-height: 17px; }
	.export-icon { background: url('/images/i_export.png') no-repeat 0 0; }
	.add-folder { background: url('/images/i_add-folder.gif') no-repeat 0 0; }
	.edit-icon { background: url('/images/i_edit.png') no-repeat 0 0; }


/* Breadcrumb */
.breadcrumb { float: left; width: 100%; margin: 0 0 2em; color: #000; font-size: 12px; }
.breadcrumb a { color: #003a5f; }


/* Pagination */
.main-area .yui-pg-container {}
.main-area .yui-pg-container span,
.main-area .yui-pg-container a { display: inline-block; padding: 4px 8px; border: 1px solid #d3d4d5; color: #525f6c; line-height: 1; font-weight: bold; text-shadow: 0 1px 0 #fff; text-decoration: none !important;
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #eaeded 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eaeded));
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#eaeded 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%,#eaeded 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%,#eaeded 100%);
	background: linear-gradient(top, #fcfcfc 0%,#eaeded 100%);
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.main-area .yui-pg-container .yui-pg-pages { padding: 0; background: none; border: 0; }
.main-area .yui-pg-container .yui-pg-current-page { border-color: #1e4a5f; color: #fff; text-shadow: 0 1px 0 #28617c;
	background: #7abcdb;
	background: -moz-linear-gradient(top, #7abcdb 0%, #3181a6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcdb), color-stop(100%,#3181a6));
	background: -webkit-linear-gradient(top, #7abcdb 0%,#3181a6 100%);
	background: -o-linear-gradient(top, #7abcdb 0%,#3181a6 100%);
	background: -ms-linear-gradient(top, #7abcdb 0%,#3181a6 100%);
	background: linear-gradient(top, #7abcdb 0%,#3181a6 100%);
}


/* Start Screen
==================================================================================================================*/
section.search { float: left; width: 100%; padding: 0 0 2em; margin: 0 0 2em; border-bottom: 1px solid #ddd; }
section.search .advanced-search .field { position: relative; padding: 0; margin: 0 0 .5em; }
section.search .advanced-search .field input[type="text"] { padding-left: 32px; }
section.search .advanced-search input[type="submit"] { position: absolute; top: 0; right: 0; display: inline-block; padding: 5px 19px 4px; background: #f4f4f4; border: 1px solid #ddd; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; text-transform: none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
section.search .advanced-search input[type="submit"]:first-child { position: absolute; top: 8px; left: 8px; width: 16px; height: 16px; background: url(/images/i_search.png) no-repeat 0 0; border: 0; font-size: 0; line-height: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}
section.search .advanced-search input[type="submit"]:hover { border-color: #ccc; }
section.search .advanced-search input[type="submit"]:first-child:hover { border: 0; }

section.search #recent-searches { float: right; width: 550px; padding: 0; margin: 0; }
section.search #recent-searches h4 { padding: 5px 15px 4px; background: #f4f4f4 url(/images/i_plus.png) no-repeat 97% 50%; border: 1px solid #ddd; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
section.search #recent-searches h4:hover { border-color: #ccc; }
section.search #recent-searches h4.open { background-image: url(/images/i_minus.png); }
section.search #recent-searches ul { padding-left: 1.25em; margin: 0; }
section.search #recent-searches:hover ul {}

section.snapshot,
section.recent-folders,
section.recent-firms,
section.updated-firms { float: left; width: 550px; margin: 0 40px 40px 0; background: #f4f4f4;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
section.recent-folders,
section.updated-firms { margin-right: 0; }
section.recent-firms { clear: left; }

section.snapshot header,
section.recent-folders header,
section.recent-firms header,
section.updated-firms header { padding: .5em 1em; border-top: 1px solid #224256;
	background: #173649;
	background: -moz-linear-gradient(top, #173649 0%, #132e40 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#173649), color-stop(100%,#132e40));
	background: -webkit-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -o-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -ms-linear-gradient(top, #173649 0%,#132e40 100%);
	background: linear-gradient(top, #173649 0%,#132e40 100%);
	-webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px;
	border-top-left-radius: 4px; border-top-right-radius: 4px;
}

section.snapshot .section-content,
section.recent-folders .section-content,
section.recent-firms .section-content,
section.updated-firms .section-content { padding: 1em; clear: left; }

section.snapshot h2,
section.recent-folders h2,
section.recent-firms h2,
section.updated-firms h2 { margin: 0; color: #fff; }

	/* Snapshot section */
	section.snapshot header { float: left; width: 100%;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	section.snapshot h2 { float: left; }
	section.snapshot h3 { position: relative; height: 16px; margin: 1em 0; border-top: 1px solid #ddd; text-align: center; }
	section.snapshot h3 span { position: relative; top: -20px; display: inline-block; padding: 1em; background: #f4f4f4; color: #999; font-size: 10px; text-align: center; text-transform: uppercase; z-index: 2; }
	section.snapshot .last-login { float: right; margin: 0; color: #6DCFF6; }
	section.snapshot .section-content div { float: left; width: 252px; padding: 1em; margin: 0 18px 20px 0; background: #fff; border: 1px solid #ddd; color: #999; font-size: 12px; text-align: center; text-transform: uppercase;
		-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	section.snapshot div.snapshot-firms {}
	section.snapshot div.snapshot-funds { margin-right: 0; }
	section.snapshot div.snapshot-fundraising { clear: left; }
	section.snapshot div.snapshot-market { margin-right: 0; }
	section.snapshot strong { display: block; color: #000; font-size: 24px; font-weight: 400; line-height: 1; }
	
	
	/* Recent Folders section */
	section.recent-folders #recent-folders { width: 100%; padding: 0; }
	section.recent-folders h3 { width: 520px; overflow: hidden; text-overflow: ellipsis; }
	section.recent-folders h3 a { font-weight: 400; }



/* Advanced Options
==================================================================================================================*/
#advanced-search-options { font-size: 12px; overflow: hidden; }
#advanced-search-options div.fieldset { padding-bottom: 0; }
#advanced-search-options div.fieldset fieldset { padding-bottom: .5em; }
#advanced-search-options legend { padding-bottom: .5em; }
#advanced-search-options .field { padding-bottom: .5em; }
#advanced-search-options .field-date input { width: 90px; text-align: center; }
#advanced-search-options .field-fundsize input { width: 70px; }
#advanced-search-options .field-fundclosed input { width: 90px; }



/* Create New User
==================================================================================================================*/
#user-form { overflow: hidden; }
#user-form .fieldset { float: right; clear: none; margin: 0 0 2em; width: 49%; border: 1px solid #ccc; overflow: hidden;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#user-form .fieldset:first-child { float: left; }
#user-form legend { float: left; display: block; width: 100%; padding: .5em 1em; margin: 0 0 1em; border-top: 1px solid #224256;
	background: #173649;
	background: -moz-linear-gradient(top, #173649 0%, #132e40 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#173649), color-stop(100%,#132e40));
	background: -webkit-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -o-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -ms-linear-gradient(top, #173649 0%,#132e40 100%);
	background: linear-gradient(top, #173649 0%,#132e40 100%);
	-webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px;
	border-top-left-radius: 4px; border-top-right-radius: 4px;	
}
#user-form legend span { color: #fff; font-weight: normal; }
#user-form .fieldset .wrap { width: auto; padding: 1em 3em 0; }

#user-form .buttons { float: left; width: 100%; padding: 1em; margin: 0; background: #f4f4f4; text-align: right; clear: both;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#user-form .buttons input[type="submit"]:first-child { padding-left: 30px; background: url(/images/i_check.png) no-repeat 8px 50%; }


/* Change Password
==================================================================================================================*/
#password-form input[type="submit"] { padding-left: 30px; background: #f4f4f4 url(/images/i_lock.png) no-repeat 8px 50%; }


/*= Create Group
==================================================================================================================*/
.create-group { float: left; width: 100%; margin: 0 0 1.5em !important; background: #f3f8fb; border: 1px solid #e0e5e9; overflow: hidden;
	-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-group legend { float: left; width: 100%; padding: .5em 1em; margin: 0; border-bottom: 1px solid #e0e5e9; font-size: 1em;
	background: #e7eef3;
	background: -moz-linear-gradient(top, #e7eef3 0%, #ced5da 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eef3), color-stop(100%,#ced5da));
	background: -webkit-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -o-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -ms-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-group fieldset { padding: 0; }
.create-group .field-wrap { float: left; width: 100%; padding: 1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-group .field { float: left; width: 33%; padding: 0; clear: none; }
.create-group .field label { font-size: 12px; }
.create-group .buttons { float: left; width: 100%; padding: .5em 1em; margin-bottom: 0; border-top: 1px solid #e0e5e9; clear: both;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-group .buttons input { padding: 4px 24px; background: #c2ced5; border: 1px solid #9aadb9; color: #000; font-size: 12px; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-transform: capitalize; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}


/*= Edit Group
==================================================================================================================*/
.edit-group { float: left; width: 100%; margin: 0 0 1.5em !important; background: #f3f8fb; border: 1px solid #e0e5e9; overflow: hidden;
	-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.edit-group legend { float: left; width: 100%; padding: .5em 1em; margin: 0; border-bottom: 1px solid #e0e5e9; font-size: 1em;
	background: #e7eef3;
	background: -moz-linear-gradient(top, #e7eef3 0%, #ced5da 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eef3), color-stop(100%,#ced5da));
	background: -webkit-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -o-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -ms-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.edit-group fieldset { padding: 0; }
.edit-group .field-wrap { float: left; width: 100%; padding: 1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.edit-group .field { float: left; width: 33%; padding: 0; clear: none; }
.edit-group .field label { font-size: 12px; }
.edit-group .buttons { float: left; width: 100%; padding: .5em 1em; margin-bottom: 0; border-top: 1px solid #e0e5e9; clear: both;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.edit-group .buttons input { padding: 4px 24px; background: #c2ced5; border: 1px solid #9aadb9; color: #000; font-size: 12px; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-transform: capitalize; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}



/*= Create Segment
==================================================================================================================*/
.create-segment { float: left; width: 100%; margin: 0 0 1.5em !important; background: #f3f8fb; border: 1px solid #e0e5e9; overflow: hidden;
	-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-segment legend { float: left; width: 100%; padding: .5em 1em; margin: 0; border-bottom: 1px solid #e0e5e9; font-size: 1em;
	background: #e7eef3;
	background: -moz-linear-gradient(top, #e7eef3 0%, #ced5da 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eef3), color-stop(100%,#ced5da));
	background: -webkit-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -o-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -ms-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-segment fieldset { padding: 0; }
.create-segment .field-wrap { float: left; width: 100%; padding: 1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-segment .field label { font-size: 12px; }
.create-segment .buttons { float: left; width: 100%; padding: .5em 1em; margin-bottom: 0; border-top: 1px solid #e0e5e9; clear: both;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.create-segment .buttons input { padding: 4px 24px; background: #c2ced5; border: 1px solid #9aadb9; color: #000; font-size: 12px; font-weight: bold; font-family: Verdana, Arial, sans-serif; text-transform: capitalize; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}




/* UI Tabs
==================================================================================================================*/
.main-area .ui-tabs .ui-tabs-nav { display: none; }
.main-area .ui-tabs .ui-tabs-nav li { font-size: 12px; background: #fafafa; }
.main-area .ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.main-area .ui-tabs .ui-tabs-nav li.ui-state-active { top: 2px; background: #fff; border-color: #ccc; font-weight: 700; }
.main-area .ui-tabs .ui-tabs-nav li a { padding: .5em 2em; }

.main-area .ui-tabs .ui-tabs-nav li:hover { background: #fff; border-color: #ccc; }

.main-area .ui-tabs .ui-tabs-panel { padding: 2em; margin-top: 0; border: 1px solid #ccc; border-top: 0; }


/* Data Table Grid
==================================================================================================================*/
.rx-grid { font-size: 11px; }
.rx-grid a { color: #146b8b; }

/*#search-results-grid .yui-dt-even td { background-color: #fff; }
#search-results-grid .yui-dt-odd td { background-color: #edf3f5; }*/

.main-area .yui-skin-sam .yui-dt table { border: 0; }

.main-area .yui-skin-sam .yui-dt th { font-weight: bold; border-top: 1px solid #d0d6db; text-shadow: 0 1px 0 #fff;
	background: #e7eef3;
	background: -moz-linear-gradient(top, #e7eef3 0%, #ced5da 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eef3), color-stop(100%,#ced5da));
	background: -webkit-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -o-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -ms-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: linear-gradient(top, #e7eef3 0%,#ced5da 100%);
}
.main-area .yui-skin-sam .yui-dt th a { font-weight: bold; }

.main-area .yui-skin-sam tr.yui-dt-odd { background: #f3f8fb; border-top: 1px solid #e0e5e9; border-bottom: 1px solid #e0e5e9; }
	.main-area .yui-skin-sam .yui-dt td { border-top: 1px solid #e0e5e9;  }
	.main-area .yui-skin-sam .yui-dt-last { border-right: 1px solid #CBCBCB; }
.main-area .yui-skin-sam tr:hover { background: #e8f1f6; }

#search-results-grid input { width: auto; }

.rx-grid, rx-grid-footer { float: left; display: inline; width: 100%; color: #222222; }
.rx-grid-footer { padding: 1em 0; border-top: 1px solid #ccc; clear: both; }
	.rx-grid-footer ul { margin: 0; }





.diligence-level-wrapper { width: 87%; height:14px; padding: 2px; border: 1px solid #ddd; }
.folders .diligence-level-wrapper { height: 12px;}
div.organization-header-info { width: 100%; float: left; }
.organization-metrics { margin: 0 0 2em; font-size: 75%; float: left; width: 100%; margin-top:-30px; }
.organization-metrics p { float: right; margin: 0 5px 0; line-height: 20px; }
.organization-metrics .org-diligence-level-wrapper { width: 80px; float: right; padding: 2px; line-height: 14px; /*background: url(../images/bg_diligence-level.gif) repeat-x;*/ border: 1px solid #ccc;
	/*-webkit-box-shadow: inset 0px 0px 3px 0px #000;
	-moz-box-shadow: inset 0px 0px 3px 0px #000;
	box-shadow: inset 0px 0px 3px 0px #000; */
    clear: both
}

.diligence-level-0,
.diligence-level-1,
.diligence-level-2,
.diligence-level-3,
.diligence-level-4,
.diligence-level-5,
.diligence-level-6,
.diligence-level-7,
.diligence-level-8,
.diligence-level-9,
.diligence-level-10 { text-indent: -9999em; background-color: #a5c24f; }

.diligence-level-0 { width: 2%; }
.diligence-level-1 { width: 10%; }
.diligence-level-2 { width: 20%; }
.diligence-level-3 { width: 30%; }
.diligence-level-4 { width: 40%; }
.diligence-level-5 { width: 50%; }
.diligence-level-6 { width: 60%; }
.diligence-level-7 { width: 70%; }
.diligence-level-8 { width: 80%; }
.diligence-level-9 { width: 90%; }
.diligence-level-10 { width: 100%; }


/* toggle elements */

.toggle-container { float: left; width: 100%; margin: 0 0 1.5em; }

.table-search { float: left; width: 100%; margin: 0 0 1.5em !important; background: #f3f8fb; border: 1px solid #e0e5e9; overflow: hidden;
	-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.table-search legend { float: left; width: 100%; padding: .5em 1em; margin: 0; border-bottom: 1px solid #e0e5e9; font-size: 1em;
	background: #e7eef3;
	background: -moz-linear-gradient(top, #e7eef3 0%, #ced5da 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eef3), color-stop(100%,#ced5da));
	background: -webkit-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -o-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: -ms-linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	background: linear-gradient(top, #e7eef3 0%,#ced5da 100%);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.table-search fieldset { padding: 0; }
.table-search .field-wrap { float: left; width: 100%; padding: 1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.table-search .field { float: left; width: 33%; padding: 0; clear: none; }
.table-search .field label { font-size: 12px; }
.table-search .buttons { float: left; width: 100%; padding: .5em 1em; margin-bottom: 0; border-top: 1px solid #e0e5e9; clear: both;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.table-search .buttons input { padding: 4px 24px; background: #c2ced5; border: 1px solid #9aadb9; font-size: 12px; font-weight: bold; text-transform: capitalize; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}


.toggle-link { height: 33px; margin-bottom: .5em; }


#user-search legend, #user-search label { color: #2c84b4; }
#user-search #user-grid-search-button {  }


/*#rss-tabs .ui-tabs-nav li { margin-top: 0.76em; font-size: 75%; }
#rss-tabs .ui-tabs-nav li.ui-tabs-selected { margin-top: 0.3em; font-size: 100%; }

#tabs .ui-tabs-nav li { margin-top: 0.76em; font-size: 75%; }
#tabs .ui-tabs-nav li.ui-tabs-selected { margin-top: 0.3em; font-size: 100%; } */

#forgot-password a { color: #32709F;}
#forgot-password a:hover, #forgot-password a:focus { color: #8A2800; }

/* advanced search */

/*.view-segment .buttons { float: left; width: 721px; padding: 1em; margin: 2.5em 0 0; background: #f4f4f4; text-align: right; clear: both;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}*/


#selected-folder-widget-container, #top-selected-folder-widget-container { position: relative; float: left; width: auto; margin: 0 0 1em; clear: both; }
#selected-folder-widget-container .selected-folder-widget { left: -10px; top: -80px; }
	.selected-folder-widget { clear: both; width: 165px; }
	.selected-folder-widget h4 { float: left; margin: 0; cursor: pointer; }
	.selected-folder-widget ul { display: none; left: 0; padding: 0; width: 180px; }
	.selected-folder-widget ul li, .selected-folder-widget ul li { clear: left; width: 160px; }

.search-header { float: left; margin-bottom: 5px; width: 100%;}
.search-header .search-term { display: block; float: left;margin-bottom: 15px;}
.search-num { float: right; display: inline-block; padding: 4px 8px; border: 1px solid #d3d4d5; color: #525f6c; line-height: 1; font-weight: bold; font-size: 11px; text-shadow: 0 1px 0 #fff; text-decoration: none !important;margin-top: 15px;
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #eaeded 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eaeded));
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#eaeded 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%,#eaeded 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%,#eaeded 100%);
	background: linear-gradient(top, #fcfcfc 0%,#eaeded 100%);
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }


.page-title { color: #000; font-size: 1.25em; font-family: Arial, Helvetica, sans-serif; }


.group-info { float: left; width: 100%; margin: 0 0 2em; clear: both; color: #000; }
.group-info dl { float: left; width: 400px; padding: 1em; border: 1px solid #ccc;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.group-info dt { float: left; width: 150px; clear: left; }
.group-info dd { float: left; }


/* Multiselect
----------------------------------*/
select.multiselect { width: 759px; height: 400px; }

.ui-multiselect { border: solid 1px #ccc; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }
.ui-multiselect ul.available li:hover { background: #f4f4f4; }

.ui-multiselect .ui-state-highlight { background: #ADE1F4; border: 0; border-top: 1px solid #99d2e7; border-bottom: 1px solid #99d2e7; }
  
.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }

form.advanced-search{ width: 549px; color: #222222; padding: 0;float: left; background: #fff;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px;
	}
	form.advanced-search legend { padding: 0; color: #57A9C7; font-size: 14px; font-weight: 400; }
	form.advanced-search legend:hover { color: #78D6F8; text-decoration: underline; }
	form.advanced-search legend.expand { background-image: url("/images/icons/i_triangle_up.gif") }
	form.advanced-search legend:hover { cursor: pointer;}
	form.advanced-search label[for="Search"] { font-size: 24px; }
	form.advanced-search .text { min-width: 430px; margin-right: 10px;}
	form.advanced-search fieldset{ float: left; width: 100%; padding: 0; margin-top: .5em; }
	form.advanced-search label{ display: block; }
	form.advanced-search select { width: auto; }
	form.advanced-search .buttons{display: inline;}
	form.advanced-search .column-1{ float: left; width: 270px; }
	form.advanced-search .column-2{ float: left; width: 290px; }
	form.advanced-search .column-3{ float: left; width: 265px; }
	form.advanced-search .column-3 label{width:240px;}
	form.advanced-search .number, form.advanced-search .date{width: 106px;}
	form.advanced-search option{min-width: 40px;}
	form.advanced-search .field-validation-error{font-size: 0.85em;display: block;}
	
	
	.search-sidebar {color: #222222; padding: 15px 0 0 20px; float: left;width: 130px;}
	.search-sidebar ul { margin-bottom: 10px; }
	.search-sidebar ul li { padding-left: 0px; margin: 0 0 .5em; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
	.search-sidebar h4 { color: #222222; margin-bottom: .75em; padding-bottom: .25em; border-bottom: 1px solid #ddd; }
	.search-sidebar a { color: #146B8B; text-decoration: none; }
	.search-sidebar a:hover { text-decoration: underline; }
	.search-container .section { float: left; min-width: 410px; }
	
.folders{ float: left; width: 100%; color: #222; background: #fff; font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
.folders a { color: #144D71;}

.main-area .folders > ul { float: left; width: 100%; border: 1px solid #ccc; }
.main-area .folders li { position: relative; padding: 2em; clear: both; min-height: 60px; border-top: 1px solid #ccc; overflow: hidden;
	background: #fcfdfd;
	background: -moz-linear-gradient(top, #fcfdfd 0%, #eceef0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfdfd), color-stop(100%,#eceef0));
	background: -webkit-linear-gradient(top, #fcfdfd 0%,#eceef0 100%);
	background: -o-linear-gradient(top, #fcfdfd 0%,#eceef0 100%);
	background: -ms-linear-gradient(top, #fcfdfd 0%,#eceef0 100%);
	background: linear-gradient(top, #fcfdfd 0%,#eceef0 100%);
}
.main-area .folders li:first-child { border: 0; }
.main-area .folders li:hover {
	background: #fdfefe;
	background: -moz-linear-gradient(top, #fdfefe 0%, #f1f2f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfefe), color-stop(100%,#f1f2f4));
	background: -webkit-linear-gradient(top, #fdfefe 0%,#f1f2f4 100%);
	background: -o-linear-gradient(top, #fdfefe 0%,#f1f2f4 100%);
	background: -ms-linear-gradient(top, #fdfefe 0%,#f1f2f4 100%);
	background: linear-gradient(top, #fdfefe 0%,#f1f2f4 100%);
}

.main-area .folders li .toolbar { float: right; width: auto; margin: 1em 0 0; }

.main-area .folders li table { background: #fff; }

h3.folder-toggle{ float: left; margin: .5em 0 0; }
h3.folder-toggle > a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; }
/*.delete-folder{ display: block; position: absolute; top: 0; right: 0; width: 120px; padding: 5px 0; text-align: center; font-weight: bold; text-decoration: none; font-size: 12px; background: url(/images/bg_email.png) no-repeat center center; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }*/
.create-folder{ display: block;clear: both;}
.main-area .folders th, .main-area .folders td { border: none; padding: 5px 10px; line-height: 12px; }
.main-area .folders td { border-top: 1px solid #ccc; }
.folder-closed, .folder-open { height: 33px; padding: 15px 0 0 65px; font-size: 14px; text-decoration: none; background: url(../images/icons/folder.png) no-repeat; }
.search-sidebar .folder-closed, .search-sidebar .folder-open { padding: 0 0 0 40px; line-height: 33px; background-image: url(../images/icons/folder_sm.png); }
.folder-closed { background-position: left bottom; }
.folder-open { background-position: left top; }
.folders a.remove-organization { display: block; height: 16px; width: 16px; text-indent: -9999em; background: url(../images/icons/delete.png) center top no-repeat;}
.folders a.remove-organization:hover { background-position: center bottom;}
.ui-autocomplete { width: 275px; height: 200px; overflow-y: scroll; }
	.ui-autocomplete li { padding-left: 10px; text-align: left; }
	.ui-autocomplete li a { line-height: 1em; }

.organization-name, h1.folders-title { float: left; margin-bottom: 8px; }
.organization-name { width: 65%; }
.organization-name h1 { margin-bottom: 8px; font-size: 24px; font-weight: 400; color: #3d5b77;float: left; }
.organization-name p.org-website { margin-bottom: 5px; font: 400 12px/1.5 "Calibri", Arial, Helvetica, sans-serif;clear: left;}
.organization-name .organization-icons > img { margin-top: 4px;    margin-bottom: 5px;    margin-left: 5px; display: none;}
.organization-name .organization-icons > img:first-child { margin-left: 1em; }
.org-website a { }
.org-website a:hover { text-decoration: none; }

.organization-metrics .date-updated {float: right; display: inline;margin: 0 10px; line-height: 20px; }
.folder-widget, .request-more-info { }
#search-results-grid .folder-widget { margin: 10px 3px;}
.request-more-info { padding: 1px 0; }
.organization-header-info .buttons { float: right; width: 35%; text-align: right; }
.organization-header-info .folder-widget, .organization-header-info .request-more-info { position: relative; display: inline-block; }
.organization-header-info .request-more-info { width: auto; }
.folder-widget a { color: #333333; text-decoration: none;}
.folder-widget-title, .request-more-info-title a { display: inline-block; padding: 6px 9px 6px 30px; margin: 0; background: #f4f4f4 url(/images/i_folder.png) no-repeat 8px 50%; border: 1px solid #ddd; color: #3D5B77; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; text-decoration: none; cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.request-more-info-title { margin: 0; }
.request-more-info-title a { display: inline-block; padding: 6px 9px 6px 30px; margin: 0; background: #f4f4f4 url(/images/i_comment.png) no-repeat 8px 50%; border: 1px solid #ddd; color: #3D5B77; font: 400 12px/22px "Calibri", Arial, Helvetica, sans-serif; text-decoration: none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;	
}
.request-more-info-title a:hover { border-color: #ccc; }
.folder-widget-list { position: absolute; z-index: 100000; top: 35px; display: none; background: #fff; width: 100%; padding:0 4px 0 0;width: 120px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-radius: 0px 0px 2px 2px;
	border-radius: 0px 0px 2px 2px; 
	-webkit-box-shadow: 0px 0px 3px 0px #3b4e60;
	-moz-box-shadow: 0px 0px 3px 0px #3b4e60;
	box-shadow: 0px 0px 3px 0px #3b4e60; }
.folder-widget-list .folder-widget-listitem { background: url('../images/g_add-icon.png') 2px 5px no-repeat; padding: 2px 0 0 20px; text-align:left;width: auto;transition: background-color .1s;-moz-transition: background-color .1s;-webkit-transition: background-color .1s;}
.organization-header-info .folder-widget-listitem {background: url('../images/g_add-icon.png') 2px 5px no-repeat;width: 124px;}
.organization-header-info .folder-widget-list { width: 140px; }

.folder-widget-listitem:hover { background-color: #557893; }
.folder-widget-listitem:hover a { color: #fff; }
.folder-widget-listitem a { transition:color .1s;-moz-transition: color .1s;-webkit-transition: color .1s;}
.folder-widget-selected { font-weight: bold; }
.new-folder { border-top: 1px solid #CCCCCC; }
#tabs{ clear: both; }
.organization-list { float: left; width: 100%; margin: 1em 0 3em; clear: both; overflow-x: auto; }
.search-sidebar .organization-list { margin-bottom: 10px; padding: 7px; font: 12px 'Calibri', 'Arial', sans-serif; color: #353535; background: #fff; border: 1px solid #ccc;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
	.search-sidebar .organization-list ul { margin: 0; }
#tooltip{display: none; width: 260px;text-align: center;background: #fff;padding: 10px 20px; color:#000; z-index: 1; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.25);-moz-box-shadow: 0 1px 5px rgba(0,0,0,.25);box-shadow: 0 1px 5px rgba(0,0,0,.25);font-size: 13px; }

#tabs .no-data { background: #fefefe; border-color: #f2f2f2; }
#tabs .no-data a { color: #d2d2d2; }
#tabs .no-data a:hover { color: #b2b2b2; cursor: not-allowed; }

.section-information, .tab-description { padding-left: 0; text-align:justify; }

.main-area .section-information ul li { padding: 0; }

.section-information td { text-align: left;}
.content .section .document{ display: block; padding-top: 1.5em;margin: 0;}

#search-results-grid th div, #search-results-grid td div { text-align: center; }
#search-results-grid th.yui-dt0-col-Name div, #search-results-grid td.yui-dt0-col-Name div { text-align: left; }

ul.section-information, li.evaluation-container { list-style: disc; }
#evaluation-tab li.evaluation-container { margin-bottom: 25px; }
#evaluation-tab li .evaluation-description { margin-bottom: 0; }
#evaluation-tab li .evaluation-note { margin-top: 0; text-align:justify }

#tabs .tab-title.team-member { margin: 25px 0 5px; }

#overview-tab .meters { float: left; width: 100%; margin: 0; }
#overview-tab .secondary-content { padding-top: 0; }
.secondary-content li.performance-code,
.secondary-content li.organization-code { float: left; width: 49%; border: 1px solid #ccc; text-align: center; padding: 0; margin: 0 0 15px; }
.secondary-content li.organization-code { border-right: none; }
.secondary-content li.performance-code h3,
.secondary-content li.organization-code h3 { padding: 5px 15px; margin-bottom: 0; background: #557893; color: #fff; font-family: Arial, Helvetica, sans-serif; }
.secondary-content .meter { width: 100%; margin: 0; padding: 10px 0 5px;}


.access-constrained-true,
.access-constrained-false,
.focus-list,
.radar-list,
.emerging-manager-true,
.emerging-manager-false { float: right; display: inline-block; text-indent: -9999em; }

.access-constrained-true { display: inline-block; margin-left: 5px; margin-bottom: 5px; height: 16px; width: 16px; background: url('../images/icons/i_lock.png'); }
.focus-list { display: inline-block; height: 16px; margin-left: 5px; margin-bottom: 5px; width: 17px; background: url('../images/icons/i_star.png'); }
.emerging-manager-true { display: inline-block; margin-left: 5px; margin-bottom: 5px; height: 16px; width: 16px; background: url('../images/icons/i_sprout.png'); }

.key-takeaway { margin-left: 5px; margin-top: 1px; margin-bottom: 4px; height: 16px; width: 16px; background: url('../images/icons/i_info.png'); display: inline-block; text-indent: -9999em; }
.radar-list { margin-left: 5px; margin-top: 1px; margin-bottom: 4px; height: 16px; width: 16px; background: url('../images/i_radar.png'); display: inline-block; text-indent: -9999em; }
.request-information { margin-left: 5px; margin-top: 1px; margin-bottom: 4px; height: 16px; width: 16px; background: url('../images/i_comment.png'); display: inline-block; text-indent: -9999em; }
	.organization-header-info .key-takeaway,
	.organization-header-info .radar-list,
	.organization-header-info .access-constrained-true, 
	.organization-header-info .focus-list, 
	.organization-header-info .emerging-manager-true { float: none; }


#container .yui-skin-sam th.yui-dt-sortable .yui-dt-label { margin-right: 0; }
#container .yui-skin-sam .yui-dt th .yui-dt-liner { white-space: normal; }
#container .yui-skin-sam .yui-dt th { vertical-align: middle; }

.other-office-toggle { background: url(/images/icons/i_triangle_down.gif) no-repeat scroll right 50% transparent; padding-right: 16px;font-size: smaller;}
.other-office-toggle.expanded-offices { background: url(/images/icons/i_triangle_up.gif) no-repeat scroll right 50% transparent; }
.yui-pg-rpp-options { width: 50px;}

#request-diligence-dialog { font-size: smaller; }
#request-diligence-dialog legend {padding: 0.5em 0; }
#request-diligence-dialog p { margin: 10px 0;}
#request-diligence-dialog .radios { float: left; width: 100%; margin: 1em; }
#request-diligence-dialog .radios ul li  { float: left;clear: left;padding: 0 0 1em;}
#request-diligence-dialog .radios ul li label { display: inline-block; }
#request-diligence-dialog .radios input.radio { width: auto; }
.small-text { padding-left: .5em; color: #999; font-size: 10px; }

.analysis-graph { display: none; }
th.analysis-slider { background: #fff; }
td.analysis-slider { background: url(/images/g_arrow-right.png) no-repeat scroll 50% 50% transparent;}
td.analysis-slider.expanded {background: url(/images/g_arrow-down.png) no-repeat scroll 50% 50% transparent; }
tr.analysis-graph td { background: #fff; padding-left: 20px;}
/*.track-record h3 { color: #222;font: bold 13px 'Calibri', Veranda, Arial, sans-serif;margin: 0;background: url(/images/g_arrow-right.png) no-repeat scroll left 50% transparent; padding-left:25px;line-height: 20px;}
.track-record h3.expanded {background: url(/images/g_arrow-down.png) no-repeat scroll left 50% transparent;}*/
.track-record h3 { color: #222;font: bold 13px 'Calibri', Veranda, Arial, sans-serif;margin: 0; padding-left:20px;line-height: 20px;}
.track-record h3.expanded {}
.record-analysis { padding: 0 20px;}
table.evaluation ul li { list-style: disc;margin-left: 20px;padding-left: 0;}
.yui-dt-liner .org-name { display: inline-block; margin: 0 0 .5em; }
#fund-tab tr.fund { font-size: 0.85em;}
.individual-fund .content .secondary-content { margin-top: 7px; }

.slider { background: url("/images/g_arrow-right.png") no-repeat scroll 100% 50% transparent; display: inline; padding-right: 20px;}
.slider.expanded {background: url(/images/g_arrow-down.png) no-repeat scroll 100% 50% transparent; }
/*
a.rename-folder, .add-org-to-folder { float: left; margin: 0 0 0 20px; padding: 0 0 0 20px; line-height: 52px; }
a.rename-folder { background: url(../images/icons/edit.png) left center no-repeat; }
a.add-org-to-folder { background: url(../images/g_add-icon.png) left center no-repeat; }
*/
#admin-tabs div { margin: 0;}


/* Grade - Scatter */
#organization-grade { float: left; width: 173px; padding: 1em; margin: -5px 0 1.5em; background: #fffae5; border: 1px solid #fc0; font-size: 12px;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#organization-grade dl { float: left; width: 100%; padding: 0; margin: 0; }
#organization-grade dt { display: inline-block; }
#organization-grade dd { display: inline-block; margin: 0; }

#chart-options { float: right; width: 866px; margin: 0 0 1.5em; font-size: 12px; }
#chart-options .field { float: left; width: 25%; padding: 0 0 0 1em; margin: 0; clear: none;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#chart-options .field label { display: block; width: 100%; }
#chart-options .chzn-container { margin: 0; }
#chart-options .chzn-drop { margin: 0; }
#chart-options input[type="submit"] { display: none; }

/* Individual Fund */
.individual-fund { clear: both; }


/* Scorecard */
.scorecard {}
.scorecard table { margin: 0 0 1em; }
.scorecard td.empty { border: 0; }
.scorecard .group-label { width: 46px; padding: 0; border-bottom: 0; border-right: 1px solid #7f7f7f; }
	#tab-3 .scorecard .group-label { width: 73px; line-height: 1.2; }
	#tab-3 .scorecard .group-label span { line-height: 1.2; }
.scorecard .group-label span { display: block; text-align: center;
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	/*-moz-rotation-point: 0 0;*/
	-webkit-transform: rotate(-90deg);
	/*-webkit-rotation-point: 0 0;*/
	-o-transform: rotate(-90deg);
	/*-ms-writing-mode: tb-lr;
	* html writing-mode: tb-lr;*/
}
.scorecard .label-desc { width: 108px; }
.scorecard .cell-nodata { background: #f4f4f4; color: #999; text-align: center; }
.scorecard .col-poor,
.scorecard .col-weak,
.scorecard .col-std,
.scorecard .col-strong,
.scorecard .col-exceptional { width: 62px; line-height: 16px; text-align: center; }
.scorecard .checked { display: inline-block; width: 16px; height: 16px;  }


/* Scatter chart */
.scatter-chart { height: 650px; margin-top: 0; border: 1px solid #CCC; text-align: center; clear: both; padding-left:4px }



/* Bar graph */
.bar-container { float: left; }
.distribution-container { float: right;margin-right: 10px;}



/*  loading bar  */
#loading-bar { position: fixed;height: 100%;top: 0;background: rgba(0, 0, 0, .5); width:100%;text-align: center;font-family: Veranda, Arial, sans-seriff;display: none;}
#loading-bar p {width: 100px; padding:30px; background:#fff; position: absolute; top:400px; left: 50%; margin-left:-65px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
#loading-bar p a.close-load {position:absolute; right:7px; top:7px; background:url(/images/g_close-arrow.png) no-repeat transparent 50% 50%; height:20px; width:20px;}
#loading-bar p span{color:#000; display:block; margin-top:4px;}

/*  track record  */
.analysis-graph img { width: 100%;}
.record-analysis img { width: 100%;}
.simple-tooltip { cursor: help;}
#trackrecord-tab .track-record { float: left; width: 100%; padding: .25em 0; margin: 0 0 .25em; background: #f4f4f4; border: 1px solid #ddd;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#trackrecord-tab .track-record:hover { border-color: #ccc; }
#trackrecord-tab .track-record h3 { cursor: pointer; }
#trackrecord-tab .track-record img { max-width: 100%; height: auto; }


/* jQuery UI Dialog */
div.ui-dialog { padding: 0; font-size: 14px;
	-moz-box-shadow: 0 1px 20px rgba(0,0,0,.25); -webkit-box-shadow: 0 1px 20px rgba(0,0,0,.25); box-shadow: 0 1px 20px rgba(0,0,0,.25);
}
div.ui-dialog .ui-dialog-titlebar { padding: 1em; border: 0; border-bottom: 1px solid #bababa; text-align: center;
	background: #173649;
	background: -moz-linear-gradient(top, #173649 0%, #132e40 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#173649), color-stop(100%,#132e40));
	background: -webkit-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -o-linear-gradient(top, #173649 0%,#132e40 100%);
	background: -ms-linear-gradient(top, #173649 0%,#132e40 100%);
	background: linear-gradient(top, #173649 0%,#132e40 100%);
	-webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0; border-bottom-left-radius: 0;
}
div.ui-dialog .ui-dialog-title { float: none; margin-right: 0; color: #fff; font-weight: 700; }
div.ui-dialog .ui-dialog-titlebar-close { right: 1em; background: #1f3f54; }
div.ui-dialog .ui-dialog-titlebar-close:hover { background: #25465a; }
div.ui-dialog .ui-dialog-titlebar-close span { background-image: url(/css/custom-theme/images/ui-icons_222222_256x240-white.png); }

div.ui-dialog .ui-dialog-content { padding: 1em; }

div.ui-dialog .ui-dialog-buttonpane { margin-top: 0; border-top: 1px solid #eee; }


/* Non-Semantic Helper Classes
======================================================================================================= */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { *zoom: 1; }

.print-only { display: block; }
.screen-only { display: none; }
.page-break { display: block;page-break-before: always; clear: both;}
.page-break-only { page-break-before: always; clear: both;}
.grade-tab > div {page-break-before:always; }
.no-page-break {
    page-break-before: avoid!important;
}

/* Google Chart Specifics
======================================================================================================= */
.content .bar-container .x-label-container{ position: relative;float: left;  margin: 0; }
	.bar-container .x-labels { position: absolute; font-size: 12px;}
	
.content .scatter-container .x-label-container, .content .scatter-container .y-label-container { position: relative; }
	.scatter-container .x-labels { position: absolute; }
	.scatter-container .y-labels { position: absolute; }

.content .distribution-container .x-label-container{ position: relative;float: left;  margin: 0; }
	.distribution-container .x-labels { position: absolute; font-size: 12px;}


.info-message {
    padding: 1em;
    background: #fffae5;
    border: 1px solid #fc0;
    font-size: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align:center;
}

.screen-middle-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.screen-middle-middle {
    display: table-cell;
    vertical-align: middle;
}

.screen-middle-inner {
    margin-left: auto;
    margin-right: auto; 
}

.ui-tabs .ui-tabs-panel div{ margin:0px !Important; }
.main-area .ui-tabs .ui-tabs-panel, .main-area{ padding:0px !Important;}
.wrap{ width:700px !Important; }




.tab-description, .section-information{ width:99% !Important;}


.print-all-terms { width:100%; height:100%; }
.print-all-terms .title { font-weight: bold; text-align: center; font-size: 12pt; padding: 40px 0 20px 0 }
.print-all-terms .reminder { font-weight: bold; font-size:11pt; text-decoration: underline; padding: 10px 10px 20px 10px; }
.print-all-terms .p-content { border: black 1px solid; padding: 0 10px 0 10px; text-align: justify; }
.print-all-terms .p-content p { padding-top:10px; }
.print-all-terms .p-content p span { font-weight:bold }

.print-kt { page-break-inside:avoid !important; }
      