﻿@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Styles/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Umbraco/Site.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>Umbraco 5</h1>
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    @if (ViewBag.IsInstalled == null || !ViewBag.IsInstalled)
                    {
                        <li>@Html.ActionLink("Install " + UmbracoWebApplication.ProductVersionInfo, "Index", "Install")</li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("App", "Default", new {area = Url.GetBackOfficeArea()})">Log in to the backoffice</a></li>                        
                    }
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>*@
