@inherits PartialViewMacroPage
@using Umbraco.Cms.Web
@using Umbraco.Cms.Web.Macros
@using Umbraco.Framework

@{
    //Get the current page
    var currentPage = DynamicModel;

    //Will walk up the tree to the last ancestor node aka RootNode
    var rootNode = currentPage.AncestorsOrSelf.Last();
    
    //get the highest level node for the selected node before the root node
    //used for seting the active top level menu
    String selected = null;
    foreach(var item in currentPage.AncestorsOrSelf)
    {
    	if (item.Level == 2) {
            selected = item.Id.ToString();
            break;
        }
    }
    <div class="nav">
       @childPages(rootNode.Children, selected)
    </div>
}

@helper childPages(dynamic pages, String selected)
{
    //Check we have pages to loop through
    if (pages.Any())
    {
        //Get the navigation level
        var naviLevel = pages.First().Level - 1;
        
        //only go 2 levels deep
        if (naviLevel <= 2) {
        
            <ul class="level@(naviLevel)">
            	@if (naviLevel == 1)
                {
                   <li class="home">
                   	<a href="/">Home</a>
                   </li>
                }
            
                @foreach (var page in pages)
                {
                    //Check the page is not hidden with umbracoNaviHide
                    if (page.umbracoNaviHide != "True")
                    {
                    	//Check to see if it has any children
                        var hasChildren = naviLevel < 2 || page.Children.Count() > 0;
                        if (hasChildren)
                        {
                           var visibleChildren = false;
                           foreach(var child in page.Children){
                              if(child.umbracoNaviHide != "True") {
                              	visibleChildren = true;
                              }
                           }
                           hasChildren = visibleChildren;
                        }
                        
                        var className = hasChildren ? "has-children" : "";
                        className += selected == page.Id.ToString() ? " active" : "";
                    
                        <li class="@(!String.IsNullOrEmpty(className) ? className : "")">
                            <a href="@page.Url">@page.Name</a>

                            @* if the current page has any children *@
                            @if (page.Children.Any())
                            {
                                @childPages(page.Children, selected);
                            }
                        </li>
                    }
                }
            </ul>
        }
    }
}