﻿@using AtlasDiligence.Web.Models.ViewModels.CompareTables
@model AtlasDiligence.Web.Models.ViewModels.CompareTablesViewModel
@{
	ViewBag.Title = "Compare Tool";
	ViewBag.BodyClass = "Compare-tools";
}
@section head{
    <meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4" />
	<script type="text/javascript">
		google.load("visualization", "1", { packages: ["corechart"] });
		google.load('visualization', '1', { packages: ['controls'] });
	</script>
}

@if (Model != null)
{
	<div id="organization-selection">
		@using (Html.BeginForm("Index", "CompareTables"))
  {
			@Html.ListBoxFor(m => m.SelectedOrganizationIds,
				new MultiSelectList(Model.OrganizationItems, "Key", "Value"), new Dictionary<string, object> { { "class", "compare-tables-input" }, { "data-placeholder", "Please select up to five firms..." } })
			<input type="submit" class="submit" value="Submit" />
  }
	</div>
	<div class="tabs" id="comparison-tables">
		<ul>
			<li>
				<a href="#tabs-1">Performance</a>
			</li>
			<li>
				<a href="#tabs-2">Scorecards</a>
			</li>
		</ul>
		<div id="tabs-1">
			<div id="performance-container">
				@if (Model.SelectedOrganizations.Any())
	{
					<div id="performance-subtabs" class="tabs nested-tabs">
						<ul>
							<li>
								@Html.ActionLink("Fund Comparison Charts", "Charts", "CompareTables", new { Id = "Charts" })
							</li>
							<li>
								@Html.ActionLink("Benchmark Charts", "Benchmarks", "CompareTables", new { Id = "Benchmarks" })
							</li>
							<li>
								@Html.ActionLink("TVPI", "TVPI", "CompareTables")
							</li>
							<li>
								@Html.ActionLink("Net IRR", "NetIRR", "CompareTables")
							</li>
							<li>
								@Html.ActionLink("DPI", "DPI", "CompareTables")
							</li>
							<li>
								@Html.ActionLink("MOIC", "MOIC", "CompareTables")
							</li>
							<li>
								@Html.ActionLink("Gross IRR", "GrossIRR", "CompareTables")
							</li>
							<li>
								@Html.ActionLink("Fund Size (mm)", "FundSize", "CompareTables")
							</li>
						</ul>
					</div>
	}
	else
	{ 
					<p>Please select up to five firms above.</p>
	}
			</div>
		</div>
		<div id="tabs-2">
			<div id="scorecard-container">
				@if (Model.SelectedOrganizations.Any())
	{
					<div id="scorecard-subtabs" class="tabs nested-tabs">
						<ul>
							<li>
								@Html.ActionLink("Qualitative Scorecard", "Qualitative", "CompareTables")
							</li>
							<li>
								@Html.ActionLink("QoR Performance Scorecard", "Quantitative", "CompareTables")
							</li>
						</ul>
					</div>
	}
	else
	{
					<p>Please select up to five firms above.</p>
	}
			</div>
		</div>
	</div>
    
	<script type="text/javascript">
		$(document).ready(function () {
			// disable cahce
			$.ajaxSetup({
				cache: false
			});

			// only show loading gif on page load only if orgs are selected
			if ($('.chzn-choices li').length > 1) {
				$('#loading-bar').show();
			}

			// display loading when tab is selected
			$('.tabs').tabs({
				ajaxOptions: { cache: false },
				cache: false,
				beforeLoad: function () {
					$('#loading-bar').show();
				},
				load: function (event, ui) {
					// initialize charts
					if (ui.tab.id == "Charts") {
						InitCharts();
					}
					else if (ui.tab.id == "Benchmarks") {
						InitBenchmarks();
					}
					
					if (ui.tab.id !== "Benchmarks") {
						$('#loading-bar').hide();
					}
				}
			});
		});
	</script>
}

