﻿@using System.Text
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Models.ViewModels
@model IList<AtlasDiligence.Web.Models.ViewModels.TableDataViewModel>
@{
	Layout = null;

	var vintageYearValues = Model.Where(w => w.VintageYears != null && w.VintageYears.Any());
}

@if (vintageYearValues.Any())
{
	var minYear = vintageYearValues.Select(s => s.VintageYears.Min()).Min();
	var maxYear = vintageYearValues.Select(s => s.VintageYears.Max()).Max();
    
	<div id="performance-data-tab" class="tab-container">
		<table>
			<thead>
				<tr>
					<th>Vintage Year</th>
					@foreach (var org in Model.OrderBy(o => String.IsNullOrEmpty(o.Name)).ThenBy(o => o.Name))
	 {
						<th>@org.Name</th>
	 }
				</tr>
			</thead>
			<tbody>
				@if (vintageYearValues.Any())
	{
		for (var i = minYear; i <= maxYear; i++)
		{
					<tr>
						@PrintVintageYear(i)

						@foreach (var org in Model.OrderBy(o => String.IsNullOrEmpty(o.Name)).ThenBy(o => o.Name))
	  {
							@PrintCellData(i, org)
	  }
					</tr>
		}
	}
			</tbody>
		</table>
	</div>

	<div id="performance-message">
		<p>Note: Performance data is provided directly by the general partner and supplemented with data from Preqin when indicated. Roll over an individual fund to see data source. Yellow highlight indicates performance data that is over one year old</p>
	</div>

	<div id="performance-data-tooltips">
		@if (vintageYearValues.Any())
  {
	  for (var i = minYear; i <= maxYear; i++)
	  {
		  foreach (var org in Model)
		  {
			  if ((org.CellData != null && org.CellData.Keys.Contains(i)) || (org.VintageYears != null && org.VintageYears.Contains(i)))
			  {
				  var funds = org.Funds.Where(w => w.VintageYear == i.ToString() && (w.AsOf.HasValue || w.PreqinAsOf.HasValue)).ToList();
				  for (int j = 0; j < funds.Count; j++)
				  {
					  var fund = funds[j];
					  if (fund != null)
					  {
			@PrintFundToolTip(fund, i, j, org.Id)
					  }
				  }
			  }
		  }
	  }
  }
	</div>
}
else
{
	<div id="performance-data-tab" class="tab-container">
		<p>No fund information available for these firms.</p>
	</div>
}

<script type="text/javascript">
	$(document).ready(function () {
		// qtip hover tooltip
		$('#performance-data-tab a').qtip({
			content: {
				text: function () {
					return $('#' + $(this).attr('data-id'));
				}
			}
		});
	});
</script>

@helper PrintVintageYear(int i)
{
	// get fund year
	Fund fundYear = null;
	if (Model.Any(a => a.VintageYears != null && a.VintageYears.Contains(i)))
	{
		Model.Select(s => s.Funds)
				.Where(w => w != null)
				.ToList()
				.ForEach(fe =>
				{
					if (fundYear == null)
					{
						fundYear = fe.FirstOrDefault(f => f.VintageYear == i.ToString() &&
							((f.PerformanceDatasource == "General Partner" && f.AsOf.HasValue) ||
							(f.PerformanceDatasource == "Preqin" && f.PreqinAsOf.HasValue)));
					}
				});
	}

	// print data
	if (fundYear != null)
	{
	<td>@i</td>
	}
	else
	{
	<td class="empty">@i</td>
	}
}

@helper PrintCellData(int year, TableDataViewModel org)
{
	string asOfClass = String.Empty;
	string cellText = String.Empty;

	if (org.CellData != null && org.CellData.Keys.Contains(year))
	{
		var funds = org.Funds.Where(w => w.VintageYear == year.ToString() && (w.AsOf.HasValue || w.PreqinAsOf.HasValue)).ToList();
		StringBuilder sb = new StringBuilder();
		bool first = true;

		for (int i = 0; i < funds.Count(); i++)
		{
			var fund = funds[i];
			if (fund != null)
			{
				if (fund.PerformanceDatasource.Equals("Preqin") && fund.PreqinAsOf.HasValue)
				{
					asOfClass = fund.PreqinAsOf.Value.Date < DateTime.Now.Date.AddYears(-1) ? "Weak" : String.Empty;

				}
				else if (fund.PerformanceDatasource.Equals("General Partner") && fund.AsOf.HasValue)
				{
					asOfClass = fund.AsOf.Value.Date < DateTime.Now.Date.AddYears(-1) ? "Weak" : String.Empty;
				}


				if (org.CellData[year].Count > i)
				{
					if (!first) { sb.Append(" / "); }
					first = false;

					sb.Append(String.Format("<a href='#' data-id='{0}-{1}-{2}'>{3}</a>", year, org.Id, i, org.CellData[year][i]));
				}
			}
		}

		cellText = sb.ToString();
	}
	else if (org.VintageYears != null && org.VintageYears.Contains(year))
	{
		var funds = org.Funds.Where(w => w.VintageYear == year.ToString() && (w.AsOf.HasValue || w.PreqinAsOf.HasValue)).ToList();
		for (int i = 0; i < funds.Count; i++)
		{
			var fund = funds[i];
			if (fund != null &&
				((fund.PerformanceDatasource.Equals("Preqin") && fund.PreqinAsOf.HasValue) ||
				 (fund.PerformanceDatasource.Equals("General Partner") && fund.AsOf.HasValue)))
			{
				cellText = String.Format("<a href='#' data-id='{0}-{1}-{2}'>N/A</a>", year, org.Id, i);
			}
		}
	}

	<td class="@(String.IsNullOrEmpty(cellText) ? "empty" : asOfClass)">
		@Html.Raw(cellText)
	</td>
}

@helper PrintFundToolTip(Fund fund, int year, int index, Guid orgId)
{
	<div id="@String.Format("{0}-{1}-{2}", year, orgId, index)">
		<h3>@fund.Name</h3>
		<ul>
			<li>
				<b>As of</b>: @{
					if (fund.PerformanceDatasource.Equals("Preqin"))
					{
					@(fund.PreqinAsOf.HasValue ? fund.PreqinAsOf.Value.Date.ToString("M/dd/yyyy") : String.Empty)
					}
					else
					{
					@(fund.AsOf.HasValue ? fund.AsOf.Value.Date.ToString("M/dd/yyyy") : String.Empty)
					}
				}
			</li>
			<li>
				<b>Vintage Year</b>: @year
			</li>
			<li>
				<b>Fund Size</b>: @{
					if (fund.PerformanceDatasource.Equals("Preqin"))
					{
					@(fund.PreqinFundSize.HasValue ? String.Format("{0}{1}{2}", fund.Currency.FormattedSymbol, fund.PreqinFundSize.Value.ToString("#,#"), "mm") : String.Empty)
					}
					else
					{
					@(fund.FundSize.HasValue ? String.Format("{0}{1}{2}", fund.Currency.FormattedSymbol, fund.FundSize.Value.ToString("#,#"), "mm") : String.Empty)
					}
				}
			</li>
			<li>
				<b>TVPI</b>: @{
					if (fund.PerformanceDatasource.Equals("Preqin"))
					{
					@(fund.PreqinTvpi.HasValue ? fund.PreqinTvpi.Value.ToString("0.00") + "x" : String.Empty)
					}
					else
					{
					@(fund.Tvpi.HasValue ? fund.Tvpi.Value.ToString("0.00") + "x" : String.Empty)
					}
				}
			</li>
			<li>
				<b>Net IRR:</b> @{
					if (fund.PerformanceDatasource.Equals("Preqin"))
					{
					@(fund.PreqinIrr.HasValue ? fund.PreqinIrr.Value.ToString("0.0") + "%" : String.Empty)
					}
					else
					{
					@(fund.Irr.HasValue ? fund.Irr.Value.ToString("0.0") + "%" : String.Empty)
					}
				}
			</li>
			<li>
				<b>DPI</b>: @{
					if (fund.PerformanceDatasource.Equals("Preqin"))
					{
					@(fund.PreqinDpi.HasValue ? fund.PreqinDpi.Value.ToString("0.00") + "x" : String.Empty)
					}
					else
					{
					@(fund.Dpi.HasValue ? fund.Dpi.Value.ToString("0.00") + "x" : String.Empty)
					}
				}
			</li>
			<li>
				<b>MOIC</b>: @if (!fund.PerformanceDatasource.Equals("Preqin"))
				 {
					@(fund.Moic.HasValue ? fund.Moic.Value.ToString("0.00") + "x" : String.Empty)
				 }

			</li>
			<li>
				<b>Gross IRR</b>: @if (!fund.PerformanceDatasource.Equals("Preqin"))
					  {
					@(fund.GrossIrr.HasValue ? fund.GrossIrr.Value.ToString("0.0") + "%" : String.Empty)
					  }
			</li>
			<li>
				<b>Source</b>: @(fund.PerformanceDatasource)
			</li>
		</ul>
	</div>
}