﻿@model AtlasDiligence.Web.Models.ViewModels.TermsAndConditionsViewModel
@{
    ViewBag.Title = "Terms And Conditions";
}
<div class="wrapper">
        <div class="field">
            <div id="text">
                @Html.DisplayTextFor(m => m.Text)
            </div>
        </div>
</div>
@section head{
    <style>
        #text { height: 550px; width: 100%; overflow-y: scroll; border: 1px solid #CCC; padding: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; /*white-space: pre-wrap;*/ /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; }
    </style>
}
