﻿@model AtlasDiligence.Web.Models.ViewModels.Rss.RssIndexViewModel
@{
    ViewBag.Title = "GPScout Navigator News Tracker";
    ViewBag.BodyClass = "section-news-tracker";
}
<p class="alert">@ViewData["Message"]</p>
@if (Model != null)
{
    <div class="tabs" id="rss-tabs">
        <ul>
            <li><a href="#tabs-1">News</a></li>
            <li><a href="#tabs-2">Schedule Email Alert</a></li>
        </ul>
        <div id="tabs-1">
            <div id="rss-container">
                <div id="rss-term-container">
                    <div class="info">
                        Enter search terms one-by-one or enter multiple search terms separated by commas
                    </div>
                    @{Html.RenderPartial("Terms", Model.RssSearchViewModel);}
                </div>
                <div id="rss-results-container">
                    @{Html.RenderPartial("Export", Model.RssExportViewModel);}
                </div>
            </div>
        </div>
        <div id="tabs-2">
            @Html.Partial("Schedule", Model.RssScheduleEmailViewModel)
        </div>
    </div>
}
