﻿@model AtlasDiligence.Web.Models.ViewModels.Rss.RssExportViewModel
@using (Html.BeginForm("Index", "NewsTracker"))
{
    <div id="export-form">
        <div class="field checkbox">
            <div class="help-content" style="display: none;">
                <p>
                    Check to enhance results by including related search terms identified by Atlas.</p>
                <p>
                    For example: <strong>Kohlberg Kravis & Roberts</strong></p>
                <p>
                    Atlas Aliases: <em><strong>Kohlberg Kravis and Roberts, Kohlberg Kravis Roberts, KKR</strong></em></p>
            </div>
            <span class="help">Help</span>
            @Html.LabelFor(m => m.SearchAliases)
            @Html.CheckBoxFor(m => m.SearchAliases, new { @class = "checkbox", rel = Url.Action("ChangeRssSearchAlias", "NewsTracker") })
            @Html.ValidationMessageFor(m => m.SearchAliases)
        </div>
        <p>
            Select Start and End Dates below to Preview, Export or Print the News Feed.</p>
        <div class="export">
            <div class="field startdate">
                @Html.LabelFor(m => m.StartDate)
                @Html.TextBoxFor(m => m.StartDate, new { @class = "date-picker-rss-start-date", @readonly = true })
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>
            <div class="field enddate">
                @Html.LabelFor(m => m.EndDate)
                @Html.TextBoxFor(m => m.EndDate, new { @class = "date-picker-rss-start-date", @readonly = true })
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>
            @Html.HiddenFor(m => m.RssViewType, new { id = "RssViewType" })
            <div class="buttons">
                <input id="rss-export-submit" class="submit" type="submit" name="submit" value="Export (Excel)" />
                <input id="rss-preview-submit" class="submit" type="submit" name="submit" value="Preview" />
                <input id="rss-print-submit" class="submit" type="button" name="button" value="Print" />
            </div>
        </div>
    </div>
}
@if (Model.NewsItems != null && Model.NewsItems.Any())
{
    <script type="text/javascript">
        $(function () { location.href = '#preview-export'; }); 
    </script>
    <div id="preview-export">
        <p>
            <strong>Preview</strong></p>
        @foreach (var newsItems in Model.NewsItems.Where(x => x.Value.Any()).OrderBy(m => m.Key))
        {
            <p>Search Term: @newsItems.Key</p>
            <ul>
                @foreach (var newsItem in newsItems.Value)
                {
                    <li>
                        <ul class="rss-item">
                            <li class="rss-subject"><a href="@newsItem.Url" target="_blank">@newsItem.Subject</a></li>
                            <li class="rss-source">Source: @newsItem.OrganizationSourceName</li>
                            <li class="rss-published-date">@newsItem.PublishedDate</li>
                            @if (!string.IsNullOrEmpty(newsItem.Summary))
                            {
                                <li class="rss-summary"><h2>Summary:</h2>
                                @newsItem.Summary</li>
                            }
                            @if (newsItem.Description.Length > 0)
                            {
                                <li class="rss-content"><h2>Content:</h2>
                                @newsItem.Description</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>
}
