﻿@model AtlasDiligence.Web.Models.ViewModels.Rss.RssSearchViewModel
<div id="search-term-suggestions">
    <strong>Suggestions for Entering Search Terms:</strong> 
    <p>In order to maximize the hits for your search
    terms against the news items remove from any company name words like "Inc." or
    "LP" or "Corp." as the application will first look for exact matches in the
    articles. If a firm is sometimes know by a single word name, even if its official
    name has multiple words ("The Carlyle Group" vs. "Carlyle") you may want to
    enter the simpler version of the name to maximize hits. Finally, feel free to add
    additional search terms that would serve as aliases for firm names that might be
    likely to be used in news items in a variety of ways. For example: "HIG Capital"
    and "H.I.G Capital" or "TPG" and "Texas Pacific Group."</p>
</div>
<div class="append-search-term">
    <textarea class="text-area" id="rss-search-term" rel="@Url.Action("AddSearchTerms")" rows="4"></textarea>
    <input type="button" class="button" value="Add" />
</div>
<div class="toggle-search-container">
    <h3>
        <a href="javascript:void(0);">Hide Search Terms</a></h3>
</div>
<div id="search-terms-container">
    <ul id="rss-search-list">
        @foreach (var term in Model.SearchTerms)
        {

            <li><span>@term</span><a href="@Url.Action("RemoveSearchTerm")" class="remove-search-term"></a>
                <input type="hidden" name="searchTerms" value="@term" />
            </li>
        }
    </ul>
</div>
