﻿@using System.Text.RegularExpressions
@using AtlasDiligence.Web.Resources
@using AtlanticBT.Common.Types
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Models
@{
    Func<string, string> formatID;
}
@helper DisplayFundImg(AtlasDiligence.Common.Data.Models.Fund fund, int colspan)
{
if (!String.IsNullOrWhiteSpace(fund.AnalysisUrl))
{
    var analysisUrl = (!(fund.AnalysisUrl.Contains("http://") || fund.AnalysisUrl.Contains("https://")) ? "http://" + fund.AnalysisUrl : fund.AnalysisUrl);
        //analysisUrl = analysisUrl.Replace("//www.atlasdiligence.com/", "//localhost/");
        <tr class="analysis-graph">
            <td colspan="@colspan">
                <img src="@analysisUrl" alt="Graph Analysis" class="analysis-img" />
            </td>
        </tr>
        <tr style="height:0;"></tr>
    }
}


@helper UnderConstructionIcon(Organization org) {
UserEntity userEntity = null;
if (User.Identity.IsAuthenticated)
{
    userEntity = EntityCache.Get<UserEntity>(Params.UserEntityCache);
}

if (org != null && userEntity != null && org.IsInProcess)
{
    if (!org.IsUserRegisteredForPUCN.HasValue)
    {
        if (userEntity.PUCNOrganizationIDs.Contains(org.Id))
        {
            org.IsUserRegisteredForPUCN = true;
        }
        else if (userEntity.AvailableOrganizationIDs.Contains(org.Id))
        {
            org.IsUserRegisteredForPUCN = false;
        }
    }
    <div class=under-construction data-org-id="@org.Id" data-user-registered-for-PCN="@(org.IsUserRegisteredForPUCN.HasValue ? org.IsUserRegisteredForPUCN.Value ? "1" : "2" : "")">&nbsp;</div>
    }
}

@functions {
    public Func<string, string> formatID2() {
        return null;
    }

    public static Func<string, string> formatID = title =>
    {
        string str = !string.IsNullOrEmpty(title) ? Server.HtmlEncode(Regex.Replace(title.ToLower().Replace("&", "and").Replace("#", string.Empty), @"[^A-Za-z0-9 ]", " ").Replace(" ", "-")) : String.Empty;
        return !string.IsNullOrWhiteSpace(str) ? str : "-";
    };

    public string YesNo(bool? x)
    {
        return x == true ? "Yes" : "No";
    }
}