﻿@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using AtlanticBT.Common.Types
@using AtlasDiligence.Common.Data.General
@using System.Linq;
@model AtlasDiligence.Web.Models.ViewModels.TrackUsers.TrackUsersViewModel
@{
	ViewBag.Title = "Backend User Data";
	Layout = null;

	HtmlHelper.ClientValidationEnabled = true;
	HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
	
	var TrackUsersTypeSelectList = new List<SelectListItem>();
	foreach (var enumeration in Enum.GetValues(typeof(TrackUsersType)))
	{
		var type = typeof(TrackUsersType);
		var member = type.GetMember(enumeration.ToString());
		var description = (Description) member[0].GetCustomAttributes(false).FirstOrDefault();

		TrackUsersTypeSelectList.Add(new SelectListItem { Text = description != null ? description.Text : enumeration.ToString(), Value = enumeration.ToString()});
	}
}

<!-- include site.js for start and end date pickers -->
<script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>

@using (Html.BeginForm("Index", "TrackUsers"))
{
	@Html.ValidationSummary(true)
	<div id="tabs-1">
		<p>
			Select Start and End Dates below to Export backend user data
		</p>
		<div class="export">
			<div class="field track-type">
				@Html.DropDownListFor(m => m.TrackType, TrackUsersTypeSelectList)

			</div>
			<div class="field startdate">
				@Html.LabelFor(m => m.StartDate)
				@Html.TextBoxFor(m => m.StartDate, new { @class = "date-picker-tracker-start-date", @readonly = true })
				@Html.ValidationMessageFor(m => m.StartDate)
			</div>
			<div class="field enddate">
				@Html.LabelFor(m => m.EndDate)
				@Html.TextBoxFor(m => m.EndDate, new { @class = "date-picker-tracker-end-date", @readonly = true })
				@Html.ValidationMessageFor(m => m.EndDate)
			</div>
			<div class="buttons">
				<input id="trackuser-export-submit" class="submit" type="submit" name="submit" value="Export (Excel)" />
			</div>
		</div>
	</div>
}
