﻿@model IEnumerable<AtlasDiligence.Common.Data.Models.ResearchPriorityOrganization>
@{
	ViewBag.Title = "FirmsInProcess";
	Layout = null;
}

<div id="firms-in-progress">
	<table>
		<thead>
			<tr>
				<th style="width: 321px;">Name
				</th>
				<th style="width: 115px;">Market/Stage
				</th>
				<th style="width: 280px;">Strategy
				</th>
				<th style="width: 210px;">Investment Region
				</th>
				<th>Status
				</th>
			</tr>
		</thead>
		<tbody>
			@Html.Partial("FirmsInProgressRows", Model)
		</tbody>
	</table>
	<button id="load-more-firms">
		Load More</button>
</div>
