﻿@model AtlasDiligence.Web.Models.ViewModels.Map.MapViewModel
@{
	ViewBag.Title = "Map";
	Layout = null;
}

@helper FocusRadarIconLink(string radar)
{
	switch (radar)
	{
		case "Radar List":
	@Url.Content("~/images/map/i_radar.png")
			break;
		case "Focus List":
	@Url.Content("~/images/map/i_focus.png")
			break;
		default:
	@Url.Content("~/images/map/measle_4px.png")
			break;
	}
}

<style type="text/css">
	#map-canvas {
		height: 500px;
		width: 100%;
	}

	#panel {
		position: absolute;
		left: 7%;
		top: 54px;
		margin-left: -170px;
		z-index: 5;
		background-color: #fff; /*padding: 5px;
            border: 1px solid #999;*/
	}
</style>

<script type="text/javascript">
    var map, lastOpenedInfoWindow;

    // access google map marker objects
    var markersArray = [];

    // json data of available orgs
    var jsonMarkers = [];

    function initialize() {
        // enable the visual refresh
        google.maps.visualRefresh = true;

        // create and center map
        var centerLatlng = new google.maps.LatLng(38.4836993, -97.1107682);
        var mapOptions = {
            zoom: 4,
            center: centerLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // get organizations
        @foreach (var organization in Model.Organizations)
			{
				foreach (var position in organization.Positions)
				{
                    <text>
        jsonMarkers.push({
            "Id": "@organization.Id",
            "Name": "@Html.Raw(String.Format("{0} ({1})", organization.Name, position.City))",
            "Latitude": "@position.Latitude",
            "Longitude": "@position.Longitude",
            "FundRaisingStatus": "@organization.FundraisingStatus",
            "FocusRadar": "@organization.FocusRadar",
            "FocusRadarIcon": "@FocusRadarIconLink(@organization.FocusRadar)",
			"Preview": "false"
		});
		</text>
				}
			}

        // get preview organizations
        @foreach (var organization in Model.PreviewOrganizations)
			{
                <text>
        jsonMarkers.push({
            "Id": "@organization.Id",
            "Name": "Not Included in Current Membership",
            "Latitude": "@organization.Latitude",
            "Longitude": "@organization.Longitude",
            "FundRaisingStatus": "@organization.FundRaisingStatus",
            "FocusRadar": "@organization.FocusRadar",
            "FocusRadarIcon": "@Url.Content("~/images/map/measle_4px_gray.png")",
            "Preview": "true"
        });
        </text>
			}

        // add markers to map
        for (var i = 0; i < jsonMarkers.length; i++) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(jsonMarkers[i].Latitude, jsonMarkers[i].Longitude),
                map: map,
                title: jsonMarkers[i].Name,
                icon: jsonMarkers[i].FocusRadarIcon
            });

            if (jsonMarkers[i].Preview == "false") {
                google.maps.event.addListener(marker, "click", (
				function (_id, _marker) {
				    return function () {
				        // The return will be put into the InfoWindow
				        $.ajax({
				            url: '@Url.Action("GetInfoWindowContent", "Search")/' + _id,
				            datatype: 'json',
				            success: function (data) {
				                // open window
				                var infoWindow = new google.maps.InfoWindow();
				                infoWindow.setContent(data.InfoWindowHtml);
				                infoWindow.open(map, _marker);

				                // set center
				                map.setCenter(_marker.getPosition());

				                // zoom level
				                if (map.getZoom() < 14) {
				                    map.setZoom(14);
				                }

				                // one window at a time
				                if (lastOpenedInfoWindow) {
				                    lastOpenedInfoWindow.close();
				                }
				                lastOpenedInfoWindow = infoWindow;
				            }
				        });
				    };
				}(jsonMarkers[i].Id, marker)));
            }

            markersArray.push(marker);
        }

        // tooltip fix
        $('#info-window-tooltip').live('mouseover', function () {
            $('#info-window-tooltip').qtip({
                overwrite: false,
                content: { text: $(this).html() },
                show: { ready: true }
            });
        });

        // dashboard map autocomplete
        $('#map-autocomplete').autocomplete({
            minlength: 2,
            source: $.map(markersArray, function (item, index) {
                if (item.title != "Not Included in Current Membership") {
                    return { label: item.title, value: index };
                }
            }),
            select: function (event, ui) {
                // onclick or select remove any checkbox filters
                ResetFilters();

                var markerClicked = markersArray[ui.item.value];

                // trigger click
                google.maps.event.trigger(markerClicked, 'click');

                // return false so the input field is not updated with the index text of the marker
                $("#map-autocomplete").val('');
                return false;
            },
            focus: function () { return false; }
        });

        // event handling for filter checkboxes
        $('.FocusRadarFilter').change(function () {
            FilterMap();
        });

        $('.FundRaisingFilter').change(function () {
            FilterMap();
        });
    }

    function ResetFilters() {
        if ($('.FocusRadarFilter').is(':checked')) {
            $('.FocusRadarFilter').trigger('click');
        }

        if ($('.FundRaisingFilter').is(':checked')) {
            $('.FundRaisingFilter').trigger('click');
        }
    }

    function FilterMap() {
        var radarChecked = $('.FocusRadarFilter').is(':checked');
        var fundRaiseChecked = $('.FundRaisingFilter').is(':checked');

        $.each(markersArray, function (index) {
            var radarStatus = jsonMarkers[index].FocusRadar;
            var fundRaiseStatus = jsonMarkers[index].FundRaisingStatus;

            // reset marker visibility
            markersArray[index].setVisible(true);

            if (radarChecked && fundRaiseChecked) {
                if (radarStatus == "") {
                    markersArray[index].setVisible(false);
                }

                if (fundRaiseStatus == "Closed" || fundRaiseStatus == "") {
                    markersArray[index].setVisible(false);
                }
            }
            else if (radarChecked && !fundRaiseChecked) {
                if (radarStatus == "") {
                    markersArray[index].setVisible(false);
                }
            }
            else if (!radarChecked && fundRaiseChecked) {
                if (fundRaiseStatus == "Closed" || fundRaiseStatus == "") {
                    markersArray[index].setVisible(false);
                }
            }
        });
    }

    //google.maps.event.addDomListener(window, 'load', initialize);
    //initialize();
</script>

<div id="map">
	<section class="organization-map">
		<div id="panel">
			<input type="text" placeholder="Search" id="map-autocomplete">
		</div>

		<div class="map-filter">
			<div class="field inline-label">
				@Html.CheckBoxFor(m => m.FocusRadarFilter, new Dictionary<string, object> { { "class", "FocusRadarFilter" } })
				@Html.LabelFor(m => m.FocusRadarFilter)
			</div>
			<div class="field inline-label">
				@Html.CheckBoxFor(m => m.FundRaisingFilter, new Dictionary<string, object> { { "class", "FundRaisingFilter" } })
				@Html.LabelFor(m => m.FundRaisingFilter)
			</div>
		</div>

		<div id="map-canvas" />
	</section>
</div>


