﻿@using AtlasDiligence.Web.Models.ViewModels.Search
@using AtlanticBT.Common.Web.Mvc.Helpers
@model SearchOptionsViewModel
@{
    ViewBag.Title = "Search";
    Layout = null;
}
@using (Html.BeginForm("SaveTemplate", "Search", FormMethod.Post, new { @class = "advanced-search" }))
{
    <div class="field">
        @Html.ValidationMessageFor(m => m.Search)
        @Html.TextBoxFor(m => m.Search, new { @class = "text organization-autocomplete", placeholder = "Name, city, country, investment region, strategy, etc..." })
        <div class="buttons">
            <input type="submit" class="submit" value="Search" />
            <input type="submit" class="submit" value="Clear" id="clear-search" />
        </div>
    </div>
    <fieldset>
        <legend>Advanced Search Options</legend>
        <div id="advanced-search-description">
        </div>
        <div id="advanced-search-options" class="column-wrap" style="display: none;">
            @* What is this little input doing here? Preventing jquery dialog from focusing on the dropdownlists.  Blurring them does not work *@
            <input type="text" size="1" style="margin-left: -9999em;" />
            <!-- Group 1 -->
            <div class="fieldset group-1">
                <fieldset>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedStrategy)
                        @Html.LabelFor(m => m.SelectedStrategy)
                        @Html.ListBoxFor(m => m.SelectedStrategy, new MultiSelectList(Model.Strategies.Select(m => m.Trim()).Distinct().OrderBy(m => m), Model.SelectedStrategy), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:242px" } })
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedSubStrategy)
                        @Html.LabelFor(m => m.SelectedSubStrategy)
                        @Html.ListBoxFor(m => m.SelectedSubStrategy, new MultiSelectList(Model.SubStrategies.OrderBy(m => m), Model.SelectedSubStrategy), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:242px" } })
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedMarketStage)
                        @Html.LabelFor(m => m.SelectedMarketStage)
                        <select id="SelectedMarketStage" class="chosen" style="width: 242px" name="SelectedMarketStage"
                            multiple="multiple">
                            <optgroup label="Private Equity">
                                <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Small Market") ? " selected=\"selected\"" : string.Empty)>Small Market</option>
                                <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Middle Market") ? " selected=\"selected\"" : string.Empty)>Middle Market</option>
                                <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Large Market") ? " selected=\"selected\"" : string.Empty)>Large Market</option>
                                <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Mega Market") ? " selected=\"selected\"" : string.Empty)>Mega Market</option>
                                <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Opportunistic") ? " selected=\"selected\"" : string.Empty)>Opportunistic</option>
                            </optgroup>
                            <optgroup label="Venture Capital">
                                <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Early Stage") ? " selected=\"selected\"" : string.Empty)>Early Stage</option>
                                <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Mid Stage") ? " selected=\"selected\"" : string.Empty)>Mid Stage</option>
                                <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Late Stage") ? " selected=\"selected\"" : string.Empty)>Late Stage</option>
                                <option@Html.Raw(Model.SelectedMarketStage != null && Model.SelectedMarketStage.Contains("Multi-Stage") ? " selected=\"selected\"" : string.Empty)>Multi-Stage</option>
                            </optgroup>
                        </select>
                        @*@Html.ListBoxFor(m => m.SelectedMarketStage, new MultiSelectList(Model.MarketStages, Model.SelectedMarketStage), new Dictionary<string, object> { { "class", "xchosen" }, { "style", "width:242px" } })*@
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedSector)
                        @Html.LabelFor(m => m.SelectedSector)
                        @Html.ListBoxFor(m => m.SelectedSector, new MultiSelectList(Model.Sectors.Select(m => m.Trim()).Distinct().OrderBy(m => m), Model.SelectedSector), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:242px" } })
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SectorSpecialist)
                        @Html.LabelFor(m => m.SectorSpecialist)
                        @Html.EditorFor(m => m.SectorSpecialist)
                    </div>
                </fieldset>
            </div>
            <!-- Group 2 -->
            <div class="fieldset group-2 end">
                <fieldset>
                    <div class="fieldgroup inline-label">
                        <div class="field full two-col multi-input field-fundsize" id="search-fund-sizes">
                            @Html.ValidationMessageFor(m => m.FundSizeMinimum)
                            @Html.ValidationMessageFor(m => m.FundSizeMaximum)
                            @Html.ValidationMessageFor(m => m.SelectedCurrencies)
                            <label for="FundSizeMinimum">
                                Most Recent Fund Size <span style="font-size: .85em;">(mm)</span>:</label>
                            <select id="search-currency" class="chosen" style="width: 135px; top: 7px;" name="SelectedCurrencies">
                                @foreach (var option in Model.Currencies.OrderBy(m => m == "US Dollar" ? 0 : 1).ThenBy(m => m))
                                {
                                    <option@Html.Raw(Model.SelectedCurrencies != null && Model.SelectedCurrencies.Contains(option) ? " selected=\"selected\"" : string.Empty)>@option</option>
                                }
                            </select>
                            <div class="recent-fund-size">
                                @Html.TextBoxFor(m => m.FundSizeMinimum, new { @class = "number comma-separated" })
                                <span>to</span>
                                @Html.TextBoxFor(m => m.FundSizeMaximum, new { @class = "number comma-separated" })
                            </div>
                        </div>
                    </div>
                    <div class="field two-col multi-input field-fundclosed inline-label">
                        @Html.ValidationMessageFor(m => m.NumberOfFundsClosedMinimum)
                        @Html.ValidationMessageFor(m => m.NumberOfFundsClosedMaximum)
                        <label for="NumberOfFundsClosedMinimum">
                            Number of Funds Closed:</label>
                        @Html.TextBoxFor(m => m.NumberOfFundsClosedMinimum, new { @class = "number" })
                        <span>to</span>
                        @Html.TextBoxFor(m => m.NumberOfFundsClosedMaximum, new { @class = "number" })
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.EmergingManager)
                        @Html.LabelFor(m => m.EmergingManager)
                        @Html.EditorFor(m => m.EmergingManager)
                    </div>
                    <div class="field inline-label" id="search-fundraising-status">
                        @Html.ValidationMessageFor(m => m.SelectedFundraisingStatus)
                        @Html.LabelFor(m => m.SelectedFundraisingStatus)
                        @Html.ListBoxFor(m => m.SelectedFundraisingStatus, new MultiSelectList(Model.FundraisingStatuses, Model.SelectedFundraisingStatus), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:242px" } })
                    </div>
                    <div class="field inline-label" id="search-next-fundraise-dates">
                        @Html.ValidationMessageFor(m => m.SelectedNextFundraiseValue)
                        @Html.LabelFor(m => m.SelectedNextFundraiseValue)
                        @Html.DropDownListFor(m => m.SelectedNextFundraiseValue, Model.FundRaiseMonthOptions, String.Empty, new Dictionary<string, object> { { "class", "chosen dropdownlist" }, { "style", "width:185px" } })

                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.AccessConstrained)
                        @Html.LabelFor(m => m.AccessConstrained)
                        @Html.EditorFor(m => m.AccessConstrained)
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SBICFund)
                        @Html.LabelFor(m => m.SBICFund)
                        @Html.EditorFor(m => m.SBICFund)
                    </div>
                </fieldset>
            </div>
            <!-- Group 3 -->
            <div class="fieldset group-3">
                <fieldset>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedInvestmentRegions)
                        @Html.LabelFor(m => m.SelectedInvestmentRegions)
                        @Html.ListBoxFor(m => m.SelectedInvestmentRegions, new MultiSelectList(Model.InvestmentRegions.OrderBy(m => m), Model.SelectedInvestmentRegions), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:242px" } })
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedInvestmentSubRegion)
                        @Html.LabelFor(m => m.SelectedInvestmentSubRegion)
                        @Html.ListBoxFor(m => m.SelectedInvestmentSubRegion, new MultiSelectList(Model.InvestmentSubRegions.OrderBy(m => m), Model.SelectedInvestmentSubRegion), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:242px" } })
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedCountry)
                        @Html.LabelFor(m => m.SelectedCountry)
                        @Html.ListBoxFor(m => m.SelectedCountry, new MultiSelectList(Model.Countries.Select(m => m.Trim()).Distinct().OrderBy(m => m), Model.SelectedCountry), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:242px" } })
                    </div>
                </fieldset>
            </div>
            <!-- Group 4 -->
            <div class="fieldset group-4 end">
                <fieldset>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedQualitativeGradeID)
                        @Html.LabelFor(m => m.SelectedQualitativeGradeID)
                        @Html.DropDownListFor(m => m.SelectedQualitativeGradeID, Model.SelectedGradesOptions, String.Empty, new Dictionary<string, object> { { "class", "chosen dropdownlist grades" }, { "style", "width:185px" } })
                        <span>or higher</span>
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedQuantitativeGradeID)
                        @Html.LabelFor(m => m.SelectedQuantitativeGradeID)
                        @Html.DropDownListFor(m => m.SelectedQuantitativeGradeID, Model.SelectedGradesOptions, String.Empty, new Dictionary<string, object> { { "class", "chosen dropdownlist grades" }, { "style", "width:185px" } })
                        <span>or higher</span>
                    </div>
                    <div class="field inline-label">
                        @Html.ValidationMessageFor(m => m.SelectedFocusList)
                        @Html.LabelFor(m => m.SelectedFocusList)
                        @*@Html.ListBoxFor(m => m.SelectedFocusList, new MultiSelectList(Model.FocusLists, Model.SelectedFocusList), new Dictionary<string, object> { { "class", "chosen" }, { "style", "width:242px" } })*@
                        @Html.CheckBoxFor(m => m.FocusListSelectedFlag)
                    </div>
                    <div class="field inline-label show-only-published">
                        @Html.ValidationMessageFor(m => m.ShowOnlyPublished)
                        @Html.LabelFor(m => m.ShowOnlyPublished)
                        @Html.CheckBoxFor(m => m.ShowOnlyPublished)
                    </div>
                </fieldset>
            </div>
        </div>
    </fieldset>
}
