﻿@using AtlanticBT.Common.Types
@using AtlasDiligence.Web.Models
@{
    ViewBag.Title = "RecentFirms";
	Layout = null;
}

<div id="recent-firms">
		<table>
			<thead>
				<tr>
					<th style="width: 220px">Name
					</th>
					<th style="width: 80px;">
                        <div class="focus-list icon" title="Focus List managers are groups that RCP recommends prioritizing within their given strategy or market.">
                            Focus List
                        </div>
						<div class="emerging-manager-true icon" title="Managers raising or investing their first or second institutional fund.">
							true
						</div>
						<div class="access-constrained-true icon" title="Managers with limited allocation opportunities for new limited partners.">
							true
						</div>
					</th>
					<th style="width: 115px">Market/Stage
					</th>
					<th style="width: 280px">Strategy
					</th>
					<th style="width: 210px">Investment Region
					</th>
					<th>Date
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var organizationViewing in EntityCache.Get<UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache).RecentlyViewedOrganizations)
	{
					<tr>
						<td>
							<a href="@Url.Action("Index", "Organization", new { id = organizationViewing.OrganizationId })">@organizationViewing.Name</a>
							@if (!String.IsNullOrWhiteSpace(organizationViewing.KeyTakeAway))
	   {
								<div class="key-takeaway simple-tooltip" title="@organizationViewing.KeyTakeAway">@organizationViewing.KeyTakeAway</div>
	   }
						</td>
						<td>
							@if (!String.IsNullOrWhiteSpace(organizationViewing.FocusRadar))
	   {
								<div class="@(organizationViewing.FocusRadar.ToLower().Replace(' ', '-')) icon" title="@organizationViewing.FocusRadar">
									@organizationViewing.FocusRadar
								</div>
	   }
	   else
	   {
								<div class="empty">
									&nbsp;
								</div>
	   }
							@if (organizationViewing.EmergingManager)
	   {
								<div class="emerging-manager-true icon" title="Emerging Manager">
									true
								</div>
	   }
	   else
	   {
								<div class="empty">
									&nbsp;
								</div>
	   }
							@if (organizationViewing.AccessConstrained)
	   {
								<div class="access-constrained-true icon" title="Access Constrained">
									true
								</div>
	   }
	   else
	   {
								<div class="empty" style="width: 16px;">
									&nbsp;
								</div>
	   }
						</td>
						<td>@organizationViewing.MarketStage
						</td>
						<td>@organizationViewing.Strategies
						</td>
						<td>@organizationViewing.InvestmentRegions
						</td>
						<td>@organizationViewing.Timestamp.Value.ToShortDateString()
						</td>
					</tr>
	}
			</tbody>
		</table>
	</div>