﻿@model AtlasDiligence.Web.Models.ViewModels.Search.RecentlyUpdatedViewModel
@{
    ViewBag.Title = "RecentlyUpdated";
	Layout = null;
}

<div id="updated-firms">
		<table>
			<thead>
				<tr>
					<th style="width: 220px">Name
					</th>
					<th style="width: 80px;">
                        <div class="focus-list icon" title="Focus List managers are groups that RCP recommends prioritizing within their given strategy or market.">
                            Focus List
                        </div>
						<div class="emerging-manager-true icon" title="Managers raising or investing their first or second institutional fund.">
							true
						</div>
						<div class="access-constrained-true icon" title="Managers with limited allocation opportunities for new limited partners.">
							true
						</div>
					</th>
					<th style="width: 115px">Market/Stage
					</th>
					<th style="width: 280px">Strategy
					</th>
					<th style="width: 210px">Investment Region
					</th>
					<th>Last Updated
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var organization in Model.FirmsRecentlyUpdated.OrderByDescending(m => m.LastUpdated.GetValueOrDefault(DateTime.MinValue)))
	{
					<tr>
						<td>
							@if (organization.PublishOverviewAndTeam)
	   {
								<a href="@Url.Action("Index", "Organization", new { id = organization.Id })">@organization.Name</a>
	   }
	   else
	   {
								@organization.Name
								<a href="@Url.Action("RequestOrganization", "Request")" class="request-information simple-tooltip" data-id="@organization.Id" data-name="@organization.Name" title="Click to Request Research">Request Information</a>
	   }
							@if (!String.IsNullOrWhiteSpace(organization.KeyTakeAway))
	   {
								<div class="key-takeaway simple-tooltip" title="@organization.KeyTakeAway">@organization.KeyTakeAway</div>
	   }
						</td>
						<td>
							@if (!String.IsNullOrWhiteSpace(organization.FocusRadar))
	   {
								<div class="@(organization.FocusRadar.ToLower().Replace(' ', '-')) icon" title="@organization.FocusRadar">
									@organization.FocusRadar
								</div>
	   }
	   else
	   {
								<div class="empty">
									&nbsp;
								</div>
	   }
							@if (organization.EmergingManager)
	   {
								<div class="emerging-manager-true icon" title="Emerging Manager">
									true
								</div>
	   }
	   else
	   {
								<div class="empty">
									&nbsp;
								</div>
	   }
							@if (organization.AccessConstrained)
	   {
								<div class="access-constrained-true icon" title="Access Constrained">
									true
								</div>
	   }
	   else
	   {
								<div class="empty" style="width: 16px;">
									&nbsp;
								</div>
	   }
						</td>
						<td>@organization.MarketStage
						</td>
						<td>@string.Join(", ", organization.Strategy)
						</td>
						<td>@string.Join(", ", organization.InvestmentRegions)
						</td>
						<td>@organization.LastUpdated.GetValueOrDefault(DateTime.MinValue).ToShortDateString()
						</td>
					</tr>
	}
			</tbody>
		</table>
	</div>