﻿@using AtlasDiligence.Common.Data.General
@model string
<div id="request-more-info" class="request-more-info" style="@Model">
    <h4 class="request-more-info-title"><a class="request-research" href="@Url.Action("RequestOrganizationName", "Request")">Request Research</a> </h4>
</div>
<div id="request-research-dialog" style="display: none">
    <fieldset>
        <legend></legend>
        <div class="field">
            <div class="field">
                <label for="request-research-name">Organization Name:</label>
                <input type="text" id="request-research-name"></input>
            </div>
            <label for="request-type-research">Please select the type of research request you would like to make in relation to this organization:</label>
            <div class="radios">
                <ul>
                    <li>
                        <input type="radio" class="radio" name="request-type" id="request-research-type-research" value="@((int)RequestType.Queue)" checked="checked" />
                        <label for="request-research-type-research">Add to Research/Update Queue</label>
                    </li>
                    <li>
                        <input type="radio" class="radio" name="request-type" id="request-research-type-priority" value="@((int)RequestType.Priority)" />
                        <label for="request-research-type-priority">Priority Research Request <span class="small-text">(limited # allowed per subscription)</span></label>
                    </li>
                    <li>
                        <input type="radio" class="radio" name="request-type" id="request-research-type-full" value="@((int)RequestType.Diligence)" />
                        <label for="request-research-type-full">Full Diligence Request <span class="small-text">(additional costs may apply. Request will be confirmed by RCP)</span></label>
                    </li>
                </ul>
            </div>
            <div class="field">
                <label for="request-research-comment">Specific Request/Comment/Question:</label>
                <textarea id="request-research-comment"></textarea>
            </div>
        </div>
    </fieldset>
</div>
