﻿@using System.Globalization
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@model AtlasDiligence.Common.Data.Models.Fund
@{Layout = null;}
<div class="tab-title">
    <strong>@Model.Name</strong>
</div>
<div class="content two-col">
    @if (!String.IsNullOrEmpty(Model.Description))
    {
        <div class="tab-description">
            <strong>Fund Strategy</strong>
            <p>
                @Html.Raw(Model.Description.NewlineToBreak())
            </p>
        </div>
    }
    <div class="primary-content">
        @{
            var overview = new List<string[]>();

            if (!String.IsNullOrEmpty(Model.Status) || !String.IsNullOrEmpty(Model.FundraisingStatusNote))
            {
                overview.Add(new[] { "<b>Status</b>", Model.Status, Model.FundraisingStatusNote });
            }

            if (Model.TargetSize != null || !String.IsNullOrEmpty(Model.TargetFundSizeNote))
            {
                overview.Add(new[] { "<b>Target Size (mm)</b>", (Model.TargetSize.HasValue ? AtlasDiligence.Web.General.StringExtensions.Currency(Model.TargetSize, Model.Currency, 1) + "" : String.Empty), Model.TargetFundSizeNote });
            }

            if (Model.FundSize != null || !String.IsNullOrEmpty(Model.FundSizeNote))
            {
                overview.Add(new[] { "<b>Committed Capital (mm)</b>", (Model.FundSize.HasValue ? AtlasDiligence.Web.General.StringExtensions.Currency(Model.FundSize, Model.Currency, 1) + "" : String.Empty), Model.FundSizeNote });
            }

            if (Model.GpCommitment != null || !String.IsNullOrEmpty(Model.GpCommitmentNote))
            {
                overview.Add(new[] { "<b>GP Commitment</b>", (Model.GpCommitment.HasValue ? Model.GpCommitment.Value.ToString("N1") + "%" : String.Empty), Model.GpCommitmentNote });
            }

            if (Model.FirstClose != null || !String.IsNullOrEmpty(Model.FirstCloseNote))
            {
                overview.Add(new[] { "<b>First Close</b>", (Model.FirstClose.HasValue ? Model.FirstClose.Value.ToString("MM/yyyy") : String.Empty), Model.FirstCloseNote });
            }
            if (Model.FinalClose != null || !String.IsNullOrEmpty(Model.FinalCloseNote))
            {
                overview.Add(new[] { "<b>Final Close</b>", (Model.FinalClose.HasValue ? Model.FinalClose.Value.ToString("MM/yyyy") : String.Empty), Model.FinalCloseNote });
            }

            if (Model.ManagementFee != null || !String.IsNullOrEmpty(Model.ManagementFeeNotes))
            {
                overview.Add(new[] { "<b>Management Fee</b>", (Model.ManagementFee.HasValue ? Model.ManagementFee.Value.ToString("N1", CultureInfo.InvariantCulture) + "%" : String.Empty), Model.ManagementFeeNotes });
            }

            if (Model.CarriedInterest != null || !String.IsNullOrEmpty(Model.CarriedInterestNotes))
            {
                overview.Add(new[] { "<b>Carried Interest</b>", (Model.CarriedInterest.HasValue ? Model.CarriedInterest.Value.ToString("N1", CultureInfo.InvariantCulture) + "%" : String.Empty), Model.CarriedInterestNotes });
            }

            if (Model.PreferredReturn != null || !String.IsNullOrEmpty(Model.PreferredReturnNotes))
            {
                overview.Add(new[] { "<b>Hurdle Rate</b>", (Model.PreferredReturn.HasValue ? Model.PreferredReturn.Value.ToString("N1", CultureInfo.InvariantCulture) : String.Empty) + "%", Model.PreferredReturnNotes });
            }

            if (!String.IsNullOrEmpty(Model.PlacementAgent))
            {
                overview.Add(new[] { "<b>Placement Agent</b>", Model.PlacementAgent, String.Empty });
            }
        }
        @if (overview.Any())
        {
            <div class="section">
                <div class="section-title">
                    <h2>Fund Overview</h2>
                </div>
                <div class="section-information">
                    <table>
                        <tbody>
                            @foreach (var strArray in overview.Where(m => !String.IsNullOrWhiteSpace(m[1]) || !String.IsNullOrWhiteSpace(m[2])))
                            {
                                <tr>
                                    @for (var i = 0; i < strArray.Count(); i++)
                                    {
                                        <td @{
                                        if (i == 0)
                                        {
                                                    <text>style="width: 170px;"</text>
                                        }
                                        else if (i == 1)
                                        {
                                                    <text>class="center-align" style="width: 150px;"</text>
                                        }
                                            }>@Html.Raw(strArray[i])
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @Html.Partial("SectionContentPartial", new SectionContentViewModel { Title = "Evaluation of Key Terms", Content = Model.EvaluationOfKeyTerms, Flag = Model.EvaluationOfKeyTermsFlag })
        @{
            var keyTerms = new List<string[]>
                               {
                                   new[] {"<b>GP Commitment</b>", Model.GpCommitment.HasValue ? Model.GpCommitment.Value.ToString("N1") + "%" : String.Empty, Model.GpCommitmentNote},
                                   new[] {"<b>Management Fee</b>", Model.ManagementFee.HasValue ? Model.ManagementFee.Value.ToString("N1") + "%" : String.Empty, Model.ManagementFeeNotes},
                                   new[] {"<b>Transaction Fee Offset</b>", Model.TransFeeOffset.HasValue ? Model.TransFeeOffset.Value.ToString("N1") + "%" : String.Empty, Model.TransFeeNotes},
                                   new[] {"<b>Other Deal Fees</b>", Model.OtherDealFees.HasValue ? Model.OtherDealFees.Value.ToString("N1") + "%" : String.Empty, Model.OtherFeeNotes},
                                   new[] {"<b>Carried Interest</b>", Model.CarriedInterest.HasValue ? Model.CarriedInterest.Value.ToString("N1") + "%" : String.Empty, Model.CarriedInterestNotes},
                                   new[] {"<b>Tiered Carry Level</b>", Model.TieredCarryLevel.HasValue ? Model.TieredCarryLevel.Value.ToString("N1") + "%" : String.Empty, Model.TieredCarryNotes},
                                   new[] {"<b>Preferred Return</b>", Model.PreferredReturn.HasValue ? Model.PreferredReturn.Value.ToString("N1") + "%" : String.Empty, Model.PreferredReturnNotes},
                                   new[] {"<b>GP Catch Up</b>", Model.GpCatchUp.HasValue ? Model.GpCatchUp.Value.ToString("N1") + "%" : String.Empty, Model.GpCatchUpNotes},
                                   new[] {"<b>Waterfall</b>", String.Empty, Model.GeneralNotesOnWaterfall },
                                   new[] {"<b>Fund Term</b>", Model.FundTerm.HasValue ? Model.FundTerm.Value.ToString() : String.Empty, Model.FundTermNotes},
                                   new[] {"<b>Investment Period</b>", Model.InvestmentPeriod.HasValue ? Model.InvestmentPeriod.Value.ToString() : String.Empty, Model.PlacementAgent},
                                   new[] {"<b>Clawback</b>", Model.Clawback.HasValue ? (Model.Clawback.Value.ToString()  == "True" ? "Yes" : "No" ): String.Empty, Model.ClawbackNotes},
                                   new[] {"<b>Interim Clawback</b>", Model.InterimClawback, Model.InterimClawbackNotes},
                                   new[] {"<b>Key Man</b>", String.Empty, Model.KeyMan},
                                   new[] {"<b>Key Man Trigger</b>", Model.KeyManTrigger, Model.KeyManTriggerNotes},
                                   new[] {"<b>Advisory Board</b>", Model.AdvisoryBoard.HasValue ? (Model.AdvisoryBoard.Value.ToString() == "True" ? "Yes" : "No" ) : String.Empty, Model.AdvisoryBoardNotes},
                                   new[] {"<b>GP Removal Vote</b>", Model.GpRemovalVote.HasValue ? Model.GpRemovalVote.Value.ToString() + "%" : String.Empty, Model.GpRemovalNotes},
                                   new[] {"<b>No Fault Divorce</b>", Model.NoFaultDivorceVote.HasValue ? Model.NoFaultDivorceVote.Value.ToString("N1") + "%" : String.Empty, Model.NoFaultNotes},
                                   new[] {"<b>MFN</b>", Model.Mfn , Model.MfnNotes},
                                   new[] {"<b>Investment Restrictions</b>", String.Empty, Model.InvestmentRestrictions}
                               };
        }
        @if (keyTerms.Any(m => !String.IsNullOrWhiteSpace(m[1]) || !String.IsNullOrWhiteSpace(m[2])))
        {
            <div class="section">
                <div class="section-title">
                    <h2>Key Terms</h2>
                </div>
                <div class="section-information">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 150px;">Term </th>
                                <th></th>
                                <th>Notes </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var strArray in keyTerms.Where(m => !String.IsNullOrWhiteSpace(m[1]) || !String.IsNullOrWhiteSpace(m[2])))
                            {
                                <tr>
                                    @for (var i = 0; i < strArray.Count(); i++)
                                    {
                                        <td @{
                                        if (i == 0)
                                        {
                                                    <text>style="width:170px;"</text>
                                        }
                                        else if (i == 1)
                                        {
                                                    <text>class="center-align" style="width:150px;"</text>
                                        }
                                            }>@Html.Raw(strArray[i])
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>           
        }
        @if (Model.AdvisoryBoards.Any())
        {
            <div class="section">
                <div class="section-title">
                    <h2>Advisory Boards</h2>
                </div>
                <div class="section-information">
                    <table>
                        <thead>
                            <tr>
                                <th>Name </th>
                                <th>Type </th>
                                <th>Description </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var advisoryBoard in Model.AdvisoryBoards)
                            {
                                <tr>
                                    <td>@advisoryBoard.Name
                                    </td>
                                    <td>@advisoryBoard.Type
                                    </td>
                                    <td>@advisoryBoard.Description
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
                            if (Model.LimitedPartners.Any())
                            {
            <div class="section">
                <div class="section-title">
                    <h2>Historical LPs</h2>
                </div>
                <div class="section-information">
                    <table>
                        <thead>
                            <tr>
                                <th>Name </th>
                                <th>Type </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var limitedPartner in Model.LimitedPartners)
                            {
                                <tr>
                                    <td>@limitedPartner.Name
                                    </td>
                                    <td>@limitedPartner.Type
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
                            }
        }
    </div>
    <div class="secondary-content">
        <div class="detail-block">
            <div class="detail-block-title">
            </div>
            <table class="vertical-table">
                <tbody>
                    @if (!String.IsNullOrWhiteSpace(Model.Strategy))
                    {
                    
                        <tr>
                            <th class="row-label">
                                <strong>Strategy</strong>
                            </th>
                            <td>
                                @{
                        var t = Model.Strategy.Split(';').ToList();
                        t.Remove("");
                                }
                                @String.Join(", ", t)
                            </td>
                        </tr>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.MarketStage))
                    {
                        <tr>
                            <th class="row-label">
                                <strong>Market/Stage</strong>
                            </th>
                            <td>@Model.MarketStage
                            </td>
                        </tr>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.SubStrategy))
                    {
                        <tr>
                            <th class="row-label">
                                <strong>Sub-Strategy</strong>
                            </th>
                            <td>
                                @{
                        var t = Model.SubStrategy.Split(';').ToList();
                        t.Remove("");
                                }
                                @String.Join(", ", t)
                            </td>
                        </tr>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.GeographicFocus))
                    {
                        <tr>
                            <th class="row-label">
                                <strong>Geographic Focus</strong>
                            </th>
                            <td>@Model.GeographicFocus
                            </td>
                        </tr>
                    }
                    @if (Model.SectorFocus != null && Model.SectorFocus.Any())
                    {
                        <tr>
                            <th class="row-label">
                                <strong>Sector Focus</strong>
                            </th>
                            <td class="row-value">@String.Join(", ", Model.SectorFocus)
                            </td>
                        </tr>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.SubSector))
                    {
                        <tr>
                            <th class="row-label">
                                <strong>Sub-Sector Focus</strong>
                            </th>
                            <td>
                                @{
                        var t = Model.SubSector.Split(';').ToList();
                        t.Remove("");
                                }
                                @String.Join(", ", t)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if ((Model.EvMin.HasValue && Model.EvMax.HasValue) || (Model.RevenueMin.HasValue && Model.RevenueMax.HasValue) || (Model.EbitdaMin.HasValue && Model.EbitdaMax.HasValue))
        {
            <div class="detail-block">
                <div class="detail-block-title">
                    <strong>Target Company Characteristics</strong>
                </div>
                <table>
                    <tbody>
                        @if (Model.EvMin.HasValue && Model.EvMax.HasValue)
                        {
                            <tr>
                                <th class="row-label">
                                    <strong>Enterprise Value (mm)</strong>
                                </th>
                                <td>
                                    @(Model.Currency.FormattedSymbol + Model.EvMin.Value.ToString("0.0"))
                                    &ndash; @Model.EvMax.Value.ToString("N1")
                                </td>
                            </tr>
                        }
                        @if (Model.RevenueMin.HasValue && Model.RevenueMax.HasValue)
                        {
                            <tr>
                                <th class="row-label">
                                    <strong>Revenues (mm)</strong>
                                </th>
                                <td>
                                    @(Model.Currency.FormattedSymbol + Model.RevenueMin.Value.ToString("0.0"))
                                    &ndash; @Model.RevenueMax.Value.ToString("N1")
                                </td>
                            </tr>
                        }
                        @if (Model.EbitdaMin.HasValue && Model.EbitdaMax.HasValue)
                        {
                            <tr>
                                <th class="row-label">
                                    <strong>EBITDA (mm)</strong>
                                </th>
                                <td>
                                    @(Model.Currency.FormattedSymbol + Model.EbitdaMin.Value.ToString("0.0"))
                                    &ndash; @Model.EbitdaMax.Value.ToString("N1")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if((Model.EquityCheckSizeMin.HasValue && Model.EquityCheckSizeMax.HasValue) || (Model.TypicalLeverageMin.HasValue
        && Model.TypicalLeverageMax.HasValue)){
        <div class="detail-block">
            <div class="detail-block-title">
                <strong>Transaction Details</strong>
            </div>
            <table>
                <tbody>
                    @if (Model.EquityCheckSizeMin.HasValue && Model.EquityCheckSizeMax.HasValue)
                    {
                        <tr>
                            <th class="row-label">
                                <strong>Equity Check Size (mm)</strong>
                            </th>
                            <td class="row-label">
                                @(Model.Currency.FormattedSymbol + Model.EquityCheckSizeMin.Value.ToString("0.0"))
                                &ndash; @Model.EquityCheckSizeMax.Value.ToString("N1")
                            </td>
                        </tr>

                    }
                    @if (Model.TypicalLeverageMin.HasValue && Model.TypicalLeverageMax.HasValue)
                    {
                        <tr>
                            <th class="row-label">
                                <strong>Typical Leverage</strong>
                            </th>
                            <td class="row-label">
                                @Model.TypicalLeverageMin.Value.ToString("0.0")x &ndash; @Model.TypicalLeverageMax.Value.ToString("N1")x
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        }
        <div class="clear" />
    </div>
    
</div>