﻿@model IList<AtlasDiligence.Web.Models.ViewModels.TableDataViewModel>
@{
    Layout = null;
}

@helper PrintScorecardHeader()
{
    <thead>
        <tr>
            <th class="empty" style="width: 44px;"></th>
            <th class="empty" style="width: 216px;"></th>
            @foreach (var org in Model)
            {
                <th>@org.Name</th>
            }
        </tr>
    </thead>
}

@helper PrintTableData(string data)
{
    <td class="@(!String.IsNullOrEmpty(data) ? data : "empty")">
        @data
    </td>
}

<div id="scorecard-tab" class="tab-container">
    <div class="scorecard">
        <table data-label="Performance">
            @PrintScorecardHeader()
            <tbody>
                <tr>
                    <td class="label-desc">Absolute Performance</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().AbsolutePerformance)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Relative Performance</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().RelativePerformance)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Realized Performance</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().RealizedPerformance)
                    }
                </tr>
            </tbody>
        </table>

        <table data-label="Track Record Analysis" class="no-border">
            @PrintScorecardHeader()
            <tbody>
                <tr>
                    <td class="label-desc">Depth of Track Record</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().DepthOfTrackRecord)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Relevance of Track Record</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().RelevanceOfTrackRecord)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Loss Ratio Analysis</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().LossRatioAnalysis)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Unrealized Portfolio</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().UnrealizedPortfolio)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Atlas Value Creation Analysis</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().AtlasValueCreationAnalysis)
                    }
                </tr>
            </tbody>
        </table>

        <table data-label="Performance Consistency" class="no-border">
            @PrintScorecardHeader()
            <tbody>
                <tr>
                    <td class="label-desc">Atlas Hits & Misses</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().AtlasHitsAndMisses)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Deal Size</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().DealSize)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Strategy</td>
                    @foreach (var org in Model)
                    { 
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().Strategy)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Time</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().Time)
                    }
                </tr>
                <tr>
                    <td class="label-desc">Team</td>
                    @foreach (var org in Model)
                    {
                        @PrintTableData(org.Grades == null ? String.Empty : org.Grades.FirstOrDefault().Team)
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // scorecards header
        $('.scorecard table').each(function () {
            var label = $(this).data('label');

            var bodyRow = $(this).find('tbody tr');
            if (bodyRow.length > 0) {
                bodyRow.first().prepend('<th class="group-label" rowspan="' + bodyRow.length + '"><span>' + label + '</span></th>');
            }
        });
        
        $('.scorecard').each(function () {
            $(this).find('table tbody tr:first').closest('table').find('thead').removeClass('hidden-header');
        });
        
        // IE 8 fix to display scorecard header
        $('.scorecard table').first().find("thead").css("visibility", "visible");
    });
</script>