@inherits RenderViewPage
@using System.Web.Mvc.Html;
@using Umbraco.Cms.Web;
@{
	Layout = "_Layout.cshtml";
}

@section head
{

}

<div id="content" class="content">
	@Umbraco.Field("content")
</div>
<div class="secondary-content">
   <div class="members">
      <div class="members-inner">
         <h3>Client Area</h3>
         @{Html.RenderAction("LogOnPartial", "Account");}
      </div>
     <p class="request-link"><a href="/access">Request Client Area Access</a></p>
   </div>
</div> <!-- End secondary-content -->