﻿@model AtlasDiligence.Web.Models.ViewModels.LandingViewModel
@{
    ViewBag.Title = "Atlas Diligence";
    Layout = "~/Views/Shared/_LandingMaster.cshtml";
}
@if (!Request.IsAuthenticated)
{
    <div id="content" class="content">
        <p>
            Atlas Diligence was formed by <strong>experienced institutional investors</strong>
            to provide Limited Partners with unique due diligence tools to assist in the identification
            and evaluation of <strong>private capital fund opportunities</strong>.</p>
        <p>
            Atlas provides investors, such as endowments, foundations, pension funds, and family
            offices, with increased leverage to existing resources, broader coverage of new
            markets, and sophisticated <strong>due diligence</strong> to augment their own processes.</p>
    </div>
        
    <div class="secondary-content">
        <div class="members">
            <div class="members-inner">
                <h3>Clients Area</h3>
                @Html.Partial("~/Views/Account/_LogOnForm.cshtml", Model.LogOnViewModel)
            </div>
        </div>
        <div class="request" class="landing-form">
            <div class="request-inner">
                <h3>Request Access</h3>
                @Html.Partial("~/Views/Account/_RequestAccessPartial.cshtml", Model.RequestAccessViewModel)
            </div>
        </div>
    </div>
}
