﻿@using AtlasDiligence.Web.General
@model AtlasDiligence.Common.Data.Models.OrganizationMember
@{Layout = null;}
<div class="clear"></div>
<div class="row fix-gutters">
    <div class="col-md-8">
        <div class="tab-title team-member section-title">
            <strong>@Model.FullName</strong>
        </div>
        <div class="primary-content">
            <div class="section">
                <div class="section-information">
                    @Html.Raw(Model.Description.NewlineToBreak())
                </div>
            </div>
            @if (Model.EmploymentHistories != null && this.Model.EmploymentHistories.Any())
            {
                <div class="section">
                    <div class="section-title">
                        <h2>
                            Previous Employers
                        </h2>
                    </div>
                    <div class="section-information">
                        <table>
                            <thead>
                                <tr>
                                    <th width="100px">
                                        Company
                                    </th>
                                    <th width="100px" style="text-align: center">
                                        Years
                                    </th>
                                    <th width="100px" style="text-align: center">
                                        Title
                                    </th>
                                    <th width="100px">
                                        Role
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employmentHistory in Model.EmploymentHistories)
                                {
                                    <tr>
                                        <td>
                                            @employmentHistory.OrganizationName
                                    </td>
                                    <td style="text-align: center">
                                        @employmentHistory.YearsAtOrganization
                                </td>
                                <td style="text-align: center">
                                    @employmentHistory.JobTitle
                            </td>
                            <td>
                                @employmentHistory.Role
                        </td>
                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model.BoardSeats != null && Model.BoardSeats.Any())
            {
                <div class="section">
                    <div class="section-title">
                        <h2>
                            Board Seats
                        </h2>
                    </div>
                    <div class="section-information">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Organization Name
                                    </th>
                                    <th width="100px" style="text-align: center">
                                        Past/Present
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var boardSeat in Model.BoardSeats)
                                {
                                    <tr>
                                        <td>
                                            @boardSeat.OrganizationName
                                    </td>
                                    <td style="text-align: center">
                                        @boardSeat.PastPresent
                                </td>
                            </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model.EducationHistories != null && Model.EducationHistories.Any())
            {
                <div class="section">
                    <div class="section-title">
                        <h2>
                            Education History
                        </h2>
                    </div>
                    <div class="section-information">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        School
                                    </th>
                                    <th class="center-align">
                                        Year Graduated
                                    </th>
                                    <th class="center-align">
                                        Degree
                                    </th>
                                    <th>
                                        Notes
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var educationHistory in Model.EducationHistories)
                                {
                                    <tr>
                                        <td>
                                            @educationHistory.School
                                    </td>
                                    <td width="30px" style="text-align: center">
                                        @(educationHistory.Year.HasValue ? educationHistory.Year.Value.Year.ToString() : String.Empty)
                                </td>
                                <td style="text-align: center">
                                    @educationHistory.Degree
                            </td>
                            <td width="300px">
                                @educationHistory.Notes
                        </td>
                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="member-details">
                <table>
                    <tbody>
                        @if (!string.IsNullOrWhiteSpace(Model.JobTitle))
                        {
                            <tr>
                                <th class="row-label">
                                    <strong>Title</strong>
                                </th>
                                <td>
                                    @Model.JobTitle
                            </td>
                        </tr>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.YearsAtOrganization))
                        {
                            <tr>
                                <th class="row-label">
                                    <strong>Year Joined Firm</strong>
                                </th>
                                <td>
                                    @Model.YearsAtOrganization
                            </td>
                        </tr>
                        }
                       @* @if (!string.IsNullOrWhiteSpace(Model.Phone))
    {
        <tr>
            <th class="row-label">
                <strong>Phone</strong>
            </th>
            <td>
                @Model.Phone
        </td>
    </tr>
    } *@
                       @* @if (!string.IsNullOrWhiteSpace(@Model.Address1))
                        {
                            <tr>
                                <th class="row-label">
                                    <strong>Address</strong>
                                </th>
                                <td>
                                    @if (!String.IsNullOrEmpty(Model.Address1))
                                    {
                                        @Model.Address1
                                        @:<br />
                                }

                                    @if (!String.IsNullOrEmpty(Model.Address2))
                                    {
                                        @Model.Address2
                                        @:<br />
                                }

                                    @if (!String.IsNullOrEmpty(Model.Address3))
                                    {
                                        @Model.Address3
                                        @:<br />
                                }

                                    @String.Format("{0}, {1} {2} {3}", Model.City, Model.StateOrProvince,
                    Model.PostalCode, Model.Country)
                                </td>
                            </tr> } *@
                        @if (!string.IsNullOrWhiteSpace(@Model.Email))
                        {
                            <tr>
                                <th class="row-label">
                                    <strong>Email</strong>
                                </th>
                                <td>
                                    <a href="mailto:@Model.Email">@Model.Email</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
    </div>
</div>

