﻿@model AtlasDiligence.Common.Data.Models.Organization
@helper AddIcon(string value, string htmlClass, string htmlTitle)
    {
        if (!string.IsNullOrWhiteSpace(value))
        {
    <div class="@htmlClass" title="@htmlTitle">@value</div>
        }
}
<tr>
    <td style="padding: 0 0 0 5px;">
        <input type="hidden" value="@Model.Id" class="organization-id" />
        <a href="@Url.Action("RemoveOrganization")" class="remove-organization">-</a>
    </td>
    <td>
        @if (Model.PublishOverviewAndTeam)
        {
            <a href="@Url.Action("Index", "Organization", new { id = Model.Id }).ToLower()">@Model.Name</a>
        }
        else
        {
            @:@Model.Name
                }
        @AddIcon(Model.KeyTakeAway, "key-takeaway", Model.KeyTakeAway)
        @if (!String.IsNullOrWhiteSpace(Model.FocusRadar))
        {
            @AddIcon(Model.FocusRadar, Model.FocusRadar.ToLower().Replace(' ', '-'), Model.FocusRadar)   
        }
        @AddIcon(Model.AccessConstrained.ToString().ToLower(), "access-constrained-" + Model.AccessConstrained.ToString().ToLower(), "Access Constrained")
        @AddIcon(Model.EmergingManager.ToString().ToLower(), "emerging-manager-" + Model.EmergingManager.ToString().ToLower(), "Emerging Manager")
    </td>
    <td style="text-align: center">@Model.PrimaryOffice
    </td>
    <td style="text-align: center">@(Model.InvestmentRegions == null ? string.Empty : String.Join(", ", Model.InvestmentRegions))
    </td>
    <td style="text-align: center">@Model.Category
    </td>
    <td style="text-align: center">@Model.MarketStage
    </td>
    @*<td style="text-align: center">@Html.Raw(Model.Aum.HasValue ? "<span title=\"" + Model.Currency.Name + "\">" + @Model.Currency.FormattedSymbol + (Math.Round(Convert.ToDecimal(Model.Aum.Value))).ToString("#,##0") + "</span>" : String.Empty)
    </td>*@ @*<td style="text-align: center">@Model.YearFounded
    </td>*@ @*<td style="text-align: center">@Html.Raw(Model.LastFundSize.HasValue ? "<span title=\"" + Model.Currency.Name + "\">" + @Model.Currency.FormattedSymbol + (Math.Round(Convert.ToDecimal(Model.LastFundSize.Value))).ToString("#,##0") + "</span>" : String.Empty)
    </td>*@
    <td style="text-align: center">@Model.FundRaisingStatus
    </td>
    <td style="text-align: center">@(Model.ExpectedNextFundRaise.HasValue ? Model.ExpectedNextFundRaise.Value.ToString("MM/yyyy") : string.Empty)
    </td>
    <td style="text-align: center">@(Model.LastUpdated.HasValue ? Model.LastUpdated.Value.ToShortDateString() : String.Empty)
    </td>
    <td style="text-align: center">
        <div class="diligence-level-wrapper">
            <div class="diligence-level-@Model.DiligenceLevelFromPublishFields">@Model.DiligenceLevelFromPublishFields</div>
        </div>
    </td>
</tr>
