﻿@model GPScout.Domain.Contracts.Models.ResultMessages
@using AtlasDiligence.Web.General
@using GPScout.Domain.Contracts.Models;

<div class="actions ui-widget-header ui-helper-clearfix edl-header">
    <span>Salesforce Data Import</span>
</div>
<div class="buttons">
    <input type="button" class="submit" value="Import" id="sf-data-import" />
</div>
<div class="long-error-msg" data-data-import-msg>
    @if (Model != null)
    {
        @Html.Raw(Model.Error.NewlineToBreak())
        @Html.Raw(Model.Output.NewlineToBreak())
    }
</div>