﻿@model IEnumerable<AtlasDiligence.Common.Data.EmailDistributionList>
@using AtlasDiligence.Common.Data;
@using AtlasDiligence.Common.Data.General;
@if (Model != null)
{
    foreach (EmailDistributionList emailDistributionList in Model)
    {
        <div id="edl-@(emailDistributionList.ID)">
            @Html.Partial("EmailDistributionList", emailDistributionList)
        </div>
    }
}