﻿@using AtlasDiligence.Web.Helpers.Yui;
@model AtlasDiligence.Web.Models.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Administration";
    ViewBag.IsAdminPage = true;
    ViewBag.BodyClass = "section-administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
	<style>
        
    </style>
	<script type="text/javascript">
		$(function () {
			if (window.location.hash && window.location.hash.length > 0) {
				$(window.location.hash).click();
			}
			var defaultTab = '@Model.DefaultTabUrl';
			if (defaultTab) $('a[href="' + defaultTab + '"]', '#admin-tabs').click();
		});
	</script>
}
<p class="alert">@TempData["Message"]</p>
<div id="admin-tabs" class="wrapper">
	<ul>
		<li><a href="#tab-groups">Groups</a></li>
		<li><a href="#tab-users">Users</a></li>
		<li><a href="#tab-segments">Segments</a></li>
		<li><a href="#tab-organization-requests">Requests</a></li>
		@*<li><a href="#tab-anonymous-organization-requests">Research Requests</a></li>*@
		@*<li><a href="#tab-organization-introduction">Intro Requests</a></li>*@
		<li><a href="#tab-user-requests">Access Requests</a></li>
		<li>@Html.ActionLink("User Tracking", "Index", "TrackUsers")</li>
        <li><a href="#tab-org-group-access">Group Access</a></li>
        <li><a href="#tab-email-distribution-lists">Email Distribution Lists</a></li>
        <li><a href="#tab-data-import">Data Import</a></li>
	</ul>
	<div id="tab-groups">
		<div class="clear">
		</div>
		<div class="toolbar">
			<a href="@Url.Action("Create", "Group")"><i class="icon add-icon"></i>Create New Group</a>
		</div>
		<div class="clear">
		</div>
		@Html.Raw(
         @Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.GroupDataGrid>().Url(Url.Action("GroupGrid", "Group"))
         .GridId("group-grid")
         .Columns(columns =>
         {
             columns.Bound(x => x.EditLink).Width(50).Sortable(false).Label("Edit");
             columns.Bound(x => x.Name);
             columns.Bound(x => x.Product);
             columns.Bound(x => x.Segments);
             columns.Bound(x => x.CurrentUsers).Sortable(false).Label("Number of Users");
             columns.Bound(x => x.MaxUsers);
             columns.Bound(x => x.GroupLeader);
             columns.Bound(x => x.OrganizationProfilePdfGeneration).Sortable(false).Label("Pdf Allowed");
             columns.Template(x => x.Id, "<a href=\"" + Url.Action("Delete", "Group") + "/{Id}\" class=\"delete delete-group grid-row-action\">Delete</a>").Width(80).Sortable(false).Label("Delete");
         }).ToString())
		&nbsp;
	</div>
	<div id="tab-segments">
		<div class="clear">
		</div>
		<div class="toolbar">
			<p><a href="@Url.Action("Create", "Segment")"><i class="icon add-icon"></i>Create New Segment</a></p>
		</div>
		<div class="clear">
		</div>
		<div>
			@Html.Raw(
         @Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.SegmentDataGrid>().Url(Url.Action("SegmentGrid", "Segment"))
         .GridId("segment-orgs-results-grid")
         .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
         .RowsPerPageOptions(true, new[] { 25, 50, 100 })
         .PostRenderEvent("function() { var pageReport = $('#yui-pg0-0-page-report').html(); $('.search-num').html('Results: ' + pageReport);}")
         .Columns(columns =>
         {
             columns.Template(x => x.Id, "<a href=\"" + Url.Action("Edit", "Segment") + "/{Id}?returnRoute=/Admin%3Flt=2\" class=\"grid-row-action edit\">Edit</a>").Label("Edit");
             columns.Bound(x => x.Name).Label("Name");
             columns.Template(x => x.Id, "<span rel=\"" + Url.Action("Delete", "Segment") + "/{Id}\" class=\"grid-row-action delete\">Delete</span>")
                 .Sortable(false).Label("Delete").Action("delete");
         }).ToString())
			&nbsp;
		</div>
	</div>
	<div id="tab-user-requests">
		<div class="toggle-container">
			<div class="table-search group">
				<form id="user-requests-search-form">
					<div class="fieldset">
						<fieldset>
							<legend><span>User Search</span></legend>
							<div class="field-wrap">
								<div class="field">
									<label for="firstName">First Name:</label>
									<input type="text" name="firstName" id="firstName" />
								</div>
								<div class="field">
									<label for="lastName">Last Name:</label>
									<input type="text" name="lastName" id="lastName" />
								</div>
								<div class="field">
									<label for="email">Email:</label>
									<input type="text" name="email" id="email" />
								</div>
							</div>
						</fieldset>
					</div>
					<p class="buttons">
                        <input type="button" class="button action-button" id="user-requests-grid-search-button" value="search" />
						<input type="button" class="button reset-button" id="user-requests-grid-search-clear" value="clear" onclick="$('#user-requests-search-form')[0].reset(); $('#user-requests-grid-search-button').click();" />
					</p>
				</form>
			</div>
		</div>
		<div class="clear" style="margin: 0;">
		</div>
		@Html.Raw(
         @Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.UserDataGrid>().Url(Url.Action("AdminUserRequestsGrid", "User"))
         .GridId("user-requests-grid")
         .Search("user-requests-search-form", "user-requests-grid-search-button")
         .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
         .Columns(columns =>
         {
             columns.Template(x => x.Id, "<a href=\"" + Url.Action("GrantAccessRequest", "User") + "\" onclick=\"$(this).grantAccessRequest('{Id}'); return false;\" class=\"grid-row-action grant-access\">Grant Access</a>")
             .Sortable(false).Label("Grant Access").Width(75);
             columns.Bound(x => x.LastName).Label("Last Name");
             columns.Bound(x => x.FirstName).Label("First Name");
             columns.Bound(x => x.Email).Width(200);
             columns.Template(x => x.Id, "<span rel=\"" + Url.Action("Delete", "User") + "/{Id}\" class=\"grid-row-action delete\">Delete</span>")
                 .Sortable(false).Label("Delete").Action("delete");
         }).ToString())
		&nbsp;
	</div>
	<div id="tab-users">
		<div class="toggle-container">
			<div class="table-search group">
				<form id="user-search-form">
					<div class="fieldset">
						<fieldset>
							<legend><span>User Search</span></legend>
							<div class="field-wrap">
								<div class="field">
									<label for="firstName">First Name:</label>
									<input type="text" name="firstName" id="firstName" />
								</div>
								<div class="field">
									<label for="lastName">Last Name:</label>
									<input type="text" name="lastName" id="lastName" />
								</div>
								<div class="field">
									<label for="email">Email:</label>
									<input type="text" name="email" id="email" />
								</div>
							</div>
						</fieldset>
					</div>
					<p class="buttons">
                        <input type="button" class="button action-button" id="user-grid-search-button" value="Search" />
						<input type="button" class="submit reset-button" id="user-grid-search-clear" value="Clear" onclick="$('#user-search-form')[0].reset(); $('#user-grid-search-button').click();" />
					</p>
				</form>
			</div>
		</div>
		<div class="clear">
		</div>
		<div class="toolbar">
			<a href="@Url.Action("Create", "User")"><i class="icon add-icon"></i>Create New User</a> 
            <a href="@Url.Action("ExportUserInformation", "Admin")"><i class="icon export-icon"></i>Export User Information</a> 
            <a href="@Url.Action("ExportUserSearch", "Admin")"><i class="icon export-icon"></i>Export User Search</a>
            <a href="@Url.Action("UpdateEula", "Admin")"><i class="icon edit-icon"></i>Update Terms & Conditions</a>
            <a href="@Url.Action("UpdateScoutCategoryDefinitions", "Admin")"><i class="icon edit-icon"></i>Update Scout Category Definitions</a>
		</div>
		<div class="clear">
			@Html.Raw(
         @Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.UserDataGrid>().Url(Url.Action("AdminUserGrid", "User"))
         .GridId("user-grid")
         .Search("user-search-form", "user-grid-search-button")
         .Columns(columns =>
         {
             columns.Bound(x => x.ActiveText).Hidden(true);
             columns.Template(x => x.Id, "<a href=\"" + Url.Action("Edit", "User") + "/{Id}?returnRoute=/Admin%3Flt=1\" class=\"grid-row-action edit\">Edit</a>")
                 .Width(30).Sortable(false).Label("Edit");
             columns.Bound(x => x.LastName).Label("Last Name");
             columns.Bound(x => x.FirstName).Label("First Name");
             columns.Bound(x => x.Email);
             columns.Bound(x => x.GroupTemplate).Label("Group");
             columns.Bound(x => x.EulaSigned).Label("Agreed to T&C");
             columns.Bound(x => x.IsLockedOut).Label("Locked?");
             columns.Template(x => x.Id, "<a href=\"" + Url.Action("ChangeUserActiveStatus", "User") + "\" onclick=\"$(this).changeActiveStatus('{Id}'); return false;\" class=\"grid-row-action {ActiveText}\">{ActiveText}</a>").Width(80).Sortable(false).Label("Active?");
             columns.Bound(x => x.ResetPassword).Label("Reset Password").Sortable(false);
             columns.Template(x => x.Id, "<a href=\"" + Url.Action("Delete", "User") + "/{Id}\" class=\"delete delete-user grid-row-action\">Delete</a>").Width(80).Sortable(false).Label("Delete");
         }).ToString())
			&nbsp;
		</div>
	</div>
    <div id="tab-organization-requests">
        <div class="toggle-container">
            <div class="table-search group">
                <form id="request-search-form">
                    <div class="fieldset">
                        <fieldset>
                            <legend><span>Organization Request Search</span></legend>
                            <div class="field-wrap">
                                <div class="field">
                                    <label for="userName">User Email:</label>
                                    <input type="text" name="userName" id="userName" />
                                </div>
                                <div class="field">
                                    <label for="organizationName">Organization Name:</label>
                                    <input type="text" name="organizationName" id="organizationName" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <p class="buttons">
                        <input type="button" class="button action-button" id="request-grid-search-button" value="search" />
                        <input type="button" class="button reset-button" id="request-grid-search-clear" value="clear" onclick="$('#request-search-form')[0].reset(); $('#request-grid-search-button').click();" />
                    </p>
                </form>
            </div>
        </div>
        <div class="clear">
            @Html.Raw(
         Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.RequestDataGrid>().Url(Url.Action("RequestGrid", "Request"))
             .GridId("request-grid")
             .Search("request-search-form", "request-grid-search-button")
             .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
             .Columns(columns =>
             {
                 columns.Template(x => x.Id, "<span rel=\"" + Url.Action("HideRequest", "Request") + "/{Id}\" class=\"grid-row-action delete\">Delete</span>")
                     .Sortable(false).Label("Delete").Action("delete");
                 columns.Bound(x => x.CreatedOn).Label("Request Date");
                 columns.Bound(x => x.OrganizationName).Label("Organization Name");
                 columns.Bound(x => x.UserName).Label("Requesting User");
                 columns.Bound(x => x.Comment).Label("Comment");
                 columns.Bound(x => x.RequestTypeDisplayName).Label("Request Type");
             }).ToString())
            &nbsp;
        </div>
    </div>
	@*<div id="tab-organization-requests">
		<div class="toggle-container">
			<div class="table-search group">
				<form id="request-search-form">
					<div class="fieldset">
						<fieldset>
                            Diligence tab
							<legend><span>Organization Request Search</span></legend>
							<div class="field-wrap">
								<div class="field">
									<label for="userName">User Email:</label>
									<input type="text" name="userName" id="userName" />
								</div>
								<div class="field">
									<label for="organizationName">Organization Name:</label>
									<input type="text" name="organizationName" id="organizationName" />
								</div>
							</div>
						</fieldset>
					</div>
					<p class="buttons">
						<input type="button" class="button" id="request-grid-search-clear" value="clear" onclick="$('#request-search-form')[0].reset(); $('#request-grid-search-button').click();" />
						<input type="button" class="button" id="request-grid-search-button" value="search" />
					</p>
				</form>
			</div>
		</div>
		<div class="clear">
			@Html.Raw(
         Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.RequestDataGrid>().Url(Url.Action("OrganizationRequestGrid", "Request"))
             .GridId("request-grid")
             .Search("request-search-form", "request-grid-search-button")
             .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
             .Columns(columns =>
             {
                 columns.Template(x => x.Id, "<span rel=\"" + Url.Action("HideRequest", "Request") + "/{Id}\" class=\"grid-row-action delete\">Delete</span>")
                     .Sortable(false).Label("Delete").Action("delete");
                 columns.Bound(x => x.CreatedOn).Label("Request Date");
                 columns.Bound(x => x.OrganizationName).Label("Organization Name");
                 columns.Bound(x => x.UserName).Label("Requesting User");
                 columns.Bound(x => x.Comment).Label("Comment");
             }).ToString())
			&nbsp;
		</div>
	</div>*@
	@*<div id="tab-anonymous-organization-requests">
		<div class="toggle-container">
			<div class="table-search group">
				<form id="anonymous-request-search-form">
					<div class="fieldset">
						<fieldset>
                            Research Requests tab
							<legend><span>Organization Name Request Search</span></legend>
							<div class="field-wrap">
								<div class="field">
									<label for="anonymousUserName">User Email:</label>
									<input type="text" name="userName" id="anonymousUserName" />
								</div>
								<div class="field">
									<label for="anonymousOrganizationName">Organization Name:</label>
									<input type="text" name="organizationName" id="anonymousOrganizationName" />
								</div>
							</div>
						</fieldset>
					</div>
					<p class="buttons">
						<input type="button" class="button" id="anonymous-request-grid-search-clear" value="clear" onclick="$('#anonymous-request-search-form')[0].reset(); $('#anonymous-request-grid-search-button').click();" />
						<input type="button" class="button" id="anonymous-request-grid-search-button" value="search" />
					</p>
				</form>
			</div>
		</div>
		<div class="clear">
			@Html.Raw(
         Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.RequestDataGrid>().Url(Url.Action("AnonymousOrganizationRequestGrid", "Request"))
             .GridId("anonymous-request-grid")
             .Search("anonymous-request-search-form", "anonymous-request-grid-search-button")
             .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
             .Columns(columns =>
             {
                 columns.Template(x => x.Id, "<span rel=\"" + Url.Action("HideRequest", "Request") + "/{Id}\" class=\"grid-row-action delete\">Delete</span>")
                        .Sortable(false).Label("Delete").Action("delete");
                 columns.Bound(x => x.CreatedOn).Label("Request Date");
                 columns.Bound(x => x.OrganizationName).Label("Organization Name");
                 columns.Bound(x => x.UserName).Label("Requesting User");
                 columns.Bound(x => x.Comment).Label("Comment");
             }).ToString())
			&nbsp;
		</div>
	</div>*@
	@*<div id="tab-organization-introduction">
		<div class="toggle-container">
			<div class="table-search group">
				<form id="organization-introduction-search-form">
					<div class="fieldset">
						<fieldset>
							<legend><span>Organization Introduction Search</span></legend>
							<div class="field-wrap">
								<div class="field">
									<label for="introductionUserName">User Email:</label>
									<input type="text" name="userName" id="introductionUserName" />
								</div>
								<div class="field">
									<label for="introductionOrganizationName">Organization Name:</label>
									<input type="text" name="organizationName" id="introductionOrganizationName" />
								</div>
							</div>
						</fieldset>
					</div>
					<p class="buttons">
						<input type="button" class="button" id="organization-introduction-grid-search-clear" value="clear" onclick="$('#organization-introduction-search-form')[0].reset(); $('#organization-introduction-grid-search-button').click();" />
						<input type="button" class="button" id="organization-introduction-grid-search-button" value="search" />
					</p>
				</form>
			</div>
		</div>
		<div class="clear">
			@Html.Raw(
     Html.YuiGrid<AtlasDiligence.Web.Models.ViewModels.YuiMaps.RequestDataGrid>().Url(Url.Action("OrganizationIntroductionGrid", "Request"))
             .GridId("organization-introduction-grid")
             .Search("organization-introduction-search-form", "organization-introduction-grid-search-button")
             .CellClickEvent("function(e) { $(this).cellClickEvent(e); }")
             .Columns(columns =>
             {
                 columns.Template(x => x.Id, "<span rel=\"" + Url.Action("HideRequest", "Request") + "/{Id}\" class=\"grid-row-action delete\">Delete</span>")
                     .Sortable(false).Label("Delete").Action("delete");
                 columns.Bound(x => x.CreatedOn).Label("Request Date");
                 columns.Bound(x => x.OrganizationName).Label("Organization Name");
                 columns.Bound(x => x.UserName).Label("Requesting User");
                 columns.Bound(x => x.Comment).Label("Comment");
             }).ToString())
			&nbsp;
		</div>
	</div>*@


    <div id="tab-org-group-access">
        @{ Html.RenderAction("Index", "GroupAccess"); }
    </div>

    <div id="tab-email-distribution-lists">
        @{ Html.RenderAction("EmailDistributionLists", "Admin"); }
    </div>

    <div id="tab-data-import">
        @{ Html.RenderAction("DataImport", "Admin", Model.DataImportResults); }
    </div>

<div id="reset-password-dialog" style="display: none">
	<p>Please enter a password (Must be at least six characters long and contain one (1) each of the following: letters, numbers, symbols).</p>
	<p class="error"></p>
	<input type="text" class="text" id="password" value="" />
</div>
<div id="delete-user-dialog" style="display: none;">
	<p>Are you sure you want to delete this user? This action cannot be undone.</p>
	<p class="error"></p>
</div>
<div id="delete-group-dialog" style="display: none;">
	<p>Are you sure you want to delete this group? All associated users will be deactivated. This action cannot be undone.</p>
	<p class="error"></p>
</div>
<div id="delete-edl-email-dialog" style="display: none;">
    <p>Are you sure you want to remove this email address?</p>
    <p class="error"></p>
</div>
</div>