﻿@model AtlasDiligence.Web.Models.ViewModels.EulaViewModel
@{
    ViewBag.Title = "Update Terms and Conditions";
}
    <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: "textarea",
                encoding: "xml",
                valid_children: "+body[style],+li[span]",
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                toolbar: "preview | insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
            });
        });
    </script>

    <h2>Update Terms and Conditions</h2>
    <div class="wrapper">
        @using (Html.BeginForm())
    {
            <div class="field">
                @Html.ValidationMessageFor(m => m.Text)
                @Html.LabelFor(m => m.Text)
                @Html.TextAreaFor(m => m.Text, new { @style = "min-height:450px" })
            </div>
            <div class="buttons">
                <input type="submit" value="Submit" />
            </div>
    }
        <div class="clear">
        </div>
    </div>
