﻿@model AtlasDiligence.Web.Models.ViewModels.Account.RequestAccessViewModel
@if (Model != null)
{
    <div id="request-access-form">
        <img style="margin-left: 0.8em; margin-top: 0.5em;" src="/images/icons/accept.png" alt="accept"><span
            style="left: 0.6em; position: relative; padding-right: 8px; font-size: 0.85em;">We
            have received your notification and will be contacting you shortly.<span></span></span></div>
}
else
{
    <p class="alert">@ViewData["Message"]</p>
}
