﻿@model AtlasDiligence.Web.Models.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    ViewBag.BodyClass = "section-account";
}


	<div id="password-form">
	<h1>Change Password</h1>
	<p>Use the form below to change your password.<br />
	<small style="color: #999;">New passwords are required to be a minimum of @ViewBag.PasswordLength characters in length.</small></p>
	
	
	@using (Html.BeginForm()) {
	    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
	    <div>
		   <fieldset>
			  <legend>Account Information</legend>
	
			  <div class="field">
				  <div class="editor-label">
					 @Html.LabelFor(m => m.OldPassword)
				  </div>
				  <div class="editor-field">
					 @Html.PasswordFor(m => m.OldPassword)
					 @Html.ValidationMessageFor(m => m.OldPassword)
				  </div>
			  </div>
			  
			  <div class="field">
				  <div class="editor-label">
					 @Html.LabelFor(m => m.NewPassword)
				  </div>
				  <div class="editor-field">
					 @Html.PasswordFor(m => m.NewPassword)
					 @Html.ValidationMessageFor(m => m.NewPassword)
				  </div>
			  </div>
			  
			  <div class="field">
				  <div class="editor-label">
					 @Html.LabelFor(m => m.ConfirmPassword)
				  </div>
				  <div class="editor-field">
					 @Html.PasswordFor(m => m.ConfirmPassword)
					 @Html.ValidationMessageFor(m => m.ConfirmPassword)
				  </div>
			  </div>
	
			  <p>
				 <input type="submit" value="Change Password" />
			  </p>
		   </fieldset>
	    </div>

}
