﻿@model KeyValuePair<string, IEnumerable<AtlasDiligence.Common.Data.Models.Folder>>
<div class="folder-widget">
    <h4 class="folder-widget-title">Add to Folder(s)</h4>
    <ul class="folder-widget-list">
        @foreach (var folder in Model.Value.Where(m => m.Name == "Favorites").Union(Model.Value.Where(m => m.Name != "Favorites").OrderBy(m => m.Name)))
        {
            <li class="folder-widget-listitem"><a href="@Url.Action("AddOrganization", "Folder")">@folder.Name</a>
                <input type="hidden" value="@Model.Key" class="organization-id"/>
                <input type="hidden" value="@folder.Id" class="folder-id"/>
            </li>
        }
        <li class="folder-widget-listitem new-folder"><a href="@Url.Action("CreateFromWidget", "Folder")" rel="@Model.Key">
            New Folder</a></li>
    </ul>
</div>
