﻿@using AtlanticBT.Common.Types
@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models
@using AtlasDiligence.Web.Resources
@{
    UserEntity user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = EntityCache.Get<UserEntity>(Params.UserEntityCache);
    }
}
@if (!Common.IsPrint && user != null && user.Group != null && user.Group.WatermarkEnabled)
{
    <div id="watermark">
        @(user.UserName)<br />
        <span>@(user.Group.Name)</span><br/>
        <span>The information contained herein is highly confidential</span><br />
        <span>and pertains to trade secrets</span>
    </div>
}
