﻿@model AtlasDiligence.Web.Models.ViewModels.BarGraphViewModel
@{
    Layout = null;
    var clientId = String.IsNullOrWhiteSpace(Model.HtmlId) ? "visualization" : Model.HtmlId;
    var width = !Model.Width.HasValue ? 480 : Model.Width;
    var height = !Model.Height.HasValue ? 300 : Model.Height;
    var paddingTop = !Model.PaddingTop.HasValue ? 0 : Model.PaddingTop.Value;
    var paddingRight = !Model.PaddingRight.HasValue ? 0 : Model.PaddingRight.Value;
    var paddingBottom = !Model.PaddingBottom.HasValue ? 0 : Model.PaddingBottom.Value;
    var paddingLeft = !Model.PaddingLeft.HasValue ? 60 : Model.PaddingLeft.Value;
    var chartAreaWidth = width - paddingLeft - paddingRight;
    var chartAreaHeight = height - paddingBottom - paddingTop;
}
<div class="bar-container">
    <h2 class="chart-title">@Model.GraphTitle</h2>
    <div id="@clientId" style="width: @(width)px; height: @(height)px;"></div>
    <div class="x-label-container">
        <span class="x-labels label-poor">Poor</span> <span class="x-labels label-weak">Weak</span> <span class="x-labels label-standard">Standard</span> <span class="x-labels label-strong">Strong</span> <span class="x-labels label-exceptional">Exceptional</span>
    </div>
</div>
<script type="text/javascript">
    function initBarGraphPartial@(clientId)() {
        function draw@(clientId)Visualization() {
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable([
                            ['Organization', 'Score', { role: 'style' }],
                            ['Best', @Model.BestScore, '#71a7e0'],
                            ['This Firm', @Model.OrganizationScore, '#a5c24f'],
                            ['Median', @Model.MedianScore, '#fcd06d'],
                            ['Worst', @Model.WorstScore, '#fa8754']
            ]);

            // Create and draw the visualization.
            var chart = new google.visualization.BarChart(document.getElementById('@clientId'));
            google.visualization.events.addListener(chart, 'ready', function () {
                @*$('#@clientId svg > g:first > g:first > g:first rect:eq(1)').attr('fill', '#000000');
                $('#@clientId svg > g:first > g:first > g:first rect:eq(3)').attr('fill', '#000000');
                $('#@clientId svg > g:first > g:first > g:first rect:eq(5)').attr('fill', '#000000');
                $('#@clientId svg > g:first > g:first > g:first rect:eq(7)').attr('fill', '#000000');
                $('#@clientId svg > g:first > g:first > g:first rect:eq(9)').attr('fill', '#000000');

                $('#@clientId svg > g:first > g:last > g:eq(1) text').attr('font-weight', 'bold');*@

                // change gridline color
                var gridLines = $('#@clientId svg > g:first > g:first > g:first rect');
                $(gridLines).eq(0).attr('fill', '#000000');
                $(gridLines).filter(':lt(10):odd').attr('fill', '#000000');

                $('#@(clientId) text:contains(This Firm):first').attr('font-weight', 'bold');
            });

            chart.draw(data,
                    {
                        enableInteractivity: false,
                        legend: 'none',
                        curveType: "function",
                        fontName: "Calibri",
                        chartArea: {
                            left: @paddingLeft,
                            top: @paddingTop,
                            height: @chartAreaHeight,
                            width: @chartAreaWidth
                            },
                        width: @(width),
                        height: @(height),
                        hAxis: {
                            minValue: 0,
                            maxValue: 100,
                            gridlines: { count: 11, color: '#cccccc'},
                            minorGridlines: { count: 4, color: '#ebebeb' },
                            textPosition: 'none',
                            titleTextStyle: {
                                fontName: 'Calibri',
                                italic: false
                            },
                            width: 2
                        }
                    });


            var xStart = @paddingLeft;
            var xStep = @chartAreaWidth / 10;
            $('#@(clientId)').siblings('.x-label-container').find('.x-labels').each(function() {
                var $this = $(this);
                $this.css('top', @(-height+paddingTop) - $this.height() + 'px');
                if($this.hasClass('label-poor')) {
                    $this.css('left', xStart + (xStep * 2) - ($this.width() / 2) + 'px');
                } else if($this.hasClass('label-weak')) {
                    $this.css('left', xStart + (xStep * 4) - ($this.width() / 2) + 'px');
                } else if($this.hasClass('label-standard')) {
                    $this.css('left', xStart + (xStep * 6) - ($this.width() / 2) + 'px');
                }else if($this.hasClass('label-strong')) {
                    $this.css('left', xStart + (xStep * 8) - ($this.width() / 2) + 'px');
                }else if($this.hasClass('label-exceptional')) {
                    $this.css('left', xStart + (xStep * 9) + 'px');
                }
            });
        }

        if(window.location.pathname.indexOf('Print') >= 0)
        {
            google.setOnLoadCallback(draw@(clientId)Visualization);
            draw@(clientId)Visualization();
        }
        else
        {
            draw@(clientId)Visualization();
        }
    }
    if (typeof chartFunctions!='undefined') chartFunctions.push(initBarGraphPartial@(clientId));
    else initBarGraphPartial@(clientId)();
</script>
