﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using GPScout.Domain.Contracts.Enums
@using AtlasDiligence.Web.General
@{Layout = null;}
<div id="evaluation-tab" class="tab-container">
    @if (!String.IsNullOrWhiteSpace(Model.Organization.EvaluationLevel))
    {
        <div class="tab-title">
            <h2>@Model.Organization.EvaluationLevel</h2>
        </div>
    }
    <div class="content one-col">
        @if (!String.IsNullOrWhiteSpace(Model.Organization.EvaluationText))
        { 
            <div class="tab-description">
                @Html.Raw(Model.Organization.EvaluationText)
            </div>
        }
        <div class="section">
            <span class="section-title">Strengths</span>
            <ul class="section-information">
                @foreach (var strength in Model.Organization.Evaluations.Where(m => m.Type.Equals((int)EvaluationType.Strength)).OrderBy(o => o.SortOrder))
                {
                    <li class="evaluation-container">
                        <div class="evaluation-description">
                            <strong>@Html.Raw(strength.Description.NewlineToBreak())</strong></div>
                        <div class="evaluation-note">@Html.Raw(strength.Note.NewlineToBreak())</div>
                    </li>
                }
            </ul>
        </div>
        <div class="section">
            <span class="section-title">Concerns</span>
            <ul class="section-information">
                @foreach (var concern in Model.Organization.Evaluations.Where(m => m.Type.Equals((int)EvaluationType.Concern)).OrderBy(o => o.SortOrder))
                {
                    <li class="evaluation-container">
                        <div class="evaluation-description">
                            <strong>@Html.Raw(concern.Description.NewlineToBreak())</strong></div>
                        <div class="evaluation-note">@Html.Raw(concern.Note.NewlineToBreak())</div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
