﻿@using System.Globalization
@model AtlasDiligence.Common.Data.Models.Organization
<table class="vertical-table">
    <tbody>
        @if (Model.Strategy.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Primary Strategy</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.Strategy)
                </td>
            </tr>
        }
        @if (!String.IsNullOrEmpty(Model.MarketStage))
        {
            <tr>
                <th class="row-label">
                    <strong>Market/Stage</strong>
                </th>
                <td class="row-value">@Model.MarketStage
                </td>
            </tr>
        }
        @if (Model.SubStrategy.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Secondary Strategy</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.SubStrategy)
                </td>
            </tr>
        }
        @if (!String.IsNullOrEmpty(Model.PrimaryOffice))
        {
            <tr>
                <th class="row-label">
                    <strong>Primary Office</strong>
                </th>
                <td class="row-value">@Model.PrimaryOffice
                </td>
            </tr>
        }
        @if (Model.OtherAddresses.Any())
        {
            List<String> lstOtherAddresses = new List<String>();
            for (var i = 0; i < Model.OtherAddresses.Count(); i++)
            {
                if (Model.Address1 != Model.OtherAddresses[i].Address1)
                {
                    lstOtherAddresses.Add(Model.OtherAddresses[i].CityStateCountry);
                }
            }

            if (lstOtherAddresses.Count() > 0)
            {
                for (var i = 0; i < lstOtherAddresses.Count(); i++)
                {
                    <tr>
                        <th class="row-label">
                            @if (i == 0)
                            {
                                <strong>Other Office@(lstOtherAddresses.Count() > 1 ? "s" : string.Empty)</strong>
                            }
                        </th>
                        <td class="row-value">
                            @lstOtherAddresses[i]
                        </td>
                    </tr>
                }
            }

            @*<tr>
                <td class="row-label">
                </td>
                <td class="row-value">
                    <a href="#" class="other-office-toggle">@Model.OtherAddresses.Count() Other @(Model.OtherAddresses.Count() > 1 ? "Offices" : "Office")</a>
                </td>
            </tr>
            foreach (var address in Model.OtherAddresses.OrderBy(m => m.Country).ThenBy(m => m.City))
            {
            <tr class="other-office">
                <td class="row-label">
                </td>
                <td class="row-value">
                    @address.CityStateCountry
                </td>
            </tr>
            }*@
        }
        @if (Model.InvestmentRegions.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Investment Regions</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.InvestmentRegions)
                </td>
            </tr>
        }
        @if (Model.SectorFocus.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Sector Focus</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.SectorFocus)
                </td>
            </tr>
        }
        @*@if (Model.SubSectorFocus.Any())
        {
            <tr>
                <th class="row-label">
                    <strong>Sub-Sector</strong>
                </th>
                <td class="row-value">@string.Join(", ", Model.SubSectorFocus)
                </td>
            </tr>
        }*@
            @if (Model.Aum.HasValue)
            {
                <tr>
                    <th class="row-label">
                        <strong>AUM (mm)</strong>
                    </th>
                    <td class="row-value">@AtlasDiligence.Web.General.StringExtensions.Currency(Model.Aum.Value, Model.Currency)
                    </td>
                </tr>
            }
            @if (Model.NumberOfFunds.HasValue)
            {
                <tr>
                    <th class="row-label">
                        <strong>Closed Funds</strong>
                    </th>
                    <td class="row-value">@Model.NumberOfFunds.Value
                    </td>
                </tr>
            }
            @if (Model.YearFounded.HasValue)
            {
                <tr>
                    <th class="row-label">
                        <strong>Year Founded</strong>
                    </th>
                    <td class="row-value">@Model.YearFounded.Value
                    </td>
                </tr>
            }
            @if (!String.IsNullOrEmpty(Model.NumberOfInvestmentProfessionals))
            {
                <tr>
                    <th class="row-label">
                        <strong>Number of Investment Professionals</strong>
                    </th>
                    <td class="row-value">@Model.NumberOfInvestmentProfessionals
                    </td>
                </tr>
            }
            @if (Model.ExpectedNextFundRaise.HasValue)
            {
                <tr>
                    <th class="row-label">
                        <strong>Estimated Next Fundraise</strong>
                    </th>
                    <td class="row-value">@Model.ExpectedNextFundRaise.Value.ToString("MMMM yyyy")
                    </td>
                </tr>
            }

            @if (!String.IsNullOrWhiteSpace(Model.CoInvestWithExistingLPs))
            {
                <tr>
                    <th class="row-label">
                        <strong>Co-Invest With Existing LPs</strong>
                    </th>
                    <td class="row-value">@Model.CoInvestWithExistingLPs
                    </td>
                </tr>
            }

            @if (!String.IsNullOrWhiteSpace(Model.CoInvestWithOtherLPs))
            {
                <tr>
                    <th class="row-label">
                        <strong>Co-Invest With Other LPs</strong>
                    </th>
                    <td class="row-value">@Model.CoInvestWithOtherLPs
                    </td>
                </tr>
            }
    </tbody>
</table>
