﻿@using AtlanticBT.Common.Types
@using AtlasDiligence.Web.Config
@using System.Web.Optimization
@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@{Layout = null;
  var user = EntityCache.Get<AtlasDiligence.Web.Models.UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache);
}
@helper AddIcon(string value, string url)
    {
        if (!string.IsNullOrWhiteSpace(value))
        {
    <img src="@url" />
        }
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@Model.Organization.Name - @user.Email - Overview</title>
        @Styles.RenderFormat(BundleConfig.Screen, "~/css/print-organization")
        @Styles.RenderFormat(BundleConfig.Print, "~/css/print-organization")
        @Styles.Render("~/css/jquery-ui")
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1', { packages: ['corechart'] });
        </script>
    </head>
    <body id="splash" class="splash" onload="window.print()">
        <div id="wrap">
            <div id="container">
                <div id="main-area" class="main-area">
                    <div>
                        <div class="organization-header-info">
                            <div class="organization-name">
                                <h1>@Model.Organization.Name</h1>
                                <div class="organization-icons">
                                    @AddIcon(Model.Organization.KeyTakeAway, "/images/icons/i_info.png")
                                    @if (Model.Organization.AccessConstrained)
                                    {
                                        @this.AddIcon("Access Constrained", "/images/icons/i_lock.png")
                                    }
                                    @if (Model.Organization.EmergingManager)
                                    {
                                        @this.AddIcon("Emerging Manager", "/images/icons/i_sprout.png")
                                    }
                                    @if (Model.Organization.FocusRadar == "Radar List")
                                    {
                                        @this.AddIcon("Radar List", "/images/icons/i_radar.png")
                                    }
                                    else if (Model.Organization.FocusRadar == "Focus List")
                                    {
                                        @this.AddIcon("Focus List", "/images/icons/i_star.png")
                                    }
                                </div>
                                @if (!string.IsNullOrWhiteSpace(Model.Organization.WebsiteUrl))
                                {
                                    <p class="org-website">Organization Website: <a href="@Model.Organization.WebsiteUrl" target="_blank">@Model.Organization.WebsiteUrl</a></p>
                                }
                            </div>
                            <div class="organization-metrics">
                                <div class="org-diligence-level-wrapper">
                                    <div class="diligence-level-@Model.Organization.DiligenceLevelFromPublishFields">
                                        @Model.Organization.DiligenceLevelFromPublishFields</div>
                                </div>
                                <p>Diligence Level:</p>
                                
                                @*@if (Model.Organization.LastUpdated.HasValue)
                                {
                                    <div class="date-updated">
                                        Last Updated: @Model.Organization.LastUpdated.Value.ToShortDateString()
                                    </div>    
                                }*@
                            </div>
                        </div>
                        @{
                            Html.RenderAction("Overview", new { id = Model.Id });
                        }
                    </div>
                </div>
                <div id="site-info" class="footer">
                    <div id="site-copyright">
                        <script type="text/javascript">
                            now = new Date();
                            year = now.getFullYear();
                        </script>
                        <p>Copyright &copy; @DateTime.Now.Year RCP Advisors. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
