﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationPrintAllHeaderViewModel
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        .headerPn {
            font-family: "Calibri", Arial, Helvetica, sans-serif;
            font-size: 15px;
            width: 100%;
        }

        .headerPn1 {
            float: left;
            color: #ff3c04;
            font-weight: bold;
            text-align: left;
            padding-top: 17px;
            width: 20%;
        }

        .headerPn2 {
            float: left;
            color: #000000;
            font-weight: normal;
            text-align: center;
            padding-top: 17px;
            width: 60%;
        }

            .headerPn2 a {
                color: #000000;
                text-decoration: none;
            }

        .headerPn3 {
            float: right;
            width: 20%;
        }
    </style>
</head>
<body style="padding: 0; margin: 0;">
    <div class="headerPn">
        <div class="headerPn1">
            Confidential
        </div>
        <div class="headerPn2">
            @Model.UserName<br />
            @Model.OrganizationName
        </div>
        <div class="headerPn3">
            <img src="@Url.Content("~/images/rcp-logo-pdf-header.jpg")" />
        </div>
    </div>
</body>
</html>


