﻿@using AtlasDiligence.Web.General
@using AtlasDiligence.Web.Models.ViewModels
@model OrganizationViewModel
@{ Layout = null; }
<div id="team-tab" class="tab-container">
    <!--<div class="tab-title">
        <strong>Team</strong>
    </div>-->
    <div class="content two-col">
    @if (!String.IsNullOrEmpty(Model.Organization.TeamOverview))
    {
        <div class="tab-description">
            @Html.Raw(Model.Organization.TeamOverview.NewlineToBreak())
        </div>
    }
        <div class="@(Common.IsPrint?"":"primary-content member")">
            @foreach (var member in Model.OrganizationMembers.Where(m => m.DisplayOrder.HasValue).OrderBy(m => (m.DisplayOrder.HasValue ? m.DisplayOrder.Value : 99999)))
            {
                @Html.Partial("SectionContentPartial", new SectionContentViewModel
                                                                 {
                                                                     Title = "<a href=\"javascript:void(0);\" id=\"" + member.Id + "-member\">" + member.FullName + "</a>" + (String.IsNullOrEmpty(member.JobTitle) ? String.Empty : ", " + member.JobTitle),
                                                                     Content = member.Description
                                                                 });
            }
        </div>
        @if (!Common.IsPrint) {
            <div class="secondary-content screen-only">
            <div class="member overview">
                @if (@Model.OrganizationMembers.Any())
                {
                    <ul>
                        @foreach (var member in Model.OrganizationMembers.OrderBy(m => (m.DisplayOrder.HasValue ? m.DisplayOrder.Value : 99999)))
                        {
                            <li><a href="javascript:void(0);" id="@member.Id-member">@member.FullName</a>@(String.IsNullOrEmpty(member.JobTitle) ? String.Empty : ", " + member.JobTitle)</li>
                        }
                    </ul>    
                }
            </div>
        </div>
		}
		<div class="clear">&nbsp;</div>
		
    </div>
</div>
 @if (!Common.IsPrint) {
foreach (var member in Model.OrganizationMembers)
{
    <div class="tab-container print-only individual-member" id="@member.Id-container">
        <a href="javascript:void(0);" class="back-to-team-list screen-only">&laquo; Back to @Model.Organization.Name Team</a>
        @Html.Partial("~/Views/OrganizationMember/MemberPartial.cshtml", member)
    </div>    
}
}