﻿@model AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel
@using System.Text.RegularExpressions
@using AtlasDiligence.Web.General
@using AtlasDiligence.Common.Data.General
@using AtlasDiligence.Common.Data.Models
@{
    Layout = null;
    var forceCalculation = Model.FundsForTrackRecordsTab.Any();
}
<script type="text/javascript">
    var isPrint = window.location.pathname.indexOf('Print') >= 0;
</script>
@*@(Model.HasPreqinMostRecentMetric)*@
<div id="trackrecord-tab" class="tab-container">
    @if (Model.Organization.PublishLevelID < (byte)GPScout.Domain.Contracts.Enums.OrgPublishLevelType.PublishTrackRecord && !Model.Preview)
            {
        <text>For access to track record information, click the Request Research button above.</text>
        return;
    }
    @if (!String.IsNullOrWhiteSpace(Model.Organization.TrackRecordText))
            {
        <div class="tab-description">
            @Html.Raw(Model.Organization.TrackRecordText.NewlineToBreak())
        </div>
    }
    <div id="track-record-sub-tab" class="grade-tab nested-tabs">
        <ul class="screen-only">
            <li><a href="#tab-1">Fund Performance View</a></li>
            <li>
                <a href="#tab-2" title="@(Model.IsFundDetailViewTabAccessible?"":"Fund Detail View is not available for this Firm. In order to request more information, click the Request Research button above.")">Fund Detail View</a>
            </li>
        </ul>
        <div id="tab-1" class="no-page-break">
            <h2 class="print-only">Fund Performance View</h2>
            @{ Html.RenderPartial("TrackRecord_FundPerformanceView", Model); }
        </div>
        @if (!AtlasDiligence.Web.General.Common.IsPrint || Model.IsFundDetailViewTabAccessible)
        {
        <div class="two-col" id="tab-2">
            <h2 class="print-only">Fund Detail View</h2>
            @{ Html.RenderPartial("TrackRecord_FundDetailView", Model); }
        </div>
        }
    </div>
</div>
<script type="text/javascript">
    if (!isPrint) {
        $('#track-record-tab, #track-record-tab2').tabs();
        $('#track-record-sub-tab').tabs({active: 0, @(Model.IsFundDetailViewTabAccessible?"":"disabled:[1]")});
    }
</script>
