﻿@model bool?
<div data-ayn="1" class="segment-control">
    @Html.HiddenFor(x => x, new { @class="text" })
    <button data-aynb="null" @(Model == null ? " selected" : "")>All</button>&nbsp;
    <button data-aynb="true" @(Model == true ? " selected" : "")>Yes</button>&nbsp;
    <button data-aynb="false" @(Model == false ? "selected" : "")>No</button>
</div>
