﻿@using System.Text.RegularExpressions
@using AtlasDiligence.Web.Resources
@using AtlanticBT.Common.Types
@using AtlasDiligence.Common.Data.Models
@using AtlasDiligence.Web.Models
@{
    Func<string, string> formatID;
}
@helper DisplayFundImg(AtlasDiligence.Common.Data.Models.Fund fund, int colspan)
{
if (!String.IsNullOrWhiteSpace(fund.AnalysisUrl))
{
    var analysisUrl = (!(fund.AnalysisUrl.Contains("http://") || fund.AnalysisUrl.Contains("https://")) ? "http://" + fund.AnalysisUrl : fund.AnalysisUrl);
        //analysisUrl = analysisUrl.Replace("//www.atlasdiligence.com/", "//localhost/");
        <tr class="analysis-graph">
            <td colspan="12">
                <img src="@analysisUrl" alt="Graph Analysis" class="analysis-img" />
            </td>
        </tr>
        <tr style="height:0;"></tr>
    }
}


@helper UnderConstructionIcon(Organization org) {
UserEntity userEntity = null;
if (User.Identity.IsAuthenticated)
{
    userEntity = EntityCache.Get<UserEntity>(Params.UserEntityCache);
}

if (org != null && userEntity != null && org.IsInProcess)
{
    if (!org.IsUserRegisteredForPUCN.HasValue)
    {
        if (userEntity.PUCNOrganizationIDs.Contains(org.Id))
        {
            org.IsUserRegisteredForPUCN = true;
        }
        else if (userEntity.AvailableOrganizationIDs.Contains(org.Id))
        {
            org.IsUserRegisteredForPUCN = false;
        }
    }
    <div class=under-construction data-org-id="@org.Id" data-user-registered-for-PCN="@(org.IsUserRegisteredForPUCN.HasValue ? org.IsUserRegisteredForPUCN.Value ? "1" : "2" : "")">&nbsp;</div>
    }
}


@helper RenderFirmName(string name) {
<div class="organization-name">
    @if (name == null)
    {
        <h1></h1>
    }
    else
    {
        int n = name.IndexOf('(');
        if (n == -1)
        {
            <h1>@name</h1>
            n = name.Length;
        } else
        {
            string line1 = name.Substring(0, n).Trim();
            string line2 = name.Substring(n);
            <h1>@line1</h1>
            <div class="row2">@line2</div>
        }
    }
</div>
}

@helper RenderMoney(System.Web.Mvc.HtmlHelper html, decimal? amount, Currency currency, string amountSuffix = "M") {
HtmlString _str = AtlasDiligence.Web.General.StringExtensions.Currency(amount.GetValueOrDefault(), currency, 1, "#,#");
if (_str != null && html != null)
{
    string str = _str.ToHtmlString();
    if (!string.IsNullOrWhiteSpace(str))
    {
        @html.Raw(str)@(amountSuffix);
        return;
    }
}
    @("N/A")
}

@functions {
    public Func<string, string> formatID2() {
        return null;
    }

    public static Func<string, string> formatID = title =>
    {
        string str = !string.IsNullOrEmpty(title) ? Server.HtmlEncode(Regex.Replace(title.ToLower().Replace("&", "and").Replace("#", string.Empty), @"[^A-Za-z0-9 ]", " ").Replace(" ", "-")) : String.Empty;
        return !string.IsNullOrWhiteSpace(str) ? str : "-";
    };

    public static string YesNo(bool? x)
    {
        return x == true ? "Yes" : "No";
    }

    public static string ValueOrNA(decimal? value, int numberOfDecimals, string suffix)
    {
        if (!value.HasValue) return "N/A";
        string formatStr = string.Format("N{0}", numberOfDecimals);
        return value.Value.ToString(formatStr) + suffix;
    }

    public static string ShortDateOrNA(DateTime? date)
    {
        return date.HasValue ? date.Value.ToShortDateString() : "N/A";
    }

    public static string ValueOrNA(string str)
    {
        return !string.IsNullOrWhiteSpace(str) ? str : "N/A";
    }
}