﻿@model AtlasDiligence.Common.Data.Models.Organization
@{ 
    var openFundStatuses = new[] { "Open", "Pre-Marketing" };
}
@helper AddIcon(string value, string htmlClass, string htmlTitle)
    {
        if (!string.IsNullOrWhiteSpace(value))
        {
    <div class="@htmlClass" title="@htmlTitle">@value</div>
        }
}
<tr>
    <td style="padding: 0 0 0 5px;">
        <input type="hidden" value="@Model.Id" class="organization-id" />
        <a href="@Url.Action("RemoveOrganization")" class="remove-organization">-</a>
    </td>
    <td>
        @if (Model.PublishOverviewAndTeam)
        {
            <a href="@Url.Action("Index", "Organization", new { id = Model.Id }).ToLower()">@Model.Name</a>
        }
        else
        {
            @:@Model.Name
                }
    @*@if (Model.Id == null)
    {
        var lastFundSize = (Model.LastFundSize != null) ? (Model.LastFundSize.Value > 0 ? Model.Currency.FormattedSymbol + Math.Round(Model.LastFundSize.Value, 0, MidpointRounding.AwayFromZero) : "") : "";
        var expectedNextFundRaise = (!String.IsNullOrEmpty(Model.FundRaisingStatus) ? Model.FundRaisingStatus.ToLower() == "open" || Model.FundRaisingStatus.ToLower() == "pre-marketing" ? "N/A" : String.Format("{0:y}", Model.ExpectedNextFundRaise) : "");
        var tooltipText = String.Format("<div><strong>Primary Strategy: </strong>{0}<br />"
            + "<strong>Sector: </strong>{1}<br />"
            + "<strong>Market/Stage: </strong>{2}<br />"
            + "<strong>Fundraising Status: </strong>{3}<br />"
            + "<strong>Expected Next Fundraise: </strong>{4}<br />"
            + "<strong>Last Fund Size (mm): </strong>{5}</div>"
            + "{6}{7}"
            , (!String.IsNullOrEmpty(Model.StrategyPipeDelimited) ? Model.StrategyPipeDelimited.Replace("|", ",") : "")
            , (!String.IsNullOrEmpty(Model.SectorFocusPipeDelimited) ? Model.SectorFocusPipeDelimited.Replace("|", ",") : "")
            , Model.MarketStage
            , Model.FundRaisingStatus
            , expectedNextFundRaise
            , lastFundSize
            , (!String.IsNullOrEmpty(Model.OrganizationOverview) ? "<hr class='horizontalRule' /><strong>Overview:  </strong>" + Model.OrganizationOverview : "")
            , Model.HasFundMetric ? ("<hr class='horizontalRule' /><strong>Overview:  </strong>" + Html.Partial("TrackRecord_FundPerformanceViewInner", new AtlasDiligence.Web.Models.ViewModels.OrganizationViewModel() { Id = Model.Id, Organization = Model })) : "");
        <div class="key-takeaway" title="@tooltipText.ToString()">
            @tooltipText.ToString()
        </div>
    }*@
        @if (Model.Id != null)
        {
            Html.RenderPartial("KeyTakeAway", Model);
        }
        @*@AddIcon(Model.KeyTakeAway, "key-takeaway", Model.KeyTakeAway)*@
        @if (!String.IsNullOrWhiteSpace(Model.FocusRadar))
        {
            @AddIcon(Model.FocusRadar, Model.FocusRadar.ToLower().Replace(' ', '-'), Model.FocusRadar)   
        }
        @AddIcon(Model.AccessConstrained.ToString().ToLower(), "access-constrained-" + Model.AccessConstrained.ToString().ToLower(), "Access Constrained")
        @AddIcon(Model.EmergingManager.ToString().ToLower(), "emerging-manager-" + Model.EmergingManager.ToString().ToLower(), "Emerging Manager")
        @if (Model.IsInProcess)
        {
            @ViewHelpers.UnderConstructionIcon(Model);

            @*@AddIcon("This profile is currently being updated or will be updated pending an upcoming meeting.",
  "under-construction",
  "This profile is currently being updated or will be updated pending an upcoming meeting.")*@
        }
    </td>
    <td style="text-align: center">@Model.PrimaryOffice
    </td>
    <td style="text-align: center">@(Model.InvestmentRegions == null ? string.Empty : String.Join(", ", Model.InvestmentRegions))
    </td>
    <td style="text-align: center">@string.Join(", ", Model.Strategy) @*@Model.Category*@
    </td>
    <td style="text-align: center" data-fund-size="1">
        @{
            AtlasDiligence.Common.Data.Models.Fund fund = Model.Funds.OrderByDescending(f => f.SortOrder.GetValueOrDefault(0) /*f.SourceAwareAsOf*/).FirstOrDefault();
            if (fund != null)
            {
                var isOpenStatus = openFundStatuses.Contains(fund.Status);
                @AtlasDiligence.Web.General.StringExtensions.Currency(isOpenStatus ? fund.TargetSize : fund.FundSize, fund.Currency, 0)@Html.Raw(isOpenStatus ? "<span title=\"Target Size\">*</span>" : string.Empty)
                @*if (fund.PerformanceDatasource.Equals("Preqin"))
                {
                    if (fund.PreqinFundSize.HasValue)
                    {
                         @Html.Raw(String.Format("{0}{1}{2}{3}", fund.Currency.FormattedSymbol, fund.PreqinFundSize.Value.ToString("#,#"), "mm", isOpenStatus ? "<span title=\"Target Size\">*</span>" : string.Empty))
                    }
                }
                else
                {
                    if (fund.FundSize.HasValue)
                    {
                        @Html.Raw(String.Format("{0}{1}{2}{3}", fund.Currency.FormattedSymbol, fund.FundSize.Value.ToString("#,#"), "mm", isOpenStatus ? "<span title=\"Target Size\">*</span>" : string.Empty))
                    }
                }*@
            }
       }
    </td>
    @*<td style="text-align: center">@Html.Raw(Model.Aum.HasValue ? "<span title=\"" + Model.Currency.Name + "\">" + @Model.Currency.FormattedSymbol + (Math.Round(Convert.ToDecimal(Model.Aum.Value))).ToString("#,##0") + "</span>" : String.Empty)
    </td>*@ @*<td style="text-align: center">@Model.YearFounded
    </td>*@ @*<td style="text-align: center">@Html.Raw(Model.LastFundSize.HasValue ? "<span title=\"" + Model.Currency.Name + "\">" + @Model.Currency.FormattedSymbol + (Math.Round(Convert.ToDecimal(Model.LastFundSize.Value))).ToString("#,##0") + "</span>" : String.Empty)
    </td>*@
    <td style="text-align: center">@Model.FundRaisingStatus
    </td>
    <td style="text-align: center">@(Model.ExpectedNextFundRaise.HasValue ? Model.ExpectedNextFundRaise.Value.ToString("MMMM yyyy") : string.Empty)
    </td>
    @*<td style="text-align: center">@(Model.LastUpdated.HasValue ? Model.LastUpdated.Value.ToShortDateString() : String.Empty)
    </td>*@
    <td style="text-align: center">
        <div class="diligence-level-wrapper">
            <div class="diligence-level-@Model.DiligenceLevelFromPublishFields">@Model.DiligenceLevelFromPublishFields</div>
        </div>
    </td>
</tr>
<script>common.makeQtip('[data-qt-wrapper]')</script>