﻿@model IEnumerable<AtlasDiligence.Web.Models.ViewModels.FolderViewModel>
@{
    ViewBag.Title = "Folders";
     ViewBag.BodyClass = "section-folders";
}
<div class="folders wrapper" data-qt-wrapper>
    <div class="toolbar">
    	<a href="@Url.Action("Create", "Folder")" class="create-folder"><i class="icon add-folder"></i>Create New Folder</a>
    </div>
    <ul>
        @foreach (var folder in Model.Where(m => m.Name == "Favorites"))
        {
            @Html.Partial("FolderPartial", folder)  
        }
        @foreach (var folder in Model.Where(m => m.Name != "Favorites").OrderBy(m => m.Name))
        {
            @Html.Partial("FolderPartial", folder)  
        }
    </ul>
    <script>common.makeQtip('[data-qt-wrapper]')</script>
</div>
<div class="dialog" style="display: none;">
    <p>Please enter a name for the folder you wish to create.</p>
    <input type="text" class="text" value="" />
</div>
<div id="rename-folder-dialog" style="display: none">
    <p>Please enter a new name for this folder.</p>
    <input type="text" class="text" value="" />
</div>
<div id="add-org-to-folder-dialog" style="display: none;">
    <p>Add Organization to Folder</p>
    <p class="alert-active"></p>
    <input type="text" class="text" id="add-org-to-folder-name" />
</div>
