﻿@model AtlasDiligence.Web.Models.ViewModels.FolderViewModel
@using AtlanticBT.Common.Types
@{
    var user = EntityCache.Get<AtlasDiligence.Web.Models.UserEntity>(AtlasDiligence.Web.Resources.Params.UserEntityCache);
}
<li>
    <h3 class="folder-toggle">
        <a href="javascript:void(0)" class="folder-closed" rel="@Model.Id" style="width:auto;">@Model.Name</a>
    </h3>
    <div class="toolbar">
        @if (Model.UserId == user.Id)
        {
            if (Model.Name != "Favorites")
        {
            <a href="@Url.Action("Rename").ToLower()" rel="@Model.Id" class="rename-folder"><i class="fa fa-pencil-square" aria-hidden="true"></i>Rename Folder</a>
            <a href="@Url.Action("Delete").ToLower()" rel="@Model.Id" class="delete-folder"><i class="fa fa-trash" aria-hidden="true"></i>Delete Folder</a>
            }
        }
        <a href="@Url.Action("AddOrganizationByName").ToLower()" rel="@Model.Id" class="add-org-to-folder"><i class="fa fa-plus-square" aria-hidden="true"></i>Add Organization</a>
        @if (Model.UserId == user.Id)
        {
            <div style="float:right;padding:5px 0 0 10px">
                <label for=@("shared_" + Model.Id) title="Share with your Group">Shared:</label>
                <input type="checkbox" value="true" id=@("shared_" + Model.Id) data_share_folder=@(Model.Id) style="width:20px;" @(Model.Shared ? "checked=checked" : "") title="Share with your Group" />
            </div>
        }
    </div>
    <div class="organization-list" style="display: none;">
        <table id="folder-@Model.Id">
            <thead>
                <tr>
                    <th></th>
                    <th style="min-width:120px">Name</th>
                    <th style="text-align: center">Primary Office</th>
                    <th style="text-align: center">Scout Category</th>
                    <th style="text-align: center">Fundraising Status</th>
                    <th style="text-align: center">Most Recent Fund Size</th>
                    <th style="text-align: center">Primary Strategy</th>
                    <th style="text-align: center">Investment Region</th>
                    <th style="text-align: center">Expected Next Fundraise</th>
                    <th style="text-align: center">Diligence Level</th>

                    @*<th style="text-align: center">Market/Stage</th>*@

                    @*<th style="text-align: center">AUM (mm)</th>*@
                    @*<th style="text-align: center">Year Founded</th>*@
                    @*<th style="text-align: center">Last Fund Closed (mm)</th>*@


                    @*<th style="text-align: center">Last Updated</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var organization in Model.Organizations.OrderBy(m => m.Name))
                {
                    @Html.Partial("FolderOrganization", organization)
                }
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                var n = $('td[data-fund-size="1"]:contains("*"):first', '#folder-@Model.Id').length;
                if (n) $('#target-size-info-@Model.Id').show();
            });
        </script>
        <em id="target-size-info-@Model.Id" style="display:none">*Target Size</em>
    </div>
</li>
