﻿@model IEnumerable<AtlasDiligence.Web.Models.ViewModels.FolderViewModel>
@{
    ViewBag.Title = "Folders";
     ViewBag.BodyClass = "section-folders";
}
@if (Model != null && Model.Any())
{
<div>
    Shared Folders
</div>
<div class="folders wrapper" data-qt-wrapper>
    <ul>
        @foreach (var folder in Model.OrderBy(m => m.Name))
        {
            @Html.Partial("FolderPartial", folder)  
        }
    </ul>
    <script>common.makeQtip('[data-qt-wrapper]')</script>
</div>
}
